
<div class="v-single">
  <div class="v-single__inner">
    <div class="b-heading v-single-heading">
      <div class="b-heading__menu">
      </div>
      <div class="b-heading__navigation">
      </div>
      <div class="b-heading__title">
        <button type="button" class="button button_clean" ng-click="history.back()">
          <div class="icon icon_fa-chevron-left"></div>
        </button>Метаданные
      </div>
    </div>
    <div class="v-single-contents">
            <form autocomplete="off" class="form form" name="singleForm" novalidate="" form-submit="Form.create()">
              <tabset>
                <tab heading="Основные">
                        <fieldset class="form-fieldset">
                          <legend class="form-legend">Информация о сайте
                          </legend>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-14054644152652" class="label label_input">Название сайта
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block group__element_first input_block group__element_first" type="text" id="form-element-14054644152652" required="" name="metadata.site_name" ng-model="single.metadata.site_name"/>
                                                    </div>
                                                    <div class="row__item">
                                                            <div for="form-element-14054644152652" class="label label_prefix <[ (singleForm['metadata.site_name'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['metadata.site_name'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                                              <div ng-if="!(singleForm['metadata.site_name'].$valid)" class="icon icon_fa-asterisk"></div>
                                                              <div ng-if="(singleForm['metadata.site_name'].$valid)" class="icon icon_fa-check"></div>
                                                            </div>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-line">
                                        <div class="label label_block">Описание сайта
                                        </div>
                                              <textarea class="input input_block input input_block" id="form-element-14054644152652" name="metadata.site_description" ng-model="single.metadata.site_description" rows="5"></textarea>
                                      </div>
                                      <div class="form-line">
                                        <div class="label label_block">Ключевые слова на сайте
                                        </div>
                                              <textarea class="input input_block input input_block" id="form-element-14054644152652" name="metadata.site_keywords" ng-model="single.metadata.site_keywords" rows="5"></textarea>
                                      </div>
                                      <div class="form-line">
                                        <div class="label label_block">Текст в футере
                                        </div>
                                              <textarea class="input input_block input input_block" id="form-element-14054644152652" name="metadata.footer_text" ng-model="single.metadata.footer_text" rows="5"></textarea>
                                      </div>
                        </fieldset>
                        <fieldset class="form-fieldset">
                          <legend class="form-legend">Ссылки на соц. сети и сервисы
                          </legend>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-14054644152654" class="label label_input">Facebook
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-14054644152654" name="metadata.service_facebook" ng-model="single.metadata.service_facebook"/>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-14054644152656" class="label label_input">Twitter
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-14054644152656" name="metadata.service_twitter" ng-model="single.metadata.service_twitter"/>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-14054644152658" class="label label_input">LinkedIn
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-14054644152658" name="metadata.service_linkedin" ng-model="single.metadata.service_linkedin"/>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-140546441526510" class="label label_input">Youtube
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-140546441526510" name="metadata.service_youtube" ng-model="single.metadata.service_youtube"/>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-140546441526512" class="label label_input">Вконтакте
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-140546441526512" name="metadata.service_vk" ng-model="single.metadata.service_vk"/>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-140546441526514" class="label label_input">Одноклассники
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-140546441526514" name="metadata.service_odnoklassniki" ng-model="single.metadata.service_odnoklassniki"/>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                        </fieldset>
                        <fieldset class="form-fieldset">
                          <legend class="form-legend">Текстовка на сате
                          </legend>
                                      <div class="form-line">
                                        <div class="label label_block">Текст в футере
                                        </div>
                                              <textarea class="input input_block input input_block" id="form-element-140546441526514" name="metadata.footer_text" ng-model="single.metadata.footer_text" rows="5"></textarea>
                                      </div>
                        </fieldset>
                </tab>
              </tabset>
                    <div class="form-line">
                            <button type="submit" class="button button button_primary">Сохранить
                            </button>
                            <button type="button" class="button button button_clean" ng-click="Form.revertChanges()">Отменить изменения
                            </button>
                    </div>
            </form>
    </div>
  </div>
</div>