
<div class="v-single">
  <div class="v-single__inner">
    <div class="b-heading v-single-heading">
      <div class="b-heading__menu">
      </div>
      <div class="b-heading__navigation">
      </div>
      <div class="b-heading__title">
        <button type="button" class="button button_clean" ng-click="history.back()">
          <div class="icon icon_fa-chevron-left"></div>
        </button>Создание города
      </div>
    </div>
    <div class="v-single-contents">
      <form autocomplete="off" class="form" name="singleForm" novalidate="" form-submit="Form.create()">
        <div class="form-line form-line_sided">
          <div class="form-line_sided__inner">
            <div class="form-line_sided__sidebar">
              <label for="form-element-14054643984182" class="label label_input">Название
              </label>
            </div>
            <div class="form-line_sided__content">
              <div class="row_table">
                <div class="row__item _w12">
                  <input class="input input_block group__element_first" type="text" id="form-element-14054643984182" required="required" name="name" ng-model="single.name" form-slugify="single.slug"/>
                </div>
                <div class="row__item">
                  <div for="form-element-14054643984182" class="label label_prefix <[ (singleForm['name'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                    <div ng-if="!(singleForm['name'].$valid)" class="icon icon_fa-asterisk"></div>
                    <div ng-if="(singleForm['name'].$valid)" class="icon icon_fa-check"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-line form-line_sided">
          <div class="form-line_sided__inner">
            <div class="form-line_sided__sidebar">
              <label for="form-element-14054643984184" class="label label_input">Ярлык
              </label>
            </div>
            <div class="form-line_sided__content">
              <div class="row_table">
                <div class="row__item _w12">
                  <input class="input input_block group__element_first" type="text" id="form-element-14054643984184" required="required" name="slug" ng-model="single.slug"/>
                </div>
                <div class="row__item">
                  <div for="form-element-14054643984184" class="label label_prefix <[ (singleForm['slug'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                    <div ng-if="!(singleForm['slug'].$valid)" class="icon icon_fa-asterisk"></div>
                    <div ng-if="(singleForm['slug'].$valid)" class="icon icon_fa-check"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-line form-line_sided">
          <div class="form-line_sided__inner">
            <div class="form-line_sided__sidebar">
              <label for="form-element-14054643984186" class="label label_input">Область
              </label>
            </div>
            <div class="form-line_sided__content">
              <div form-select="" ng-model="single.state" form-select-data="single.related_data_all.states" class="tags tags_single">
                <div ng-class="{_active: formSelect.active}" class="dropdown tags__dropdown">
                  <div class="row_table">
                    <div class="row__item _w12">
                      <div class="input-wrapper">
                        <input class="input input_labeled input_masked input_block group__element_first" ng-model="formSelect.filter" form-select-toggle="" id="form-element-14054643984186" size="10" name="state" placeholder="<[ (formSelect.selected.length > 0 ? formSelect.selected[0].name : '') ]>" ng-required="!(single.state|isFilled)"/>
                        <div ng-show="!formSelect.selected.length" class="input__label icon icon_fa-chevron-down"></div>
                        <div ng-show="formSelect.selected.length" ng-click="formSelect.remove(0)" class="input__label icon icon_fa-times"></div>
                      </div>
                    </div>
                    <div class="row__item">
                      <div for="form-element-14054643984186" class="label label_prefix <[ (singleForm['state'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                        <div ng-if="!(singleForm['state'].$valid)" class="icon icon_fa-asterisk"></div>
                        <div ng-if="(singleForm['state'].$valid)" class="icon icon_fa-check"></div>
                      </div>
                    </div>
                  </div>
                  <div class="dropdown-list">
                    <div class="dropdown-list__inner">
                      <div ng-mousedown="formSelect.prevent($event)" class="dropdown-list__body tags__dropdown-list">
                        <div ng-repeat="item in formSelect.dataFiltered" ng-class="{_active: formSelect.current == $index}" ng-click="formSelect.select($index)" ng-mouseover="formSelect.current = $index" class="dropdown-list__item"><[ item.name ]>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-line">
          <button type="submit" class="button button_primary">Сохранить
          </button>
          <button type="button" class="button button_clean" ng-click="Form.revertChanges()">Отменить изменения
          </button>
        </div>
      </form>
    </div>
  </div>
</div>