include ../../mixins/form
include ../../mixins/elements
include ../templates-form
include form

extends ../view-single

      
block single_heading_title
  | Создание гостиницы

block single_heading_navigation

block single_content
  include ../templates-form
  
  +form(name="singleForm",
    novalidate="",
    form-submit="Form.create()")

    +form_hotel_title
    +form_hotel_slug
    +form_hotel_owner
    +form_hotel_address
    +form_hotel_type

    +form_template_submit
