include ../../mixins/elements
include ../templates-form
include form


extends ../view-single

block single_heading_menu
  +button.button_clean(ui-sref="roomtypes({hotel: single.id})") Типы номеров
  //- +button.button_clean(ui-sref="rooms({hotel: single.id})") Номера
  //- +button.button_clean(ui-sref="actions({hotel: single.id})") Акции
  +button.button_clean(ui-sref="contacts({hotel: single.id})") Контакты
  +button.button_clean(ui-sref="reservations({hotel: single.id})") Бронирования
  +button.button_clean(ui-sref="comments({hotel: single.id})") Отзывы

block single_heading_title
  | Редактирование гостиницы

block single_heading_navigation
  +button.button_red(ng-click="delete()")
    | Удалить 
    span.icon.icon_fa-trash-o
  +button.button_primary(ui-sref="hotels.create")
    .icon.icon_fa-plus

block single_content
  include ../templates-form

  +form(name="singleForm",
    novalidate="",
    form-submit="Form.update()")

    tabset
      tab(heading="Основное")
        +form_hotel_title
        +form_hotel_slug
        +form_hotel_active
        +form_hotel_owner
        +form_hotel_address
        .form-delimiter
        +form_hotel_gps
        .form-delimiter
        +form_hotel_stars
        +form_hotel_type
        +form_hotel_conveniences
        +form_hotel_contacts
        +form_hotel_about

      tab(heading="Настройки бронирования")
        +form_hotel_work-period
        +form_hotel_arrival-period
        +form_hotel_reservation-cancelling
        +form_hotel_reservation-prepayment

      tab(heading="Реквизиты")
        +form_hotel_entity-info

      tab(heading="Изображения")
        +form_hotel_files

      tab(heading="Описания")
        +form_hotel_texts

    +form_template_submit

