include ../../mixins/form
include ../../mixins/elements
include ../templates-form



mixin form_hotel_title
  +form_template_title


mixin form_hotel_slug
  +form_template_slug


mixin form_hotel_owner
  +form_template_sided-select("Владелец", "single.user",
    "single.related_data_all.users",
    "email")(required="", name="user")


mixin form_hotel_city
  +form_template_city


mixin form_hotel_active
  +form_template_sided-switch("Активна", "is_active")
    span(ng-if="single.is_active === null")   Подана заявка на активацию


mixin form_hotel_type
  +form_template_sided-select("Тип гостиницы", "single.labels",
    "single.related_data_all.types",
    "title", "")


mixin form_hotel_conveniences
  +form_template_sided-select("Услуги", "single.labels",
    "single.related_data_all.conveniences",
    "title", "")


mixin form_hotel_work-period()
  +form_template_parts("double")
    +form_template_part
      +form_template_sided-datepicker("Начало работы гостиницы",
        "working_from", "dd MMMM")(max-mode="month")
    +form_template_part
      +form_template_sided-datepicker("Окончание работы гостиницы",
        "working_till", "dd MMMM").dropdown_right


mixin form_hotel_arrival-period()
  +form_template_parts("double")
    +form_template_part-input("Регистрация прибытия начинается",
      "arrival_from")(required=undefined)
    +form_template_part-input("Регистрация отбытия заканчивается",
      "arrival_till")(required=undefined)


mixin form_hotel_reservation-cancelling()
  +form_template_parts("double")(form-datafill-numbers="monthDays",
    form-datafill-numbers-count="31")
    +form_template_part
      +form_template_sided-select("Срок анулирования бронирования",
        "single.reservation_cancellation_days", "monthDays", "name")
      +form_template_sided-select("Минимальный срок бронирования",
        "single.reservation_period", "monthDays", "name")
    +form_template_part-textarea("Описание анулирования бронирования",
      "reservation_cancellation_about")(rows="6")

mixin form_hotel_reservation-prepayment()
  .label.label_block Предоплата по бронированиям
  +form_template_parts("double")
    +form_template_part
      +currentId()
      +radio(id=form_element_id_current, ng-model="single.reservation_prepayment_type", value=0, name="reservation_prepayment_type")
      label.label.label_input(for=form_element_id_current) Посуточно
      +form_template_block-input("Количество дней:", "reservation_prepayment_daily")(type="number", ng-disabled="single.reservation_prepayment_type == 1", min="0", max="<[single.reservation_period || 10]>")

    +form_template_part
      +currentId()
      +radio(id=form_element_id_current, ng-model="single.reservation_prepayment_type", value=1, name="reservation_prepayment_type")
      label.label.label_input(for=form_element_id_current) Процент от суммы
      +form_template_block-input("Процент:", "reservation_prepayment_percent")(type="number", ng-disabled="single.reservation_prepayment_type == 0", min="0", max="100")
        | %


mixin form_hotel_stars()
  div(form-datafill-numbers="hotelStars",
    form-datafill-numbers-count="5")
    +form_template_sided-select("Категория звезд", "single.stars_category",
      "hotelStars", "name")


//- Location start
mixin form_hotel_address
  +form_hotel_city
  +form_template_parts("double")
    +form_template_part-input("Адрес", "address")
    +form_template_part-input("Почтовый код", "postal_code")

mixin form_hotel_gps()
  .label.label_block
    | GPS
  +form_template_parts("double")
    +form_template_part
      +form_template_sided-input("Широта(Latitude)", "gps_latitude")
    +form_template_part
      +form_template_sided-input("Долгота(Longitude)", "gps_longitude")
//- Location end


//- Contacts start
mixin form_hotel_contacts
  +fieldset("Контактные данные")
    +form_template_sided-input("Телефон", "phone")
    +form_template_sided-input("Сайт", "site")
//- Contacts end


//- Entity info start
mixin form_hotel_entity-info
  +form_template_block-input("Юридическое название предприятия / ФИО физического лица:", "entity_name")
  +form_template_block-textarea("Юридический адрес предприятия:", "entity_address")(rows="6")
  +form_template_block-input("Код по ЕГРПОУ (идентификационный номер) ", "entity_egrpou")
  +form_template_block-input("ИНН юридического лица (только для юридических лиц)", "entity_corporate_inn")

  .form-delimiter
  +form_template_block-input("Расчетный счет для выставления счет-фактуры:", "entity_payment_account")
  +form_template_parts("double")
    +form_template_part-input("Название Банка", "entity_payment_bank_name")
    +form_template_part-input("МФО Банка", "entity_payment_bank_mfo")

  .form-delimiter
  +form_template_block-input("Номер банковской карты:", "entity_card_account")
  +form_template_parts("double")
    +form_template_part-input("Название Банка", "entity_card_bank_name")
    +form_template_part-input("МФО Банка", "entity_card_bank_mfo")
//- Entity info end


//- Files start
mixin form_hotel_files
  +form_template_block('Фотография гостиницы')
    +images-single

  +form_template_block('Изображения')
    +images-list
//- Files end


//- Texts start
mixin form_hotel_about
  +form_template_block-textarea("Короткое описание гостиницы", "about_short")(rows="8")
  +form_template_editor("Описание", "single.about")


mixin form_hotel_texts
  +form_template_block-textarea("Местоположение", "conditions_location")(rows="4")
  +form_template_block-textarea("Проезд", "conditions_driveway")(rows="4")
  +form_template_block-textarea("Размещение детей и предоставление дополнительных мест", "conditions_guest_accommodation")(rows="4")
  +form_template_block-textarea("НДС, Туристический сбор", "conditions_tourist_tax")(rows="4")
  +form_template_block-textarea("Интернет", "conditions_internet")(rows="4")
  +form_template_block-textarea("Депозит(Предоплата)", "conditions_deposit")(rows="4")
  +form_template_block-textarea("Питание", "conditions_feeding")(rows="4")
  +form_template_block-textarea("Парковка", "conditions_parking")(rows="4")
  +form_template_block-textarea("Домашние животные", "conditions_pets")(rows="4")
  +form_template_block-textarea("Лечение", "conditions_medicine")(rows="4")
//- Texts end