include ../../mixins/form
include ../../mixins/elements

extends ../view-list

block list_heading_title
  | Гостиницы

block list_heading_navigation
  .group
  +button.button_primary(ui-sref="hotels.create")
    | Создать
    .icon.icon_fa-plus

block list_heading_filter_controls
  .row.row_table
    .row__item(ng-init="hotels_search_statuses = [\
        {id: undefined, name: 'Статус заявки'},\
        {id: 'false', name: 'Неактивна'},\
        {id: 'null', name: 'Подана заявка на активацию'},\
        {id: 'true', name: 'Активна'},\
      ];")
      +tags("search.params.is_active", "hotels_search_statuses", "name")(style="width: 150px;")
      //- .dropdown.v-list-controls__sidebar__dropdown
        +button
          | Статус:    
          .icon.icon_fa-angle-down
        .dropdown-list
          .dropdown-list__inner
            .dropdown-list__body
              block list_heading_with-selected
                //- .group
              .dropdown-list__item
                | 
                .icon.icon_fa-trash-o

block list_contents_title
  .row__item._w3
    +list_field_order('title')
      | Название
  .row__item
    +list_field_order('slug')
      | Ярлык

block list_contents_items
  .row__item._w3
      | <[ item.title]>
  .row__item
      | <[ item.slug]>

block list_contents_items_controls
  +button.button_small.button_green(
    ui-sref="hotels.detail({id: item.id})"
    )
    .icon.icon_fa-pencil