
.picker
    position absolute
    top 100%
    right 50%
    height 0

    width auto

    .dropdown_left &
        left 0
        right auto

        &__frame
            left auto

    .dropdown_right &
        left auto
        right 0

        &__frame
            left auto

    &__holder
        display block
        position relative
        height 0
        width auto
        overflow visible

        border-width 0 !important

    &__frame
        @extends $pOverTheContent
        
        display block
        position relative
        left 50%
        padding-bottom 1px
        min-width 250px
        max-width 400px
        visibility hidden

        background-color #fff

        .picker--opened &
            visibility visible

    &__table
        margin-bottom 0

    &__button--clear
        display none