/* ========================================================================
 * Marks widget
 * ======================================================================== */

.marks
    @extends $pCF

    display inline-block
    vertical-align middle

    &__item
        display inline-block
        float left
        position relative
        width 1.1em

        color rgba($colorThemeFont, .5)

        &_marked
            color $colorThemeRed

        &:before
            @extends .icon:before
            @extends .icon_fa-star:before