include ../../mixins/form
include ../../mixins/elements
include ../templates-form
include form

extends ../view-single

      
block single_heading_title
  | Создание метки

block single_heading_navigation

block single_content
  +form(name="singleForm",
    novalidate="",
    form-submit="Form.create()")

    +form_label_title
    +form_label_slug
    +form_label_editor

    +form_template_submit
