include ../../mixins/form
include ../../mixins/elements
include ../templates-form
include form

extends ../view-single

block single_heading_title
  | Редактирование метки

block single_heading_navigation
  +button.button_red(ng-click="delete()")
    | Удалить 
    span.icon.icon_fa-trash-o
  +button.button_primary(ui-sref="labels.create({type: $state.params.type})")
    .icon.icon_fa-plus

block single_content
  +form(name="singleForm",
    novalidate="",
    form-submit="Form.update()")

    +form_label_title
    +form_label_slug
    +form_label_editor

    +form_template_submit

