include ../../mixins/form
include ../../mixins/elements
include ../templates-form


mixin form_label_title
  +form_template_title

mixin form_label_slug
  +form_template_slug

mixin form_label_editor
  +form_template_editor("Описание", "single.description")