include ../../mixins/form
include ../../mixins/elements

extends ../view-list

block list_heading_title
  | Метки

block list_heading_navigation
  .group
  +button.button_primary(ui-sref="labels.create({type: $state.params.type})")
    | Создать
    .icon.icon_fa-plus

block list_contents_title
  .row__item._wd3
    +list_field_order('title')
      | Название
  .row__item._wd3
    +list_field_order('slug')
      | Ярлык
  .row__item
    | Описание

block list_contents_items
  .row__item._wd3
    | <[ item.title ]>
  .row__item._wd3
    | <[ item.slug ]>
  .row__item
    | <[ item.description ]>

block list_contents_items_controls
  +button.button_small.button_green(
    ui-sref="labels.detail({id: item.id, type: item.type})"
    )
    .icon.icon_fa-pencil