
{% extends "site/base.html" %}
{% block body %}
<div class="p-login">
  <div class="p-login__inner">
    <div class="p-login-form">
      <form autocomplete="off" class="form" name="loginForm" action="./" method="post" novalidate="">
        <div class="form-title"><span class="icon icon_fa-sign-in"> </span>  Войти</div>
{% if messages|length > 0 %}
{% for message in messages %}
        <div class="form-line alert alert_ghost alert_ghost_error">{{message}}</div>
{% endfor %}

{% endif %}

        <div class="form-line">
          <div class="label label_block">Email
          </div>
          <div class="row_table">
            <div class="row__item _w12">
              <input class="input input_block" type="email" id="loginForm" name="email" ng-model="single.single.email"/>
            </div>
          </div>
        </div>
        <div class="form-line">
          <div class="label label_block">Пароль
          </div>
          <div class="row_table">
            <div class="row__item _w12">
              <input class="input input_block" type="password" id="loginForm" name="password" ng-model="single.single.password"/>
            </div>
          </div>
        </div>
        <div class="form-line">
          <button type="submit" class="button button_block button_primary">Войти
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
