
{% extends "site/base.html" %}
{% block body %}
<div class="p-login">
  <div class="p-login__inner">
    <div class="p-login-form">
      <div class="form-title">
        <div class="icon icon_fa-check color-green"></div>  Все прошло успешно
      </div>
      <div class="form-line"><a href="{% url 'auth.login' %}" class="button button_block button_clean">
          <div class="icon icon_fa-angle-left"></div>  Войти в кабинет</a></div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
