
{% extends "site/base.html" %}
{% block body %}
<div class="p-login">
  <div class="p-login__inner">
    <div class="p-login-form">
      <form autocomplete="off" class="form" name="loginForm" action="./" method="post" novalidate="">{% csrf_token %}
        <div class="form-title"><span class="icon icon_fa-key"></span>  Смена пароля</div>
        <div class="form-line">
          <div class="label label_block">Адрес электронной почты
          </div>
          <div class="row_table">
            <div class="row__item _w12">
              <input class="input input_block" type="email" id="loginForm" name="email" ng-model="single.email" autocomplete="off"/>
            </div>
          </div>
        </div>
        <div class="form-line">
          <button type="submit" class="button button_block button_primary">Сменить пароль
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
