include ../../../../mixins/django
include ../../../admin/mixins/form
include ../../../admin/mixins/elements
include ../../../admin/views/templates-form


.p-hotelier-menu
  a.p-hotelier-menu__link(ui-sref-active="_active", ui-sref="hotels.detail({id: $stateParams.hotel || $stateParams.id})")
    | Общие сведения
  a.p-hotelier-menu__link(ui-sref-active="_active", ui-sref="roomtypes({hotel: $stateParams.hotel || $stateParams.id})")
    | Типы номеров
  a.p-hotelier-menu__link._disabled()
    | Контактная информация
  a.p-hotelier-menu__link._disabled()
    | Отзывы
  a.p-hotelier-menu__link._disabled()
    | Акции
  a.p-hotelier-menu__link._disabled()
    | Бронирования