include ../../../../mixins/django
include ../../../admin/mixins/form
include ../../../admin/mixins/elements
include ../../../admin/views/templates-form


.p-hotelier-sidebar__block
  a.button.button_green.button_block(ui-sref="hotels.create")
    span.icon.icon_fa-plus  
    |   Добавить гостиницу

.p-hotelier-sidebar__block.p-hotelier-sidebar__block_panel
  p.highlight_blue.font_medium.
    Если у Вас возникли<br>
    проблемы обратитесь<br>
    в отдел маркетинга <br>
    по телефонам:<br>

  p.highlight_orange.font_big
    | +38 050 3223270
    //- | <[ config.phone ]>