include ../../../../../mixins/django
include ../../../../admin/mixins/form
include ../../../../admin/mixins/elements
include ../../../../admin/views/templates-form

include ../../../../admin/views/roomtypes/form

extends ../view-single

block single_content
  include ../../../../admin/views/templates-form

  .form-title
    | Создание типа номера
  
  +form(name="singleForm",
    novalidate="",
    form-submit="Form.create()")

    +form_roomtype_hotel

    +form_roomtype_title
    +form_roomtype_slug
    +form_roomtype_price
    +form_roomtype_beds
    +form_roomtype_rooms-count
    +form_roomtype_type
    +form_roomtype_about

    +form_template_submit