include ../../../../../mixins/django
include ../../../../admin/mixins/form
include ../../../../admin/mixins/elements
include ../../../../admin/views/templates-form

include ../../../../admin/views/roomtypes/form

extends ../view-single

block single_content
  include ../../../../admin/views/templates-form

  .form-title
    | Редактирование типа номера
    +button.button_small.button_red.pull-right(ng-click="delete()")
      span.icon.icon_fa-trash-o   
      |      Удалить 
  
  +form(name="singleForm",
    novalidate="",
    form-submit="Form.update()")

    +form_roomtype_hotel

    tabset
      tab(heading="Информация")
        +form_roomtype_title
        +form_roomtype_slug
        //- +form_roomtype_price
        +form_roomtype_beds
        +form_roomtype_rooms-count
        +form_roomtype_type
        +form_roomtype_about

      tab(heading="Изображения")
        +form_roomtype_files

      tab
        tab-heading(ui-sref="roomtypes_prices({hotel: $stateParams.hotel, roomtype: $stateParams.id})")
          | Календарь цен

    +form_template_submit