include ../../../../../mixins/django
include ../../../../admin/mixins/form
include ../../../../admin/mixins/elements
include ../../../../admin/views/templates-form

extends ../view-single

block single_content
  .form-title
    | Типы номеров в гостинице

  
  a.button.button_clean.button_small(ui-sref="roomtypes.create")
    span.icon.icon_fa-plus
    |    Добавить тип номера

  table.p-hotelier-roomtypes-list
    tbody

      tr
        th(width="220")
          | Название
        th(width="220")
          | Кол-во мест
        th

      tr.p-hotelier-roomtypes-list__item.p-hotelier-roomtype(ng-repeat="item in list.objects")
        td
          .p-hotelier-roomtype__title
            | <[ item.title ]>
        td
          .p-hotelier-roomtype__beds
            | <[ item.beds ]> местный номер
        td.align-right
          a.button.button_small.button_green(ui-sref="roomtypes.detail({id: item.id})")
            span.icon.icon_fa-pencil    
            |   Редактировать