
<div class="v-list">
  <div class="v-list__inner">
    <div class="b-heading v-list-heading">
      <div class="b-heading__menu">
      </div>
      <div class="b-heading__navigation">
        <div class="group"></div>
        <button type="button" class="button button_primary" ui-sref="hotels.create">Создать
          <div class="icon icon_fa-plus"></div>
        </button>
      </div>
      <div class="b-heading__title">
        <button type="button" class="button button_clean" ng-click="history.back()">
          <div class="icon icon_fa-chevron-left"></div>
        </button>Гостиницы
        <button type="button" class="button button_clean" ng-click="$state.go($state.current, {}, {reload: true});">
          <div class="icon icon_fa-refresh"></div>
        </button>
      </div>
    </div>
    <div class="v-list-controls">
      <div class="v-list-controls__inner">
        <div class="v-list-controls__sidebar">
          <div class="dropdown v-list-controls__sidebar__dropdown">
            <button type="button" class="button button_green">С выбранным:    
              <div class="icon icon_fa-angle-down"></div>
            </button>
            <div class="dropdown-list">
              <div class="dropdown-list__inner">
                <div class="dropdown-list__body">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="v-list-controls__content">
          <form autocomplete="off" class="form row_table" ng-submit="search.submit($event)" name="form-element-14062060771971">
            <div class="row__item">
              <div class="row row_table">
                <div ng-init="hotels_search_statuses = [        {id: undefined, name: 'Статус заявки'},        {id: 'false', name: 'Неактивна'},        {id: 'null', name: 'Подана заявка на активацию'},        {id: 'true', name: 'Активна'},      ];" class="row__item">
                  <div form-select="" ng-model="search.params.is_active" form-select-data="hotels_search_statuses" style="width: 150px;" class="tags tags_single">
                    <div ng-class="{_active: formSelect.active}" class="dropdown tags__dropdown">
                      <div class="row_table">
                        <div class="row__item _w12">
                          <div class="input-wrapper">
                            <input class="input input_labeled input_masked input_block" ng-model="formSelect.filter" form-select-toggle="" size="10" placeholder="<[ (formSelect.selected.length > 0 ? formSelect.selected[0].name : '') ]>"/>
                            <div ng-show="!formSelect.selected.length" class="input__label icon icon_fa-chevron-down"></div>
                            <div ng-show="formSelect.selected.length" ng-click="formSelect.remove(0)" class="input__label icon icon_fa-times"></div>
                          </div>
                        </div>
                      </div>
                      <div class="dropdown-list">
                        <div class="dropdown-list__inner">
                          <div ng-mousedown="formSelect.prevent($event)" class="dropdown-list__body tags__dropdown-list">
                            <div ng-repeat="item in formSelect.dataFiltered" ng-class="{_active: formSelect.current == $index}" ng-click="formSelect.select($index)" ng-mouseover="formSelect.current = $index" class="dropdown-list__item"><[ item.name ]>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row__item _w12">
              <input class="input input_block group__element_first" placeholder="Поиск" ng-model="search.params.search"/>
            </div>
            <div class="row__item">
              <button type="submit" class="button button_primary" ng-class="{group__element_last: !search.inProgress(),                      group__element: search.inProgress()}">
                <div class="icon icon_fa-search"></div>
              </button>
            </div>
            <div ng-if="search.inProgress()" class="row__item">
              <button type="button" class="button button_red" ng-click="search.clean()" ng-class="{group__element_last: search.inProgress()}">
                <div class="icon icon_fa-times"></div>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <ul class="v-list-contents">
      <li class="v-list-contents__item v-list-contents__item_title">
        <div class="row__item _wf2">
          <div form-element="" form-input="" class="checkbox">
            <input type="checkbox" ng-model="actions.selectors.master" class="checkbox__field" id="form-element-14062060771972" form-element-field="" form-input-field=""/>
            <label for="form-element-14062060771972" class="checkbox__label" ng-model="actions.selectors.master" form-checkbox="">
            </label>
          </div>
        </div>
        <div class="row__item _w3"><span ng-click="search.params.ordering = (search.params.ordering == 'title' ? '-title' : 'title'); search.submit($event)" class="v-list-contents__sortable-field">Название
            <div ng-if="!(search.params.ordering|startsWith:'-title')" class="icon icon_fa-caret-down"></div>
            <div ng-if="!(search.params.ordering|startsWith:'title')" class="icon icon_fa-caret-up"></div></span>
        </div>
        <div class="row__item"><span ng-click="search.params.ordering = (search.params.ordering == 'slug' ? '-slug' : 'slug'); search.submit($event)" class="v-list-contents__sortable-field">Ярлык
            <div ng-if="!(search.params.ordering|startsWith:'-slug')" class="icon icon_fa-caret-down"></div>
            <div ng-if="!(search.params.ordering|startsWith:'slug')" class="icon icon_fa-caret-up"></div></span>
        </div>
        <div class="row__item _wf4">Управление</div>
      </li>
      <li ng-repeat="item in list.objects" ng-class="{_checked: actions.selectors.ids[item.id] == 1}" class="v-list-contents__item _highlightable">
        <div class="row__item _wf2">
          <div form-element="" form-input="" class="checkbox">
            <input type="checkbox" ng-model="actions.selectors.ids[item.id]" class="checkbox__field" id="label-checkbox-&lt;[item.id]&gt;" ng-checked="actions.selectors.master" form-element-field="" form-input-field=""/>
            <label for="label-checkbox-&lt;[item.id]&gt;" class="checkbox__label" ng-model="actions.selectors.ids[item.id]" ng-checked="actions.selectors.master" form-checkbox="">
            </label>
          </div>
        </div>
        <div class="row__item _w3"><[ item.title]></div>
        <div class="row__item"><[ item.slug]></div>
        <div class="row__item _wf4">
          <div class="group">
            <button type="button" class="button button_small button_green" ui-sref="hotels.detail({id: item.id})">
              <div class="icon icon_fa-pencil"></div>
            </button>
          </div>
        </div>
      </li>
    </ul>
    <div pagination="" class="v-list-pagination"><a pagination-link="&lt;[ list.pagination.page - 1 ]&gt;" ng-if="list.pagination.page &gt; 1" class="v-list-pagination__link v-list-pagination__link_prev"><span class="icon icon_fa-angle-left"></span>Туда</a><a pagination-link="1" ng-if="list.pagination.page &gt; 1" class="v-list-pagination__link">1</a><span ng-if="list.pagination.page - 3 &gt; 1" class="v-list-pagination__text">...</span><a pagination-link="&lt;[ list.pagination.page - 2 ]&gt;" ng-if="list.pagination.page - 2 &gt; 1" class="v-list-pagination__link"><[ list.pagination.page - 2 ]></a><a pagination-link="&lt;[ list.pagination.page - 1 ]&gt;" ng-if="list.pagination.page - 1 &gt; 1" class="v-list-pagination__link"><[ list.pagination.page - 1 ]></a><span class="v-list-pagination__text v-list-pagination__text_current">Страница: <[list.pagination.page]> из <[list.pagination.pages]></span><a pagination-link="&lt;[ list.pagination.page + 1 ]&gt;" ng-if="list.pagination.pages &gt; list.pagination.page + 1" class="v-list-pagination__link"><[ list.pagination.page + 1 ]></a><a pagination-link="&lt;[ list.pagination.page + 2 ]&gt;" ng-if="list.pagination.pages &gt; list.pagination.page + 2" class="v-list-pagination__link"><[ list.pagination.page + 2 ]></a><span ng-if="list.pagination.pages &gt; list.pagination.page + 3" class="v-list-pagination__text">...</span><a pagination-link="&lt;[ list.pagination.pages ]&gt;" ng-if="list.pagination.pages &gt; list.pagination.page" class="v-list-pagination__link"><[ list.pagination.pages ]></a><a pagination-link="&lt;[ list.pagination.page + 1 ]&gt;" ng-if="list.pagination.pages &gt;= list.pagination.page + 1" class="v-list-pagination__link v-list-pagination__link_next">Сюда<span class="icon icon_fa-angle-right"></span></a></div>
  </div>
</div>