
<div class="v-single">
  <div class="v-single__inner">
    <div class="b-heading v-single-heading">
      <div class="b-heading__menu">
      </div>
      <div class="b-heading__navigation">
      </div>
      <div class="b-heading__title">
        <button type="button" class="button button_clean" ng-click="history.back()">
          <div class="icon icon_fa-chevron-left"></div>
        </button>Новое бронирование
      </div>
    </div>
    <div class="v-single-contents">
            <form autocomplete="off" class="form form" name="singleForm" novalidate="" form-submit="Form.create()">
                    <fieldset class="form-fieldset">
                      <legend class="form-legend">Паспортные данные
                      </legend>
                            <div class="form-line form-line_triple form-line form-line_triple">
                                          <div class="form-line_triple__part">
                                            <label for="form-element-14062060849872" class="label label_block">Фамилия
                                            </label>
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block group__element_first input_block group__element_first" type="text" id="form-element-14062060849872" required="" name="last_name" ng-model="single.last_name"/>
                                                    </div>
                                                    <div class="row__item">
                                                            <div for="form-element-14062060849872" class="label label_prefix <[ (singleForm['last_name'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['last_name'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                                              <div ng-if="!(singleForm['last_name'].$valid)" class="icon icon_fa-asterisk"></div>
                                                              <div ng-if="(singleForm['last_name'].$valid)" class="icon icon_fa-check"></div>
                                                            </div>
                                                    </div>
                                                  </div>
                                          </div>
                                          <div class="form-line_triple__part">
                                            <label for="form-element-14062060849874" class="label label_block">Имя
                                            </label>
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block group__element_first input_block group__element_first" type="text" id="form-element-14062060849874" required="" name="first_name" ng-model="single.first_name"/>
                                                    </div>
                                                    <div class="row__item">
                                                            <div for="form-element-14062060849874" class="label label_prefix <[ (singleForm['first_name'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['first_name'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                                              <div ng-if="!(singleForm['first_name'].$valid)" class="icon icon_fa-asterisk"></div>
                                                              <div ng-if="(singleForm['first_name'].$valid)" class="icon icon_fa-check"></div>
                                                            </div>
                                                    </div>
                                                  </div>
                                          </div>
                                          <div class="form-line_triple__part">
                                            <label for="form-element-14062060849876" class="label label_block">Отчество
                                            </label>
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-14062060849876" name="middle_name" ng-model="single.middle_name"/>
                                                    </div>
                                                  </div>
                                          </div>
                            </div>
                      <div class="form-line form-line_sided">
                        <div class="form-line_sided__inner">
                          <div class="form-line_sided__sidebar">
                            <label for="form-element-14062060849878" class="label label_block">Серия</label>
                                  <div class="row_table">
                                    <div class="row__item _w12">
                                            <input class="input input input_block input_block" name="passport_series" type="text" ng-model="single.passport_series" id="form-element-14062060849878"/>
                                    </div>
                                  </div>
                          </div>
                          <div class="form-line_sided__content">
                            <label for="form-element-140620608498710" class="label label_block">Код паспорта</label>
                                  <div class="row_table">
                                    <div class="row__item _w12">
                                            <input class="input input input_block input_block" name="passport_code" type="text" ng-model="single.passport_code" id="form-element-140620608498710"/>
                                    </div>
                                  </div>
                          </div>
                        </div>
                      </div>
                                  <div class="form-line">
                                    <div class="label label_block">Кем и кода паспорт выдан
                                    </div>
                                          <div class="row_table">
                                            <div class="row__item _w12">
                                                    <input class="input input input_block input_block" type="text" id="form-element-140620608498710" name="passport_issued" ng-model="single.passport_issued"/>
                                            </div>
                                          </div>
                                  </div>
                    </fieldset>
                          <div class="form-line form-line_sided">
                            <div class="form-line_sided__inner">
                              <div class="form-line_sided__sidebar">
                                <label for="form-element-140620608498713" class="label label_input">Внутренняя
                                </label>
                              </div>
                              <div class="form-line_sided__content">
                                <div class="label label_input">
                                        <label form-element="" form-input="" class="switch">
                                                <input name="internal" type="checkbox" ng-model="single.internal" class="switch__field" id="form-element-140620608498713" form-element-field="" form-input-field=""/>
                                                <label for="form-element-140620608498713" class="switch__label" ng-model="single.internal" form-checkbox="">
                                                </label>
                                        </label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-line form-line_sided">
                            <div class="form-line_sided__inner">
                              <div class="form-line_sided__sidebar">
                                <label for="form-element-140620608498715" class="label label_input">Телефон
                                </label>
                              </div>
                              <div class="form-line_sided__content">
                                      <div class="row_table">
                                        <div class="row__item _w12">
                                                <input class="input input input_block input_block" type="text" id="form-element-140620608498715" name="phone" ng-model="single.phone"/>
                                        </div>
                                      </div>
                              </div>
                            </div>
                          </div>
                    <div class="form-line form-line_double form-line form-line_double">
                            <div class="form-line_double__part">
                                          <div class="form-line form-line_sided">
                                            <div class="form-line_sided__inner">
                                              <div class="form-line_sided__sidebar">
                                                <label for="form-element-140620608498718" class="label label_input">Дата начала
                                                </label>
                                              </div>
                                              <div class="form-line_sided__content">
                                                            <div class="dropdown">
                                                                    <div class="row_table">
                                                                      <div class="row__item">
                                                                        <div for="form-element-140620608498719" class="label label_prefix group__element_first"><span class="icon icon_fa-calendar"></span>
                                                                        </div>
                                                                      </div>
                                                                      <div class="row__item _w12">
                                                                              <input class="input input input_block group__element input_block group__element" id="form-element-140620608498719" form-datepicker="" ng-model="single.starting_at" name="starting_at" required=""/>
                                                                      </div>
                                                                      <div class="row__item">
                                                                              <div for="form-element-140620608498719" class="label label_prefix <[ (singleForm['starting_at'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['starting_at'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                                                                <div ng-if="!(singleForm['starting_at'].$valid)" class="icon icon_fa-asterisk"></div>
                                                                                <div ng-if="(singleForm['starting_at'].$valid)" class="icon icon_fa-check"></div>
                                                                              </div>
                                                                      </div>
                                                                    </div>
                                                            </div>
                                              </div>
                                            </div>
                                          </div>
                            </div>
                            <div class="form-line_double__part">
                                          <div class="form-line form-line_sided">
                                            <div class="form-line_sided__inner">
                                              <div class="form-line_sided__sidebar">
                                                <label for="form-element-140620608498722" class="label label_input">Дата окончания
                                                </label>
                                              </div>
                                              <div class="form-line_sided__content">
                                                            <div class="dropdown dropdown_right">
                                                                    <div class="row_table">
                                                                      <div class="row__item">
                                                                        <div for="form-element-140620608498723" class="label label_prefix group__element_first"><span class="icon icon_fa-calendar"></span>
                                                                        </div>
                                                                      </div>
                                                                      <div class="row__item _w12">
                                                                              <input class="input input input_block group__element input_block group__element" id="form-element-140620608498723" form-datepicker="" ng-model="single.ending_at" name="ending_at" required=""/>
                                                                      </div>
                                                                      <div class="row__item">
                                                                              <div for="form-element-140620608498723" class="label label_prefix <[ (singleForm['ending_at'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['ending_at'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                                                                <div ng-if="!(singleForm['ending_at'].$valid)" class="icon icon_fa-asterisk"></div>
                                                                                <div ng-if="(singleForm['ending_at'].$valid)" class="icon icon_fa-check"></div>
                                                                              </div>
                                                                      </div>
                                                                    </div>
                                                            </div>
                                              </div>
                                            </div>
                                          </div>
                            </div>
                    </div>
                          <div class="form-line form-line_sided">
                            <div class="form-line_sided__inner">
                              <div class="form-line_sided__sidebar">
                                <label for="form-element-140620608498725" class="label label_input">Владелец
                                </label>
                              </div>
                              <div class="form-line_sided__content">
                                      <div form-select="" ng-model="single.user" form-select-data="single.related_data_all.users" class="tags tags_single">
                                        <div ng-class="{_active: formSelect.active}" class="dropdown tags__dropdown">
                                          <div class="row_table">
                                            <div class="row__item _w12">
                                              <div class="input-wrapper">
                                                      <input class="input input input_labeled input_masked input_block" ng-model="formSelect.filter" form-select-toggle="" id="form-element-140620608498725" size="10" name="user" placeholder="<[ (formSelect.selected.length > 0 ? formSelect.selected[0].email : '') ]>"/>
                                                <div ng-show="!formSelect.selected.length" class="input__label icon icon_fa-chevron-down"></div>
                                                <div ng-show="formSelect.selected.length" ng-click="formSelect.remove(0)" class="input__label icon icon_fa-times"></div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="dropdown-list">
                                            <div class="dropdown-list__inner">
                                              <div ng-mousedown="formSelect.prevent($event)" class="dropdown-list__body tags__dropdown-list">
                                                <div ng-repeat="item in formSelect.dataFiltered" ng-class="{_active: formSelect.current == $index}" ng-click="formSelect.select($index)" ng-mouseover="formSelect.current = $index" class="dropdown-list__item"><[ item.email ]>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-line form-line_sided">
                            <div class="form-line_sided__inner">
                              <div class="form-line_sided__sidebar">
                                <label for="form-element-140620608498726" class="label label_input">Тип номера
                                </label>
                              </div>
                              <div class="form-line_sided__content">
                                      <div form-select="" ng-model="single.room_type" form-select-data="single.related_data_all.room_types[0]" class="tags tags_single">
                                        <div ng-class="{_active: formSelect.active}" class="dropdown tags__dropdown">
                                          <div class="row_table">
                                            <div class="row__item _w12">
                                              <div class="input-wrapper">
                                                      <input class="input input input_labeled input_masked input_block group__element_first" ng-model="formSelect.filter" form-select-toggle="" id="form-element-140620608498726" size="10" name="room_type" placeholder="<[ (formSelect.selected.length > 0 ? formSelect.selected[0].title : '') ]>" ng-required="!(single.room_type|isFilled)"/>
                                                <div ng-show="!formSelect.selected.length" class="input__label icon icon_fa-chevron-down"></div>
                                                <div ng-show="formSelect.selected.length" ng-click="formSelect.remove(0)" class="input__label icon icon_fa-times"></div>
                                              </div>
                                            </div>
                                            <div class="row__item">
                                                    <div for="form-element-140620608498726" class="label label_prefix <[ (singleForm['room_type'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['room_type'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                                      <div ng-if="!(singleForm['room_type'].$valid)" class="icon icon_fa-asterisk"></div>
                                                      <div ng-if="(singleForm['room_type'].$valid)" class="icon icon_fa-check"></div>
                                                    </div>
                                            </div>
                                          </div>
                                          <div class="dropdown-list">
                                            <div class="dropdown-list__inner">
                                              <div ng-mousedown="formSelect.prevent($event)" class="dropdown-list__body tags__dropdown-list">
                                                <div ng-repeat="item in formSelect.dataFiltered" ng-class="{_active: formSelect.current == $index}" ng-click="formSelect.select($index)" ng-mouseover="formSelect.current = $index" class="dropdown-list__item"><[ item.title ]>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                              </div>
                            </div>
                          </div>
                    <div class="form-line">
                            <button type="submit" class="button button button_primary">Сохранить
                            </button>
                            <button type="button" class="button button button_clean" ng-click="Form.revertChanges()">Отменить изменения
                            </button>
                    </div>
            </form>
    </div>
  </div>
</div>