li(ng-class="{_active: active, _disabled: disabled}")
  button.tabs__item-toggler(type="button", ng-click="select()",
    ng-class="{_active: active, _disabled: disabled}",
    tab-heading-transclude="")
    | <[ heading ]>