.tabs(class="tabs_<[ type ]>")
  ul.tabs__togglers(class="tabs__togglers_<[ type ]>",
    ng-class="{'_stacked': vertical, '_justified': justified}",
    ng-transclude="")
  .tabs__contents(class="tabs__contents_<[ type ]>")
    .tabs__item-content(ng-repeat="tab in tabs",
         ng-class="{_active: tab.active}",
         tab-content-transclude="tab")