include ../../mixins/form
include ../../mixins/elements
include ../templates-form



mixin form_roomtype-rates_price
  +form_template_sided-input("Цена", "price", "")


mixin form_roomtype-rates_roomtype
  input._hidden(type="hidden", ng-model="single.room_type")


//- Texts start
mixin form_roomtype-rates_about
  +form_template_block-textarea("Описание", "about")
//- Texts end