include ../../mixins/form
include ../../mixins/elements

extends ../view-list

block list_heading_back
  +button.button_clean(ui-sref="roomtypes.detail({id: $stateParams.roomtype, hotel: $stateParams.hotel})")
    .icon.icon_fa-chevron-left

block list_heading_title
  | Типы номеров

block list_heading_navigation
  .group
  +button.button_primary(ui-sref="roomtypes_rates.create")
    | Создать
    .icon.icon_fa-plus

block list_contents_title
  .row__item._w3
    +list_field_order('price')
      | Цена
  .row__item
      | Описание

block list_contents_items
  .row__item._w3
      | <[ item.price]>
  .row__item
      | <[ item.about]>

block list_contents_items_controls
  +button.button_small.button_green(
    ui-sref="roomtypes_rates.detail({id: item.id})"
    )
    .icon.icon_fa-pencil