
<div class="v-single">
  <div class="v-single__inner">
    <div class="b-heading v-single-heading">
      <div class="b-heading__menu">
      </div>
      <div class="b-heading__navigation">
      </div>
      <div class="b-heading__title">
        <button type="button" class="button button_clean" ng-click="history.back()">
          <div class="icon icon_fa-chevron-left"></div>
        </button>Создание типа номера
      </div>
    </div>
    <div class="v-single-contents">
            <form autocomplete="off" class="form form" name="singleForm" novalidate="" form-submit="Form.create()">
              <input type="hidden" ng-model="single.hotel" class="_hidden"/>
                                <div class="form-line form-line_sided">
                                  <div class="form-line_sided__inner">
                                    <div class="form-line_sided__sidebar">
                                      <label for="form-element-14054644209062" class="label label_input">Название
                                      </label>
                                    </div>
                                    <div class="form-line_sided__content">
                                            <div class="row_table">
                                              <div class="row__item _w12">
                                                      <input class="input input input_block group__element_first input_block group__element_first" type="text" id="form-element-14054644209062" required="required" name="title" ng-model="single.title" form-slugify="single.slug"/>
                                              </div>
                                              <div class="row__item">
                                                      <div for="form-element-14054644209062" class="label label_prefix <[ (singleForm['title'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['title'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                                        <div ng-if="!(singleForm['title'].$valid)" class="icon icon_fa-asterisk"></div>
                                                        <div ng-if="(singleForm['title'].$valid)" class="icon icon_fa-check"></div>
                                                      </div>
                                              </div>
                                            </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-line form-line_sided">
                                  <div class="form-line_sided__inner">
                                    <div class="form-line_sided__sidebar">
                                      <label for="form-element-14054644209064" class="label label_input">Ярлык
                                      </label>
                                    </div>
                                    <div class="form-line_sided__content">
                                            <div class="row_table">
                                              <div class="row__item _w12">
                                                      <input class="input input input_block group__element_first input_block group__element_first" type="text" id="form-element-14054644209064" required="required" name="slug" ng-model="single.slug"/>
                                              </div>
                                              <div class="row__item">
                                                      <div for="form-element-14054644209064" class="label label_prefix <[ (singleForm['slug'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['slug'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                                        <div ng-if="!(singleForm['slug'].$valid)" class="icon icon_fa-asterisk"></div>
                                                        <div ng-if="(singleForm['slug'].$valid)" class="icon icon_fa-check"></div>
                                                      </div>
                                              </div>
                                            </div>
                                    </div>
                                  </div>
                                </div>
                          <div class="form-line form-line_sided">
                            <div class="form-line_sided__inner">
                              <div class="form-line_sided__sidebar">
                                <label for="form-element-14054644209066" class="label label_input">Цена за номер
                                </label>
                              </div>
                              <div class="form-line_sided__content">
                                      <div class="row_table">
                                        <div class="row__item _w12">
                                                <input class="input input input_block group__element_first input_block group__element_first" type="text" id="form-element-14054644209066" required="" name="price" ng-model="single.price"/>
                                        </div>
                                        <div class="row__item">
                                                <div for="form-element-14054644209066" class="label label_prefix <[ (singleForm['price'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['price'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                                  <div ng-if="!(singleForm['price'].$valid)" class="icon icon_fa-asterisk"></div>
                                                  <div ng-if="(singleForm['price'].$valid)" class="icon icon_fa-check"></div>
                                                </div>
                                        </div>
                                      </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-line form-line_sided">
                            <div class="form-line_sided__inner">
                              <div class="form-line_sided__sidebar">
                                <label for="form-element-14054644209068" class="label label_input">Мест в номере
                                </label>
                              </div>
                              <div class="form-line_sided__content">
                                      <div class="row_table">
                                        <div class="row__item _w12">
                                                <input class="input input input_block group__element_first input_block group__element_first" type="text" id="form-element-14054644209068" required="" name="beds" ng-model="single.beds"/>
                                        </div>
                                        <div class="row__item">
                                                <div for="form-element-14054644209068" class="label label_prefix <[ (singleForm['beds'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['beds'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                                  <div ng-if="!(singleForm['beds'].$valid)" class="icon icon_fa-asterisk"></div>
                                                  <div ng-if="(singleForm['beds'].$valid)" class="icon icon_fa-check"></div>
                                                </div>
                                        </div>
                                      </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-line form-line_sided">
                            <div class="form-line_sided__inner">
                              <div class="form-line_sided__sidebar">
                                <label for="form-element-140546442090610" class="label label_input">Количество номеров
                                </label>
                              </div>
                              <div class="form-line_sided__content">
                                      <div class="row_table">
                                        <div class="row__item _w12">
                                                <input class="input input input_block group__element_first input_block group__element_first" type="number" id="form-element-140546442090610" required="" name="rooms_total" ng-model="single.rooms_total"/>
                                        </div>
                                        <div class="row__item">
                                                <div for="form-element-140546442090610" class="label label_prefix <[ (singleForm['rooms_total'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['rooms_total'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                                  <div ng-if="!(singleForm['rooms_total'].$valid)" class="icon icon_fa-asterisk"></div>
                                                  <div ng-if="(singleForm['rooms_total'].$valid)" class="icon icon_fa-check"></div>
                                                </div>
                                        </div>
                                      </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-line form-line_sided">
                            <div class="form-line_sided__inner">
                              <div class="form-line_sided__sidebar">
                                <label for="form-element-140546442090612" class="label label_input">Количество номеров для бронирования
                                </label>
                              </div>
                              <div class="form-line_sided__content">
                                      <div class="row_table">
                                        <div class="row__item _w12">
                                                <input class="input input input_block group__element_first input_block group__element_first" type="number" id="form-element-140546442090612" required="" name="rooms_available" ng-model="single.rooms_available" max="<[ single.rooms_total ]>"/>
                                        </div>
                                        <div class="row__item">
                                                <div for="form-element-140546442090612" class="label label_prefix <[ (singleForm['rooms_available'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['rooms_available'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                                  <div ng-if="!(singleForm['rooms_available'].$valid)" class="icon icon_fa-asterisk"></div>
                                                  <div ng-if="(singleForm['rooms_available'].$valid)" class="icon icon_fa-check"></div>
                                                </div>
                                        </div>
                                      </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-line form-line_sided">
                            <div class="form-line_sided__inner">
                              <div class="form-line_sided__sidebar">
                                <label for="form-element-140546442090614" class="label label_input">Категория номера
                                </label>
                              </div>
                              <div class="form-line_sided__content">
                                      <div form-select="" ng-model="single.labels" form-select-data="single.related_data_all.categories" class="tags tags_single">
                                        <div ng-class="{_active: formSelect.active}" class="dropdown tags__dropdown">
                                          <div class="row_table">
                                            <div class="row__item _w12">
                                              <div class="input-wrapper">
                                                      <input class="input input input_labeled input_masked input_block" ng-model="formSelect.filter" form-select-toggle="" id="form-element-140546442090614" size="10" placeholder="<[ (formSelect.selected.length > 0 ? formSelect.selected[0].title : '') ]>"/>
                                                <div ng-show="!formSelect.selected.length" class="input__label icon icon_fa-chevron-down"></div>
                                                <div ng-show="formSelect.selected.length" ng-click="formSelect.remove(0)" class="input__label icon icon_fa-times"></div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="dropdown-list">
                                            <div class="dropdown-list__inner">
                                              <div ng-mousedown="formSelect.prevent($event)" class="dropdown-list__body tags__dropdown-list">
                                                <div ng-repeat="item in formSelect.dataFiltered" ng-class="{_active: formSelect.current == $index}" ng-click="formSelect.select($index)" ng-mouseover="formSelect.current = $index" class="dropdown-list__item"><[ item.title ]>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-line">
                            <div class="label label_block">Входит в стоимость номера
                            </div>
                                  <textarea class="input input_block input input_block" id="form-element-140546442090614" name="included" ng-model="single.included" rows="4"></textarea>
                          </div>
                          <div class="form-line">
                            <div class="label label_block">Не входит в стоимость номера
                            </div>
                                  <textarea class="input input_block input input_block" id="form-element-140546442090614" name="excluded" ng-model="single.excluded" rows="4"></textarea>
                          </div>
                          <div class="form-line">
                            <div class="label label_block">Описание
                            </div>
                                  <textarea ng-model="single.about" ckeditor="editorOptions" form-editor-options="{      height: '400px',      width: '100%',      language: 'ru'    }"></textarea>
                          </div>
                    <div class="form-line">
                            <button type="submit" class="button button button_primary">Сохранить
                            </button>
                            <button type="button" class="button button button_clean" ng-click="Form.revertChanges()">Отменить изменения
                            </button>
                    </div>
            </form>
    </div>
  </div>
</div>