/* ========================================================================
 * Utility
 * ======================================================================== */


/**
 * Mixins
 * ======================================================================== */

visuallyHidden()
    border 0 !important
    clip rect(0 0 0 0) !important
    height 1px !important
    margin -1px !important
    overflow hidden !important
    padding 0 !important
    position absolute !important
    width 1px !important


replace($expr, $str, $val)
        $expr = clone($expr)
        for $e, $i in $expr
            if $str == $e
                $expr[$i] = $val
        return $expr


/**
 * Placeholders
 * ======================================================================== */

$pVisuallyHidden
    visuallyHidden()


$pCF
    zoom 1

    &:before
    &:after
        display block
        display table
        width 0
        height 0
        overflow hidden
        visibility hidden

        content ""

    &:after
        clear both


$pElementClean
    -webkit-appearance none
    -moz-appearance none
    appearance none
    display inline-block
    box-sizing border-box
    height auto
    margin 0
    padding 0

    font-family inherit
    font-weight inherit
    font-size inherit
    font-style inherit
    font-stretch inherit
    font-variant inherit
    text-align left
    text-decoration inherit
    text-transform inherit
    vertical-align middle
    color inherit

    border 0 solid transparent
    border-radius inherit

    background transparent

    &:-webkit-autofill
        background-color transparent


$pNotALink
    font-size inherit
    font-style inherit
    font-stretch inherit
    font-variant inherit
    text-align inherit
    text-decoration inherit
    
    color inherit
    

/**
 * Classes.
 * ======================================================================== */


/**
 * Clearfix.
 */

.clear
    clear both
    display block
    overflow hidden
    visibility hidden
    width 0
    height 0


/**
 * Default modifers.
 */

[hidden],
._hidden
    display none


[disabled],
._disabled
    cursor default
    opacity .5


.align
    &-left
        text-align left

    &-center
        text-align center
        
    &-right
        text-align right


.pull
    &-left
        float left
        
    &-right
        float right