/* ========================================================================
 * Font
 * ======================================================================== */


/**
 * Mixins
 * ======================================================================== */

fontFace($name, $path, $formats=('eot' 'svg' 'woff' 'ttf'), $type='regular')
    $source = ()
    $fontWeight = $fontWeightRegular
    $fontStyle = normal

    if match('italic', $type)
        $fontStyle = italic

    if match('bold', $type)
        $fontWeight = $fontWeightBold

    if match('light', $type)
        $fontWeight = $fontWeightLight

    // Gathering the src value
    if 'ttf' in $formats
        push($source, "url('" + $pathFont + $path +\
            "/" + $type + ".ttf') format('truetype')")
 
    if 'eot' in $formats
        push($source, "url('" + $pathFont + $path +\
            "/" + $type + ".eot?#iefix') format('embedded-opentype')")

    if 'svg' in $formats
        push($source, "url('" + $pathFont + $path +\
            "/" + $type + ".svg') format('svg')")

    if 'woff' in $formats
        push($source, "url('" + $pathFont + $path +\
            "/" + $type + ".woff') format('woff')")

    fontFaceCreate($name, $path, $formats, $type, $fontWeight, $fontStyle, $source)


fontFaceCreate($name, $path, $formats, $type, $fontWeight, $fontStyle, $source)
    @font-face
        font-family $name
        src url($pathFont + $path + '/' + $type + '.eot')
        src local($name), unquote(join(',', $source))
        font-weight $fontWeight
        font-style $fontStyle