/* ========================================================================
 * Icon
 * ======================================================================== */


/**
 * Placeholders.
 * ======================================================================== */

$pIcon
    display inline-block

    font-style normal
    font-weight normal
    line-height inherit
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

    vertical-align inherit
    vertical-align bottom
    content ""


/**
 * Classes.
 * ======================================================================== */

.icon
    @extends $pIcon
    
    &:before
        @extends $pIcon

    &_large:before
        font-size $lineHeight

    for $prefix, $i in $icons
        for $j in $i
            if $j
                if $j[1]
                    &_{$prefix}-{$j[0]}:before
                        font-family $i[0][0]
                        content $j[1]
