/* ========================================================================
 * Metrics
 * ======================================================================== */


/**
 * Mixins
 * ======================================================================== */


circlePoints($x0, $y0, $R, $points)
    $a = (0 0)
    $angle = (360 / $points)
    $cangle = 0

    for $i in 0..$points
        $x1 = unit($x0 + $R * cos($cangle * PI / 180), 'px')
        $y1 = unit($y0 + $R * sin($cangle * PI / 180), 'px')
        push($a, ($x1 $y1))
        $cangle += $angle

    return $a


/**
 * Border radiuses.
 */

borderRadiusTop($bRadius)
    +cache('border-radius-top' + $bRadius)
        border-top-left-radius $bRadius
        border-top-right-radius $bRadius

borderRadiusBottom($bRadius)
    +cache('border-radius-bottom' + $bRadius)
        border-bottom-left-radius $bRadius
        border-bottom-right-radius $bRadius

borderRadiusLeft($bRadius)
    +cache('border-radius-left' + $bRadius)
        border-top-left-radius $bRadius
        border-bottom-left-radius $bRadius

borderRadiusRight($bRadius)
    +cache('border-radius-right' + $bRadius)
        border-top-right-radius $bRadius
        border-bottom-right-radius $bRadius