/* ========================================================================
 * Scrollbar
 * ======================================================================== */

$scrollbarWidth ?= 6px
$scrollbarBorderRadius ?= $scrollbarWidth

$scrollbarColorTrack ?= transparent
$scrollbarColorHandle ?= rgba(0, 0, 0, .4)
$scrollbarColorHandleInactive ?= rgba($scrollbarColorHandle,\
    alpha($scrollbarColorHandle) / 2)

/**
 * Adds nice scrollbar to webkit based browsers.
 */

// Scrollbar styles
::-webkit-scrollbar
    width $scrollbarWidth

    &:horizontal
        height $scrollbarWidth

// Track
::-webkit-scrollbar-track
    border-radius $scrollbarBorderRadius

    background-color $scrollbarColorTrack

// Handle
::-webkit-scrollbar-thumb
    border-radius $scrollbarBorderRadius
    background-color $scrollbarColorHandle

::-webkit-scrollbar-thumbwindow-inactive
    background-color $scrollbarColorHandleInactive


// Resizer
::-webkit-resizer
    width $scrollbarWidth
    height $scrollbarWidth
