/* ========================================================================
 * Sprites
 * ======================================================================== */



/**
 * Mixins
 * ======================================================================== */

imgContainer($path)
    $img = $pathImg + $path
    $size = image-size($img)

    display inline-block
    width $size[0]
    height $size[1]

    background-image url($img)
    background-repeat no-repeat


imgSprites($path, $spriteNames, $pfixes=())
    $img = $pathImg + $path
    $size = image-size($img)
    $count = length($spriteNames)
    $width = $size[0] / $count

    &{$pfixes[0]}{$pfixes[1]}
        display inline-block
        width $width
        height $size[1]

        background-image url($img)
        background-repeat no-repeat
        background-position 0 0
    
    for $i in 0..$count
        &{$pfixes[0]}_{$spriteNames[$i]}{$pfixes[1]}
            background-position -1 * $width * $i 0



/**
 * Image size.
 */

imgWidth($img)
    return image-size($pathImg + $img)[0]


imgHeight($img)
    return image-size($pathImg + $img)[1]