/* ========================================================================
 * Unit
 * ======================================================================== */

$remFallback = false

/**
 * Mixins
 * ======================================================================== */

/**
 * Converting from different(now: en, px, without any) unit types to rem
 */
toRem($n, $root=$fontSize)
    if unit($n) == 'em'
        $n = unit($n, 'rem')
    else if unit($n) == 'px'
        $n = unit($n/$root, 'rem')
    $n = unit($n, 'rem')

    if $n == 0rem
        $n = 0

    return $n

/**
 * Converting to px(based on rem() convertation mixin)
 */
toPx($n, $root=$fontSize)
    return unit(toRem($n) * $root, 'px')


/**
 * Converting to rem with the posibility to fallback to pixels
 */
rem($n)
    $w = $n
    $n = toRem($n)

    if current-property    
        // Backward compatibility for browsers that not support rem values.
        if $remFallback && unit($n) == 'rem'
            add-property(current-property[0], replace(current-property[1],\
                '__CALL__', toPx($w, $root)))

    return $n


/**
 * Converts unit to em(based on rem() convertation mixin)
 */
em($n)
    return unit(toRem($n), 'em')