/* ========================================================================
 * Layout
 * ======================================================================== */

$zIndexIncrease ?= 5

$zIndexStart ?= 1
$zIndexMiddle ?= 20
$zIndexTop ?= 100

/**
 * Mixins
 * ======================================================================== */


percentageWidth($count)
    if (100 % $count) is 0
        return (100% / $count)
    else
        return (100% / $count) - (.01/$count)



zIndex(increase = 1)
    z-index $zIndexStart + $zIndexIncrease * increase


/**
 * Placeholders
 * ======================================================================== */


$pFullFilled
    display block
    height 100%
    width 100%
    margin 0
    padding 0
 

/**
 * Tags
 * ======================================================================== */

*,
*:before,
*:active
    box-sizing border-box


html
    font-family $fontFamily
    font-size $fontSize
    line-height $lineHeight


table,
tr,
td,
th
    font-size inherit