/* ========================================================================
 * Grid
 * ======================================================================== */

$gridColumnCount ?= 12
$gridGutterWidth ?= 20px
$gridGutterWidthHalf ?= floor($gridGutterWidth / 2)

$useGridMediaWidth ?= true

/**
 * Mixins
 * ======================================================================== */

delimitProp(prop, base, namespace='', unitWidth=percentageWidth(base))
    for i in 1..base
        &{namespace}{i}
            w = unitWidth * i

            {prop} w


/**
 * Classes.
 * ======================================================================== */

/**
 * Sizing.
 */

// Width
._w
    delimitProp('width', 20, 'f', 25px) // 5% based sizes
    delimitProp('width', 20, 'd') // 5% based sizes
    delimitProp('width', $gridColumnCount) // column width based

// Offset
._o
    delimitProp('margin-left', 20, 'd') // 5% based sizes
    delimitProp('margin-left', $gridColumnCount) // column width based


/**
 * Grid itself.
 */


.row
    @extend $pCF

    clear both
    display block
    position relative
    margin 0
    padding 0

    list-style none

    &__item
        float left
        display block
        position relative
        min-height 1px

    &_padded
        margin-left -1 * $gridGutterWidthHalf
        margin-right @margin-left
        *margin-left 0
        *margin-right 0

        & > .row__item
            padding 0 $gridGutterWidthHalf

    &_table
        display table
        width 100%

        & > .row__item
            display table-cell
            float none

            vertical-align top

    &_even-alignment
        & > .row__item
            text-align center

            &:first-child
                text-align left

            &:last-child
                text-align right