/* ========================================================================
 * Sidebar mixin
 * ======================================================================== */

$sidebarWidth ?= 200px

/**
 * Mixins
 * ======================================================================== */

withSidebar($sWidth=$sidebarWidth, $position='left', $offset=0)
    
    &__inner,
    &__sidebar,
    &__content
        position relative

    &__inner
        @extends $pCF
        margin-{$position} $sWidth

    &__sidebar
        float unquote($position)
        width $sWidth
        margin-{$position} -1 * $sWidth

    &__content
        display inline-block
        padding-left $offset
        width 100%
