/* ========================================================================
 * Wrapper
 * ======================================================================== */


$wrapperInnerWidth ?= widthMin


/**
 * Classes
 * ======================================================================== */

.wrapper
    display block
    position relative

    text-align center

    &_center
        @extends $pFullFilled

        display table
        width 100%
        height 100%

        & > .wrapper__inner
            display table-cell
            width 100%
            height 100%

            text-align center
            vertical-align middle

            & > *
                display inline-block
                
                text-align left


    &__inner
        display block
        position relative
        margin 0 auto
        max-width $wrapperInnerWidth

        text-align left