include ../../mixins/form
include ../../mixins/elements
include ../templates-form
include form

extends ../view-single

      
block single_heading_title
  | Создание города

block single_heading_navigation

block single_content
  +form(name="singleForm",
    novalidate="",
    form-submit="Form.create()")

    +form_city_name
    +form_city_slug
    +form_city_state

    +form_template_submit
