include ../../mixins/form
include ../../mixins/elements
include ../templates-form
include form

extends ../view-single

block single_heading_title
  | Редактирование города

block single_heading_navigation
  +button.button_red(ng-click="delete()")
    | Удалить 
    span.icon.icon_fa-trash-o
  +button.button_primary(ui-sref="cities.create")
    .icon.icon_fa-plus

block single_content
  +form(name="singleForm",
    novalidate="",
    form-submit="Form.update()")

    +form_city_name
    +form_city_slug
    +form_city_state

    +form_template_submit

