include ../../mixins/form
include ../../mixins/elements
include ../templates-form


mixin form_city_name
  +form_template_name

mixin form_city_slug
  +form_template_slug

mixin form_city_state
  +form_template_sided-select("Область", "single.state",
    "single.related_data_all.states",
    "name")(required="", name="state")