include ../../../../../mixins/django
include ../../../../admin/mixins/form
include ../../../../admin/mixins/elements
include ../../../../admin/views/templates-form

include ../../../../admin/views/hotels/form

extends ../view-sided

block sided_content
  include ../../../../admin/views/templates-form

  .form-title
    | Создание гостиницы
  
  +form(name="singleForm",
    novalidate="",
    form-submit="Form.create()")

    +form_hotel_title
    +form_hotel_slug
    +form_hotel_address
    +form_hotel_type

    +form_template_submit