include ../../../../../mixins/django
include ../../../../admin/mixins/form
include ../../../../admin/mixins/elements
include ../../../../admin/views/templates-form

include ../../../../admin/views/hotels/form

extends ../view-single

block single_content
  include ../../../../admin/views/templates-form

  .form-title
    | Редактирование гостиницы
    small
      span(ng-if="single.is_active === null")   Подана заявка на активацию
      span(ng-if="single.is_active === false")   Не активирована
    +button.button_small.button_green.pull-right(ng-click="activate()",
      ng-if="!(single.is_active === null || single.is_active === true)")
      span.icon.icon_fa-trash-o   
      |      Активировать

  p.alert.alert_ghost.alert_ghost_error(ng-if="single.is_active === false || single.is_active === null").
      Гостиница не активна. Это значит что она не отображается в поиске.
      Для активации необходимо заполнить всю информацию и нажать кнопку "Активировать".<br>
      Если гостиница заполнена, менеджер активирует ее.

  
  +form(name="singleForm",
    novalidate="",
    form-submit="Form.update()")

    tabset
      tab(heading="Основное")
        +form_template_sided-input("Название", "title", "")
        +form_hotel_slug
        +form_hotel_address
        .form-delimiter
        +form_hotel_gps
        .form-delimiter
        +form_hotel_stars
        +form_hotel_type
        +form_hotel_conveniences
        +form_hotel_contacts
        +form_hotel_about

      tab(heading="Настройки бронирования")
        +form_template_sided-datepicker("Начало работы гостиницы",
          "working_from", "dd MMMM").dropdown_right
        +form_template_sided-datepicker("Окончание работы гостиницы",
          "working_till", "dd MMMM").dropdown_left
        +form_hotel_arrival-period
        +form_hotel_reservation-cancelling
        +form_hotel_reservation-prepayment

      tab(heading="Реквизиты")
        +form_hotel_entity-info

      tab(heading="Изображения")
        +form_hotel_files

      tab(heading="Описания")
        +form_hotel_texts

    +form_template_submit