include ../../../../../mixins/django
include ../../../../admin/mixins/form
include ../../../../admin/mixins/elements
include ../../../../admin/views/templates-form

extends ../view-sided

block sided_content
  .form-title
    | Мои гостиницы

  .p-hotelier-hotels-list
    .p-hotelier-hotels-list__item(ng-repeat="item in list.objects")
      .p-hotelier-hotel
        .p-hotelier-hotel__inner
          .p-hotelier-hotel__sidebar
            .p-hotelier-hotel__image
              img(ng-src="<[item.related_data.view_file.urls.medium]>")
          .p-hotelier-hotel__content
            a.p-hotelier-hotel__heading(ui-sref="hotels.detail({id: item.id})")
              | <[ item.title ]>

            .p-hotelier-hotel__address(ng-if="item.address")
              | <b>Адрес:</b> <[ item.address ]>

            .p-hotelier-hotel__about(ng-bind-html="item.about_short")

            p.align-right
              a.button.button_small.button_orange(ui-sref="hotels.detail({id: item.id})")
                | Редактировать гостиницу   
                span.icon.icon_fa-angle-right