/* ========================================================================
 * Content
 * ======================================================================== */

$contentDelimiterColorBackground ?= $colorThemeReliefBorder

/**
 * Classes
 * ======================================================================== */

.content
    @extends $pWrapped

    padding 40px 0

    &__delimiter
        display block
        height 1px
        margin 20px 0

        background-color $contentDelimiterColorBackground