/* ========================================================================
 * footer
 * ======================================================================== */

$footerColorBackground ?= #f4f4f4
$footerColorFont ?= #8c8c8c


/**
 * Classes
 * ======================================================================== */

.footer
    @extends $pWrapped
    
    padding 20px 0

    border-top 1px solid $colorThemeReliefBorder

    background-color $footerColorBackground

    &_font
        font-size 11px
        color $footerColorFont

    &__second
        padding-top 20px

    &__links
        @extends $pCF

        &__item
            padding-left 8px
            float left

            font-size 12px

            &:first-child
                padding 0

            &:last-child
                &:after
                    margin 0
                    content ''

            &:after
                display inline-block
                margin-left @padding-left
                content '|'

    &__copyright
        margin-left -30px

        font-size 11px

        color $footerColorFont

        &__links
            @extends $pCF

            padding-bottom 25px

    &__login
        margin-right 50px

        &__title
            margin-bottom 20px

        .label
            font-size 11px
            font-weight normal

    &__social
        @extends $pCF

        height 133px

        &__icon
            @extends $pIconsSocial

            float left
            margin-right 10px

            &:last-child
                margin-right 0

            &:before
                content ''

    &__social,
    &__contract
        padding-left floor($gridGutterWidth * 1.8)
