/* ========================================================================
 * Header
 * ======================================================================== */

$headerColorBackground ?= $colorThemeRed


/**
 * Classes
 * ======================================================================== */

$headerHeight = 86px

.header
    @extends $pWrapped

    height $headerHeight

    background-color $headerColorBackground
    color #fff

    &__body
        @extends $pCF

    &__logo
        imgContainer('logo.png')

        float left
        margin-top floor(($headerHeight - 38px) / 2)

    &__content,
    &__controls
        padding-top floor(($headerHeight - 18px) / 2)

    &__content
        margin-left 290px
        margin-right 300px

        font-size 20px

        &__phone
            position relative
            display inline-block
            padding-left 4px

            & > .icon
                position absolute
                top -17px
                left -12px
                opacity .25

                font-size 60px
                line-height @font-size

                // transform rotate(25deg) translateY(-3px) translateX(-5px)

        &__info
            @extends $pIconsPicks

            display inline-block

            &:before
                @extends $pIconsPicks_info:before
                content ''

    &__link
        margin-left 10px

        font-size 11px
        text-decoration underline
        color #ffc3c3

    &__controls
        float right

        a
            color inherit

        &__button
            display inline-block
            position relative
            padding 6px 12px 6px 15px
            margin-top -6px
            margin-left 6px
            overflow hidden

            // border 1px solid rgba(#fff, .25)
            text-decoration none
            cursor pointer

            .dropdown:hover > &
                border-color $colorThemeRed

                background-color $colorThemeReliefBottom
                color $colorThemeFont

            & > .icon
                position absolute
                top 0px
                left -10px
                opacity .25

                font-size 45px
                line-height @font-size

        & form
            margin 0

    &__cabinet
        &__dropdown
            & > .dropdown-list
                min-width 100%

                color $colorThemeFont

                & > .dropdown-list__inner
                    min-width 100%

                    & > .dropdown-list__body
                        min-width 100%

                        background-color $colorThemeReliefBottom

            &:hover > .dropdown-list
                visibility visible
                opacity 1

            &:hover > &-toggle
                text-decoration none

            &-toggle
                text-decoration none

                &:after
                    @extends .icon:before
                    @extends .icon_fa-caret-down:before

                    margin-left 5px

            a&-link
                padding-right $lineHeight * 2

                text-decoration none

                & > .icon
                    float right
                    margin-right -1 * floor($lineHeight * $lineHeightRatio)
