/* ========================================================================
 * Layout Root
 * ======================================================================== */

$rootColorBackground ?= $colorThemeBackground
$rootColorFont ?= $colorThemeFont

/**
 * Classes
 * ======================================================================== */

.root
    min-width $widthMin
    min-height 100%
    
    background-color $rootColorBackground
    color $rootColorFont