include ../../mixins/form
include ../../mixins/elements
include ../templates-form
include form

extends ../view-single

      
block single_heading_title
  | Создание страницы

block single_heading_navigation

block single_content
  +form(name="singleForm",
    novalidate="",
    form-submit="Form.create()")

    +form_page_title
    +form_page_slug
    +form_page_types
    +form_page_categories
    +form_page_editor

    +form_template_submit
