include ../../mixins/form
include ../../mixins/elements
include ../templates-form
include form

extends ../view-single

block single_heading_title
  | Редактирование страницы

block single_heading_navigation
  +button.button_red(ng-click="delete()")
    | Удалить 
    span.icon.icon_fa-trash-o
  +button.button_primary(ui-sref="pages.create")
    .icon.icon_fa-plus

block single_content
  +form(name="singleForm",
    novalidate="",
    form-submit="Form.update()")

    +form_page_title
    +form_page_slug
    +form_page_types
    +form_page_categories

    +form_page_editor

    +form_template_submit

