include ../../mixins/form
include ../../mixins/elements
include ../templates-form


mixin form_page_title
  +form_template_title

mixin form_page_slug
  +form_template_slug

mixin form_page_types
  +form_template_sided-select("Типы страницы", "single.labels",
    "single.related_data_all.types",
    "title", "")

mixin form_page_categories
  +form_template_sided-select("Категории", "single.labels",
    "single.related_data_all.categories",
    "title", "")

mixin form_page_editor
  +form_template_editor("Описание", "single.content")