/* ========================================================================
 * Home page elements
 * ======================================================================== */

$paHomeHeaderHeight ?= 490px
$paHomeHeaderColorBackgound ?= #181717


$paHomeSearchOffset ?= 12px
$paHomeSearchColorBackground ?= rgba(#000, .67)

/**
 * Placeholders
 * ======================================================================== */


/**
 * Classes
 * ======================================================================== */

.p-home

    &-header
        @extends $pWrapped

        height $paHomeHeaderHeight

        background-color $paHomeHeaderColorBackgound

        &__body,
        &__inner
            height 100%

        &__image
            position absolute
            top 0
            left 0
            height 100%
            width 100%

            background-image url($pathImg + 'home-header.png')
            background-position center bottom
            background-repeat no-repeat

        &__icons
            display table
            position absolute
            bottom 40px
            width 100%

            &-item
                $img = 'icons/home-sidebar.png'
                imgSprites($img,
                    ('marker' 'check' 'reverse' 'safe'), ('' ':before'))

                position relative
                display table-cell
                // float left
                padding-left 50px
                width 25%

                font-size 13px
                line-height floor(@font-size * $lineHeightRatio)

                color #fff

                &:before
                    content ''

                    position absolute
                    top -2px
                    left 0

                &:nth-child(1)
                    width 22%
                &:nth-child(2)
                    width 30%
                &:nth-child(3)
                    width 30%
                &:nth-child(4)
                    width 18%


    &-cities
        &__all
            display block
            clear both
            // margin-bottom 15px

            font-size 11px

            color $colorThemeCyan

        &__main,
        &__item
        &__item-link
            display block

            text-decoration none

            color inherit

        &__main
            imgContainer('home-cities-main.png')

            position relative
            padding 91px 25px 0 25px

            color #fff

            &-title
                font-size 45px
                line-height @font-size

            &-counter
                @extends $pIconsPicks

                font-size 18px
                line-height @font-size

                &:before
                    @extends $pIconsPicks_marker-white:before

                    margin-bottom -3px

                    content ''

        &__item
            padding-top 15px
            padding-bottom 0
            float left
            width 50%

            &-title
                font-size 26px
                line-height @font-size

            &-counter
                @extends $pIconsPicks

                padding-top 5px

                font-size 13px
                line-height @font-size * 2

                &:before
                    @extends $pIconsPicks_marker-cyan:before

                    margin-bottom -4px

                    content ''



    &-search
        zIndex(20)
        
        display block
        position absolute
        top 145px
        padding $paHomeSearchOffset
        width 100%

        background-color $paHomeSearchColorBackground

        & .input-wrapper
            @extends $pCF

            float left

        & .input
            margin-right 10px
            opacity .93

            &__field
                +inputPlaceholder()
                    color inherit

        &__input
            &_dest
                width 273px

            &_arriv,
            &_leave
                width 150px

            &_guests
                width 100px

            .button&_button
                margin-right 0
                width 180px

                text-align center


    &-recommended
        & > h4
            font-size 18px
            font-weight 400
            line-height 22px

        &__slider
            & > .slider__body
                height 160px

                & > .slider__item
                    float left
                    // width 940px
                    display inline-block
                    height @height

            position relative
            display block

            padding-bottom $lineHeight

            &-controls
                position absolute
                top 45px
                left 0
                width 100%

            &-prev,
            &-next
                position absolute
                top 0
                display block
                padding 9px 4px
                width 11px
                height 32px

                cursor pointer

                background-color #fff

                &:before
                    display inline-block
                    
                    border 6px solid transparent
                    content ''

            &-prev
                left 0
                padding-left 0

                &:before
                    border-right-color $colorThemeRed
                    border-left-width 0

            &-next
                right 0

                &:before
                    border-left-color $colorThemeRed
                    border-right-width 0

        &__item
            float left
            width 240px
            padding 0 $gridGutterWidthHalf + 2px
                
            text-decoration none

            &-image
                & > img
                    width 220px
                    height 125px

            &-title
                display block
                padding-top floor($lineHeight / 2)


    &-top
        @extends $pCF

        padding 20px 0

        &__item
            @extends $pCF

            float left
            width 25%
            padding 0 7px
            // margin-bottom 34px
            text-decoration none
            color inherit

            &:nth-child(4n - 3)
                padding-left 0
                padding-right 14px

            &:nth-child(4n)
                padding-left 14px
                padding-right 0

            &__image
                float left
                border 0

            &__content
                margin-left 80px
                min-height 124px

            &__title,
            &__marks
                padding-bottom 4px
                text-decoration none

            &__title
                text-decoration none
                color $linkColorFont

            &__marks
                font-size 13px
                text-decoration none

                color rgba($colorThemeFont, .5)

            &__price
                font-weight bold
                text-decoration none


    &-advantages
        margin 30px 0
        padding 40px 35px

        border 1px solid $colorThemeReliefBorder

        background-color $colorThemeReliefBottom

        & > h4
            margin-bottom 30px

        &__list
            margin 0 -18px

        &__item
            width 25%
            padding 0 18px

            border-right 1px solid $colorThemeReliefBorder
            font-size 11px
            line-height floor(@font-size * $lineHeightRatio)

            &:first-child
                // padding-left 0

            &:last-child
                // padding-right 0
                border-right-width 0

            & > h5
                font-weight bold
                margin-bottom @line-height

                color $colorThemeBlue

    &-banners
        display block

        padding 10px 0 30px 0

        &__item
            @extends $pCF

            display block
            position relative

            background-color $colorThemeReliefTop

            & > a
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                z-index 2

            & > img
                float left
                z-index 1


    &-articles
        position relative
        padding 30px 0

        font-size 11px
        
        &__item
            &__title
                color $linkColorFont




/* ========================================================================
 * Cross
 * ======================================================================== */

.input.input_labeled_icon
    position relative
    padding-left 40px


.input_labeled_icon-icon
    @extends $pIconsPicks

    position absolute
    top 50%
    left 10px
    margin-top -10px
    z-index 10

    &_calendar:before
        @extends $pIconsPicks_calendar:before
        content: ''
    &_user:before
        @extends $pIconsPicks_user:before
        content: ''