/* ========================================================================
 * Hotel page
 * ======================================================================== */

.p-hotel
    border-top 1px solid $colorThemeReliefBorder
    padding-top 10px

    &-header
        withSidebar(220px, 'left', 20px)

        &__sidebar
            // 

        &__content
            // 

    &-marks
        font-size 12px
        margin-bottom 30px

        &__stars
            padding 4px 0
            border 1px solid $colorThemeReliefBorder
            border-left-width 0 
            border-right-width 0 

        &__comments
            font-size 11px
            padding 6px 0

    &-phone-reserve
        padding 14px 20px

        border 1px solid $colorThemeReliefBorder

        background-image url($pathImg + 'phone-reserve-girl.png')
        background-repeat no-repeat
        background-position 20px 60px

        &__title
            color $linkColorFont
            font-size 18px

            padding-bottom 130px

        &__phone
            color $colorThemeOrange
            font-size 22px

        &__explain
            color $linkColorFont
            font-size 11px

    &-reserve
        padding-bottom 20px

        &__price
            margin-top 20px
            padding 0 10px
            vertical-align baseline
            text-align center

            span
                color $colorThemeRed
                font-size 36px
                vertical-align baseline
                margin 0 5px

    &-title
        @extends h3

        color $colorThemeRed
        margin-bottom floor($lineHeight / 2)

        &__address
            display inline
            margin-left 10px

            color $rootColorFont
            font-size $fontSize

    &-galery
        $gThumbOffset ?= 4px

        &__full
            height 410px
            
            background-color $colorThemeReliefBottom

            &__image
                display none

                &._active
                    display block

                img
                    float left

        &__images
            @extends $pCF

            margin-top 10px
            margin-left -1 * ($gThumbOffset + 1px)
            margin-right -1 * ($gThumbOffset + 1px)

        &__thumbnail
            @extends $pCF

            display inline-block
            float left
            padding $gThumbOffset
            margin-right 0

            border 1px solid transparent
            border-radius 4px
            cursor pointer

            &:nth-child(2n),
            &:nth-child(3n)
                margin-left 1px

            &:hover,
            &._active
                border 1px solid $colorThemeOrange

            img
                float left
                width 68px
                height @width

    &-content
        padding-top 20px

    &-tabs
        padding-top 20px
        
        &__handlers
            @extends $pCF

            border-bottom 1px solid $colorThemeReliefBorder

        &__handler
            display inline-block
            float left
            font-size 24px
            padding 21px 19px
            border 1px solid transparent
            border-top-width 2px
            margin-bottom -1px
            cursor pointer

            background-color transparent

            &._active
                border-color $colorThemeReliefBorder
                border-top-color $colorThemeOrange
                border-bottom-color #fff


        &__contents
            padding 10px 0

        &__item
            display none

            &._active
                display block

    &-search
        padding $gridGutterWidth

        background-color $colorThemeReliefBottom

    &-room-types
        padding 20px 0

        &__item
            padding-bottom 20px
            margin-bottom 20px
            border-bottom 1px solid $colorThemeReliefBorder

    &-room
        &__title
            color $linkColorFont
            font-size 18px

        &__about
            font-size 12px

        &__image
            position relative
            float left
            width 220px
            height 125px

            &__label
                position absolute
                left 0
                bottom 0
                color #fff
                font-size 12px
                background-color $colorThemeOrange
                padding 6px 8px

            & > img
                float left
                width 220px
                height 125px

        &__confs
            &__in-salary
                font-size 12px
                padding-top 10px

            & .p-hotel-reserve__price
                margin-top 0
                line-height 30px

        &__galery
            padding-top 20px

    &-about
        font-size 12px

        & h5
            padding 5px

            font-weight bold
            text-transform uppercase

            background-color $colorThemeReliefBottom
            color $colorThemeOrange

    &-comments
        padding 30px 0

        &__marks
            &__graph
                &-line
                    display block
                    margin-bottom 4px

                    &__background
                        position relative
                        margin-right 40px
                        height 18px

                        background-color #c4c4c4
                        color #fff

                    &__foreground
                        height 18px
                        background-color #9a9a9a

                    &__name
                        position absolute
                        left 6px
                        top 0px
                        font-size 11px
                        z-index 10

                    &__number
                        float right 
                        color $colorThemeOrange
                        font-size 16px
                        font-weight bold

            &__stats
                padding-top 20px

                &-number
                    font-size 46px
                    font-weight bold
                    line-height @font-size
                    letter-spacing -3px
                    color $colorThemeOrange

                    &-title
                        text-align center
                        font-weight bold
                        color $colorThemeOrange
                &-text
                    font-size 12px
                    font-weight bold
                    margin-bottom 10px
                    line-height 14px
                    
                    &.font_fat
                        font-size 14px

        &__content
        &__list
            padding 20px 0

            &-item
                padding-bottom 20px
                margin-bottom 20px

                border-bottom 1px solid $colorThemeReliefBorder

    &-comment
        // 

    &-contacts
        padding 30px 0

        &__phone
            display inline-block
            margin-right 10px

            color $colorThemeOrange
            font-size 24px