/* ========================================================================
 * Hotelier page views
 * ======================================================================== */

$paHotelierViewSidebarWidth ?= 220px
$paHotelierViewSidebarOffset ?= $gridGutterWidth

$paHotelierMenuOffset ?= 15px

/**
 * Classes
 * ======================================================================== */

.p-hotelier
    @extends $pWrapped

    &-menu
        @extends $pCF

        padding $paHotelierMenuOffset

        border-bottom $borderWidth solid $colorThemeReliefBorder

        &__link
            float left
            margin-right $paHotelierMenuOffset * 2

            font-weight bold
            text-decoration none

            &:hover
                text-decoration underline

            &._active
            &:active
                color $colorThemeRed

    &-tabs
        // 

    &-view
        withSidebar($paHotelierViewSidebarWidth, ,
            $paHotelierViewSidebarOffset)

        &__inner
            padding-top 25px


    &-sidebar
        &__block
            margin-bottom $lineHeight

            &_panel
                padding 20px 25px

                border $borderWidth solid $colorThemeReliefBorder


    &-hotels-list
        display block

        &__item
            padding-bottom 25px
            margin-bottom 25px

            border-bottom $borderWidth solid $colorThemeReliefBorder

    &-hotel
        withSidebar(220px, , $gridGutterWidth)

        &__image
            @extends $pCF

            & > img
                float left

        &__heading
            @extends h3
            @extends $pNotALink

        &__address
            margin-top -10px
            margin-bottom 10px

            font-size 16px

        &__about
            white-space pre-line


    &-roomtypes-list
        width 100%
        margin-top 10px
        
        border 0

        & > tbody
            & > tr
                & > td
                    padding 15px 10px 20px 10px
    
        &__item
            border-bottom $borderWidth solid $colorThemeReliefBorder

    &-roomtype
        &__title
            font-size 16px
            font-weight bold

            color $colorThemeBlue

        &__beds
            font-size 12px

    &-roomtypes-rates
        tr&__item,
        tr&__create
            & > td
                padding 4px

        &__item
            & .input
                border-color $colorThemeReliefBottom
                background-color transparent

    & tbody
        padding 0

    & th,
    & td
        padding 10px

    & th
        font-weight bold
        text-align left

        background-color $colorThemeReliefBottom