/* ========================================================================
 * Basic list page styles
 * ======================================================================== */

.p-list
    &-breadcrumbs
        margin-top -20px
        padding-bottom 20px

        font-size 12px

    &-content
        withSidebar(300px)

        &__content
            overflow hidden

    &-catalog
        margin-left 20px

        border-top 1px solid $colorThemeReliefBorder

        &__title
            padding-top 15px

        &__controls
            padding 10px 15px

            background-color $colorThemeReliefBottom

            &-list
                display inline-block
                margin-left 10px
                padding-left 10px

                border-left 1px solid $colorThemeReliefBorder

                & > .label
                    padding 0 6px
                    font-size 12px

        &__title
            @extends h3

            color $colorThemeRed

            & > small
                font-size .60em

        &__list
            padding 30px 0

        &__item
            padding-bottom 20px
            margin-bottom 20px
            
            border-bottom 1px solid $colorThemeReliefBorder

        &__pagination
            padding 10px 0

            font-size 12px

            & span,
            & a
                padding 0 4px

    &-search,
    &-filter
        padding 16px 20px

    &-search
        background-color $colorThemeReliefBottom

        &__title
            @extends h3

        & .form-line_sided
            $sWidth = 100px

            &__sidebar
                width $sWidth

            &__content
                margin-left $sWidth

        & .picker
            position absolute
            top 100%
            right 0
            height 0

    &-filter
        margin-top $lineHeight
        background-color $colorThemeReliefBottom

        &__title
            padding-bottom 7px
            margin-bottom @padding-bottom

            font-weight bold
            border-bottom 1px solid $colorThemeReliefBorder

    &-hotel
        @extends $pCF

        position relative

        $iW = 220px

        &__title
            display block
            font-size 18px
            text-decoration none

        &__city
            @extends $pIconsPicks

            position absolute
            top 0
            right 0

            font-size 16px
            font-weight bold
            color #000

            &:before
                @extends $pIconsPicks_marker-black:before

                margin-right 3px
                vertical-align text-bottom

                content ''

        &__marks
            @extends $pCF

            padding 5px 0
            margin 10px 0
            overflow hidden

            font-size 13px
            border 1px solid $colorThemeReliefBottom
            border-left-width 0
            border-right-width 0

            color rgba($colorThemeFont, .5)

            &-left
                float left

            &-right 
                float right

        &__image
            position relative
            float left
            width $iW

            &__label
                position absolute
                left 0
                bottom 0
                color #fff
                font-size 12px
                background-color $colorThemeOrange
                padding 6px 8px

            & > img
                float left
                width 220px
                height 125px


        &__content
            margin-left $iW + 20px

        &__about
            font-size 12px

            white-space pre-line
