/* ========================================================================
 * Login view
 * ======================================================================== */

$paLoginElementOffset ?= 9px
$paLoginElementOffsetHalf ?= floor($paLoginElementOffset / 2)

$paLoginControlsSidebarOffset ?= 0

/**
 * Classes
 * ======================================================================== */

.p-login
    display table
    width 100%
    height 100%

    background-color $colorThemeReliefBottom

    &__inner
        display table-cell
        vertical-align middle
        text-align center


.p-login-form
    display inline-block
    padding $paLoginElementOffset $paLoginElementOffset * 2\
        0 $paLoginElementOffset * 2
    max-width 400px

    border-radius $borderRadius
    text-align left

    background-color #fff
    z-index 501
    box-shadow 0 10px 35px rgba(0,0,0,0.2)

    & .input
        min-width 350px

    & .form-line
        // margin-bottom 0

        &_sided
            $w = 135px

            &__sidebar
                width $w
                margin-left -1 * @width

            &__inner
                margin-left $w

