/* ========================================================================
 * Home page elements
 * ======================================================================== */

$paPageHeaderHeight ?= 490px
$paPageHeaderColorBackgound ?= #181717


$paPageSearchOffset ?= 12px
$paPageSearchColorBackground ?= rgba(#000, .67)


$paArticleHeaderHeight ?= 490px
$paArticleHeaderColorBackgound ?= #181717


$paArticleSearchOffset ?= 12px
$paArticleSearchColorBackground ?= rgba(#000, .67)

/**
 * Placeholders
 * ======================================================================== */


/**
 * Classes
 * ======================================================================== */



.p-page
    &__title
        @extends h1
        @extends $pNotALink

    &__content
        padding 10px 0 50px 0




.p-article
    @extends .p-page

    &-list
        // column-count 2
        // column-gap $gridGutterWidth

        &__item
            padding 10px 0 20px 0

            &__title
                @extends h1
                @extends $pNotALink

            &__content
                margin 10px 0

            &__more
                text-align right