.p-register
    padding 25px 35px

    background-color $colorThemeReliefBottom

    &__heading-red
        font-size 14px
        font-weight bold

        color $colorThemeRed

    &__small
        font-size 12px

    &__label&__label
        font-size 18px
        font-weight normal
        line-height 18px

    & .form-line
        margin-bottom 14px

    & option[value=""]
        display none


.checkbox-outfill
    $p = 25px

    padding-left $p

    &__checkbox
        float left
        margin-top 5px
        margin-left -1 * $p + @margin-top