
<div class="v-single">
  <div class="v-single__inner">
    <div class="b-heading v-single-heading">
      <div class="b-heading__menu">
        <button type="button" class="button button_clean" ui-sref="roomtypes_prices({hotel: single.hotel,    roomtype: single.id})">Календарь цен
        </button>
        <button type="button" class="button button_clean" ui-sref="roomtypes_rates({hotel: single.hotel,    roomtype: single.id})">Категории цен
        </button>
      </div>
      <div class="b-heading__navigation">
        <button type="button" class="button button_red" ng-click="delete()">Удалить <span class="icon icon_fa-trash-o"></span>
        </button>
        <button type="button" class="button button_primary" ui-sref="roomtypes.create">
          <div class="icon icon_fa-plus"></div>
        </button>
      </div>
      <div class="b-heading__title">
        <button type="button" class="button button_clean" ui-sref="roomtypes({hotel: $stateParams.hotel})">
          <div class="icon icon_fa-chevron-left"></div>
        </button>Редактирование типа номера
      </div>
    </div>
    <div class="v-single-contents">
            <form autocomplete="off" class="form form" name="singleForm" novalidate="" form-submit="Form.update()">
              <input type="hidden" ng-model="single.hotel" class="_hidden"/>
              <tabset>
                <tab heading="Информация">
                                    <div class="form-line form-line_sided">
                                      <div class="form-line_sided__inner">
                                        <div class="form-line_sided__sidebar">
                                          <label for="form-element-14062060887432" class="label label_input">Название
                                          </label>
                                        </div>
                                        <div class="form-line_sided__content">
                                                <div class="row_table">
                                                  <div class="row__item _w12">
                                                          <input class="input input input_block group__element_first input_block group__element_first" type="text" id="form-element-14062060887432" required="required" name="title" ng-model="single.title" form-slugify="single.slug"/>
                                                  </div>
                                                  <div class="row__item">
                                                          <div for="form-element-14062060887432" class="label label_prefix <[ (singleForm['title'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['title'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                                            <div ng-if="!(singleForm['title'].$valid)" class="icon icon_fa-asterisk"></div>
                                                            <div ng-if="(singleForm['title'].$valid)" class="icon icon_fa-check"></div>
                                                          </div>
                                                  </div>
                                                </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="form-line form-line_sided">
                                      <div class="form-line_sided__inner">
                                        <div class="form-line_sided__sidebar">
                                          <label for="form-element-14062060887434" class="label label_input">Ярлык
                                          </label>
                                        </div>
                                        <div class="form-line_sided__content">
                                                <div class="row_table">
                                                  <div class="row__item _w12">
                                                          <input class="input input input_block group__element_first input_block group__element_first" type="text" id="form-element-14062060887434" required="required" name="slug" ng-model="single.slug"/>
                                                  </div>
                                                  <div class="row__item">
                                                          <div for="form-element-14062060887434" class="label label_prefix <[ (singleForm['slug'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['slug'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                                            <div ng-if="!(singleForm['slug'].$valid)" class="icon icon_fa-asterisk"></div>
                                                            <div ng-if="(singleForm['slug'].$valid)" class="icon icon_fa-check"></div>
                                                          </div>
                                                  </div>
                                                </div>
                                        </div>
                                      </div>
                                    </div>
                              <div class="form-line form-line_sided">
                                <div class="form-line_sided__inner">
                                  <div class="form-line_sided__sidebar">
                                    <label for="form-element-14062060887436" class="label label_input">Мест в номере
                                    </label>
                                  </div>
                                  <div class="form-line_sided__content">
                                          <div class="row_table">
                                            <div class="row__item _w12">
                                                    <input class="input input input_block group__element_first input_block group__element_first" type="text" id="form-element-14062060887436" required="" name="beds" ng-model="single.beds"/>
                                            </div>
                                            <div class="row__item">
                                                    <div for="form-element-14062060887436" class="label label_prefix <[ (singleForm['beds'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['beds'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                                      <div ng-if="!(singleForm['beds'].$valid)" class="icon icon_fa-asterisk"></div>
                                                      <div ng-if="(singleForm['beds'].$valid)" class="icon icon_fa-check"></div>
                                                    </div>
                                            </div>
                                          </div>
                                  </div>
                                </div>
                              </div>
                              <div class="form-line form-line_sided">
                                <div class="form-line_sided__inner">
                                  <div class="form-line_sided__sidebar">
                                    <label for="form-element-14062060887438" class="label label_input">Количество номеров
                                    </label>
                                  </div>
                                  <div class="form-line_sided__content">
                                          <div class="row_table">
                                            <div class="row__item _w12">
                                                    <input class="input input input_block group__element_first input_block group__element_first" type="number" id="form-element-14062060887438" required="" name="rooms_total" ng-model="single.rooms_total"/>
                                            </div>
                                            <div class="row__item">
                                                    <div for="form-element-14062060887438" class="label label_prefix <[ (singleForm['rooms_total'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['rooms_total'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                                      <div ng-if="!(singleForm['rooms_total'].$valid)" class="icon icon_fa-asterisk"></div>
                                                      <div ng-if="(singleForm['rooms_total'].$valid)" class="icon icon_fa-check"></div>
                                                    </div>
                                            </div>
                                          </div>
                                  </div>
                                </div>
                              </div>
                              <div class="form-line form-line_sided">
                                <div class="form-line_sided__inner">
                                  <div class="form-line_sided__sidebar">
                                    <label for="form-element-140620608874310" class="label label_input">Количество номеров для бронирования
                                    </label>
                                  </div>
                                  <div class="form-line_sided__content">
                                          <div class="row_table">
                                            <div class="row__item _w12">
                                                    <input class="input input input_block group__element_first input_block group__element_first" type="number" id="form-element-140620608874310" required="" name="rooms_available" ng-model="single.rooms_available" max="<[ single.rooms_total ]>"/>
                                            </div>
                                            <div class="row__item">
                                                    <div for="form-element-140620608874310" class="label label_prefix <[ (singleForm['rooms_available'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['rooms_available'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                                      <div ng-if="!(singleForm['rooms_available'].$valid)" class="icon icon_fa-asterisk"></div>
                                                      <div ng-if="(singleForm['rooms_available'].$valid)" class="icon icon_fa-check"></div>
                                                    </div>
                                            </div>
                                          </div>
                                  </div>
                                </div>
                              </div>
                              <div class="form-line form-line_sided">
                                <div class="form-line_sided__inner">
                                  <div class="form-line_sided__sidebar">
                                    <label for="form-element-140620608874312" class="label label_input">Категория номера
                                    </label>
                                  </div>
                                  <div class="form-line_sided__content">
                                          <div form-select="" ng-model="single.labels" form-select-data="single.related_data_all.categories" class="tags tags_single">
                                            <div ng-class="{_active: formSelect.active}" class="dropdown tags__dropdown">
                                              <div class="row_table">
                                                <div class="row__item _w12">
                                                  <div class="input-wrapper">
                                                          <input class="input input input_labeled input_masked input_block" ng-model="formSelect.filter" form-select-toggle="" id="form-element-140620608874312" size="10" placeholder="<[ (formSelect.selected.length > 0 ? formSelect.selected[0].title : '') ]>"/>
                                                    <div ng-show="!formSelect.selected.length" class="input__label icon icon_fa-chevron-down"></div>
                                                    <div ng-show="formSelect.selected.length" ng-click="formSelect.remove(0)" class="input__label icon icon_fa-times"></div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="dropdown-list">
                                                <div class="dropdown-list__inner">
                                                  <div ng-mousedown="formSelect.prevent($event)" class="dropdown-list__body tags__dropdown-list">
                                                    <div ng-repeat="item in formSelect.dataFiltered" ng-class="{_active: formSelect.current == $index}" ng-click="formSelect.select($index)" ng-mouseover="formSelect.current = $index" class="dropdown-list__item"><[ item.title ]>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                  </div>
                                </div>
                              </div>
                              <div class="form-line">
                                <div class="label label_block">Входит в стоимость номера
                                </div>
                                      <textarea class="input input_block input input_block" id="form-element-140620608874312" name="included" ng-model="single.included" rows="4"></textarea>
                              </div>
                              <div class="form-line">
                                <div class="label label_block">Не входит в стоимость номера
                                </div>
                                      <textarea class="input input_block input input_block" id="form-element-140620608874312" name="excluded" ng-model="single.excluded" rows="4"></textarea>
                              </div>
                              <div class="form-line">
                                <div class="label label_block">Описание
                                </div>
                                      <textarea ng-model="single.about" ckeditor="editorOptions" form-editor-options="{      height: '400px',      width: '100%',      language: 'ru'    }"></textarea>
                              </div>
                </tab>
                <tab heading="Изображения">
                        <div class="form-line">
                          <div class="label label_block">Фотография номера
                          </div>
                                <div ng-if="single.view_file" class="align-center">
                                  <div class="thumbnail">
                                    <div class="thumbnail__image"><img ng-src="&lt;[single.related_data.view_file.urls.big]&gt;"/></div>
                                  </div>
                                </div>
                                <div class="form-line">
                                        <div form-upload="single.view_file" form-upload-files="single.related_data.view_file" ng-file-drop="ng-file-drop" ng-file-drop-over="upload_over" class="upload">
                                                <input type="file" class="upload__field" ng-file-select="" id="form-element-140620608874313"/>
                                                <label for="form-element-140620608874313" class="button button_block upload__select">Загрузить новую
                                                </label>
                                          <div class="upload__list">
                                            <div ng-repeat="upload_list__item in formUploader.uploader.queue" class="upload__item">
                                              <div class="upload__controls">
                                                <div ng-click="upload_list__item.cancel()" ng-show="upload_list__item.isUploading" class="button button_small button_red">Cancel</div>
                                                <div ng-click="upload_list__item.remove()" class="button button_small button_red">Remove</div>
                                              </div>
                                              <div ng-class="{_error: (upload_list__item.isError)}" class="progress upload__progress">
                                                <div role="progressbar" ng-style="{ 'width': upload_list__item.progress + '%' }" class="progress__bar"><[ upload_list__item.file.name ]> <[ upload_list__item.file.size/1024/1024|number:2 ]> MB</div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                </div>
                        </div>
                        <div class="form-line">
                          <div class="label label_block">Изображения
                          </div>
                                <div form-files-list="" class="block-list background-dark">
                                  <div ng-repeat="file in single.related_data.files" class="block-list__item">
                                    <div class="thumbnail">
                                      <div class="thumbnail__image"><img ng-src="&lt;[file.urls.small]&gt;"/></div>
                                      <div class="thumbnail__controls">
                                        <div ng-click="remove($index)" class="button button_red button_small">
                                          <div class="icon icon_fa-times"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-line">
                                        <div form-upload="single.files" form-upload-files="single.related_data.files" ng-file-drop="ng-file-drop" ng-file-drop-over="upload_over" class="upload">
                                                <input multiple="" type="file" class="upload__field" ng-file-select="" id="form-element-140620608874314"/>
                                                <label for="form-element-140620608874314" class="button button_block upload__select">Добавить файлы
                                                </label>
                                          <div class="upload__list">
                                            <div ng-repeat="upload_list__item in formUploader.uploader.queue" class="upload__item">
                                              <div class="upload__controls">
                                                <div ng-click="upload_list__item.cancel()" ng-show="upload_list__item.isUploading" class="button button_small button_red">Cancel</div>
                                                <div ng-click="upload_list__item.remove()" class="button button_small button_red">Remove</div>
                                              </div>
                                              <div ng-class="{_error: (upload_list__item.isError)}" class="progress upload__progress">
                                                <div role="progressbar" ng-style="{ 'width': upload_list__item.progress + '%' }" class="progress__bar"><[ upload_list__item.file.name ]> <[ upload_list__item.file.size/1024/1024|number:2 ]> MB</div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                </div>
                        </div>
                </tab>
              </tabset>
                    <div class="form-line">
                            <button type="submit" class="button button button_primary">Сохранить
                            </button>
                            <button type="button" class="button button button_clean" ng-click="Form.revertChanges()">Отменить изменения
                            </button>
                    </div>
            </form>
    </div>
  </div>
</div>