
<div class="p-hotelier-menu"><a ui-sref-active="_active" ui-sref="hotels.detail({id: $stateParams.hotel || $stateParams.id})" class="p-hotelier-menu__link">Общие сведения</a><a ui-sref-active="_active" ui-sref="roomtypes({hotel: $stateParams.hotel || $stateParams.id})" class="p-hotelier-menu__link">Типы номеров</a><a class="p-hotelier-menu__link _disabled">Контактная информация</a><a class="p-hotelier-menu__link _disabled">Отзывы</a><a class="p-hotelier-menu__link _disabled">Акции</a><a class="p-hotelier-menu__link _disabled">Бронирования</a></div>
<div class="p-hotelier-view__inner">
  <div class="p-hotelier-view__sidebar">
    <div class="p-hotelier-sidebar">
      <div class="p-hotelier-sidebar__block"><a ui-sref="hotels.create" class="button button_green button_block"><span class="icon icon_fa-plus"> </span>  Добавить гостиницу</a></div>
      <div class="p-hotelier-sidebar__block p-hotelier-sidebar__block_panel">
        <p class="highlight_blue font_medium">
          Если у Вас возникли<br>
          проблемы обратитесь<br>
          в отдел маркетинга <br>
          по телефонам:<br>
          
        </p>
        <p class="highlight_orange font_big">+38 050 3223270
        </p>
      </div>
    </div>
  </div>
  <div class="p-hotelier-view__content">
  </div>
</div>