
<div class="single">
  <div class="single__header">
    <div class="single__wrapper">
      <div class="single__controls row row_table row_collapse">
        <div class="row__item _w9">
          <div class="single__controls-menubar">
          </div>
        </div>
        <div class="row__item _w3 align-right">
        </div>
      </div>
    </div>
    <div class="single__wrapper">
      <div class="single__title"><[ data.settings.displayName ]></div>
    </div>
  </div>
  <div class="single__inner">
    <div class="single__body">
      <div class="single__wrapper">
      </div>
    </div>
  </div>
</div>