/* ========================================================================
 * Typography
 * ======================================================================== */

$fontFamily ?= $fontFamilySans

/**
 * Font weights.
 */

$fontWeightLight ?= 300
$fontWeightRegular ?= 400
$fontWeightBold ?= 700

/**
 * Tags
 * ======================================================================== */

p
    display block
    margin $lineHeight 0
    // -webkit-margin-before 0
    // -webkit-margin-after 0
    // -webkit-margin-start 0
    // -webkit-margin-end 0

    &:first-child
        margin-top 0

    &:last-child
        margin-bottom 0


code
pre
    font-family $fontFamilyMono