/* ========================================================================
 * Heading
 * ======================================================================== */

$headingFontSize ?= $fontSize
$headingFontSizeScale ?= 1.241
$headingFontFamily ?= $fontFamily
$headingFontWeight ?= $fontWeightRegular
$headingLineHeight ?= $lineHeight

$heading1FontSize ?= floor($headingFontSize * ($headingFontSizeScale ** 4))
$heading2FontSize ?= floor($headingFontSize * ($headingFontSizeScale ** 3))
$heading3FontSize ?= floor($headingFontSize * ($headingFontSizeScale ** 2))
$heading4FontSize ?= floor($headingFontSize * $headingFontSizeScale)
$heading5FontSize ?= $headingFontSize
$heading6FontSize ?= floor($headingFontSize * ($headingFontSizeScale ** -.5))

/**
 * Mixins
 * ======================================================================== */

hSize($fSize)
    if $fSize > $lineHeight
        $pTop = floor(($lineHeight * 2) - $fSize)

        if $pTop < 0
            padding-top $headingLineHeight + $pTop
        else
            padding-top $headingLineHeight - $pTop

    font-size $fSize
    line-height $fSize


/**
 * Tags
 * ======================================================================== */

h1,
h2,
h3,
h4,
h5,
h6
    display block
    margin 0
    margin-bottom $headingLineHeight

    font-family $headingFontFamily
    font-weight $headingFontWeight
    line-height $headingLineHeight
    text-rendering optimizeLegibility
    vertical-align baseline

h4,
h5,
h6
    font-weight $fontWeightBold

h1
    hSize($heading1FontSize)

h2
    hSize($heading2FontSize)

h3
    hSize($heading3FontSize)

h4
    font-size $heading4FontSize

h5
    font-size $heading5FontSize

h6
    font-size $heading6FontSize


/**
 * Classes
 * ======================================================================== */