include ../../mixins/form
include ../../mixins/elements
include ../templates-form
include form

extends ../view-single

      
block single_heading_title
  | Создание типа номера

block single_heading_navigation

block single_content
  include ../templates-form
  
  +form(name="singleForm",
    novalidate="",
    form-submit="Form.create()")

    +form_roomtype_hotel

    +form_roomtype_title
    +form_roomtype_slug
    +form_roomtype_price
    +form_roomtype_beds
    +form_roomtype_rooms-count
    +form_roomtype_type
    +form_roomtype_about

    +form_template_submit
