include ../../mixins/form
include ../../mixins/elements
include ../templates-form
include form


extends ../view-single

block single_heading_back
  +button.button_clean(ui-sref="roomtypes({hotel: $stateParams.hotel})")
    .icon.icon_fa-chevron-left

block single_heading_menu
  +button.button_clean(ui-sref="roomtypes_prices({hotel: single.hotel,\
    roomtype: single.id})") Календарь цен
  +button.button_clean(ui-sref="roomtypes_rates({hotel: single.hotel,\
    roomtype: single.id})") Категории цен

block single_heading_title
  | Редактирование типа номера

block single_heading_navigation
  +button.button_red(ng-click="delete()")
    | Удалить 
    span.icon.icon_fa-trash-o
  +button.button_primary(ui-sref="roomtypes.create")
    .icon.icon_fa-plus

block single_content
  include ../templates-form

  +form(name="singleForm",
    novalidate="",
    form-submit="Form.update()")

    +form_roomtype_hotel

    tabset
      tab(heading="Информация")
        +form_roomtype_title
        +form_roomtype_slug
        //- +form_roomtype_price
        +form_roomtype_beds
        +form_roomtype_rooms-count
        +form_roomtype_type
        +form_roomtype_about

      tab(heading="Изображения")
        +form_roomtype_files

    +form_template_submit

