include ../../mixins/form
include ../../mixins/elements
include ../templates-form



mixin form_roomtype_title
  +form_template_title


mixin form_roomtype_slug
  +form_template_slug


mixin form_roomtype_price
  +form_template_sided-input("Цена за номер", "price", "")


mixin form_roomtype_beds
  +form_template_sided-input("Мест в номере", "beds", "")


mixin form_roomtype_hotel
  input._hidden(type="hidden", ng-model="single.hotel")


mixin form_roomtype_rooms-count
  +form_template_sided-input("Количество номеров",
    "rooms_total", "")(type="number")
  +form_template_sided-input("Количество номеров для бронирования",
    "rooms_available", "")(type="number", max!="<[ single.rooms_total ]>")


mixin form_roomtype_type
  +form_template_sided-select("Категория номера", "single.labels",
    "single.related_data_all.categories",
    "title")


//- Files start
mixin form_roomtype_files
  +form_template_block('Фотография номера')
    +images-single

  +form_template_block('Изображения')
    +images-list
//- Files end


//- Texts start
mixin form_roomtype_about
  +form_template_block-textarea("Входит в стоимость номера", "included")(rows="4")
  +form_template_block-textarea("Не входит в стоимость номера", "excluded")(rows="4")
  +form_template_editor("Описание", "single.about")
//- Texts end