include ../../mixins/form
include ../../mixins/elements

extends ../view-list

block list_heading_back
  +button.button_clean(ui-sref="hotels.detail({id: $stateParams.hotel})")
    .icon.icon_fa-chevron-left

block list_heading_title
  | Типы номеров

block list_heading_navigation
  .group
  +button.button_primary(ui-sref="roomtypes.create")
    | Создать
    .icon.icon_fa-plus

block list_contents_title
  .row__item._w3
    +list_field_order('title')
      | Название
  .row__item
    +list_field_order('slug')
      | Ярлык
  .row__item._wd2
    +list_field_order('beds')
      | Мест
  .row__item._wd3
    +list_field_order('rooms_total')
      | Номеров

block list_contents_items
  .row__item._w3
    | <[ item.title]>
  .row__item
    | <[ item.slug]>
  .row__item._wd2
    | <[ item.beds]>
  .row__item._wd3
    | <[ item.rooms_total]>

block list_contents_items_controls
  +button.button_small.button_green(
    ui-sref="roomtypes.detail({id: item.id})"
    )
    .icon.icon_fa-pencil