include ../../mixins/django
include ../../static/admin/mixins/form
include ../../static/admin/mixins/elements
include ../../static/admin/views/templates-form

+djExtends('"site/base.html"')

+djBlock('body')
  .p-login
    .p-login__inner
      .p-login-form
        +form(name="loginForm",
          action="./",
          method="post",
          novalidate="")
          .form-title
            span.icon.icon_fa-sign-in  
            |   Войти
          +djIf('messages|length > 0')
            +djFor('message in messages')
              .form-line.alert.alert_ghost.alert_ghost_error
                | {{message}}
          +form_template_block-input("Email", "single.email")(name="email", type="email")
          +form_template_block-input("Пароль", "single.password")(name="password", type="password")
          .form-line
            +button.button_block.button_primary(type="submit") Войти

+djBlock('scripts')
  //- 