include ../../mixins/django
include ../../static/admin/mixins/form
include ../../static/admin/mixins/elements
include ../../static/admin/views/templates-form

+djExtends('"site/base.html"')

+djBlock('body')
  .p-login
    .p-login__inner
      .p-login-form
        .form-title
          .icon.icon_fa-check.color-green
          |   Спасибо за регистрацию
        .form-line
          a.button.button_block.button_clean(href="{% url 'auth.login' %}")
            .icon.icon_fa-angle-left
            |   Войти в кабинет


+djBlock('scripts')
  //- 