include ../../mixins/django
include ../../static/admin/mixins/form
include ../../static/admin/mixins/elements
include ../../static/admin/views/templates-form

+djExtends('"site/base.html"')

+djBlock('body')
  .p-login
    .p-login__inner
      .p-login-form
        +form(name="loginForm",
          action="./",
          method="post",
          novalidate="")
          | {% csrf_token %}
          .form-title
            span.icon.icon_fa-key
            |   Смена пароля

          .form_line
            | {{ form.email.errors }}
          +form_template_block-input("Пароль", "new_password1")(type="password",
            ng-minlength="4", autocomplete="off")
          +form_template_block-input("Введите пароль повторно",
            "new_password2")(type="password")
          .form-line
            +button.button_block.button_primary(type="submit") Сменить пароль

+djBlock('scripts')
  //- 