include ../../mixins/django
include ../../static/admin/mixins/form
include ../../static/admin/mixins/elements
include ../../static/admin/views/templates-form

+djExtends('"site/base.html"')

+djBlock('body')
  .p-login
    .p-login__inner
      .p-login-form
        +form(name="loginForm",
          action="./",
          method="post",
          novalidate="")
          | {% csrf_token %}
          .form-title
            span.icon.icon_fa-key
            |   Смена пароля
          +form_template_block-input("Адрес электронной почты",
            "email")(type="email", autocomplete="off")
          .form-line
            +button.button_block.button_primary(type="submit") Сменить пароль


+djBlock('scripts')
  //- 