include ../mixins/form

.v-list-pagination(pagination='')
      a.v-list-pagination__link.v-list-pagination__link_prev(
        pagination-link="<[ list.pagination.page - 1 ]>",
        ng-if="list.pagination.page > 1")
        span.icon.icon_fa-angle-left
        | Туда

      a.v-list-pagination__link(
        pagination-link="1",
        ng-if="list.pagination.page > 1")
        | 1

      span.v-list-pagination__text(
        ng-if="list.pagination.page - 3 > 1")
        | ...

      a.v-list-pagination__link(
        pagination-link="<[ list.pagination.page - 2 ]>",
        ng-if="list.pagination.page - 2 > 1")
        | <[ list.pagination.page - 2 ]>

      a.v-list-pagination__link(
        pagination-link="<[ list.pagination.page - 1 ]>",
        ng-if="list.pagination.page - 1 > 1")
        | <[ list.pagination.page - 1 ]>

      span.v-list-pagination__text.v-list-pagination__text_current
        | Страница: <[list.pagination.page]> из <[list.pagination.pages]>

      a.v-list-pagination__link(
        pagination-link="<[ list.pagination.page + 1 ]>",
        ng-if="list.pagination.pages > list.pagination.page + 1")
        | <[ list.pagination.page + 1 ]>

      a.v-list-pagination__link(
        pagination-link="<[ list.pagination.page + 2 ]>",
        ng-if="list.pagination.pages > list.pagination.page + 2")
        | <[ list.pagination.page + 2 ]>

      span.v-list-pagination__text(
        ng-if="list.pagination.pages > list.pagination.page + 3")
        | ...

      a.v-list-pagination__link(
        pagination-link="<[ list.pagination.pages ]>",
        ng-if="list.pagination.pages > list.pagination.page")
        | <[ list.pagination.pages ]>

      a.v-list-pagination__link.v-list-pagination__link_next(
        pagination-link="<[ list.pagination.page + 1 ]>",
        ng-if="list.pagination.pages >= list.pagination.page + 1")
        | Сюда
        span.icon.icon_fa-angle-right

//- div
//-   button.button
//-     .icon.icon_fa-angle-double-left

//-   button.button(pagination-link="prev")
//-     .icon.icon_fa-angle-left

//-   .label.label_input Страница: <[list.pagination.page]> из <[list.pagination.pages]>

//-   button.button(pagination-link="next")
//-     .icon.icon_fa-angle-right

//-   button.button(pagination-link="last")
//-     .icon.icon_fa-angle-double-right