
<div class="p-hotelier-menu"><a ui-sref-active="_active" ui-sref="hotels.detail({id: $stateParams.hotel || $stateParams.id})" class="p-hotelier-menu__link">Общие сведения</a><a ui-sref-active="_active" ui-sref="roomtypes({hotel: $stateParams.hotel || $stateParams.id})" class="p-hotelier-menu__link">Типы номеров</a><a class="p-hotelier-menu__link _disabled">Контактная информация</a><a class="p-hotelier-menu__link _disabled">Отзывы</a><a class="p-hotelier-menu__link _disabled">Акции</a><a class="p-hotelier-menu__link _disabled">Бронирования</a></div>
<div class="p-hotelier-view__inner">
  <div class="p-hotelier-view__sidebar">
    <div class="p-hotelier-sidebar">
      <div class="p-hotelier-sidebar__block"><a ui-sref="hotels.create" class="button button_green button_block"><span class="icon icon_fa-plus"> </span>  Добавить гостиницу</a></div>
      <div class="p-hotelier-sidebar__block p-hotelier-sidebar__block_panel">
        <p class="highlight_blue font_medium">
          Если у Вас возникли<br>
          проблемы обратитесь<br>
          в отдел маркетинга <br>
          по телефонам:<br>
          
        </p>
        <p class="highlight_orange font_big">+38 050 3223270
        </p>
      </div>
    </div>
  </div>
  <div class="p-hotelier-view__content">
    <div class="form-title">Редактирование гостиницы<small><span ng-if="single.is_active === null">  Подана заявка на активацию</span><span ng-if="single.is_active === false">  Не активирована</span></small>
          <button type="button" class="button button button_small button_green pull-right" ng-click="activate()" ng-if="!(single.is_active === null || single.is_active === true)"><span class="icon icon_fa-trash-o">  </span>     Активировать
          </button>
    </div>
    <p ng-if="single.is_active === false || single.is_active === null" class="alert alert_ghost alert_ghost_error">
      Гостиница не активна. Это значит что она не отображается в поиске.
      Для активации необходимо заполнить всю информацию и нажать кнопку "Активировать".<br>
      Если гостиница заполнена, менеджер активирует ее.
      
      
    </p>
        <form autocomplete="off" class="form form" name="singleForm" novalidate="" form-submit="Form.update()">
          <tabset>
            <tab heading="Основное">
                      <div class="form-line form-line_sided">
                        <div class="form-line_sided__inner">
                          <div class="form-line_sided__sidebar">
                            <label for="form-element-14062061069592" class="label label_input">Название
                            </label>
                          </div>
                          <div class="form-line_sided__content">
                                <div class="row_table">
                                  <div class="row__item _w12">
                                        <input class="input input input_block group__element_first input_block group__element_first" type="text" id="form-element-14062061069592" required="" name="title" ng-model="single.title"/>
                                  </div>
                                  <div class="row__item">
                                        <div for="form-element-14062061069592" class="label label_prefix <[ (singleForm['title'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['title'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                          <div ng-if="!(singleForm['title'].$valid)" class="icon icon_fa-asterisk"></div>
                                          <div ng-if="(singleForm['title'].$valid)" class="icon icon_fa-check"></div>
                                        </div>
                                  </div>
                                </div>
                          </div>
                        </div>
                      </div>
                          <div class="form-line form-line_sided">
                            <div class="form-line_sided__inner">
                              <div class="form-line_sided__sidebar">
                                <label for="form-element-14062061069594" class="label label_input">Ярлык
                                </label>
                              </div>
                              <div class="form-line_sided__content">
                                    <div class="row_table">
                                      <div class="row__item _w12">
                                            <input class="input input input_block group__element_first input_block group__element_first" type="text" id="form-element-14062061069594" required="required" name="slug" ng-model="single.slug"/>
                                      </div>
                                      <div class="row__item">
                                            <div for="form-element-14062061069594" class="label label_prefix <[ (singleForm['slug'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['slug'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                              <div ng-if="!(singleForm['slug'].$valid)" class="icon icon_fa-asterisk"></div>
                                              <div ng-if="(singleForm['slug'].$valid)" class="icon icon_fa-check"></div>
                                            </div>
                                      </div>
                                    </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-line form-line_sided">
                            <div class="form-line_sided__inner">
                              <div class="form-line_sided__sidebar">
                                <label for="form-element-14062061069596" class="label label_input">Город
                                </label>
                              </div>
                              <div class="form-line_sided__content">
                                    <div form-select="" ng-model="single.city" form-select-data="single.related_data_all.cities" class="tags tags_single">
                                      <div ng-class="{_active: formSelect.active}" class="dropdown tags__dropdown">
                                        <div class="row_table">
                                          <div class="row__item _w12">
                                            <div class="input-wrapper">
                                                  <input class="input input input_labeled input_masked input_block group__element_first" ng-model="formSelect.filter" form-select-toggle="" id="form-element-14062061069596" size="10" name="city" placeholder="<[ (formSelect.selected.length > 0 ? formSelect.selected[0].state.name + ' обл. г.' + formSelect.selected[0].name  : '') ]>" ng-required="!(single.city|isFilled)"/>
                                              <div ng-show="!formSelect.selected.length" class="input__label icon icon_fa-chevron-down"></div>
                                              <div ng-show="formSelect.selected.length" ng-click="formSelect.remove(0)" class="input__label icon icon_fa-times"></div>
                                            </div>
                                          </div>
                                          <div class="row__item">
                                                <div for="form-element-14062061069596" class="label label_prefix <[ (singleForm['city'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['city'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                                  <div ng-if="!(singleForm['city'].$valid)" class="icon icon_fa-asterisk"></div>
                                                  <div ng-if="(singleForm['city'].$valid)" class="icon icon_fa-check"></div>
                                                </div>
                                          </div>
                                        </div>
                                        <div class="dropdown-list">
                                          <div class="dropdown-list__inner">
                                            <div ng-mousedown="formSelect.prevent($event)" class="dropdown-list__body tags__dropdown-list">
                                              <div ng-repeat="item in formSelect.dataFiltered" ng-class="{_active: formSelect.current == $index}" ng-click="formSelect.select($index)" ng-mouseover="formSelect.current = $index" class="dropdown-list__item"><[ item.state.name + ' обл. г.' + item.name  ]>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                              </div>
                            </div>
                          </div>
                  <div class="form-line form-line_double form-line form-line_double">
                            <div class="form-line_double__part">
                              <label for="form-element-14062061069597" class="label label_block">Адрес
                              </label>
                                  <div class="row_table">
                                    <div class="row__item _w12">
                                          <input class="input input input_block input_block" type="text" id="form-element-14062061069597" name="address" ng-model="single.address"/>
                                    </div>
                                  </div>
                            </div>
                            <div class="form-line_double__part">
                              <label for="form-element-14062061069599" class="label label_block">Почтовый код
                              </label>
                                  <div class="row_table">
                                    <div class="row__item _w12">
                                          <input class="input input input_block input_block" type="text" id="form-element-14062061069599" name="postal_code" ng-model="single.postal_code"/>
                                    </div>
                                  </div>
                            </div>
                  </div>
              <div class="form-delimiter"></div>
              <div class="label label_block">GPS</div>
                  <div class="form-line form-line_double form-line form-line_double">
                        <div class="form-line_double__part">
                                  <div class="form-line form-line_sided">
                                    <div class="form-line_sided__inner">
                                      <div class="form-line_sided__sidebar">
                                        <label for="form-element-140620610695912" class="label label_input">Широта(Latitude)
                                        </label>
                                      </div>
                                      <div class="form-line_sided__content">
                                            <div class="row_table">
                                              <div class="row__item _w12">
                                                    <input class="input input input_block input_block" type="text" id="form-element-140620610695912" name="gps_latitude" ng-model="single.gps_latitude"/>
                                              </div>
                                            </div>
                                      </div>
                                    </div>
                                  </div>
                        </div>
                        <div class="form-line_double__part">
                                  <div class="form-line form-line_sided">
                                    <div class="form-line_sided__inner">
                                      <div class="form-line_sided__sidebar">
                                        <label for="form-element-140620610695915" class="label label_input">Долгота(Longitude)
                                        </label>
                                      </div>
                                      <div class="form-line_sided__content">
                                            <div class="row_table">
                                              <div class="row__item _w12">
                                                    <input class="input input input_block input_block" type="text" id="form-element-140620610695915" name="gps_longitude" ng-model="single.gps_longitude"/>
                                              </div>
                                            </div>
                                      </div>
                                    </div>
                                  </div>
                        </div>
                  </div>
              <div class="form-delimiter"></div>
              <div form-datafill-numbers="hotelStars" form-datafill-numbers-count="5">
                        <div class="form-line form-line_sided">
                          <div class="form-line_sided__inner">
                            <div class="form-line_sided__sidebar">
                              <label for="form-element-140620610695917" class="label label_input">Категория звезд
                              </label>
                            </div>
                            <div class="form-line_sided__content">
                                  <div form-select="" ng-model="single.stars_category" form-select-data="hotelStars" class="tags tags_single">
                                    <div ng-class="{_active: formSelect.active}" class="dropdown tags__dropdown">
                                      <div class="row_table">
                                        <div class="row__item _w12">
                                          <div class="input-wrapper">
                                                <input class="input input input_labeled input_masked input_block" ng-model="formSelect.filter" form-select-toggle="" id="form-element-140620610695917" size="10" placeholder="<[ (formSelect.selected.length > 0 ? formSelect.selected[0].name : '') ]>"/>
                                            <div ng-show="!formSelect.selected.length" class="input__label icon icon_fa-chevron-down"></div>
                                            <div ng-show="formSelect.selected.length" ng-click="formSelect.remove(0)" class="input__label icon icon_fa-times"></div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="dropdown-list">
                                        <div class="dropdown-list__inner">
                                          <div ng-mousedown="formSelect.prevent($event)" class="dropdown-list__body tags__dropdown-list">
                                            <div ng-repeat="item in formSelect.dataFiltered" ng-class="{_active: formSelect.current == $index}" ng-click="formSelect.select($index)" ng-mouseover="formSelect.current = $index" class="dropdown-list__item"><[ item.name ]>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                          </div>
                        </div>
              </div>
                      <div class="form-line form-line_sided">
                        <div class="form-line_sided__inner">
                          <div class="form-line_sided__sidebar">
                            <label for="form-element-140620610695918" class="label label_input">Тип гостиницы
                            </label>
                          </div>
                          <div class="form-line_sided__content">
                                <div form-select="" ng-model="single.labels" form-select-data="single.related_data_all.types" multiple="multiple" class="tags tags_multiple">
                                  <div ng-class="{_active: formSelect.active}" class="dropdown tags__dropdown">
                                    <div class="row_table">
                                      <div class="row__item _w12">
                                        <div class="input-wrapper">
                                              <input class="input input input_labeled input_masked input_block" ng-model="formSelect.filter" form-select-toggle="" id="form-element-140620610695918" size="10"/>
                                          <div class="input__label icon icon_fa-chevron-down"></div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="dropdown-list">
                                      <div class="dropdown-list__inner">
                                        <div ng-mousedown="formSelect.prevent($event)" class="dropdown-list__body tags__dropdown-list">
                                          <div ng-repeat="item in formSelect.dataFiltered" ng-class="{_active: formSelect.current == $index}" ng-click="formSelect.select($index)" ng-mouseover="formSelect.current = $index" class="dropdown-list__item"><[ item.title ]>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="tags__list">
                                    <div ng-repeat="item in formSelect.selected" class="tags__item button"><[ item.title ]>
                                      <div ng-click="formSelect.remove($index)" class="tags__item-remove"></div>
                                    </div>
                                  </div>
                                </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-line form-line_sided">
                        <div class="form-line_sided__inner">
                          <div class="form-line_sided__sidebar">
                            <label for="form-element-140620610695919" class="label label_input">Услуги
                            </label>
                          </div>
                          <div class="form-line_sided__content">
                                <div form-select="" ng-model="single.labels" form-select-data="single.related_data_all.conveniences" multiple="multiple" class="tags tags_multiple">
                                  <div ng-class="{_active: formSelect.active}" class="dropdown tags__dropdown">
                                    <div class="row_table">
                                      <div class="row__item _w12">
                                        <div class="input-wrapper">
                                              <input class="input input input_labeled input_masked input_block" ng-model="formSelect.filter" form-select-toggle="" id="form-element-140620610695919" size="10"/>
                                          <div class="input__label icon icon_fa-chevron-down"></div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="dropdown-list">
                                      <div class="dropdown-list__inner">
                                        <div ng-mousedown="formSelect.prevent($event)" class="dropdown-list__body tags__dropdown-list">
                                          <div ng-repeat="item in formSelect.dataFiltered" ng-class="{_active: formSelect.current == $index}" ng-click="formSelect.select($index)" ng-mouseover="formSelect.current = $index" class="dropdown-list__item"><[ item.title ]>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="tags__list">
                                    <div ng-repeat="item in formSelect.selected" class="tags__item button"><[ item.title ]>
                                      <div ng-click="formSelect.remove($index)" class="tags__item-remove"></div>
                                    </div>
                                  </div>
                                </div>
                          </div>
                        </div>
                      </div>
                  <fieldset class="form-fieldset">
                    <legend class="form-legend">Контактные данные
                    </legend>
                            <div class="form-line form-line_sided">
                              <div class="form-line_sided__inner">
                                <div class="form-line_sided__sidebar">
                                  <label for="form-element-140620610695920" class="label label_input">Телефон
                                  </label>
                                </div>
                                <div class="form-line_sided__content">
                                      <div class="row_table">
                                        <div class="row__item _w12">
                                              <input class="input input input_block input_block" type="text" id="form-element-140620610695920" name="phone" ng-model="single.phone"/>
                                        </div>
                                      </div>
                                </div>
                              </div>
                            </div>
                            <div class="form-line form-line_sided">
                              <div class="form-line_sided__inner">
                                <div class="form-line_sided__sidebar">
                                  <label for="form-element-140620610695922" class="label label_input">Сайт
                                  </label>
                                </div>
                                <div class="form-line_sided__content">
                                      <div class="row_table">
                                        <div class="row__item _w12">
                                              <input class="input input input_block input_block" type="text" id="form-element-140620610695922" name="site" ng-model="single.site"/>
                                        </div>
                                      </div>
                                </div>
                              </div>
                            </div>
                  </fieldset>
                      <div class="form-line">
                        <div class="label label_block">Короткое описание гостиницы
                        </div>
                            <textarea class="input input_block input input_block" id="form-element-140620610695922" name="about_short" ng-model="single.about_short" rows="8"></textarea>
                      </div>
                      <div class="form-line">
                        <div class="label label_block">Описание
                        </div>
                            <textarea ng-model="single.about" ckeditor="editorOptions" form-editor-options="{      height: '400px',      width: '100%',      language: 'ru'    }"></textarea>
                      </div>
            </tab>
            <tab heading="Настройки бронирования">
                      <div class="form-line form-line_sided">
                        <div class="form-line_sided__inner">
                          <div class="form-line_sided__sidebar">
                            <label for="form-element-140620610695924" class="label label_input">Начало работы гостиницы
                            </label>
                          </div>
                          <div class="form-line_sided__content">
                                    <div class="dropdown dropdown_right">
                                          <div class="row_table">
                                            <div class="row__item">
                                              <div for="form-element-140620610695925" class="label label_prefix group__element_first"><span class="icon icon_fa-calendar"></span>
                                              </div>
                                            </div>
                                            <div class="row__item _w12">
                                                  <input class="input input input_block group__element input_block group__element" id="form-element-140620610695925" form-datepicker="" ng-model="single.working_from" name="working_from"/>
                                            </div>
                                          </div>
                                    </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-line form-line_sided">
                        <div class="form-line_sided__inner">
                          <div class="form-line_sided__sidebar">
                            <label for="form-element-140620610695927" class="label label_input">Окончание работы гостиницы
                            </label>
                          </div>
                          <div class="form-line_sided__content">
                                    <div class="dropdown dropdown_left">
                                          <div class="row_table">
                                            <div class="row__item">
                                              <div for="form-element-140620610695928" class="label label_prefix group__element_first"><span class="icon icon_fa-calendar"></span>
                                              </div>
                                            </div>
                                            <div class="row__item _w12">
                                                  <input class="input input input_block group__element input_block group__element" id="form-element-140620610695928" form-datepicker="" ng-model="single.working_till" name="working_till"/>
                                            </div>
                                          </div>
                                    </div>
                          </div>
                        </div>
                      </div>
                  <div class="form-line form-line_double form-line form-line_double">
                            <div class="form-line_double__part">
                              <label for="form-element-140620610695930" class="label label_block">Регистрация прибытия начинается
                              </label>
                                  <div class="row_table">
                                    <div class="row__item _w12">
                                          <input class="input input input_block input_block" type="text" id="form-element-140620610695930" name="arrival_from" ng-model="single.arrival_from"/>
                                    </div>
                                  </div>
                            </div>
                            <div class="form-line_double__part">
                              <label for="form-element-140620610695932" class="label label_block">Регистрация отбытия заканчивается
                              </label>
                                  <div class="row_table">
                                    <div class="row__item _w12">
                                          <input class="input input input_block input_block" type="text" id="form-element-140620610695932" name="arrival_till" ng-model="single.arrival_till"/>
                                    </div>
                                  </div>
                            </div>
                  </div>
                  <div class="form-line form-line_double form-line form-line_double" form-datafill-numbers="monthDays" form-datafill-numbers-count="31">
                        <div class="form-line_double__part">
                                  <div class="form-line form-line_sided">
                                    <div class="form-line_sided__inner">
                                      <div class="form-line_sided__sidebar">
                                        <label for="form-element-140620610695935" class="label label_input">Срок анулирования бронирования
                                        </label>
                                      </div>
                                      <div class="form-line_sided__content">
                                            <div form-select="" ng-model="single.reservation_cancellation_days" form-select-data="monthDays" class="tags tags_single">
                                              <div ng-class="{_active: formSelect.active}" class="dropdown tags__dropdown">
                                                <div class="row_table">
                                                  <div class="row__item _w12">
                                                    <div class="input-wrapper">
                                                          <input class="input input input_labeled input_masked input_block" ng-model="formSelect.filter" form-select-toggle="" id="form-element-140620610695935" size="10" placeholder="<[ (formSelect.selected.length > 0 ? formSelect.selected[0].name : '') ]>"/>
                                                      <div ng-show="!formSelect.selected.length" class="input__label icon icon_fa-chevron-down"></div>
                                                      <div ng-show="formSelect.selected.length" ng-click="formSelect.remove(0)" class="input__label icon icon_fa-times"></div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="dropdown-list">
                                                  <div class="dropdown-list__inner">
                                                    <div ng-mousedown="formSelect.prevent($event)" class="dropdown-list__body tags__dropdown-list">
                                                      <div ng-repeat="item in formSelect.dataFiltered" ng-class="{_active: formSelect.current == $index}" ng-click="formSelect.select($index)" ng-mouseover="formSelect.current = $index" class="dropdown-list__item"><[ item.name ]>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-line form-line_sided">
                                    <div class="form-line_sided__inner">
                                      <div class="form-line_sided__sidebar">
                                        <label for="form-element-140620610695936" class="label label_input">Минимальный срок бронирования
                                        </label>
                                      </div>
                                      <div class="form-line_sided__content">
                                            <div form-select="" ng-model="single.reservation_period" form-select-data="monthDays" class="tags tags_single">
                                              <div ng-class="{_active: formSelect.active}" class="dropdown tags__dropdown">
                                                <div class="row_table">
                                                  <div class="row__item _w12">
                                                    <div class="input-wrapper">
                                                          <input class="input input input_labeled input_masked input_block" ng-model="formSelect.filter" form-select-toggle="" id="form-element-140620610695936" size="10" placeholder="<[ (formSelect.selected.length > 0 ? formSelect.selected[0].name : '') ]>"/>
                                                      <div ng-show="!formSelect.selected.length" class="input__label icon icon_fa-chevron-down"></div>
                                                      <div ng-show="formSelect.selected.length" ng-click="formSelect.remove(0)" class="input__label icon icon_fa-times"></div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="dropdown-list">
                                                  <div class="dropdown-list__inner">
                                                    <div ng-mousedown="formSelect.prevent($event)" class="dropdown-list__body tags__dropdown-list">
                                                      <div ng-repeat="item in formSelect.dataFiltered" ng-class="{_active: formSelect.current == $index}" ng-click="formSelect.select($index)" ng-mouseover="formSelect.current = $index" class="dropdown-list__item"><[ item.name ]>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                      </div>
                                    </div>
                                  </div>
                        </div>
                            <div class="form-line_double__part">
                              <label for="form-element-140620610695937" class="label label_block">Описание анулирования бронирования
                              </label>
                                  <textarea class="input input_block input input_block" id="form-element-140620610695937" name="reservation_cancellation_about" ng-model="single.reservation_cancellation_about" rows="6"></textarea>
                            </div>
                  </div>
              <div class="label label_block">Предоплата по бронированиям</div>
                  <div class="form-line form-line_double form-line form-line_double">
                        <div class="form-line_double__part">
                              <div form-element="" form-input="" class="radio">
                                    <input name="reservation_prepayment_type" type="radio" value="0" ng-model="single.reservation_prepayment_type" class="radio__field" id="form-element-140620610695939" form-element-field="" form-input-field=""/>
                                    <label for="form-element-140620610695939" class="radio__label" ng-model="single.reservation_prepayment_type" value="0" form-radio="">
                                    </label>
                              </div>
                          <label for="form-element-140620610695939" class="label label_input">Посуточно</label>
                                  <div class="form-line">
                                    <div class="label label_block">Количество дней:
                                    </div>
                                        <div class="row_table">
                                          <div class="row__item _w12">
                                                <input class="input input input_block input_block" type="number" id="form-element-140620610695939" name="reservation_prepayment_daily" ng-model="single.reservation_prepayment_daily" ng-disabled="single.reservation_prepayment_type == 1" min="0" max="&lt;[single.reservation_period || 10]&gt;"/>
                                          </div>
                                        </div>
                                  </div>
                        </div>
                        <div class="form-line_double__part">
                              <div form-element="" form-input="" class="radio">
                                    <input name="reservation_prepayment_type" type="radio" value="1" ng-model="single.reservation_prepayment_type" class="radio__field" id="form-element-140620610695943" form-element-field="" form-input-field=""/>
                                    <label for="form-element-140620610695943" class="radio__label" ng-model="single.reservation_prepayment_type" value="1" form-radio="">
                                    </label>
                              </div>
                          <label for="form-element-140620610695943" class="label label_input">Процент от суммы</label>
                                  <div class="form-line">
                                    <div class="label label_block">Процент:
                                    </div>
                                        <div class="row_table">
                                          <div class="row__item _w12">
                                                <input class="input input input_block input_block" type="number" id="form-element-140620610695943" name="reservation_prepayment_percent" ng-model="single.reservation_prepayment_percent" ng-disabled="single.reservation_prepayment_type == 0" min="0" max="100"/>
                                          </div>
                                        </div>
                                  </div>
                        </div>
                  </div>
            </tab>
            <tab heading="Реквизиты">
                      <div class="form-line">
                        <div class="label label_block">Юридическое название предприятия / ФИО физического лица:
                        </div>
                            <div class="row_table">
                              <div class="row__item _w12">
                                    <input class="input input input_block input_block" type="text" id="form-element-140620610695943" name="entity_name" ng-model="single.entity_name"/>
                              </div>
                            </div>
                      </div>
                      <div class="form-line">
                        <div class="label label_block">Юридический адрес предприятия:
                        </div>
                            <textarea class="input input_block input input_block" id="form-element-140620610695943" name="entity_address" ng-model="single.entity_address" rows="6"></textarea>
                      </div>
                      <div class="form-line">
                        <div class="label label_block">Код по ЕГРПОУ (идентификационный номер) 
                        </div>
                            <div class="row_table">
                              <div class="row__item _w12">
                                    <input class="input input input_block input_block" type="text" id="form-element-140620610695943" name="entity_egrpou" ng-model="single.entity_egrpou"/>
                              </div>
                            </div>
                      </div>
                      <div class="form-line">
                        <div class="label label_block">ИНН юридического лица (только для юридических лиц)
                        </div>
                            <div class="row_table">
                              <div class="row__item _w12">
                                    <input class="input input input_block input_block" type="text" id="form-element-140620610695943" name="entity_corporate_inn" ng-model="single.entity_corporate_inn"/>
                              </div>
                            </div>
                      </div>
              <div class="form-delimiter"></div>
                      <div class="form-line">
                        <div class="label label_block">Расчетный счет для выставления счет-фактуры:
                        </div>
                            <div class="row_table">
                              <div class="row__item _w12">
                                    <input class="input input input_block input_block" type="text" id="form-element-140620610695943" name="entity_payment_account" ng-model="single.entity_payment_account"/>
                              </div>
                            </div>
                      </div>
                  <div class="form-line form-line_double form-line form-line_double">
                            <div class="form-line_double__part">
                              <label for="form-element-140620610695950" class="label label_block">Название Банка
                              </label>
                                  <div class="row_table">
                                    <div class="row__item _w12">
                                          <input class="input input input_block input_block" type="text" id="form-element-140620610695950" name="entity_payment_bank_name" ng-model="single.entity_payment_bank_name"/>
                                    </div>
                                  </div>
                            </div>
                            <div class="form-line_double__part">
                              <label for="form-element-140620610695952" class="label label_block">МФО Банка
                              </label>
                                  <div class="row_table">
                                    <div class="row__item _w12">
                                          <input class="input input input_block input_block" type="text" id="form-element-140620610695952" name="entity_payment_bank_mfo" ng-model="single.entity_payment_bank_mfo"/>
                                    </div>
                                  </div>
                            </div>
                  </div>
              <div class="form-delimiter"></div>
                      <div class="form-line">
                        <div class="label label_block">Номер банковской карты:
                        </div>
                            <div class="row_table">
                              <div class="row__item _w12">
                                    <input class="input input input_block input_block" type="text" id="form-element-140620610695952" name="entity_card_account" ng-model="single.entity_card_account"/>
                              </div>
                            </div>
                      </div>
                  <div class="form-line form-line_double form-line form-line_double">
                            <div class="form-line_double__part">
                              <label for="form-element-140620610695955" class="label label_block">Название Банка
                              </label>
                                  <div class="row_table">
                                    <div class="row__item _w12">
                                          <input class="input input input_block input_block" type="text" id="form-element-140620610695955" name="entity_card_bank_name" ng-model="single.entity_card_bank_name"/>
                                    </div>
                                  </div>
                            </div>
                            <div class="form-line_double__part">
                              <label for="form-element-140620610695957" class="label label_block">МФО Банка
                              </label>
                                  <div class="row_table">
                                    <div class="row__item _w12">
                                          <input class="input input input_block input_block" type="text" id="form-element-140620610695957" name="entity_card_bank_mfo" ng-model="single.entity_card_bank_mfo"/>
                                    </div>
                                  </div>
                            </div>
                  </div>
            </tab>
            <tab heading="Изображения">
                  <div class="form-line">
                    <div class="label label_block">Фотография гостиницы
                    </div>
                        <div ng-if="single.view_file" class="align-center">
                          <div class="thumbnail">
                            <div class="thumbnail__image"><img ng-src="&lt;[single.related_data.view_file.urls.big]&gt;"/></div>
                          </div>
                        </div>
                        <div class="form-line">
                              <div form-upload="single.view_file" form-upload-files="single.related_data.view_file" ng-file-drop="ng-file-drop" ng-file-drop-over="upload_over" class="upload">
                                    <input type="file" class="upload__field" ng-file-select="" id="form-element-140620610695959"/>
                                    <label for="form-element-140620610695959" class="button button_block upload__select">Загрузить новую
                                    </label>
                                <div class="upload__list">
                                  <div ng-repeat="upload_list__item in formUploader.uploader.queue" class="upload__item">
                                    <div class="upload__controls">
                                      <div ng-click="upload_list__item.cancel()" ng-show="upload_list__item.isUploading" class="button button_small button_red">Cancel</div>
                                      <div ng-click="upload_list__item.remove()" class="button button_small button_red">Remove</div>
                                    </div>
                                    <div ng-class="{_error: (upload_list__item.isError)}" class="progress upload__progress">
                                      <div role="progressbar" ng-style="{ 'width': upload_list__item.progress + '%' }" class="progress__bar"><[ upload_list__item.file.name ]> <[ upload_list__item.file.size/1024/1024|number:2 ]> MB</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                  </div>
                  <div class="form-line">
                    <div class="label label_block">Изображения
                    </div>
                        <div form-files-list="" class="block-list background-dark">
                          <div ng-repeat="file in single.related_data.files" class="block-list__item">
                            <div class="thumbnail">
                              <div class="thumbnail__image"><img ng-src="&lt;[file.urls.small]&gt;"/></div>
                              <div class="thumbnail__controls">
                                <div ng-click="remove($index)" class="button button_red button_small">
                                  <div class="icon icon_fa-times"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-line">
                              <div form-upload="single.files" form-upload-files="single.related_data.files" ng-file-drop="ng-file-drop" ng-file-drop-over="upload_over" class="upload">
                                    <input multiple="" type="file" class="upload__field" ng-file-select="" id="form-element-140620610695960"/>
                                    <label for="form-element-140620610695960" class="button button_block upload__select">Добавить файлы
                                    </label>
                                <div class="upload__list">
                                  <div ng-repeat="upload_list__item in formUploader.uploader.queue" class="upload__item">
                                    <div class="upload__controls">
                                      <div ng-click="upload_list__item.cancel()" ng-show="upload_list__item.isUploading" class="button button_small button_red">Cancel</div>
                                      <div ng-click="upload_list__item.remove()" class="button button_small button_red">Remove</div>
                                    </div>
                                    <div ng-class="{_error: (upload_list__item.isError)}" class="progress upload__progress">
                                      <div role="progressbar" ng-style="{ 'width': upload_list__item.progress + '%' }" class="progress__bar"><[ upload_list__item.file.name ]> <[ upload_list__item.file.size/1024/1024|number:2 ]> MB</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                  </div>
            </tab>
            <tab heading="Описания">
                      <div class="form-line">
                        <div class="label label_block">Местоположение
                        </div>
                            <textarea class="input input_block input input_block" id="form-element-140620610695960" name="conditions_location" ng-model="single.conditions_location" rows="4"></textarea>
                      </div>
                      <div class="form-line">
                        <div class="label label_block">Проезд
                        </div>
                            <textarea class="input input_block input input_block" id="form-element-140620610695960" name="conditions_driveway" ng-model="single.conditions_driveway" rows="4"></textarea>
                      </div>
                      <div class="form-line">
                        <div class="label label_block">Размещение детей и предоставление дополнительных мест
                        </div>
                            <textarea class="input input_block input input_block" id="form-element-140620610695960" name="conditions_guest_accommodation" ng-model="single.conditions_guest_accommodation" rows="4"></textarea>
                      </div>
                      <div class="form-line">
                        <div class="label label_block">НДС, Туристический сбор
                        </div>
                            <textarea class="input input_block input input_block" id="form-element-140620610695960" name="conditions_tourist_tax" ng-model="single.conditions_tourist_tax" rows="4"></textarea>
                      </div>
                      <div class="form-line">
                        <div class="label label_block">Интернет
                        </div>
                            <textarea class="input input_block input input_block" id="form-element-140620610695960" name="conditions_internet" ng-model="single.conditions_internet" rows="4"></textarea>
                      </div>
                      <div class="form-line">
                        <div class="label label_block">Депозит(Предоплата)
                        </div>
                            <textarea class="input input_block input input_block" id="form-element-140620610695960" name="conditions_deposit" ng-model="single.conditions_deposit" rows="4"></textarea>
                      </div>
                      <div class="form-line">
                        <div class="label label_block">Питание
                        </div>
                            <textarea class="input input_block input input_block" id="form-element-140620610695960" name="conditions_feeding" ng-model="single.conditions_feeding" rows="4"></textarea>
                      </div>
                      <div class="form-line">
                        <div class="label label_block">Парковка
                        </div>
                            <textarea class="input input_block input input_block" id="form-element-140620610695960" name="conditions_parking" ng-model="single.conditions_parking" rows="4"></textarea>
                      </div>
                      <div class="form-line">
                        <div class="label label_block">Домашние животные
                        </div>
                            <textarea class="input input_block input input_block" id="form-element-140620610695960" name="conditions_pets" ng-model="single.conditions_pets" rows="4"></textarea>
                      </div>
                      <div class="form-line">
                        <div class="label label_block">Лечение
                        </div>
                            <textarea class="input input_block input input_block" id="form-element-140620610695960" name="conditions_medicine" ng-model="single.conditions_medicine" rows="4"></textarea>
                      </div>
            </tab>
          </tabset>
              <div class="form-line">
                    <button type="submit" class="button button button_primary">Сохранить
                    </button>
                    <button type="button" class="button button button_clean" ng-click="Form.revertChanges()">Отменить изменения
                    </button>
              </div>
        </form>
  </div>
</div>