
<li ng-class="{_active: active, _disabled: disabled}">
  <button type="button" ng-click="select()" ng-class="{_active: active, _disabled: disabled}" tab-heading-transclude="" class="tabs__item-toggler"><[ heading ]></button>
</li>