
<div class="tabs tabs_&lt;[ type ]&gt;">
  <ul ng-class="{'_stacked': vertical, '_justified': justified}" ng-transclude="" class="tabs__togglers tabs__togglers_&lt;[ type ]&gt;"></ul>
  <div class="tabs__contents tabs__contents_&lt;[ type ]&gt;">
    <div ng-repeat="tab in tabs" ng-class="{_active: tab.active}" tab-content-transclude="tab" class="tabs__item-content"></div>
  </div>
</div>