
<div class="v-single">
  <div class="v-single__inner">
    <div class="b-heading v-single-heading">
      <div class="b-heading__navigation">
        <button class="button button_red" ng-click="delete()">Удалить <span class="icon icon_fa-trash-o"></span>
        </button>
        <button class="button button_primary" ui-sref="groups.create">
          <div class="icon icon_fa-plus"></div>
        </button>
      </div>
      <div class="b-heading__title">
        <button class="button button_clean" ng-click="history.back()">
          <div class="icon icon_fa-chevron-left"></div>
        </button>Редактирование группы
      </div>
    </div>
    <div class="v-single-contents">
      <form class="form" name="singleForm" novalidate="" form-submit="Form.update()">
        <div class="form-line form-line_sided">
          <div class="form-line form-line_sided__inner">
            <div class="form-line_sided__sidebar">
              <label for="form-element-14042070058952" class="label label_input">Название
              </label>
            </div>
            <div class="form-line_sided__content">
              <div class="row_table">
                <div class="row__item _w12">
                  <input class="input input_block group__element_first" type="text" id="form-element-14042070058952" required="" name="name" ng-model="single.name"/>
                </div>
                <div class="row__item">
                  <div for="form-element-14042070058952" class="label label_prefix <[ (singleForm.name.$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                    <div ng-if="!(singleForm.name.$valid)" class="icon icon_fa-asterisk"></div>
                    <div ng-if="(singleForm.name.$valid)" class="icon icon_fa-check"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-line form-line_sided">
          <div class="form-line form-line_sided__inner">
            <div class="form-line_sided__sidebar">
              <label for="form-element-14042070058954" class="label label_input">Разрешения
              </label>
            </div>
            <div class="form-line_sided__content">
              <div form-select="" ng-model="single.permissions" form-select-data="single.related_data_all.permissions" multiple="multiple" class="tags tags_multiple">
                <div ng-class="{_active: formSelect.active}" class="dropdown tags__dropdown">
                  <div class="row_table">
                    <div class="row__item _w12">
                      <div class="input-wrapper">
                        <input class="input input_labeled input_masked input_block" ng-model="formSelect.filter" form-select-toggle="" id="form-element-14042070058954" size="10"/>
                        <div class="input__label icon icon_fa-chevron-down"></div>
                      </div>
                    </div>
                  </div>
                  <div class="dropdown-list">
                    <div class="dropdown-list__inner">
                      <div ng-mousedown="formSelect.prevent($event)" class="dropdown-list__body tags__dropdown-list">
                        <div ng-repeat="item in formSelect.dataFiltered" ng-class="{_active: formSelect.current == $index}" ng-click="formSelect.select($index)" ng-mouseover="formSelect.current = $index" class="dropdown-list__item">&lt;[ item.name ]&gt;
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tags__list">
                  <div ng-repeat="item in formSelect.selected" class="tags__item button">&lt;[ item.name ]&gt;
                    <div ng-click="formSelect.remove($index)" class="tags__item-remove"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-line">
          <button class="button button_primary" type="submit">Сохранить
          </button>
        </div>
      </form>
    </div>
  </div>
</div>