include ../../mixins/form
include ../../mixins/elements
include ../templates-form
include form

extends ../view-single

      
block single_heading_title
  | Создание категории цены

block single_heading_navigation

block single_content
  include ../templates-form
  
  +form(name="singleForm",
    novalidate="",
    form-submit="Form.create()")

    +form_roomtype-rates_roomtype

    +form_roomtype-rates_price
    +form_roomtype-rates_about

    +form_template_submit
