include ../../mixins/form
include ../../mixins/elements
include ../templates-form
include form


extends ../view-single

block single_heading_back
  +button.button_clean(ui-sref="roomtypes_rates({hotel: $stateParams.hotel,\
    roomtype: $stateParams.roomtype})")
    .icon.icon_fa-chevron-left

block single_heading_title
  | Редактирование категории цены

block single_heading_navigation
  +button.button_red(ng-click="delete()")
    | Удалить 
    span.icon.icon_fa-trash-o
  +button.button_primary(ui-sref="roomtypes_rates.create")
    .icon.icon_fa-plus

block single_content
  include ../templates-form

  +form(name="singleForm",
    novalidate="",
    form-submit="Form.update()")

    +form_roomtype-rates_roomtype

    +form_roomtype-rates_price
    +form_roomtype-rates_about

    +form_template_submit

