include ../../mixins/form
include ../../mixins/elements
include ../templates-form


.v-price-picker
  .v-price-picker__inner
    .b-heading.v-price-picker-heading
      block price-picker_heading
        .b-heading__menu
          block price-picker_heading_menu
        .b-heading__navigation
          block price-picker_heading_navigation
        .b-heading__title
          +button.button_clean(ui-sref="roomtypes.detail({id: $stateParams.roomtype, hotel: $stateParams.hotel})")
            .icon.icon_fa-chevron-left
          | Календарь цен
          +button.button_clean(ng-click="$state.go($state.current, {}, {reload: true});")
            .icon.icon_fa-refresh

    //- .v-price-picker-controls
      .v-price-picker-controls__inner
        block price-picker_controls
          .v-price-picker-controls__sidebar
            label.label.label_button С выбранным:
            block price-picker_heading_with-selected
              //- .group
                +button.button_red
                  | Удалить
                  .icon.icon_fa-trash-o

          .v-price-picker-controls__content
            block price-picker_heading_filter
              +form.row_table(ng-submit="search.submit($event)")
                .row__item
                  block price-picker_heading_filter_controls
                .row__item._w12
                  block price-picker_heading_filter_search
                  +input.input_block.group__element_first(placeholder="Поиск", ng-model="search.params.search")
                .row__item
                  +button.button_primary.group__element_last(type="submit")
                    .icon.icon_fa-search

    .v-price-picker-contents()
      block price-picker_contents
        .price-picker(price-picker="list", price-picker-date!="pricePickerDate")
          .price-picker-pagination
            +button.button_primary.price-picker-pagination__prev(ui-sref="roomtypes_prices({year: list.pagination.prev.year,\
              month: list.pagination.prev.month})")
              .icon.icon_fa-chevron-left
            span.label.label_input-as.price-picker-pagination__current
              | <[monthNames[list.pagination.month-1]]> <[list.pagination.year]>
            +button.button_primary.price-picker-pagination__next(ui-sref="roomtypes_prices({year: list.pagination.next.year,\
              month: list.pagination.next.month})")
              .icon.icon_fa-chevron-right
          ul.price-picker-calendar(
            price-picker-calendar="",
            class="<[  (pricePicker.offset > 0 ?\
              'price-picker-calendar_offset' + pricePicker.offset : '')  ]>"
            )
            li.price-picker-calendar__item(
              ng-repeat="day in pricePicker.days"
              )
              .price-picker-calendar-day(
                ng-mousedown="pricePicker.dragStart($index)",
                ng-mouseenter="pricePicker.dragOver($index)",
                ng-mouseup="pricePicker.dragEnd($index)",
                ng-class="{_active: (day.active),\
                  _filled: (day.data.rate > 0), _disabled: (day.date < pricePicker.today)}",
                )
                .price-picker-calendar-day__number
                  | <[ day.date|date:'dd' ]>
                .price-picker-calendar-day__quota
                  small
                    |  Номеров: 
                  b 
                    |   <[ day.data.available_rooms ]> 
                .price-picker-calendar-day__price
                  | <[ day.data.price ]>
                  sub.badge.badge_blue UAH

          .price-picker-overlay(ng-class="{_active: pricePicker.selected}")
            .price-picker-overlay__back(ng-click="pricePicker.selected = false;")
            .price-picker-overlay__front

              .price-picker-form
                +form(name="singleForm",
                  novalidate="",
                  form-submit="Form.create()")

                  +form_template_sided("Дата начала")
                    +form_template_hidden("date_from", "single.date_from", "pricePicker.dayStart.date | date: 'yyyy-MM-dd'")
                    .label.label_input
                      | <[pricePicker.dayStart.date | date: 'dd.MM.yyyy']>
                  +form_template_sided("Дата конца")
                    +form_template_hidden("date_to", "single.date_to", "pricePicker.dayEnd.date | date: 'yyyy-MM-dd'")
                    .label.label_input
                      | <[pricePicker.dayEnd.date | date: 'dd.MM.yyyy']>

                  +form_template_hidden("room_type", "single.room_type")

                  +form_template_parts("double")
                    +form_template_part-select("Цена", "single.rate",
                      "list.rates",
                      "price")(required="", name="rate")
                    +form_template_part-input("Доступные номера", "available_rooms",
                      "")(type="number")
                  

                  +button.button_primary.button_block(type="submit")
                    | Сохранить