
<div class="v-single">
  <div class="v-single__inner">
    <div class="b-heading v-single-heading">
      <div class="b-heading__menu">
      </div>
      <div class="b-heading__navigation">
        <button type="button" class="button button_red" ng-click="delete()">Удалить <span class="icon icon_fa-trash-o"></span>
        </button>
        <button type="button" class="button button_primary" ui-sref="users.create">
          <div class="icon icon_fa-plus"></div>
        </button>
      </div>
      <div class="b-heading__title">
        <button type="button" class="button button_clean" ng-click="history.back()">
          <div class="icon icon_fa-chevron-left"></div>
        </button>Редактирование пользователя
      </div>
    </div>
    <div class="v-single-contents">
            <form autocomplete="off" class="form form" name="singleForm" novalidate="" form-submit="Form.update()">
                    <div class="form-line form-line_sided">
                      <div class="form-line_sided__inner">
                        <div class="form-line_sided__sidebar">
                          <label for="form-element-14054644323062" class="label label_input">Email
                          </label>
                        </div>
                        <div class="form-line_sided__content">
                          <div class="label label_input"><[ single.email ]></div>
                        </div>
                      </div>
                    </div>
                          <div class="form-line form-line_sided">
                            <div class="form-line_sided__inner">
                              <div class="form-line_sided__sidebar">
                                <label for="form-element-14054644323063" class="label label_input">Телефон
                                </label>
                              </div>
                              <div class="form-line_sided__content">
                                      <div class="row_table">
                                        <div class="row__item _w12">
                                                <input class="input input input_block input_block" type="text" id="form-element-14054644323063" name="phone" ng-model="single.phone"/>
                                        </div>
                                      </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-line form-line_sided">
                            <div class="form-line_sided__inner">
                              <div class="form-line_sided__sidebar">
                                <label for="form-element-14054644323065" class="label label_input">Группы доступа
                                </label>
                              </div>
                              <div class="form-line_sided__content">
                                      <div form-select="" ng-model="single.groups" form-select-data="single.related_data_all.groups" multiple="multiple" class="tags tags_multiple">
                                        <div ng-class="{_active: formSelect.active}" class="dropdown tags__dropdown">
                                          <div class="row_table">
                                            <div class="row__item _w12">
                                              <div class="input-wrapper">
                                                      <input class="input input input_labeled input_masked input_block" ng-model="formSelect.filter" form-select-toggle="" id="form-element-14054644323065" size="10"/>
                                                <div class="input__label icon icon_fa-chevron-down"></div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="dropdown-list">
                                            <div class="dropdown-list__inner">
                                              <div ng-mousedown="formSelect.prevent($event)" class="dropdown-list__body tags__dropdown-list">
                                                <div ng-repeat="item in formSelect.dataFiltered" ng-class="{_active: formSelect.current == $index}" ng-click="formSelect.select($index)" ng-mouseover="formSelect.current = $index" class="dropdown-list__item"><[ item.name ]>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="tags__list">
                                          <div ng-repeat="item in formSelect.selected" class="tags__item button"><[ item.name ]>
                                            <div ng-click="formSelect.remove($index)" class="tags__item-remove"></div>
                                          </div>
                                        </div>
                                      </div>
                              </div>
                            </div>
                          </div>
                    <div class="form-line form-line_double form-line form-line_double">
                            <div class="form-line_double__part">
                                          <div class="form-line form-line_sided">
                                            <div class="form-line_sided__inner">
                                              <div class="form-line_sided__sidebar">
                                                <label for="form-element-14054644323067" class="label label_input">Активен
                                                </label>
                                              </div>
                                              <div class="form-line_sided__content">
                                                <div class="label label_input">
                                                        <label form-element="" form-input="" class="switch">
                                                                <input name="is_active" type="checkbox" ng-model="single.is_active" class="switch__field" id="form-element-14054644323067" form-element-field="" form-input-field=""/>
                                                                <label for="form-element-14054644323067" class="switch__label" ng-model="single.is_active" form-checkbox="">
                                                                </label>
                                                        </label>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                            </div>
                            <div class="form-line_double__part">
                                          <div class="form-line form-line_sided">
                                            <div class="form-line_sided__inner">
                                              <div class="form-line_sided__sidebar">
                                                <label for="form-element-140546443230610" class="label label_input">Суперпользователь
                                                </label>
                                              </div>
                                              <div class="form-line_sided__content">
                                                <div class="label label_input">
                                                        <label form-element="" form-input="" class="switch">
                                                                <input name="is_superuser" type="checkbox" ng-model="single.is_superuser" class="switch__field" id="form-element-140546443230610" form-element-field="" form-input-field=""/>
                                                                <label for="form-element-140546443230610" class="switch__label" ng-model="single.is_superuser" form-checkbox="">
                                                                </label>
                                                        </label>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                            </div>
                    </div>
                    <fieldset class="form-fieldset">
                      <legend class="form-legend">Паспортные данные
                      </legend>
                            <div class="form-line form-line_triple form-line form-line_triple">
                                          <div class="form-line_triple__part">
                                            <label for="form-element-140546443230612" class="label label_block">Фамилия
                                            </label>
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-140546443230612" name="last_name" ng-model="single.last_name"/>
                                                    </div>
                                                  </div>
                                          </div>
                                          <div class="form-line_triple__part">
                                            <label for="form-element-140546443230614" class="label label_block">Имя
                                            </label>
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-140546443230614" name="first_name" ng-model="single.first_name"/>
                                                    </div>
                                                  </div>
                                          </div>
                                          <div class="form-line_triple__part">
                                            <label for="form-element-140546443230616" class="label label_block">Отчество
                                            </label>
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-140546443230616" name="middle_name" ng-model="single.middle_name"/>
                                                    </div>
                                                  </div>
                                          </div>
                            </div>
                      <div class="form-line form-line_sided">
                        <div class="form-line_sided__inner">
                          <div class="form-line_sided__sidebar">
                            <label for="form-element-140546443230618" class="label label_block">Серия</label>
                                  <div class="row_table">
                                    <div class="row__item _w12">
                                            <input class="input input input_block input_block" name="passport_series" type="text" ng-model="single.passport_series" id="form-element-140546443230618"/>
                                    </div>
                                  </div>
                          </div>
                          <div class="form-line_sided__content">
                            <label for="form-element-140546443230620" class="label label_block">Код паспорта</label>
                                  <div class="row_table">
                                    <div class="row__item _w12">
                                            <input class="input input input_block input_block" name="passport_code" type="text" ng-model="single.passport_code" id="form-element-140546443230620"/>
                                    </div>
                                  </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-line form-line">
                        <label for="form-element-140546443230622" class="label label_block">Кем и кода паспорт выдан </label>
                              <div class="row_table">
                                <div class="row__item _w12">
                                        <input class="input input input_block input_block" name="passport_issued" type="text" ng-model="single.passport_issued" id="form-element-140546443230622"/>
                                </div>
                              </div>
                      </div>
                    </fieldset>
                    <fieldset class="form-fieldset">
                      <legend class="form-legend">Уведомления
                      </legend>
                            <div class="form-line form-line_double form-line form-line_double">
                                    <div class="form-line_double__part">
                                                  <div class="form-line form-line_sided">
                                                    <div class="form-line_sided__inner">
                                                      <div class="form-line_sided__sidebar">
                                                        <label for="form-element-140546443230625" class="label label_input">Отправлять смс уведомления
                                                        </label>
                                                      </div>
                                                      <div class="form-line_sided__content">
                                                        <div class="label label_input">
                                                                <label form-element="" form-input="" class="switch">
                                                                        <input name="send_sms" type="checkbox" ng-model="single.send_sms" class="switch__field" id="form-element-140546443230625" form-element-field="" form-input-field=""/>
                                                                        <label for="form-element-140546443230625" class="switch__label" ng-model="single.send_sms" form-checkbox="">
                                                                        </label>
                                                                </label>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                    </div>
                                    <div class="form-line_double__part">
                                                  <div class="form-line form-line_sided">
                                                    <div class="form-line_sided__inner">
                                                      <div class="form-line_sided__sidebar">
                                                        <label for="form-element-140546443230628" class="label label_input">Отправлять email уведомления
                                                        </label>
                                                      </div>
                                                      <div class="form-line_sided__content">
                                                        <div class="label label_input">
                                                                <label form-element="" form-input="" class="switch">
                                                                        <input name="send_email" type="checkbox" ng-model="single.send_email" class="switch__field" id="form-element-140546443230628" form-element-field="" form-input-field=""/>
                                                                        <label for="form-element-140546443230628" class="switch__label" ng-model="single.send_email" form-checkbox="">
                                                                        </label>
                                                                </label>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                    </div>
                            </div>
                    </fieldset>
                    <div class="form-line">
                            <button type="submit" class="button button button_primary">Сохранить
                            </button>
                            <button type="button" class="button button button_clean" ng-click="Form.revertChanges()">Отменить изменения
                            </button>
                    </div>
            </form>
    </div>
  </div>
</div>