
{% extends "site/base.html" %}
{% block title %}
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
{% block body-header %}
<div class="header">
  <div class="header__body"><a href="{% url 'site' %}" class="header__logo"></a>
    <div class="header__controls">
{% block body-header-controls %}
{% if request.user.is_anonymous %}<span class="dropdown header__cabinet__dropdown dropdown_left"><span class="header__controls__button dropdown-toggle header__cabinet__dropdown-toggle">  ВОЙТИ</span>
        <div class="dropdown-list">
          <div class="dropdown-list__inner">
            <div class="dropdown-list__body">
              <div class="dropdown-list__body-wrapper">
                <form action="{% url 'auth.login' %}" method="post" style="width: 270px;">
                  <div class="footer__login__title">Войдите в свой аккаунт  
                  </div>
                  <div class="form-line form-line_small">
                    <div class="row row_clean-sides">
                      <div class="row__item _w4">
                        <div class="label label_input label_input-medium">Email</div>
                      </div>
                      <div class="row__item _w8">
                        <input class="input input_block input_medium" name="email" type="email"/>
                      </div>
                    </div>
                  </div>
                  <div class="form-line form-line_small">
                    <div class="row row_clean-sides">
                      <div class="row__item _w4">
                        <div class="label label_input label_input-medium">Пароль</div>
                      </div>
                      <div class="row__item _w8">
                        <input class="input input_block input_medium" name="password" type="password"/>
                      </div>
                    </div>
                  </div>
                  <button class="button button_block button_medium button_primary">Вход</button>
                </form>
              </div>
            </div>
          </div>
        </div></span>
{% endif %}

{% if request.user.is_hotelier %}<span class="dropdown header__cabinet__dropdown dropdown_left">
        <div class="header__controls__button dropdown-toggle header__cabinet__dropdown-toggle">  ЛИЧНЫЙ КАБИНЕТ
        </div>
        <div class="dropdown-list">
          <div class="dropdown-list__inner">
            <div class="dropdown-list__body"><a href="{% url 'site' %}" class="dropdown-list__item header__cabinet__dropdown-link">На сайт
                <div class="icon icon_fa-home"></div></a><a href="{% url 'hotelier' %}" class="dropdown-list__item header__cabinet__dropdown-link">Мои гостиницы
                <div class="icon icon_fa-h-square"></div></a><a href="{% url 'auth.logout' %}" class="dropdown-list__item header__cabinet__dropdown-link">Выйти
                <div class="icon icon_fa-sign-out"></div></a></div>
          </div>
        </div></span>
{% endif %}

{% endblock %}

    </div>
    <div class="header__content">
{% block body-header-content %}
      <div class="header__content__phone">{{request.azovhotels_config.service_phone|default:''}}
      </div>
      <div class="header__content__info"></div><a class="header__link">заказать обратный звонок</a>
{% endblock %}

    </div>
  </div>
</div>
{% endblock %}

{% block body-content %}
{% endblock %}

<div class="footer">
  <div class="footer__body">
{% block body-footer %}
{% block body-footer-first %}
    <div class="footer__links">
{% if menus.slug_azovhotels %}<a href="{% url 'site.pages-detail' menus.slug_azovhotels.id menus.slug_azovhotels.slug %}" class="footer__links__item">Об Азовхотелс</a>
{% endif %}

{% if not request.user.is_hotelier %}<a href="#" class="footer__links__item">Партнерская программа для отелей</a>
{% endif %}

{% if menus.slug_help %}<a href="{% url 'site.pages-detail' menus.slug_help.id menus.slug_help.slug %}" class="footer__links__item">Служба поддержки клиентов</a>
{% endif %}

{% if menus.slug_fuq %}<a href="{% url 'site.pages-detail' menus.slug_fuq.id menus.slug_fuq.slug %}" class="footer__links__item">ЧАВО</a>
{% endif %}

{% if menus.slug_conditions %}<a href="{% url 'site.pages-detail' menus.slug_conditions.id menus.slug_conditions.slug %}" class="footer__links__item">Правила и условия</a>
{% endif %}

{% if menus.slug_confidential %}<a href="{% url 'site.pages-detail' menus.slug_confidential.id menus.slug_confidential.slug %}" class="footer__links__item">Конфиденциальность и Кукис</a>
{% endif %}

{% if menus.slug_carrier %}<a href="{% url 'site.pages-detail' menus.slug_carrier.id menus.slug_carrier.slug %}" class="footer__links__item">Карьера</a>
{% endif %}

    </div>
    <div class="content__delimiter"></div>
{% endblock %}

{% block body-footer-second %}
    <div class="footer__second row row_clean-sides">
      <div class="row__item _w4">
        <form action="{% url 'auth.login' %}" method="post" class="footer__login">
          <div class="footer__login__title">
            Вход для отельеров  
              |  <a href="{% url 'hotelier-register' %}" class="link_red">регистрация</a>
          </div>
          <div class="form-line form-line_small">
            <div class="row row_clean-sides">
              <div class="row__item _w3">
                <div class="label label_input label_input-medium">Email</div>
              </div>
              <div class="row__item _w9">
                <input class="input input_block input_medium" name="email" type="email"/>
              </div>
            </div>
          </div>
          <div class="form-line form-line_small">
            <div class="row row_clean-sides">
              <div class="row__item _w3">
                <div class="label label_input label_input-medium">Пароль</div>
              </div>
              <div class="row__item _w9">
                <input class="input input_block input_medium" name="password" type="password"/>
              </div>
            </div>
          </div>
          <div class="form-line">
            <button class="button button_block button_medium button_primary">Вход</button>
          </div>
        </form>
      </div>
      <div class="row__item _w4">
        <div class="footer__copyright">
          <div class="footer__copyright__links">
{% if menus.slug_hoteliers %}<a href="{% url 'site.pages-detail' menus.slug_hoteliers.id menus.slug_hoteliers.slug %}" class="footer__links__item">Отельерам</a>
{% endif %}

{% if menus.slug_tourists %}<a href="{% url 'site.pages-detail' menus.slug_tourists.id menus.slug_tourists.slug %}" class="footer__links__item">Турфирмам</a>
{% endif %}

{% if menus.slug_advertisement %}<a href="{% url 'site.pages-detail' menus.slug_advertisement.id menus.slug_advertisement.slug %}" class="footer__links__item">Реклама на сайте</a>
{% endif %}

{% if menus.slug_azovhotels %}<a href="{% url 'site.pages-detail' menus.slug_azovhotels.id menus.slug_azovhotels.slug %}" class="footer__links__item">О нас</a>
{% endif %}

          </div>
          <p>Использование любых материалов, размещённых на сайте, разрешается при условии индексируемой ссылки на сайт azovhotels.ua</p>
          <p>&copy; 2013 - {% now "Y" %} AzovHotels, все права защищены</p>
        </div>
      </div>
      <div class="row__item _w4">
        <div class="footer__social">
{% if request.azovhotels_metadata.service_facebook %}<a href="{{request.azovhotels_metadata.service_facebook}}" target="new" class="footer__social__icon footer__social__icon_facebook"></a>
{% endif %}

{% if request.azovhotels_metadata.service_twitter %}<a href="{{request.azovhotels_metadata.service_twitter}}" target="new" class="footer__social__icon footer__social__icon_twitter"></a>
{% endif %}

{% if request.azovhotels_metadata.service_linkedin %}<a href="{{request.azovhotels_metadata.service_linkedin}}" target="new" class="footer__social__icon footer__social__icon_linkedin"></a>
{% endif %}

{% if request.azovhotels_metadata.service_vk %}<a href="{{request.azovhotels_metadata.service_vk}}" target="new" class="footer__social__icon footer__social__icon_vk"></a>
{% endif %}

{% if request.azovhotels_metadata.service_odnoklassniki %}<a href="{{request.azovhotels_metadata.service_odnoklassniki}}" target="new" class="footer__social__icon footer__social__icon_odnoklassniki"></a>
{% endif %}

{% if request.azovhotels_metadata.service_youtube %}<a href="{{request.azovhotels_metadata.service_youtube}}" target="new" class="footer__social__icon footer__social__icon_youtube"></a>
{% endif %}

        </div>
        <div class="footer__contract footer_font">
{% if menus.slug_confidential %}<a href="{% url 'site.pages-detail' menus.slug_confidential.id menus.slug_confidential.slug %}">Договор о конфиденциальности</a>
{% endif %}

{% if menus.slug_public_offer %}<a href="{% url 'site.pages-detail' menus.slug_public_offer.id menus.slug_public_offer.slug %}">Публичная оферта</a>
{% endif %}

        </div>
      </div>
    </div>
{% endblock %}

{% endblock %}

  </div>
</div>
{% endblock %}
