
{% extends "site/base-front.html" %}
{% block body-footer-first %}
{% if request.azovhotels_metadata.text_footer %}
<p class="footer_font">{{request.azovhotels_metadata.text_footer|default:''}}</p>
<div class="content__delimiter"></div>
{% endif %}

{% endblock %}
