
{% extends "site/base-front-footer-text.html" %}{% load main %}
{% block title %}
{% endblock %}

{% block head %}
{% endblock %}

{% block body-content %}
<div class="content">
  <div class="content__body">
    <div class="p-hotel">
      <div class="p-hotel-header">
        <div class="p-hotel-header__inner">
          <div class="p-hotel-header__sidebar">
            <div class="p-hotel-reserve">
              <button type="button" disabled="" class="button button_primary button_block _disabled">Забронировать</button>
              <div class="p-hotel-reserve__price">от <span>{{hotel.min_price|default:0|floatformat}}</span>грн в сутки</div>
            </div>
            <div class="p-hotel-marks">
              <div class="p-hotel-marks__stars">Оценка:
                <div class="marks">
{% for i in hotel.stars_category|get_range %}
                  <div class="marks__item marks__item_marked"></div>
{% endfor %}

{% for i in 5|subtract:hotel.stars_category|get_range %}
                  <div class="marks__item"></div>
{% endfor %}

                </div>
              </div>
            </div>
            <div class="p-hotel-phone-reserve">
              <div class="p-hotel-phone-reserve__title">Забронируйте <br> номер по телефону</div>
              <div class="p-hotel-phone-reserve__phone">{{request.azovhotels_config.service_phone|default:''}}</div><a href="#" class="p-hotel-phone-reserve__explain">заказать обратный звонок</a>
            </div>
          </div>
          <div class="p-hotel-header__content">
            <div class="p-hotel-title">{{hotel.title}}
              <div class="p-hotel-title__address">{{hotel.address|default:''}}</div>
            </div>
            <div widget-tabs="" class="p-hotel-galery">
              <div class="p-hotel-galery__full">
{% for i in hotel.related_data.files|length|get_range %}<a href="{{hotel.related_data.files|access:i|access:'url'}}" data-lightbox="hotel-galery" ng-class="{_active: (currentTab == {{i}})}" class="p-hotel-galery__full__image"><img src="{{hotel.related_data.files|access:i|access:'urls'|access:'big'}}" width="700" height="410"/></a>
{% endfor %}

              </div>
              <div class="p-hotel-galery__images">
{% for i in hotel.related_data.files|length|get_range %}
                <div ng-click="changeTab({{i}})" ng-class="{_active: (currentTab == {{i}})}" class="p-hotel-galery__thumbnail"><img src="{{hotel.related_data.files|access:i|access:'urls'|access:'small'}}"/></div>
{% endfor %}

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-hotel-content">
        <div widget-tabs="" class="p-hotel-tabs">
          <div class="p-hotel-tabs__handlers">
            <div ng-click="changeTab(0)" ng-class="{_active: (currentTab == 0)}" class="p-hotel-tabs__handler">Номера и цены</div>
            <div ng-click="changeTab(2)" ng-class="{_active: (currentTab == 2)}" class="p-hotel-tabs__handler">Контакты</div>
          </div>
          <div class="p-hotel-tabs__contents">
            <div ng-class="{_active: (currentTab == 0)}" class="p-hotel-tabs__item _active">
              <form action="{% url 'site.hotels-detail' hotel.id hotel.slug %}" method="post" class="p-hotel-search">{% csrf_token %}
                <div class="row row_padded">
                  <div class="row__item _w5">
                    <div class="label label_block">Даты заезда и выезда</div>
                    <div class="form-line_double">
                      <div class="form-line_double__part">
                        <div class="input-wrapper input-wrapper__block_hard">
                          <div class="input_labeled_icon-icon input_labeled_icon-icon_calendar"></div>
                          <input class="input input_labeled_icon input_block" placeholder="прибытие" name="date_arrival" type="text" value="{{request.COOKIES.date_arrival}}" id="datepicker_search_start"/>
                        </div>
                      </div>
                      <div class="form-line_double__part">
                        <div class="input-wrapper input-wrapper__block_hard">
                          <div class="input_labeled_icon-icon input_labeled_icon-icon_calendar"></div>
                          <input class="input input_labeled_icon input_block" placeholder="выезд" name="date_leave" type="text" value="{{request.COOKIES.date_leave}}" id="datepicker_search_end"/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row__item _w3">
                    <div class="label label_block">Количество гостей</div>
                    <div class="input-wrapper input-wrapper__block_hard">
                      <div class="input_labeled_icon-icon input_labeled_icon-icon_user"></div>
                      <input class="input input_labeled_icon input_block" placeholder="гости" name="guests" type="number" min="1" value="{{request.COOKIES.guests}}"/>
                    </div>
                  </div>
                  <div class="row__item _w4">
                    <div class="label label_block">&nbsp;</div>
                    <button type="submit" class="button button_orange button_block">Найти номера
                    </button>
                  </div>
                </div>
              </form>
              <div class="p-hotel-room-types">
{% for room_type in room_types %}
                <div class="p-hotel-room-types__item">
                  <div class="p-hotel-room row row_clean-sides">
                    <div class="row__item _w3">
                      <div class="p-hotel-room__image"><img src="{{room_type.related_data.view_file.urls.medium}}"/>
                      </div>
                    </div>
                    <div class="p-hotel-room__content row__item _w9">
                      <div class="p-hotel-room__confs row row_clean-sides">
                        <div class="p-hotel-room__confs__in-salary row__item _w5">
                          <div class="p-hotel-room__title">{{room_type.title}}</div>
                        </div>
                        <div class="p-hotel-room__confs__price row__item _w4">
                          <div class="p-hotel-reserve__price"><span>{{room_type.min_price|default:room_type.price|floatformat}}</span>грн в сутки</div>
                        </div>
                        <div class="p-hotel-room__confs__reserve row__item _w3">
                          <button type="button" disabled="" class="button button_block button_primary button_medium _disabled">Забронировать</button>
                        </div>
                      </div>
                      <div class="p-hotel-room__about">
                        <div><b>Описание:</b></div>
                        <div>{{room_type.about|default:'Описание отсутствует.'|safe}}</div>
                        <div class="row row_padded">
{% if room_type.included %}
                          <div class="row__item _w6"><b>Входит в стоимость:  </b>  {{room_type.included|default:''}}</div>
{% endif %}

{% if room_type.excluded %}
                          <div class="row__item _w6"><b>Не входит в стоимость:  </b>  {{room_type.excluded|default:''}}</div>
{% endif %}

                        </div>
                      </div>
                      <div class="p-hotel-room__galery">
                        <div class="p-hotel-galery__images">
{% for file in room_type.related_data.files %}<a href="{{file.url}}" data-lightbox="roomtype-{{room_type.id}}" class="p-hotel-galery__thumbnail"><img src="{{file.urls.small}}"/></a>
{% endfor %}

                        </div>
                      </div>
                    </div>
                  </div>
                </div>{% empty %}<span>Подходящие номера не найдены.</span>
{% endfor %}

              </div>
            </div>
            <div ng-class="{_active: (currentTab == 2)}" class="p-hotel-tabs__item">
              <div class="p-hotel-contacts"><span class="p-hotel-contacts__phone">{{request.azovhotels_config.service_phone|default:''}}</span>
              </div>
            </div>
          </div>
          <div class="p-hotel-about">
            <div class="row row_padded">
              <div class="row__item _wd9">
                <h4>Описание отеля</h4>{{hotel.about|default:''|safe}}
{% if hotel.conditions_location %}
                <h5>Расположение отеля</h5>
                <p>{{hotel.conditions_location|linebreaksbr}}</p>
{% endif %}

{% if hotel.conditions_driveway %}
                <h5>Информация о проезде</h5>
                <p>{{hotel.conditions_driveway|linebreaksbr}}</p>
{% endif %}

              </div>
              <div class="row__item _wd6">
                <h4>Порядок проживания</h4>
                <h5>РЕГИСТРАЦИЯ</h5>
                <p>
                  Регистрация заезда: - с {{hotel.arrival_from|default:'14:00'}} часов.<br>
                  Регистрация отъезда: - до {{hotel.arrival_till|default:'12:00'}} часов
                  
                </p>
{% if hotel.reservation_cancellation_about %}
                <h5>Аннуляция бронирования</h5>
                <p>{{hotel.reservation_cancellation_about|linebreaksbr}}</p>
{% endif %}

{% if hotel.conditions_guest_accommodation %}
                <h5>Размещение детей и предоставление дополнительных мест</h5>
                <p>{{hotel.conditions_guest_accommodation|linebreaksbr}}</p>
{% endif %}

{% if hotel.conditions_tourist_tax %}
                <h5>НДС, Туристический сбор</h5>
                <p>{{hotel.conditions_tourist_tax|linebreaksbr}}</p>
{% endif %}

{% if hotel.conditions_pets %}
                <h5>Домашние животные</h5>
                <p>{{hotel.conditions_pets|linebreaksbr}}</p>
{% endif %}

              </div>
              <div class="row__item _wd5">
                <h4>Услуги и удобства</h4>
{% if hotel.conditions_feeding %}
                <h5>Питание</h5>
                <p>{{hotel.conditions_feeding|linebreaksbr}}</p>
{% endif %}

{% if hotel.conditions_internet %}
                <h5>Интернет</h5>
                <p>{{hotel.conditions_internet|linebreaksbr}}</p>
{% endif %}

{% if hotel.conditions_parking %}
                <h5>Услуги по парковке</h5>
                <p>{{hotel.conditions_parking|linebreaksbr}}</p>
{% endif %}

{% if hotel.conditions_medicine %}
                <h5>Лечение</h5>
                <p>{{hotel.conditions_medicine|linebreaksbr}}</p>
{% endif %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
