
{% extends "site/base-front-footer-text.html" %}{% load main %}
{% block title %}
{% endblock %}

{% block head %}
{% endblock %}

{% block body-content %}
<div class="content">
  <div class="content__body">
    <div class="p-register">
      <div class="row row_padded">
        <div class="row__item _w6">
          <h2>Регистрация объекта
            <div class="color-red"><small class="p-register__small">
                * поля обязательные к заполнению
                </small></div>
          </h2>
          <form method="post" action="{% url 'azovhotels.views.site.register.hotelier_register' %}">{% csrf_token %}
            <div class="form-line">
              <label for="form-element-14066113536911" class="label label_block p-register__label">Название обьекта<span class="color-red">   *</span>
              </label>
              <input class="input input_block" type="text" id="form-element-14066113536911" required="" name="title"/>
            </div>
            <div class="form-line">
              <label for="form-element-14066113536912" class="label label_block p-register__label">Тип обьекта<span class="color-red">   *</span>
              </label>
              <div class="input-wrapper">
                <label for="form-element-14066113536912" class="input input_select input_block" form-element="">
                  <select name="type" required="" class="input__field" id="form-element-14066113536912" form-element-field="">
                    <option></option>
{% for label in hotel_types %}
                    <option value="{{label.id}}">{{label.title}}</option>
{% endfor %}

                  </select>
                </label>
                <div class="input__label icon icon_fa-chevron-down"></div>
              </div>
            </div>
            <div class="form-line">
              <label for="form-element-14066113536914" class="label label_block p-register__label">Город<span class="color-red">   *</span>
              </label>
              <div class="input-wrapper">
                <label for="form-element-14066113536914" class="input input_select input_block" form-element="">
                  <select name="city" required="" class="input__field" id="form-element-14066113536914" form-element-field="">
                    <option></option>
{% for city in hotel_cities %}
                    <option value="{{city.id}}">{{city.name}}</option>
{% endfor %}

                  </select>
                </label>
                <div class="input__label icon icon_fa-chevron-down"></div>
              </div>
            </div>
            <div class="form-line">
              <label for="form-element-14066113536916" class="label label_block p-register__label">Фамилия<span class="color-red">   *</span>
              </label>
              <input class="input input_block" type="text" id="form-element-14066113536916" required="" name="last_name"/>
            </div>
            <div class="form-line">
              <label for="form-element-14066113536917" class="label label_block p-register__label">Имя<span class="color-red">   *</span>
              </label>
              <input class="input input_block" type="text" id="form-element-14066113536917" required="" name="first_name"/>
            </div>
            <div class="form-line">
              <label for="form-element-14066113536918" class="label label_block p-register__label">Отчество<span class="color-red">   *</span>
              </label>
              <input class="input input_block" type="text" id="form-element-14066113536918" required="" name="middle_name"/>
            </div>
            <div class="form-line">
              <label for="form-element-14066113536919" class="label label_block p-register__label">Должность<span class="color-red">   *</span>
              </label>
              <input class="input input_block" type="text" id="form-element-14066113536919" required="" name="position"/>
            </div>
            <div class="form-line">
              <label for="form-element-140661135369110" class="label label_block p-register__label">Адрес электронной почты<span class="color-red">   *</span>
              </label>
              <input class="input input_block" type="email" id="form-element-140661135369110" required="" name="email"/>
            </div>
            <div class="form-line">
              <label for="form-element-140661135369111" class="label label_block p-register__label">Пароль<span class="color-red">   *</span>
              </label>
              <input class="input input_block" type="password" id="form-element-140661135369111" required="" name="password"/>
            </div>
            <div class="form-line">
              <label for="form-element-140661135369112" class="label label_block p-register__label">Подтвердите пароль<span class="color-red">   *</span>
              </label>
              <input class="input input_block" type="password" id="form-element-140661135369112" required="" name="password_confirm"/>
            </div>
            <div class="form-line">
              <label for="form-element-140661135369113" class="label label_block p-register__label">Телефон<span class="color-red">   *</span>
              </label>
              <input class="input input_block" type="text" id="form-element-140661135369113" required="" name="phone"/>
            </div>
            <div class="form-line">
              <label for="form-element-140661135369114" class="label label_block p-register__label">Адрес сайта
              </label>
              <input class="input input_block" type="text" id="form-element-140661135369114" name="site"/>
            </div>
            <div class="checkbox-outfill form-line">
              <input type="checkbox" name="terms" required="" class="checkbox-outfill__checkbox"/><small class="p-register__small checkbox-outfill__text">
                Я прочитал(а) и принимаю Положения и условия<br>
                и Политику конфиденциальности этого веб-сайта
                </small>
            </div>
            <button type="submit" class="button button_block button_red">Зарегистрировать
            </button>
          </form>
        </div>
        <div class="row__item _w6">
          <h2>Как это работает?</h2>
          <h3 class="p-register__heading-red">
            Azovhotels.ua - <br>
            это Ваша гарантированная прибыль!
            
          </h3>
          <p>Azovhotels.ua лидер в области online бронирования отелей Азовского побережья. Бронировать номера на нашем сайте могут все: и туристы, и деловие люди.</p>
          <p>Собственникам отеля мы гарантируем загрузку номерного фонда (повышение продаж отеля) благодаря эффективной системе продвижения отеля. Она дает возможность любому гостиничному объекту: малому или крупному, увеличить свою прибыль и повысить узнаваемость на рынке.</p>
          <p>
            Модель работы Azovhotels.ua основана на комиссионном вознаграждении и принесла прибыль более 670 отелям.
            
          </p>
          <h3 class="p-register__heading-red">
            Эффективная система продвижения отелей:
            
          </h3>
          <ul>
            <li>система online бронирования отелей</li>
            <li>продвижение отеля в сети</li>
            <li>управление отелем online (автоматизация)</li>
            <li>комплексное снабжение отеля</li>
          </ul>
          <h3 class="p-register__heading-red">
            Гарнтированный результат:
            
          </h3>
          <ul>
            <li>Ваш отель в ТОПе поисковых систем</li>
            <li>Увеличение количества проданных номеров</li>
            <li>Повышение рейтинга и узнаваемости</li>
            <li>Круглосуточная поддержка</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
