
{% extends "site/base-front.html" %}{% load main %}
{% block title %}
{% endblock %}

{% block head %}
{% endblock %}

{% block body-content %}
<div class="p-home-header">
  <div class="p-home-header__image"></div>
  <div class="p-home-header__body">
    <div class="p-home-header__inner">
      <form action="{% url 'site.hotels-list' %}" method="post" class="p-home-search">{% csrf_token %}
        <div class="input-wrapper">
          <input class="input p-home-search__input_dest" placeholder="Найти город или отель" name="destination" type="text"/>
        </div>
        <div class="input-wrapper">
          <div class="input_labeled_icon-icon input_labeled_icon-icon_calendar"></div>
          <input class="input input_labeled_icon p-home-search__input_arriv" placeholder="прибытие" name="date_arrival" type="text" id="datepicker_search_start"/>
        </div>
        <div class="input-wrapper">
          <div class="input_labeled_icon-icon input_labeled_icon-icon_calendar"></div>
          <input class="input input_labeled_icon p-home-search__input_leave" placeholder="выезд" name="date_leave" type="text" id="datepicker_search_end"/>
        </div>
        <div class="input-wrapper">
          <div class="input_labeled_icon-icon input_labeled_icon-icon_user"></div>
          <input class="input input_labeled_icon p-home-search__input_guests" placeholder="гости" name="guests" type="number" min="1"/>
        </div>
        <div class="input-wrapper">
          <button type="submit" class="button button_primary p-home-search__input_button">Найти отель
          </button>
        </div>
      </form>
      <div class="p-home-header__icons">
        <div class="p-home-header__icons-item p-home-header__icons-item_marker">
          Все отели Азовского<br>
          побережья
        </div>
        <div class="p-home-header__icons-item p-home-header__icons-item_check">
          Бронируйте онлайн,<br>
          платите во время проживания!
        </div>
        <div class="p-home-header__icons-item p-home-header__icons-item_reverse">
          Бесплатная отмена бронирования<br>
          для большинства вариантов
        </div>
        <div class="p-home-header__icons-item p-home-header__icons-item_safe">
          Гарантия лучшей<br>
          цены
          
          
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="content__body">
    <div class="p-home-cities">
      <div class="row row_padded">
        <div class="row__item _w6">
{% with cities.0 as city %}
          <form action="{% url 'site.hotels-list' %}" method="POST">
            <input type="hidden" name="destination" value="{{city.name}}"/>{% csrf_token %}<a href="#" onclick="$(this).closest('form').submit()" class="p-home-cities__main">
              <div class="p-home-cities__main-title">{{city.name}}</div>
              <div class="p-home-cities__main-counter">{{city.hotels_count}} вариант(ов) размещения</div></a>
          </form>
{% endwith %}

        </div>
        <div class="row__item _w6"><a href="#" class="p-home-cities__all">
             
            Все города({{cities|length}})</a>
{% for city in cities|slice:"1:5" %}
          <form action="{% url 'site.hotels-list' %}" method="POST" class="p-home-cities__item">
            <input type="hidden" name="destination" value="{{city.name}}"/>{% csrf_token %}<a href="#" onclick="$(this).closest('form').submit()" class="p-home-cities__item-link">
              <div class="p-home-cities__item-title">{{city.name}}</div>
              <div class="p-home-cities__item-counter">{{city.hotels_count}} вариант(ов) размещения</div></a>
          </form>
{% endfor %}

        </div>
      </div>
    </div>
    <div class="content__delimiter"></div>
    <div class="p-home-recommended">
      <h4>Рекомендуемые отели Бердянска</h4>
      <div class="slider p-home-recommended__slider jcarousel">
        <ul class="slider__body">
{% for hotels_slice in hotels_promoted|length|upto:4|divide:4|get_range %}
          <li class="slider__item">
            <div class="row row_padded">
{% with hotels_slice_text1=hotels_slice|multiple:4 %}
{% with hotels_slice_text2=hotels_slice|add:1|multiple:4 %}
{% with hotels_slice_text=hotels_slice_text1|concatenate:":"|concatenate:hotels_slice_text2 %}
{% for hotel in hotels_promoted|slice:hotels_slice_text %}
              <div class="p-home-recommended__item row__item"><a href="{% url 'site.hotels-detail' hotel.id hotel.slug %}" class="p-home-recommended__item-image"><img src="{{hotel.related_data.view_file.urls.medium}}"/></a>
                <div class="p-home-recommended__item-title"><a href="{% url 'site.hotels-detail' hotel.id hotel.slug %}" class="blue">{{hotel.title}}</a></div>
              </div>
{% endfor %}

{% endwith %}

{% endwith %}

{% endwith %}

            </div>
          </li>
{% endfor %}

        </ul>
        <div class="p-home-recommended__slider-controls">
          <div class="p-home-recommended__slider-prev"></div>
          <div class="p-home-recommended__slider-next"></div>
        </div>
      </div>
    </div>
    <div class="content__delimiter"></div>
    <div class="p-home-top">
{% for hotel in hotels_rate %}
      <div class="p-home-top__item"><a href="{% url 'site.hotels-detail' hotel.id hotel.slug %}"><img src="{{hotel.related_data.view_file.urls.small}}" class="p-home-top__item__image"/></a>
        <div class="p-home-top__item__content"><a href="{% url 'site.hotels-detail' hotel.id hotel.slug %}" class="blue p-home-top__item__title">{{hotel.title}}</a>
          <div class="p-home-top__item__marks">Оценка:
            <div class="marks">
{% for i in hotel.stars_category|get_range %}
              <div class="marks__item marks__item_marked"></div>
{% endfor %}

{% for i in 5|subtract:hotel.stars_category|get_range %}
              <div class="marks__item"></div>
{% endfor %}

            </div>
          </div>
          <div class="p-home-top__item__price">{{hotel.min_price|floatformat|default:0}} UAH</div>
        </div>
      </div>
{% endfor %}

    </div>
    <div class="p-home-advantages">
      <h4>В чем преимущества azovhotels.ua</h4>
      <div class="p-home-advantages__list row">
        <div class="p-home-advantages__item row__item">
          <h5>{{request.azovhotels_metadata.text_home_advantages_1_title|default:''}}</h5>{{request.azovhotels_metadata.text_home_advantages_1_content|default:''}}
        </div>
        <div class="p-home-advantages__item row__item">
          <h5>{{request.azovhotels_metadata.text_home_advantages_2_title|default:''}}</h5>{{request.azovhotels_metadata.text_home_advantages_2_content|default:''}}
        </div>
        <div class="p-home-advantages__item row__item">
          <h5>{{request.azovhotels_metadata.text_home_advantages_3_title|default:''}}</h5>{{request.azovhotels_metadata.text_home_advantages_3_content|default:''}}
        </div>
        <div class="p-home-advantages__item row__item">
          <h5>{{request.azovhotels_metadata.text_home_advantages_4_title|default:''}}</h5>{{request.azovhotels_metadata.text_home_advantages_4_content|default:''}}
        </div>
      </div>
    </div>
    <div class="p-home-banners">
      <div class="row row_padded">
        <div class="row__item _w6">
          <div class="p-home-banners__item"><img src="/static/img/front/temp/alice_banner1.jpg"/><a href="/hotels/338-alice-hotel/"></a></div>
        </div>
        <div class="row__item _w6">
          <div class="p-home-banners__item"><img src="/static/img/front/temp/alice_banner2.jpg"/><a href="/hotels/386-buhta/"></a></div>
        </div>
      </div>
    </div>
    <div class="content__delimiter"></div>
    <div class="p-home-articles"><a href="{% url 'site.articles-list' %}" class="pull-right_absolute link_red">Все статьи</a>
      <div class="row row_padded">
{% if menus.slug_azovhotels %}
        <div class="p-home-articles__item row__item _w6">
          <h4 class="p-home-articles__item__title"><a href="{% url 'site.pages-detail' id=menus.slug_azovhotels.id slug=menus.slug_azovhotels.slug %}" class="blue">{{menus.slug_azovhotels.title}}</a></h4>
          <div class="p-home-articles__item__content">
            {{menus.slug_azovhotels.content|default:''|truncatewords_html:80|safe}}
            <br><a href="{% url 'site.pages-detail' id=menus.slug_azovhotels.id slug=menus.slug_azovhotels.slug %}">Подробнее</a>
          </div>
        </div>
{% endif %}

        <div class="p-home-articles__item row__item _w6">
{% if article %}
          <h4 class="p-home-articles__item__title"><a href="{% url 'site.pages-detail' id=menus.slug_azovhotels.id slug=menus.slug_azovhotels.slug %}" class="blue">{{article.title}}</a></h4>
          <div class="p-home-articles__item__content">
            {{article.content|default:''|truncatewords_html:80|safe}}
            <br><a href="{% url 'site.pages-detail' id=article.id slug=article.slug %}">Подробнее</a>
          </div>
{% endif %}

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts_append %}
<script>
  jQuery(function() {
    var carousel = jQuery('.p-home-recommended__slider').jcarousel({
      // Configuration goes here
      wrap: 'circular',
      transitions: Modernizr.csstransitions ? {
        transforms:   Modernizr.csstransforms,
        transforms3d: Modernizr.csstransforms3d,
        easing:       'ease'
      } : false
    }).jcarouselAutoscroll({
        target: '+=1',
        interval: 6000,
    });
    
    $('.p-home-recommended__slider-prev').jcarouselControl({
        target: '-=1',
        carousel: carousel
    });
    
    $('.p-home-recommended__slider-next').jcarouselControl({
        target: '+=1',
        carousel: carousel
    });
  });
</script>
{% endblock %}
