
{% extends "site/base-front-footer-text.html" %}{% load main %}
{% block title %}
{% endblock %}

{% block head %}
{% endblock %}

{% block body-content %}
<div class="content">
  <div class="content__body">
    <div class="p-list-content">
      <div class="p-list-content__inner">
        <div class="p-list-content__sidebar">
          <form action="{% url 'site.hotels-list' %}" method="post" class="p-list-search">{% csrf_token %}
            <div class="p-list-search__title">Поиск отелей</div>
            <div class="form-line form-line_small">
              <div class="input-wrapper input-wrapper__block_hard">
                <input class="input input_block" placeholder="Пункт назначения" name="destination" type="text" value="{{request.COOKIES.destination}}"/>
                <div class="label label_block label_hint">Пункт назначения, отель, объект или адрес</div>
              </div>
            </div>
            <div class="form-line form-line_small">
              <div class="label label_block">Время пребывания</div>
              <div class="form-line_double">
                <div class="form-line_double__part">
                  <div class="input-wrapper input-wrapper__block_hard">
                    <div class="input_labeled_icon-icon input_labeled_icon-icon_calendar"></div>
                    <input class="input input_labeled_icon input_block" placeholder="прибытие" name="date_arrival" type="text" value="{{request.COOKIES.date_arrival}}" id="datepicker_search_start"/>
                  </div>
                </div>
                <div class="form-line_double__part">
                  <div class="input-wrapper input-wrapper__block_hard">
                    <div class="input_labeled_icon-icon input_labeled_icon-icon_calendar"></div>
                    <input class="input input_labeled_icon input_block" placeholder="выезд" name="date_leave" type="text" value="{{request.COOKIES.date_leave}}" id="datepicker_search_end"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-line form-line_small">
              <div class="label label_block">Количество гостей</div>
              <div class="input-wrapper input-wrapper__block_hard">
                <div class="input_labeled_icon-icon input_labeled_icon-icon_user"></div>
                <input class="input input_labeled_icon input_block" placeholder="гости" name="guests" type="number" min="1" value="{{request.COOKIES.guests}}"/>
              </div>
            </div>
            <div class="form-line form-line_double form-line_small">
              <button type="submit" class="button button_block button_primary">Найти отели</button>
            </div>
          </form>
        </div>
        <div class="p-list-content__content">
          <div class="p-list-catalog">
            <div class="p-list-catalog__title">Отели <small>(доступно {{pagination.count}} вариант(ов) размещения)</small></div>
            <div class="p-list-catalog__controls">
            </div>
            <div class="p-list-catalog__list">
{% for hotel in objects %}
              <div class="p-list-catalog__item">
                <div class="p-list-hotel"><a href="{% url 'site.hotels-detail' id=hotel.id slug=hotel.slug %}" class="p-list-hotel__image"><img src="{{hotel.related_data.view_file.urls.medium}}"/>
                    <div class="p-list-hotel__image__label">от {{hotel.min_price|default:hotel.default_price|floatformat}} грн в сутки</div></a>
                  <div class="p-list-hotel__content">
                    <div class="p-list-hotel__city">{{hotel.related_data.city.name}}</div><a href="{% url 'site.hotels-detail' id=hotel.id slug=hotel.slug %}" class="p-list-hotel__title">{{hotel.title}}</a>
                    <div class="p-list-hotel__marks">
                      <div class="p-list-hotel__marks-left">Оценка:
                        <div class="marks">
{% for i in hotel.stars_category|get_range %}
                          <div class="marks__item marks__item_marked"></div>
{% endfor %}

{% for i in 5|subtract:hotel.stars_category|get_range %}
                          <div class="marks__item"></div>
{% endfor %}

                        </div>
                      </div>
                    </div>
                    <div class="p-list-hotel__about">{{hotel.about_short|default:'Описание отсутствует.'}}</div>
                  </div>
                </div>
              </div>{% empty %}<span>Подходящие отели не найдены, попробуйте изменить ваш запрос.</span>
{% endfor %}

            </div>
            <div class="p-list-catalog__pagination">
{% if pagination.positions.prev %}<a href="{% url 'site.hotels-list' %}?page=pagination.positions.prev">
                <div class="icon icon_fa-angle-left"></div>  Предыдущая страница</a>
{% endif %}
<span>Страница {{pagination.page}} из {{pagination.pages}}</span>
{% if pagination.positions.next %}<a href="{% url 'site.hotels-list' %}?page=pagination.positions.next">Следующая страница    
                <div class="icon icon_fa-angle-right"></div></a>
{% endif %}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
