
{% extends "site/base-front-footer-text.html" %}{% load main %}
{% block title %}
{% endblock %}

{% block head %}
{% endblock %}

{% block body-content %}
<div class="content">
  <div class="content__body">
    <div class="p-article">
      <h2>Статьи</h2>
      <div class="p-article-list">
{% for article in objects %}
        <div class="p-article-list__item"><a href="{% url 'site.pages-detail' article.id article.slug %}" class="p-article-list__item__title">{{article.title}}</a>
          <div class="p-article-list__item__content">{{article.content|default:''|truncatewords_html:80|safe}}</div>
          <div class="p-article-list__item__more"><a href="{% url 'site.pages-detail' article.id article.slug %}">Подробнее</a></div>
        </div>
{% endfor %}

      </div>
      <div class="p-list-catalog__pagination">
{% if pagination.positions.prev %}<a href="{% url 'site.articles-list' %}?page=pagination.positions.prev">
          <div class="icon icon_fa-angle-left"></div>  Предыдущая страница</a>
{% endif %}
<span>Страница {{pagination.page}} из {{pagination.pages}}</span>
{% if pagination.positions.next %}<a href="{% url 'site.articles-list' %}?page=pagination.positions.next">Следующая страница    
          <div class="icon icon_fa-angle-right"></div></a>
{% endif %}

      </div>
    </div>
  </div>
</div>
{% endblock %}
