
{% extends "site/base-front-footer-text.html" %}{% load main %}
{% block title %}
{% endblock %}

{% block head %}
{% endblock %}

{% block body-content %}
<div class="content">
  <div class="content__body">
    <div class="p-page">
      <div class="p-page__title">{{page.title}}</div>
      <div class="p-page__content">{{page.content|safe}}</div>
    </div>
  </div>
</div>
{% endblock %}
