
<script src="/static/js/site/vendor.js"></script>
<script src="/static/js/site/app.js"></script>
<script src="/static/js/site/widgets/modernizr.js"></script>
<script src="/static/js/site/widgets/datepicker.js"></script>
<script src="/static/js/site/widgets/jquery.jcarousel.min.js"></script>
<script src="/static/js/site/widgets/tabs.js"></script>
<script src="/static/js/site/widgets.js"></script>
<script src="/static/js/core/common/utils.js"></script>
<script src="/static/js/core/common/form/form.js"></script>
<script src="/static/js/core/common/form/element.js"></script>
<script src="/static/js/core/common/form/input.js"></script>
<script src="/static/js/core/common/form/select.js"></script>
<script src="/static/js/core/common/form/checker.js"></script>
<script src="/static/js/core/common/form/upload.js"></script>
<script src="/static/js/core/common/form/slugify.js"></script>
<script src="/static/js/core/common/form/submit.js"></script>
<script src="/static/js/core/common/form/editor.js"></script>
<script src="/static/js/core/common/form/files-list.js"></script>
<script src="/static/js/core/common/form/validators.js"></script>
<script src="/static/js/core/common/form/datafill.js"></script>
<script src="/static/js/core/common/form/price-picker.js"></script>
<script src="/static/js/core/common/form/value.js"></script>