include ../../mixins/form
include ../../mixins/elements
include ../templates-form
include form

extends ../view-single

      
block single_heading_title
  | Создание шаблона сообщения

block single_heading_navigation

block single_content
  +form(name="singleForm",
    novalidate="",
    form-submit="Form.create()")

    +form_mail-templates_title
    +form_mail-templates_slug
    +form_mail-templates_description

    +form_template_submit
