include ../../mixins/form
include ../../mixins/elements
include ../templates-form
include form

extends ../view-single

block single_heading_title
  | Редактирование шаблона сообщения

block single_heading_navigation
  +button.button_red(ng-click="delete()")
    | Удалить 
    span.icon.icon_fa-trash-o
  +button.button_primary(ui-sref="mail_templates.create({type: $state.params.type})")
    .icon.icon_fa-plus

block single_content
  tabset
    tab(heading="Редактирование шаблона")
      +form(name="singleForm",
        novalidate="",
        form-submit="Form.update()")

        +form_mail-templates_title
        +form_mail-templates_slug

        +form_mail-templates_description

        +form_template_submit

    tab(heading="Разослать")
      +form(name="senderForm",
        novalidate="",
        form-submit="FormSend.create({controller: 'send'})")

        +form_mail-templates_recipients

        .form-line
          +button.button_primary(type="submit") Отправить email

