include ../../mixins/form
include ../../mixins/elements
include ../templates-form


mixin form_mail-templates_title
  +form_template_title

mixin form_mail-templates_slug
  +form_template_slug

mixin form_mail-templates_description
  +fieldset("Шаблон письма/смс")
    +form_template_editor("Описание", "single.description")

mixin form_mail-templates_recipients
  +form_template_sided-select("Фильтр по группе", "sender.filter",
    "single.related_data_all.groups",
    "name")

  +form_template_sided-select("Получатели", "send.users",
    "sender.usersFiltered",
    "email", "")(required="", name="users")