
<div class="v-single">
  <div class="v-single__inner">
    <div class="b-heading v-single-heading">
      <div class="b-heading__menu">
      </div>
      <div class="b-heading__navigation">
      </div>
      <div class="b-heading__title">
        <button type="button" class="button button_clean" ng-click="history.back()">
          <div class="icon icon_fa-chevron-left"></div>
        </button>Метаданные
      </div>
    </div>
    <div class="v-single-contents">
            <form autocomplete="off" class="form form" name="singleForm" novalidate="" form-submit="Form.create()">
              <tabset>
                <tab heading="Основные">
                        <fieldset class="form-fieldset">
                          <legend class="form-legend">Информация о сайте
                          </legend>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-14062060820752" class="label label_input">Название сайта
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-14062060820752" name="metadata.site_name" ng-model="single.metadata.site_name"/>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-line">
                                        <div class="label label_block">Описание сайта
                                        </div>
                                              <textarea class="input input_block input input_block" id="form-element-14062060820752" name="metadata.site_description" ng-model="single.metadata.site_description" rows="5"></textarea>
                                      </div>
                                      <div class="form-line">
                                        <div class="label label_block">Ключевые слова на сайте
                                        </div>
                                              <textarea class="input input_block input input_block" id="form-element-14062060820752" name="metadata.site_keywords" ng-model="single.metadata.site_keywords" rows="5"></textarea>
                                      </div>
                        </fieldset>
                        <fieldset class="form-fieldset">
                          <legend class="form-legend">Ссылки на соц. сети и сервисы
                          </legend>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-14062060820754" class="label label_input">Facebook
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-14062060820754" name="metadata.service_facebook" ng-model="single.metadata.service_facebook"/>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-14062060820756" class="label label_input">Twitter
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-14062060820756" name="metadata.service_twitter" ng-model="single.metadata.service_twitter"/>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-14062060820758" class="label label_input">LinkedIn
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-14062060820758" name="metadata.service_linkedin" ng-model="single.metadata.service_linkedin"/>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-140620608207510" class="label label_input">Youtube
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-140620608207510" name="metadata.service_youtube" ng-model="single.metadata.service_youtube"/>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-140620608207512" class="label label_input">Вконтакте
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-140620608207512" name="metadata.service_vk" ng-model="single.metadata.service_vk"/>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-140620608207514" class="label label_input">Одноклассники
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-140620608207514" name="metadata.service_odnoklassniki" ng-model="single.metadata.service_odnoklassniki"/>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                        </fieldset>
                </tab>
                <tab heading="Текстовка на сате">
                              <div class="form-line">
                                <div class="label label_block">Текст в футере
                                </div>
                                      <textarea class="input input_block input input_block" id="form-element-140620608207514" name="metadata.text_footer" ng-model="single.metadata.text_footer" rows="5"></textarea>
                              </div>
                  <div class="form-title">Главная:</div>
                        <fieldset class="form-fieldset">
                          <legend class="form-legend">Преимущества Азовхотелс
                          </legend>
                                <div class="form-line form-line_double form-line form-line_double">
                                        <div class="form-line_double__part">
                                                <div class="form-line">
                                                  <div class="label label_block">Колонка 1:
                                                  </div>
                                                              <div class="form-line">
                                                                <div class="label label_block">Заголовок
                                                                </div>
                                                                      <div class="row_table">
                                                                        <div class="row__item _w12">
                                                                                <input class="input input input_block input_block" type="text" id="form-element-140620608207516" name="metadata.text_home_advantages_1_title" ng-model="single.metadata.text_home_advantages_1_title"/>
                                                                        </div>
                                                                      </div>
                                                              </div>
                                                              <div class="form-line">
                                                                <div class="label label_block">Текст
                                                                </div>
                                                                      <textarea class="input input_block input input_block" id="form-element-140620608207516" name="metadata.text_home_advantages_1_content" ng-model="single.metadata.text_home_advantages_1_content" rows="8"></textarea>
                                                              </div>
                                                </div>
                                                <div class="form-line">
                                                  <div class="label label_block">Колонка 2:
                                                  </div>
                                                              <div class="form-line">
                                                                <div class="label label_block">Заголовок
                                                                </div>
                                                                      <div class="row_table">
                                                                        <div class="row__item _w12">
                                                                                <input class="input input input_block input_block" type="text" id="form-element-140620608207516" name="metadata.text_home_advantages_2_title" ng-model="single.metadata.text_home_advantages_2_title"/>
                                                                        </div>
                                                                      </div>
                                                              </div>
                                                              <div class="form-line">
                                                                <div class="label label_block">Текст
                                                                </div>
                                                                      <textarea class="input input_block input input_block" id="form-element-140620608207516" name="metadata.text_home_advantages_2_content" ng-model="single.metadata.text_home_advantages_2_content" rows="8"></textarea>
                                                              </div>
                                                </div>
                                        </div>
                                        <div class="form-line_double__part">
                                                <div class="form-line">
                                                  <div class="label label_block">Колонка 3:
                                                  </div>
                                                              <div class="form-line">
                                                                <div class="label label_block">Заголовок
                                                                </div>
                                                                      <div class="row_table">
                                                                        <div class="row__item _w12">
                                                                                <input class="input input input_block input_block" type="text" id="form-element-140620608207519" name="metadata.text_home_advantages_3_title" ng-model="single.metadata.text_home_advantages_3_title"/>
                                                                        </div>
                                                                      </div>
                                                              </div>
                                                              <div class="form-line">
                                                                <div class="label label_block">Текст
                                                                </div>
                                                                      <textarea class="input input_block input input_block" id="form-element-140620608207519" name="metadata.text_home_advantages_3_content" ng-model="single.metadata.text_home_advantages_3_content" rows="8"></textarea>
                                                              </div>
                                                </div>
                                                <div class="form-line">
                                                  <div class="label label_block">Колонка 4:
                                                  </div>
                                                              <div class="form-line">
                                                                <div class="label label_block">Заголовок
                                                                </div>
                                                                      <div class="row_table">
                                                                        <div class="row__item _w12">
                                                                                <input class="input input input_block input_block" type="text" id="form-element-140620608207519" name="metadata.text_home_advantages_4_title" ng-model="single.metadata.text_home_advantages_4_title"/>
                                                                        </div>
                                                                      </div>
                                                              </div>
                                                              <div class="form-line">
                                                                <div class="label label_block">Текст
                                                                </div>
                                                                      <textarea class="input input_block input input_block" id="form-element-140620608207519" name="metadata.text_home_advantages_4_content" ng-model="single.metadata.text_home_advantages_4_content" rows="8"></textarea>
                                                              </div>
                                                </div>
                                        </div>
                                </div>
                        </fieldset>
                </tab>
              </tabset>
                    <div class="form-line">
                            <button type="submit" class="button button button_primary">Сохранить
                            </button>
                            <button type="button" class="button button button_clean" ng-click="Form.revertChanges()">Отменить изменения
                            </button>
                    </div>
            </form>
    </div>
  </div>
</div>