include ../../mixins/django
include ../../static/admin/mixins/form
include ../../static/admin/mixins/elements

doctype html

html(id="html")
  head
    +djBlock('title')
      title
        | Admin

    link(rel="stylesheet", type="text/css", href="/static/css/admin/style.css")
    +djBlock('styles')

  body(id="body", ng-app="app")
    +djBlock('body')

  +djBlock('scripts')
    include ./scripts