include ../../mixins/django
include ../../static/admin/mixins/form
include ../../static/admin/mixins/elements

+djExtends('"admin/base.html"')

+djBlock('body')
  .root(ng-controller="ViewRootCtrl")
    .root__inner
      .root__sidebar
        .sidebar(ng-controller="ViewSidebarCtrl", ng-init="setCurrentUser({{request.user.id}})")
          .sidebar__body
            - var r = []
            - var inc = function(data) { return "($state.includes('" + r.join("') || $state.includes('") + "'))"; };

            .sidebar-menu__item
              - r = ['hotels', 'roomtypes', 'rooms', 'contacts', 'comments', 'roomtypes_prices', 'roomtypes_rates']
              .sidebar-links-group(ng-class!="{_active: "+ inc(r) + " }")
                .sidebar-links-group__icon.icon.icon_fa-h-square(ui-sref="hotels({page: undefined})")
                .sidebar-links-group__list
                  a.sidebar-link(ui-sref="hotels") Гостиницы
                  a.sidebar-link(ui-sref="labels({type: 'hotel_type', page: undefined})") Типы гостиниц
                  a.sidebar-link(ui-sref="labels({type: 'hotel_convenience', page: undefined})") Удобства в гостиницах
                  a.sidebar-link(ui-sref="labels({type: 'roomtype_categories', page: undefined})") Категории типов номеров

            .sidebar-menu__item
              - r = ['pages']
              .sidebar-links-group(ng-class!="{_active: "+ inc(r) + " }")
                .sidebar-links-group__icon.icon.icon_fa-file-text(ui-sref="pages({page: undefined})")
                .sidebar-links-group__list
                  a.sidebar-link(ui-sref="pages({page: undefined})") Страницы
                  a.sidebar-link(ui-sref="labels({type: 'page_type', page: undefined})") Типы страниц
                  a.sidebar-link(ui-sref="labels({type: 'page_category', page: undefined})") Категории страниц

            .sidebar-menu__item
              - r = ['cities', 'states']
              .sidebar-links-group(ng-class!="{_active: "+ inc(r) + " }")
                .sidebar-links-group__icon.icon.icon_fa-map-marker(ui-sref="cities({page: undefined})")
                .sidebar-links-group__list
                  a.sidebar-link(ui-sref="cities({page: undefined})") Города
                  a.sidebar-link(ui-sref="states({page: undefined})") Области

            .sidebar-menu__item
              - r = ['users', 'groups']
              .sidebar-links-group(ng-class!="{_active: "+ inc(r) + " }")
                .sidebar-links-group__icon.icon.icon_fa-users(ui-sref="users({page: undefined})")
                .sidebar-links-group__list
                  a.sidebar-link(ui-sref="users({page: undefined})") Пользователи
                  a.sidebar-link(ui-sref="groups({page: undefined})") Группы пользователей

            .sidebar-menu__item
              - r = ['reservations']
              .sidebar-links-group(ng-class!="{_active: "+ inc(r) + " }")
                .sidebar-links-group__icon.icon.icon_fa-calendar(ui-sref="reservations({page: undefined, hotel: undefined, manager: undefined})")
                .sidebar-links-group__list
                  a.sidebar-link(ui-sref="reservations({page: undefined, hotel: undefined, manager: undefined})") Бронирования

            .sidebar-menu__delimiter

            .sidebar-menu__item
              - r = ['mail_templates']
              .sidebar-links-group(ng-class!="{_active: "+ inc(r) + " }")
                .sidebar-links-group__icon.icon.icon_fa-envelope(ui-sref="mail_templates({page: undefined})")
                .sidebar-links-group__list
                  a.sidebar-link(ui-sref="mail_templates({page: undefined})") Рассылки

            .sidebar-menu__item
              - r = ['config', 'metadata']
              .sidebar-links-group(ng-class!="{_active: "+ inc(r) + " }")
                .sidebar-links-group__icon.icon.icon_fa-cogs(ui-sref="config({page: undefined})")
                .sidebar-links-group__list
                  a.sidebar-link(ui-sref="config({page: undefined})") Настройки
                  a.sidebar-link(ui-sref="metadata({page: undefined})") Метаданные

      .root__content
        #notifications.notifications
          .notifications__inner(notifications-list="")
            .alert(ng-repeat="item in notifications.list.slice().reverse()", class!="<[ item.type ? 'alert_' + item.type : '' ]>")
              button.alert__close(type="button", ng-click="item.remove()")
              .alert__title
                | <[ item.title ]>
              .alert__content
                | <[ item.content ]>

        .v-loading(http-request-tracker="", ng-class="{_active: httpRequestTracker.hasPendingRequests()}")
          .v-loading__inner
            .loading
              .loading__text
                | Загрузка
              .loading__spinner

        .view
          .view__inner(ui-view="view")

            //- .v-single
              .v-single__inner
                .b-heading
                  .b-heading__navigation
                    .group
                      button.group__element.group__element_first.button Button
                      button.group__element.button Button
                      button.group__element.button Button
                      button.group__element.group__element_last.button
                        .icon.icon_fa-calendar
                    button.button.button_secondary
                      .icon.icon_fa-trash-o
                  .b-heading__title
                    | Очень длинный то-ли название, то-ли ещще что. Ну, вообщем длинный че-то там.

                .v-single-contents
                  tabset
                    tab(heading="Основные данные")
                      .form
                        .form-line
                          +datepicker("single.started_at").button_clean(name="started_at",
                            id=form_element_id_current)

                        .form-line.form-line_sided
                          .form-line_sided__inner
                            .form-line_sided__sidebar
                              .label.label_input
                                | Название
                            .form-line_sided__content
                              input.input.input_block

                        .form-line.form-line_double
                          .form-line_double__part
                            .label.label_block
                              | Название
                            input.input.input_block
                          .form-line_double__part
                            .label.label_block
                              | Название
                            input.input.input_block

                        .form-line.form-line_sided
                          .form-line_sided__inner
                            .form-line_sided__sidebar
                              .label.label_input
                                | Название
                            .form-line_sided__content(ng-init="\
                              valid = false;\
                              ")
                              +inputBlock(required="", valid="valid")
                                .icon.icon_fa-user

                        .form-line.form-line_triple
                          .form-line_triple__part
                            .label.label_block
                              | Название
                            .row_table
                              .row__item
                                .label.label_prefix.group__element_first
                                  .icon.icon_fa-user
                              .row__item._w12
                                input.input.input_block.group__element
                              .row__item
                                .label.label_prefix.label_prefix_red.group__element_last
                                  .icon.icon_fa-asterisk
                          .form-line_triple__part
                            .label.label_block
                              | Название
                            .row_table
                              .row__item
                                .label.label_prefix.group__element_first
                                  .icon.icon_fa-user
                              .row__item._w12
                                input.input.input_block.group__element_last
                          .form-line_triple__part
                            .label.label_block
                              | Название
                            .row_table
                              .row__item._w12
                                input.input.input_block.group__element_first
                              .row__item
                              .row__item
                                .label.label_prefix.label_prefix_green.group__element_last
                                  .icon.icon_fa-check

                        .form-line.form-line_triple(ng-init="\
                          valid = {it: false, message: ''};\
                          ")
                          .form-line_triple__part
                            .label.label_block
                              | Название
                            +checkbox(ng-model="valid.it")
                          .form-line_triple__part
                            .label.label_block
                              | Название
                            +switch(ng-model="valid.it")
                          .form-line_triple__part
                            .label.label_block
                              | Название
                            //- +radio(ng-model="valid.it", value="1")
                            .form-line
                              +inputBlock(required="", valid!="valid.message.length > 10", ng-model="valid.message")
                                .icon.icon_fa-user

                        .form-line.form-line_sided
                          .form-line_sided__inner
                            .form-line_sided__sidebar
                              .label.label_input
                                | Название
                            .form-line_sided__content
                              input.input.input_block

                    tab(heading="Банковские данные")
                      | Content of the tab
                    tab(heading="Изменение пароля")
                      | Content of the tab

            //- .v-list
              .v-list__inner
                .b-heading
                  .b-heading__navigation
                    .group
                      button.group__element.group__element_first.button Button
                      button.group__element.button Button
                      button.group__element.button Button
                      button.group__element.group__element_last.button
                        .icon.icon_fa-calendar
                    button.button.button_secondary
                      .icon.icon_fa-trash-o
                  .b-heading__title
                    | Очень длинный то-ли название, то-ли ещще что. Ну, вообщем длинный че-то там.

                .v-list-controls
                  .v-list-controls__inner
                    .v-list-controls__sidebar
                      label.label.label_button С выбранным: 
                      .group
                        button.group__element.group__element_first.button Button
                        button.group__element.button.button_primary Button
                        button.group__element.group__element_last.button.button_secondary
                          .icon.icon_fa-trash-o

                    .v-list-controls__content
                      .row_table
                        .row__item
                          button.group__element.group__element_first.button
                            | Порядок
                            .icon.icon_fa-caret-down
                        .row__item
                          button.group__element.button
                            | Тип контента
                            .icon.icon_fa-caret-down
                        .row__item._w12
                          input.group__element.input.input_block(placeholder="Поиск")
                        .row__item
                          button.group__element.group__element_last.button.button_primary
                            .icon.icon_fa-search

                  .progress
                    .progress__bar._wf8 Some shitty progressbar

                  div
                    button.checkbox(type="button", ng-model="checkbox", btn-checkbox="")
                      .checkbox__label
                    button.radio(type="button", ng-model="radio", btn-radio="1")
                      .radio__label
                    button.radio(type="button", ng-model="radio", btn-radio="3")
                      .radio__label
                    button.switch(type="button", ng-model="switch", btn-checkbox="")
                      .switch__label

                  div
                    tabset
                      tab(heading="Tab")
                        | Content of the tab
                      tab(heading="Tab")
                        | Content of the tab


                  div(ng-init="single = {started_at: '2014-06-17T07:09:11.978Z'};")
                    +datepicker("single.started_at").button_clean(name="started_at",
                      id=form_element_id_current)

                    label.label.label_input <[ single.started_at | date: 'dd.MM.yyyy' ]>

                ul.v-list-contents(ng-init="ch = {azaza: '1', main_azaza: 0};")
                  li.v-list-contents__item.v-list-contents__item_title
                    .row__item._wf2
                      +checkbox(ng-model="ch.main_azaza")
                    .row__item._wd3
                      | Name
                    .row__item
                      | About
                    .row__item._wf8
                      | Controls

                  li.v-list-contents__item._highlightable(ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]")
                    .row__item._wf2
                      +checkbox(ng-model="ch.azaza", ng-checked="ch.main_azaza")
                    .row__item._wd3
                      | Name
                    .row__item
                      p Методология БЭМ никогда не подразумевала того, что длинные названия классов в селекторах типа .block__element_modifier будут записываться вручную.
                    .row__item._wf8
                      .group
                        button.group__element.group__element_first.button.button_small.button_red
                          .icon.icon_fa-trash-o
                        button.group__element.group__element_last.button.button_small.button_green
                          .icon.icon_fa-pencil



                .v-list-pagination
                  a.v-list-pagination__link.v-list-pagination__link_prev(href="#")
                    span.icon.icon_fa-angle-left
                    | Туда

                  a.v-list-pagination__link(href="#")
                    | 1

                  span.v-list-pagination__text
                    | ...

                  a.v-list-pagination__link(href="#")
                    | 4

                  a.v-list-pagination__link(href="#")
                    | 5

                  span.v-list-pagination__text.v-list-pagination__text_current
                    | Страница: 6

                  a.v-list-pagination__link(href="#")
                    | 7

                  a.v-list-pagination__link(href="#")
                    | 8

                  span.v-list-pagination__text
                    | ...

                  a.v-list-pagination__link(href="#")
                    | 12

                  a.v-list-pagination__link.v-list-pagination__link_next(href="#")
                    | Сюда
                    span.icon.icon_fa-angle-right


    