script(src='/static/js/admin/vendor.js')

script(src="/static/js/core/modules.js")

//- script(src='/static/js/admin/modules.js')
script(src='/static/js/admin/conf.js')
script(src='/static/js/admin/app.js')

script(src="/static/js/admin/services/Api.js")
script(src="/static/js/admin/services/FormFactory.js")
script(src='/static/js/admin/common/templates.js')

//- Views
script(src='/static/js/admin/views/conf.js')
script(src='/static/js/admin/views/views.js')
script(src='/static/js/admin/views/controllers.js')
script(src='/static/js/admin/views/pagination.js')
script(src='/static/js/admin/views/labels/labels.js')
script(src='/static/js/admin/views/pages/pages.js')
script(src='/static/js/admin/views/cities/cities.js')
script(src='/static/js/admin/views/states/states.js')
script(src='/static/js/admin/views/users/users.js')
script(src='/static/js/admin/views/groups/groups.js')
script(src='/static/js/admin/views/hotels/hotels.js')
script(src='/static/js/admin/views/roomtypes/roomtypes.js')
script(src='/static/js/admin/views/roomtypes_rates/roomtypes_rates.js')
script(src='/static/js/admin/views/roomtypes_prices/roomtypes_prices.js')
script(src='/static/js/admin/views/contacts/contacts.js')
script(src='/static/js/admin/views/comments/comments.js')
script(src='/static/js/admin/views/reservations/reservations.js')
script(src='/static/js/admin/views/config/config.js')
script(src='/static/js/admin/views/metadata/metadata.js')
script(src='/static/js/admin/views/mail_templates/mail_templates.js')

script(src="/static/js/core/common/ckeditor/ckeditor.js")