
<div class="v-single">
  <div class="v-single__inner">
    <div class="b-heading v-single-heading">
      <div class="b-heading__navigation">
      </div>
      <div class="b-heading__title">
        <button class="button button_clean" ng-click="history.back()">
          <div class="icon icon_fa-chevron-left"></div>
        </button>Создание пользователя
      </div>
    </div>
    <div class="v-single-contents">
            <form autocomplete="off" class="form form" name="singleForm" novalidate="" form-submit="Form.create()">
                          <div class="form-line form-line_sided">
                            <div class="form-line form-line_sided__inner">
                              <div class="form-line_sided__sidebar">
                                <label for="form-element-14042197549142" class="label label_input">Email
                                </label>
                              </div>
                              <div class="form-line_sided__content">
                                      <div class="row_table">
                                        <div class="row__item _w12">
                                                <input class="input input input_block group__element_first input_block group__element_first" type="email" id="form-element-14042197549142" required="" name="email" ng-model="single.email" autocomplete="off"/>
                                        </div>
                                        <div class="row__item">
                                                <div for="form-element-14042197549142" class="label label_prefix <[ (singleForm.email.$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm.email.$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                                  <div ng-if="!(singleForm.email.$valid)" class="icon icon_fa-asterisk"></div>
                                                  <div ng-if="(singleForm.email.$valid)" class="icon icon_fa-check"></div>
                                                </div>
                                        </div>
                                      </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-line form-line_sided">
                            <div class="form-line form-line_sided__inner">
                              <div class="form-line_sided__sidebar">
                                <label for="form-element-14042197549144" class="label label_input">Пароль
                                </label>
                              </div>
                              <div class="form-line_sided__content">
                                      <div class="row_table">
                                        <div class="row__item _w12">
                                                <input class="input input input_block group__element_first input_block group__element_first" type="password" id="form-element-14042197549144" required="" name="password" ng-model="single.password" ng-minlength="4" autocomplete="off"/>
                                        </div>
                                        <div class="row__item">
                                                <div for="form-element-14042197549144" class="label label_prefix <[ (singleForm.password.$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm.password.$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                                  <div ng-if="!(singleForm.password.$valid)" class="icon icon_fa-asterisk"></div>
                                                  <div ng-if="(singleForm.password.$valid)" class="icon icon_fa-check"></div>
                                                </div>
                                        </div>
                                      </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-line form-line_sided">
                            <div class="form-line form-line_sided__inner">
                              <div class="form-line_sided__sidebar">
                                <label for="form-element-14042197549146" class="label label_input">Введите пароль повторно
                                </label>
                              </div>
                              <div class="form-line_sided__content">
                                      <div class="row_table">
                                        <div class="row__item _w12">
                                                <input class="input input input_block group__element_first input_block group__element_first" type="password" id="form-element-14042197549146" required="" name="password_check" ng-model="single.password_check" form-validate-equals="single.password"/>
                                        </div>
                                        <div class="row__item">
                                                <div for="form-element-14042197549146" class="label label_prefix <[ (singleForm.password_check.$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm.password_check.$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                                  <div ng-if="!(singleForm.password_check.$valid)" class="icon icon_fa-asterisk"></div>
                                                  <div ng-if="(singleForm.password_check.$valid)" class="icon icon_fa-check"></div>
                                                </div>
                                        </div>
                                      </div>
                              </div>
                            </div>
                          </div>
              <div class="form-delimiter"></div>
                          <div class="form-line form-line_sided">
                            <div class="form-line form-line_sided__inner">
                              <div class="form-line_sided__sidebar">
                                <label for="form-element-14042197549148" class="label label_input">Телефон
                                </label>
                              </div>
                              <div class="form-line_sided__content">
                                      <div class="row_table">
                                        <div class="row__item _w12">
                                                <input class="input input input_block input_block" type="text" id="form-element-14042197549148" name="phone" ng-model="single.phone"/>
                                        </div>
                                      </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-line form-line_sided">
                            <div class="form-line form-line_sided__inner">
                              <div class="form-line_sided__sidebar">
                                <label for="form-element-140421975491410" class="label label_input">Группы доступа
                                </label>
                              </div>
                              <div class="form-line_sided__content">
                                      <div form-select="" ng-model="single.groups" form-select-data="single.related_data_all.groups" multiple="multiple" class="tags tags_multiple">
                                        <div ng-class="{_active: formSelect.active}" class="dropdown tags__dropdown">
                                          <div class="row_table">
                                            <div class="row__item _w12">
                                              <div class="input-wrapper">
                                                      <input class="input input input_labeled input_masked input_block" ng-model="formSelect.filter" form-select-toggle="" id="form-element-140421975491410" size="10"/>
                                                <div class="input__label icon icon_fa-chevron-down"></div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="dropdown-list">
                                            <div class="dropdown-list__inner">
                                              <div ng-mousedown="formSelect.prevent($event)" class="dropdown-list__body tags__dropdown-list">
                                                <div ng-repeat="item in formSelect.dataFiltered" ng-class="{_active: formSelect.current == $index}" ng-click="formSelect.select($index)" ng-mouseover="formSelect.current = $index" class="dropdown-list__item">&lt;[ item.name ]&gt;
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="tags__list">
                                          <div ng-repeat="item in formSelect.selected" class="tags__item button">&lt;[ item.name ]&gt;
                                            <div ng-click="formSelect.remove($index)" class="tags__item-remove"></div>
                                          </div>
                                        </div>
                                      </div>
                              </div>
                            </div>
                          </div>
                    <div class="form-line form-line_double">
                            <div class="form-line_double__part">
                              <label for="form-element-140421975491411" class="label label_block">
                              </label>
                                          <div class="form-line form-line_sided">
                                            <div class="form-line form-line_sided__inner">
                                              <div class="form-line_sided__sidebar">
                                                <label for="form-element-140421975491412" class="label label_input">Активен
                                                </label>
                                              </div>
                                              <div class="form-line_sided__content">
                                                <label class="label label_input">
                                                        <label form-element="" form-input="" class="switch">
                                                                <input name="is_active" type="checkbox" ng-model="single.is_active" class="switch__field" id="form-element-140421975491412" form-element-field="" form-input-field=""/>
                                                                <label for="form-element-140421975491412" class="switch__label" ng-model="single.is_active" form-checkbox="">
                                                                </label>
                                                        </label>
                                                </label>
                                              </div>
                                            </div>
                                          </div>
                            </div>
                            <div class="form-line_double__part">
                              <label for="form-element-140421975491414" class="label label_block">
                              </label>
                                          <div class="form-line form-line_sided">
                                            <div class="form-line form-line_sided__inner">
                                              <div class="form-line_sided__sidebar">
                                                <label for="form-element-140421975491415" class="label label_input">Суперпользователь
                                                </label>
                                              </div>
                                              <div class="form-line_sided__content">
                                                <label class="label label_input">
                                                        <label form-element="" form-input="" class="switch">
                                                                <input name="is_superuser" type="checkbox" ng-model="single.is_superuser" class="switch__field" id="form-element-140421975491415" form-element-field="" form-input-field=""/>
                                                                <label for="form-element-140421975491415" class="switch__label" ng-model="single.is_superuser" form-checkbox="">
                                                                </label>
                                                        </label>
                                                </label>
                                              </div>
                                            </div>
                                          </div>
                            </div>
                    </div>
                    <fieldset class="form-fieldset">
                      <legend class="form-legend">Паспортные данные
                      </legend>
                            <div class="form-line form-line_triple">
                                          <div class="form-line_triple__part">
                                            <label for="form-element-140421975491417" class="label label_block">Фамилия
                                            </label>
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block group__element_first input_block group__element_first" type="text" id="form-element-140421975491417" required="" name="last_name" ng-model="single.last_name"/>
                                                    </div>
                                                    <div class="row__item">
                                                            <div for="form-element-140421975491417" class="label label_prefix <[ (singleForm.last_name.$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm.last_name.$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                                              <div ng-if="!(singleForm.last_name.$valid)" class="icon icon_fa-asterisk"></div>
                                                              <div ng-if="(singleForm.last_name.$valid)" class="icon icon_fa-check"></div>
                                                            </div>
                                                    </div>
                                                  </div>
                                          </div>
                                          <div class="form-line_triple__part">
                                            <label for="form-element-140421975491419" class="label label_block">Имя
                                            </label>
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block group__element_first input_block group__element_first" type="text" id="form-element-140421975491419" required="" name="first_name" ng-model="single.first_name"/>
                                                    </div>
                                                    <div class="row__item">
                                                            <div for="form-element-140421975491419" class="label label_prefix <[ (singleForm.first_name.$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm.first_name.$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                                              <div ng-if="!(singleForm.first_name.$valid)" class="icon icon_fa-asterisk"></div>
                                                              <div ng-if="(singleForm.first_name.$valid)" class="icon icon_fa-check"></div>
                                                            </div>
                                                    </div>
                                                  </div>
                                          </div>
                                          <div class="form-line_triple__part">
                                            <label for="form-element-140421975491421" class="label label_block">Отчество
                                            </label>
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block group__element_first input_block group__element_first" type="text" id="form-element-140421975491421" required="" name="middle_name" ng-model="single.middle_name"/>
                                                    </div>
                                                    <div class="row__item">
                                                            <div for="form-element-140421975491421" class="label label_prefix <[ (singleForm.middle_name.$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm.middle_name.$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                                              <div ng-if="!(singleForm.middle_name.$valid)" class="icon icon_fa-asterisk"></div>
                                                              <div ng-if="(singleForm.middle_name.$valid)" class="icon icon_fa-check"></div>
                                                            </div>
                                                    </div>
                                                  </div>
                                          </div>
                            </div>
                      <div class="form-line form-line_sided">
                        <div class="form-line form-line_sided__inner">
                          <div class="form-line_sided__sidebar">
                            <label for="form-element-140421975491423" class="label label_block">Серия</label>
                                  <div class="row_table">
                                    <div class="row__item _w12">
                                            <input class="input input input_block input_block" name="passport_series" type="text" ng-model="single.passport_series" id="form-element-140421975491423"/>
                                    </div>
                                  </div>
                          </div>
                          <div class="form-line_sided__content">
                            <label for="form-element-140421975491425" class="label label_block">Код паспорта</label>
                                  <div class="row_table">
                                    <div class="row__item _w12">
                                            <input class="input input input_block input_block" name="passport_code" type="text" ng-model="single.passport_code" id="form-element-140421975491425"/>
                                    </div>
                                  </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-line form-line">
                        <label for="form-element-140421975491427" class="label label_block">Кем и кода паспорт выдан </label>
                              <div class="row_table">
                                <div class="row__item _w12">
                                        <input class="input input input_block input_block" name="passport_issued" type="text" ng-model="single.passport_issued" id="form-element-140421975491427"/>
                                </div>
                              </div>
                      </div>
                    </fieldset>
                    <fieldset class="form-fieldset">
                      <legend class="form-legend">Уведомления
                      </legend>
                            <div class="form-line form-line_double">
                                    <div class="form-line_double__part">
                                      <label for="form-element-140421975491429" class="label label_block">
                                      </label>
                                                  <div class="form-line form-line_sided">
                                                    <div class="form-line form-line_sided__inner">
                                                      <div class="form-line_sided__sidebar">
                                                        <label for="form-element-140421975491430" class="label label_input">Отправлять смс уведомления
                                                        </label>
                                                      </div>
                                                      <div class="form-line_sided__content">
                                                        <label class="label label_input">
                                                                <label form-element="" form-input="" class="switch">
                                                                        <input name="send_sms" type="checkbox" ng-model="single.send_sms" class="switch__field" id="form-element-140421975491430" form-element-field="" form-input-field=""/>
                                                                        <label for="form-element-140421975491430" class="switch__label" ng-model="single.send_sms" form-checkbox="">
                                                                        </label>
                                                                </label>
                                                        </label>
                                                      </div>
                                                    </div>
                                                  </div>
                                    </div>
                                    <div class="form-line_double__part">
                                      <label for="form-element-140421975491432" class="label label_block">
                                      </label>
                                                  <div class="form-line form-line_sided">
                                                    <div class="form-line form-line_sided__inner">
                                                      <div class="form-line_sided__sidebar">
                                                        <label for="form-element-140421975491433" class="label label_input">Отправлять email уведомления
                                                        </label>
                                                      </div>
                                                      <div class="form-line_sided__content">
                                                        <label class="label label_input">
                                                                <label form-element="" form-input="" class="switch">
                                                                        <input name="send_email" type="checkbox" ng-model="single.send_email" class="switch__field" id="form-element-140421975491433" form-element-field="" form-input-field=""/>
                                                                        <label for="form-element-140421975491433" class="switch__label" ng-model="single.send_email" form-checkbox="">
                                                                        </label>
                                                                </label>
                                                        </label>
                                                      </div>
                                                    </div>
                                                  </div>
                                    </div>
                            </div>
                    </fieldset>
                    <div class="form-line">
                            <button class="button button button_primary" type="submit">Сохранить
                            </button>
                    </div>
            </form>
    </div>
  </div>
</div>