
<div class="v-single">
  <div class="v-single__inner">
    <div class="b-heading v-single-heading">
      <div class="b-heading__menu">
      </div>
      <div class="b-heading__navigation">
      </div>
      <div class="b-heading__title">
        <button type="button" class="button button_clean" ng-click="history.back()">
          <div class="icon icon_fa-chevron-left"></div>
        </button>Новый комментарий
      </div>
    </div>
    <div class="v-single-contents">
            <form autocomplete="off" class="form form" name="singleForm" novalidate="" form-submit="Form.create()">
                          <div class="form-line form-line_sided">
                            <div class="form-line_sided__inner">
                              <div class="form-line_sided__sidebar">
                                <label for="form-element-14054644007032" class="label label_input">Пользователь
                                </label>
                              </div>
                              <div class="form-line_sided__content">
                                      <div form-select="" ng-model="single.user" form-select-data="single.related_data_all.users" class="tags tags_single">
                                        <div ng-class="{_active: formSelect.active}" class="dropdown tags__dropdown">
                                          <div class="row_table">
                                            <div class="row__item _w12">
                                              <div class="input-wrapper">
                                                      <input class="input input input_labeled input_masked input_block group__element_first" ng-model="formSelect.filter" form-select-toggle="" id="form-element-14054644007032" size="10" name="user" placeholder="<[ (formSelect.selected.length > 0 ? formSelect.selected[0].email : '') ]>" ng-required="!(single.user|isFilled)"/>
                                                <div ng-show="!formSelect.selected.length" class="input__label icon icon_fa-chevron-down"></div>
                                                <div ng-show="formSelect.selected.length" ng-click="formSelect.remove(0)" class="input__label icon icon_fa-times"></div>
                                              </div>
                                            </div>
                                            <div class="row__item">
                                                    <div for="form-element-14054644007032" class="label label_prefix <[ (singleForm['user'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['user'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                                      <div ng-if="!(singleForm['user'].$valid)" class="icon icon_fa-asterisk"></div>
                                                      <div ng-if="(singleForm['user'].$valid)" class="icon icon_fa-check"></div>
                                                    </div>
                                            </div>
                                          </div>
                                          <div class="dropdown-list">
                                            <div class="dropdown-list__inner">
                                              <div ng-mousedown="formSelect.prevent($event)" class="dropdown-list__body tags__dropdown-list">
                                                <div ng-repeat="item in formSelect.dataFiltered" ng-class="{_active: formSelect.current == $index}" ng-click="formSelect.select($index)" ng-mouseover="formSelect.current = $index" class="dropdown-list__item"><[ item.email ]>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                              </div>
                            </div>
                          </div>
                    <div class="form-line form-line_sided">
                      <div class="form-line_sided__inner">
                        <div class="form-line_sided__sidebar">
                          <label for="form-element-14054644007033" class="label label_input">Средняя оценка
                          </label>
                        </div>
                        <div class="form-line_sided__content">
                          <div class="label label_input"><[ single.vote_criteria|average ]></div>
                        </div>
                      </div>
                    </div>
                    <div class="form-line form-line_sided">
                      <div class="form-line_sided__inner">
                        <div class="form-line_sided__sidebar">
                          <label for="form-element-14054644007034" class="label label_input">Критерии оценки:
                          </label>
                        </div>
                        <div class="form-line_sided__content">
                                <div class="form-line form-line_double form-line form-line_double">
                                              <div class="form-line form-line_sided">
                                                <div class="form-line_sided__inner">
                                                  <div class="form-line_sided__sidebar">
                                                    <label for="form-element-14054644007035" class="label label_input">Чистота
                                                    </label>
                                                  </div>
                                                  <div class="form-line_sided__content">
                                                          <input type="range" class="input_block input_block" id="form-element-14054644007035" required="" name="vote_criteria[0]" ng-model="single.vote_criteria[0]" max="10" min="0" step="1" value="0"/>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="form-line form-line_sided">
                                                <div class="form-line_sided__inner">
                                                  <div class="form-line_sided__sidebar">
                                                    <label for="form-element-14054644007036" class="label label_input">Комфорт
                                                    </label>
                                                  </div>
                                                  <div class="form-line_sided__content">
                                                          <input type="range" class="input_block input_block" id="form-element-14054644007036" required="" name="vote_criteria[1]" ng-model="single.vote_criteria[1]" max="10" min="0" step="1" value="0"/>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="form-line form-line_sided">
                                                <div class="form-line_sided__inner">
                                                  <div class="form-line_sided__sidebar">
                                                    <label for="form-element-14054644007037" class="label label_input">Меслорасположение
                                                    </label>
                                                  </div>
                                                  <div class="form-line_sided__content">
                                                          <input type="range" class="input_block input_block" id="form-element-14054644007037" required="" name="vote_criteria[2]" ng-model="single.vote_criteria[2]" max="10" min="0" step="1" value="0"/>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="form-line form-line_sided">
                                                <div class="form-line_sided__inner">
                                                  <div class="form-line_sided__sidebar">
                                                    <label for="form-element-14054644007038" class="label label_input">Удобства
                                                    </label>
                                                  </div>
                                                  <div class="form-line_sided__content">
                                                          <input type="range" class="input_block input_block" id="form-element-14054644007038" required="" name="vote_criteria[3]" ng-model="single.vote_criteria[3]" max="10" min="0" step="1" value="0"/>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="form-line form-line_sided">
                                                <div class="form-line_sided__inner">
                                                  <div class="form-line_sided__sidebar">
                                                    <label for="form-element-14054644007039" class="label label_input">Персонал
                                                    </label>
                                                  </div>
                                                  <div class="form-line_sided__content">
                                                          <input type="range" class="input_block input_block" id="form-element-14054644007039" required="" name="vote_criteria[4]" ng-model="single.vote_criteria[4]" max="10" min="0" step="1" value="0"/>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="form-line form-line_sided">
                                                <div class="form-line_sided__inner">
                                                  <div class="form-line_sided__sidebar">
                                                    <label for="form-element-140546440070310" class="label label_input">Соотношение Цена/Качество
                                                    </label>
                                                  </div>
                                                  <div class="form-line_sided__content">
                                                          <input type="range" class="input_block input_block" id="form-element-140546440070310" required="" name="vote_criteria[5]" ng-model="single.vote_criteria[5]" max="10" min="0" step="1" value="0"/>
                                                  </div>
                                                </div>
                                              </div>
                                </div>
                        </div>
                      </div>
                    </div>
                          <div class="form-line">
                            <div class="label label_block">Комментарий
                            </div>
                                  <textarea class="input input_block input input_block" id="form-element-140546440070310" name="content" ng-model="single.content" rows="8"></textarea>
                          </div>
                    <div class="form-line">
                            <button type="submit" class="button button button_primary">Сохранить
                            </button>
                            <button type="button" class="button button button_clean" ng-click="Form.revertChanges()">Отменить изменения
                            </button>
                    </div>
            </form>
    </div>
  </div>
</div>