
<div class="v-single">
  <div class="v-single__inner">
    <div class="b-heading v-single-heading">
      <div class="b-heading__menu">
      </div>
      <div class="b-heading__navigation">
      </div>
      <div class="b-heading__title">
        <button type="button" class="button button_clean" ng-click="history.back()">
          <div class="icon icon_fa-chevron-left"></div>
        </button>Настройки
      </div>
    </div>
    <div class="v-single-contents">
            <form autocomplete="off" class="form form" name="singleForm" novalidate="" form-submit="Form.create()">
              <tabset>
                <tab heading="Основные">
                        <fieldset class="form-fieldset">
                          <legend class="form-legend">Настройки доступа
                          </legend>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-14062060694252" class="label label_input">Режим обслуживания
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                            <div class="label label_input">
                                                    <label form-element="" form-input="" class="switch">
                                                            <input name="config.maintenance" type="checkbox" ng-model="single.config.maintenance" class="switch__field" id="form-element-14062060694252" form-element-field="" form-input-field=""/>
                                                            <label for="form-element-14062060694252" class="switch__label" ng-model="single.config.maintenance" form-checkbox="">
                                                            </label>
                                                    </label>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                        </fieldset>
                        <fieldset class="form-fieldset">
                          <legend class="form-legend">Настройки сервиса
                          </legend>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-14062060694254" class="label label_input">Телефон службы поддержки
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-14062060694254" name="config.service_phone" ng-model="single.config.service_phone"/>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-14062060694256" class="label label_input">Email службы поддержки
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-14062060694256" name="config.service_email" ng-model="single.config.service_email"/>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                        </fieldset>
                </tab>
                <tab heading="Служебные ярлыки">
                        <fieldset class="form-fieldset">
                          <legend class="form-legend">Ярлыки служебных меток
                          </legend>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-14062060694258" class="label label_input">Ярлык статей
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-14062060694258" name="config.slug_articles" ng-model="single.config.slug_articles"/>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                        </fieldset>
                        <fieldset class="form-fieldset">
                          <legend class="form-legend">Ярлыки служебных страниц
                          </legend>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-140620606942510" class="label label_input">Об Азовхотелс
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-140620606942510" name="config.slug_azovhotels" ng-model="single.config.slug_azovhotels"/>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-140620606942512" class="label label_input">Договор о конфиденциальности
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-140620606942512" name="config.slug_confidential" ng-model="single.config.slug_confidential"/>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-140620606942514" class="label label_input">Публичная оферта
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-140620606942514" name="config.slug_public_offer" ng-model="single.config.slug_public_offer"/>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-140620606942516" class="label label_input">ЧАВО
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-140620606942516" name="config.slug_fuq" ng-model="single.config.slug_fuq"/>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-140620606942518" class="label label_input">Карьера
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-140620606942518" name="config.slug_carrier" ng-model="single.config.slug_carrier"/>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-140620606942520" class="label label_input">Правила и условия
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-140620606942520" name="config.slug_conditions" ng-model="single.config.slug_conditions"/>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-140620606942522" class="label label_input">Служба поддержки клиентов
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-140620606942522" name="config.slug_help" ng-model="single.config.slug_help"/>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-140620606942524" class="label label_input">Отельерам
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-140620606942524" name="config.slug_hoteliers" ng-model="single.config.slug_hoteliers"/>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-140620606942526" class="label label_input">Турфирмам
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-140620606942526" name="config.slug_tourists" ng-model="single.config.slug_tourists"/>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-140620606942528" class="label label_input">Реклама на сайте
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-140620606942528" name="config.slug_advertisement" ng-model="single.config.slug_advertisement"/>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                        </fieldset>
                </tab>
              </tabset>
                    <div class="form-line">
                            <button type="submit" class="button button button_primary">Сохранить
                            </button>
                            <button type="button" class="button button button_clean" ng-click="Form.revertChanges()">Отменить изменения
                            </button>
                    </div>
            </form>
    </div>
  </div>
</div>