include ../../mixins/form
include ../../mixins/elements
include ../templates-form
include form

extends ../view-single

      
block single_heading_title
  | Новое бронирование

block single_heading_navigation

block single_content
  include ../templates-form
  
  +form(name="singleForm",
    novalidate="",
    form-submit="Form.create()")

    +form_reservation_passport
    +form_reservation_internal
    +form_reservation_phone
    +form_reservation_work-period
    +form_reservation_owner
    +form_reservation_room_type

    +form_template_submit
