include ../../mixins/form
include ../../mixins/elements
include ../templates-form
include form


extends ../view-single

block single_heading_back
  +button.button_clean(ui-sref="reservations({hotel: $stateParams.hotel})")
    .icon.icon_fa-chevron-left

block single_heading_title
  | Изменить бронирование

block single_heading_navigation
  +button.button_green(ng-click="manage()",
    ng-if="single.manager == null")
    | В обработку 
    span.icon.icon_fa-plus
  +button.button_red(ng-click="unManage()",
    ng-if="single.manager != null && single.manager == rt.current_user_id")
    | Убрать из обработки 
    span.icon.icon_fa-minus
  label.label.label_button(ng-if="single.manager != null && single.manager != rt.current_user_id")
    | В обработке
  +button.button_red(ng-click="delete()")
    | Удалить 
    span.icon.icon_fa-trash-o

block single_content
  include ../templates-form

  +form(name="singleForm",
    novalidate="",
    form-submit="Form.update()")

    +form_reservation_price
    +form_reservation_passport
    +form_reservation_internal
    +form_reservation_status
    +form_reservation_phone
    +form_reservation_work-period
    +form_reservation_owner

    +form_template_submit

