include ../../mixins/form
include ../../mixins/elements
include ../templates-form


mixin form_reservation_passport
  +fieldset("Паспортные данные")
    +form_template_parts("triple")
      +form_template_part-input("Фамилия", "last_name", "")
      +form_template_part-input("Имя", "first_name", "")
      +form_template_part-input("Отчество", "middle_name")

    .form-line.form-line_sided
      .form-line_sided__inner
        .form-line_sided__sidebar
          +currentId()
          label.label.label_block(for=form_element_id_current) Серия
          +inputBlock(name="passport_series", type="text",
            ng-model="single.passport_series",
            id=form_element_id_current)
        .form-line_sided__content
          +currentId()
          label.label.label_block(for=form_element_id_current) Код паспорта
          +inputBlock(name="passport_code", type="text",
            ng-model="single.passport_code",
            id=form_element_id_current)

    +form_template_block-input("Кем и кода паспорт выдан", "passport_issued")


mixin form_reservation_phone
  +form_template_sided-input("Телефон", "phone")


mixin form_reservation_work-period()
  +form_template_parts("double")
    +form_template_part
      +form_template_sided-datepicker("Дата начала",
        "starting_at")(required="")
    +form_template_part
      +form_template_sided-datepicker("Дата окончания",
        "ending_at")(required="").dropdown_right



mixin form_reservation_owner
  +form_template_sided-select("Владелец", "single.user",
    "single.related_data_all.users",
    "email")(name="user")



mixin form_reservation_room_type
  +form_template_sided-select("Тип номера", "single.room_type",
    "single.related_data_all.room_types[0]",
    "title")(required="", name="room_type")



mixin form_reservation_internal
    +form_template_sided-switch("Внутренняя", "internal")



mixin form_reservation_status
  +form_template_sided-select("Статус", "single.reservation_status",
    "single.reservation_status_choices",
    "label")(name="reservation_status")


mixin form_reservation_price
  +form_template_sided("Стоимость/Предоплата")
    .font-large
      | <[ single.price ]>
      small
        | / <[ single.prepayment_sum]>