include ../../mixins/form
include ../../mixins/elements

extends ../view-list

block list_heading_title
  | Бронирования

block list_heading_navigation
  .group
  +button.button_primary(ui-sref="reservations.create", ng-if="$stateParams.hotel > 0")
    | Создать
    .icon.icon_fa-plus

block list_heading_filter_controls
  .row.row_table
    .row__item
      +button(ui-sref="reservations({manager: undefined})",
        ng-if="$stateParams.manager > 0")
        | Все
      +button(ui-sref="reservations({manager: rt.current_user_id})",
        ng-if="!$stateParams.manager")
        | Мои
    .row__item(ng-init="reservation_type_statuses = [\
        {id: undefined, name: 'Тип'},\
        {id: 'false', name: 'Внешнее'},\
        {id: 'true', name: 'Внутреннее'},\
      ];")
      +tags("search.params.type_status", "reservation_type_statuses", "name")(style="width: 100px;")
    .row__item
      +tags("search.params.status", "list.reservation_status_choices", "label")(style="width: 200px;")
      //- .dropdown.v-list-controls__sidebar__dropdown
        +button
          | Статус:    
          .icon.icon_fa-angle-down
        .dropdown-list
          .dropdown-list__inner
            .dropdown-list__body
              block list_heading_with-selected
                //- .group
              .dropdown-list__item
                | 
                .icon.icon_fa-trash-o

block list_contents_title
  .row__item
    +list_field_order('last_name')
      | ФИО
  .row__item._wf2
  .row__item._wd4
    +list_field_order('user')
      | Пользователь
  .row__item._wf10
    +list_field_order('reservation_status')
      | Статус

block list_contents_items
  .row__item
    | <[ item.last_name ]> <[ item.first_name ]> <[ item.middle_name]>
  .row__item._wf2
    .badge.badge_red(ng-if="(item.manager == null)")
      | Н
    .badge.badge_green(ng-if="(item.manager > 0 && item.manager != rt.current_user_id)")
      | О
    .badge.badge_blue(ng-if="(item.manager == rt.current_user_id)")
      | М
  .row__item._wd4
    | <[ item.user.email]>
  .row__item._wf10
    .badge(class!="badge_status-<[item.reservation_status]>", ui-sref="reservations({status: item.reservation_status})")
      | <[ item.reservation_status_choices[item.reservation_status].label ]>

block list_contents_items_controls
  +button.button_small.button_green(
    ui-sref="reservations.detail({id: item.id})"
    )
    .icon.icon_fa-pencil