<!DOCTYPE html>
<html id="html">
  <head>
{% block title %}
    <title>Admin</title>
{% endblock %}

    <link rel="stylesheet" type="text/css" href="/static/css/admin/style.css">
{% block styles %}
{% endblock %}

  </head>
  <body id="body" ng-app="app">
{% block body %}
{% endblock %}

  </body>
{% block scripts %}
  <script src="/static/js/admin/vendor.js"></script>
  <script src="/static/js/core/modules.js"></script>
  <script src="/static/js/admin/conf.js"></script>
  <script src="/static/js/admin/app.js"></script>
  <script src="/static/js/admin/services/Api.js"></script>
  <script src="/static/js/admin/services/FormFactory.js"></script>
  <script src="/static/js/admin/common/templates.js"></script>
  <script src="/static/js/admin/views/conf.js"></script>
  <script src="/static/js/admin/views/views.js"></script>
  <script src="/static/js/admin/views/controllers.js"></script>
  <script src="/static/js/admin/views/pagination.js"></script>
  <script src="/static/js/admin/views/labels/labels.js"></script>
  <script src="/static/js/admin/views/pages/pages.js"></script>
  <script src="/static/js/admin/views/cities/cities.js"></script>
  <script src="/static/js/admin/views/states/states.js"></script>
  <script src="/static/js/admin/views/users/users.js"></script>
  <script src="/static/js/admin/views/groups/groups.js"></script>
  <script src="/static/js/admin/views/hotels/hotels.js"></script>
  <script src="/static/js/admin/views/roomtypes/roomtypes.js"></script>
  <script src="/static/js/admin/views/roomtypes_rates/roomtypes_rates.js"></script>
  <script src="/static/js/admin/views/roomtypes_prices/roomtypes_prices.js"></script>
  <script src="/static/js/admin/views/contacts/contacts.js"></script>
  <script src="/static/js/admin/views/comments/comments.js"></script>
  <script src="/static/js/admin/views/reservations/reservations.js"></script>
  <script src="/static/js/admin/views/config/config.js"></script>
  <script src="/static/js/admin/views/metadata/metadata.js"></script>
  <script src="/static/js/admin/views/mail_templates/mail_templates.js"></script>
  <script src="/static/js/core/common/ckeditor/ckeditor.js"></script>
{% endblock %}

</html>