
{% extends "admin/base.html" %}
{% block body %}
<div ng-controller="ViewRootCtrl" class="root">
  <div class="root__inner">
    <div class="root__sidebar">
      <div ng-controller="ViewSidebarCtrl" ng-init="setCurrentUser({{request.user.id}})" class="sidebar">
        <div class="sidebar__body">
          <div class="sidebar-menu__item">
            <div ng-class="{_active: ($state.includes('hotels') || $state.includes('roomtypes') || $state.includes('rooms') || $state.includes('contacts') || $state.includes('comments') || $state.includes('roomtypes_prices') || $state.includes('roomtypes_rates')) }" class="sidebar-links-group">
              <div ui-sref="hotels({page: undefined})" class="sidebar-links-group__icon icon icon_fa-h-square"></div>
              <div class="sidebar-links-group__list"><a ui-sref="hotels" class="sidebar-link">Гостиницы</a><a ui-sref="labels({type: 'hotel_type', page: undefined})" class="sidebar-link">Типы гостиниц</a><a ui-sref="labels({type: 'hotel_convenience', page: undefined})" class="sidebar-link">Удобства в гостиницах</a><a ui-sref="labels({type: 'roomtype_categories', page: undefined})" class="sidebar-link">Категории типов номеров</a></div>
            </div>
          </div>
          <div class="sidebar-menu__item">
            <div ng-class="{_active: ($state.includes('pages')) }" class="sidebar-links-group">
              <div ui-sref="pages({page: undefined})" class="sidebar-links-group__icon icon icon_fa-file-text"></div>
              <div class="sidebar-links-group__list"><a ui-sref="pages({page: undefined})" class="sidebar-link">Страницы</a><a ui-sref="labels({type: 'page_type', page: undefined})" class="sidebar-link">Типы страниц</a><a ui-sref="labels({type: 'page_category', page: undefined})" class="sidebar-link">Категории страниц</a></div>
            </div>
          </div>
          <div class="sidebar-menu__item">
            <div ng-class="{_active: ($state.includes('cities') || $state.includes('states')) }" class="sidebar-links-group">
              <div ui-sref="cities({page: undefined})" class="sidebar-links-group__icon icon icon_fa-map-marker"></div>
              <div class="sidebar-links-group__list"><a ui-sref="cities({page: undefined})" class="sidebar-link">Города</a><a ui-sref="states({page: undefined})" class="sidebar-link">Области</a></div>
            </div>
          </div>
          <div class="sidebar-menu__item">
            <div ng-class="{_active: ($state.includes('users') || $state.includes('groups')) }" class="sidebar-links-group">
              <div ui-sref="users({page: undefined})" class="sidebar-links-group__icon icon icon_fa-users"></div>
              <div class="sidebar-links-group__list"><a ui-sref="users({page: undefined})" class="sidebar-link">Пользователи</a><a ui-sref="groups({page: undefined})" class="sidebar-link">Группы пользователей</a></div>
            </div>
          </div>
          <div class="sidebar-menu__item">
            <div ng-class="{_active: ($state.includes('reservations')) }" class="sidebar-links-group">
              <div ui-sref="reservations({page: undefined, hotel: undefined, manager: undefined})" class="sidebar-links-group__icon icon icon_fa-calendar"></div>
              <div class="sidebar-links-group__list"><a ui-sref="reservations({page: undefined, hotel: undefined, manager: undefined})" class="sidebar-link">Бронирования</a></div>
            </div>
          </div>
          <div class="sidebar-menu__delimiter"></div>
          <div class="sidebar-menu__item">
            <div ng-class="{_active: ($state.includes('mail_templates')) }" class="sidebar-links-group">
              <div ui-sref="mail_templates({page: undefined})" class="sidebar-links-group__icon icon icon_fa-envelope"></div>
              <div class="sidebar-links-group__list"><a ui-sref="mail_templates({page: undefined})" class="sidebar-link">Рассылки</a></div>
            </div>
          </div>
          <div class="sidebar-menu__item">
            <div ng-class="{_active: ($state.includes('config') || $state.includes('metadata')) }" class="sidebar-links-group">
              <div ui-sref="config({page: undefined})" class="sidebar-links-group__icon icon icon_fa-cogs"></div>
              <div class="sidebar-links-group__list"><a ui-sref="config({page: undefined})" class="sidebar-link">Настройки</a><a ui-sref="metadata({page: undefined})" class="sidebar-link">Метаданные</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="root__content">
      <div id="notifications" class="notifications">
        <div notifications-list="" class="notifications__inner">
          <div ng-repeat="item in notifications.list.slice().reverse()" class="alert <[ item.type ? 'alert_' + item.type : '' ]>">
            <button type="button" ng-click="item.remove()" class="alert__close"></button>
            <div class="alert__title"><[ item.title ]></div>
            <div class="alert__content"><[ item.content ]></div>
          </div>
        </div>
      </div>
      <div http-request-tracker="" ng-class="{_active: httpRequestTracker.hasPendingRequests()}" class="v-loading">
        <div class="v-loading__inner">
          <div class="loading">
            <div class="loading__text">Загрузка</div>
            <div class="loading__spinner"></div>
          </div>
        </div>
      </div>
      <div class="view">
        <div ui-view="view" class="view__inner">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
