/* ========================================================================
 * List view
 * ======================================================================== */

$vListElementOffset ?= 9px
$vListElementOffsetHalf ?= floor($vListElementOffset / 2)

$vListControlsSidebarOffset ?= 0

/**
 * Classes
 * ======================================================================== */

.v-list
    // 


// List controls
$vListControlsSidebarWidth ?= 190px

.v-list-controls
    borderRadiusTop($borderRadiusLarge)
    withSidebar($vListControlsSidebarWidth, 'left')

    padding $vListElementOffset * 2 0

    &__sidebar
        padding $vListControlsSidebarOffset $vListControlsSidebarOffset\
            $vListControlsSidebarOffset 0

        &__dropdown
            & .dropdown-list
                min-width 100%
                &__inner
                    min-width 100%
                &__body
                    min-width 100%

            &:hover
                & > .dropdown-list
                    visibility visible
                    opacity 1


// List contents
$vListContentsColorBorder ?= $colorThemeReliefBorder

.v-list-contents
    width 100%
    margin  0 0 $lineHeight 0
    padding 0

    border-radius $borderRadiusLarge
    border $borderWidthFat solid $colorThemeReliefBorder
    list-style none

    &__sortable-field
        cursor pointer

        & > .icon
            & + .icon
                margin-left -4px

    &__item
        @extends .row_table

        border-bottom 1px solid $colorThemeReliefBorder
        border-top 1px solid transparent

        background-color #fff
        z-index 1

        &:first-child
            borderRadiusTop($borderRadiusLarge - $borderWidthFat)

        &:last-child
            borderRadiusBottom($borderRadiusLarge - $borderWidthFat)

        &{selector()}_title
            & > .row__item
                padding $vListElementOffset + $vListElementOffsetHalf $vListElementOffset

                font-weight $fontWeightBold

        &._highlightable
            transition background $transitionDuration linear

            &._checked
            &._hover
            &:hover
                // outline $borderWidthFat solid $colorThemeHighlight
                // border-color transparent
                background-color $colorThemeReliefBottom
                z-index 2

        & > .row__item
            padding $vListElementOffset $vListElementOffset

            &:last-child
                text-align right


.v-list-pagination
    @extends $pCF

    &__text,
    &__link
        padding $vListElementOffset

    &__link
        cursor pointer
        
        &_prev,
        &_next
            font-size floor($fontSize * $lineHeightRatio)

            & > .icon
                margin 0 floor($lineHeight / 2)

    &__text
        &_current
            font-size floor($fontSize * $lineHeightRatio)

