/* ========================================================================
 * Loading view
 * ======================================================================== */

$vLoadingElementOffset ?= 9px
$vLoadingElementOffsetHalf ?= floor($vLoadingElementOffset / 2)

$vLoadingControlsSidebarOffset ?= 0

/**
 * Classes
 * ======================================================================== */

.v-loading
    zIndex(100)

    display table
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    visibility hidden
    opacity 0

    background-color #fff
    transition opacity $transitionDuration linear

    &._active
        visibility visible
        opacity 0.9

    &__inner
        display table-cell
        vertical-align middle
        text-align center

