/* ========================================================================
 * Login view
 * ======================================================================== */

$vLoginElementOffset ?= 9px
$vLoginElementOffsetHalf ?= floor($vLoginElementOffset / 2)

$vLoginControlsSidebarOffset ?= 0

/**
 * Classes
 * ======================================================================== */

.v-login
    display table
    width 100%
    height 100%

    background-color $colorThemeReliefBottom

    &__inner
        display table-cell
        vertical-align middle
        text-align center


.v-login-form
    display inline-block
    padding $vLoginElementOffset $vLoginElementOffset * 2
    max-width 400px

    border-radius $borderRadius
    text-align left

    background-color #fff
    z-index 501
    box-shadow 0 10px 35px rgba(0,0,0,0.2)

    & .form-line
        &_sided
            $w = 135px

            &__sidebar
                width $w
                margin-left -1 * @width

            &__inner
                margin-left $w

