/* ========================================================================
 * PricePicker view
 * ======================================================================== */

$vPricePickerElementOffset ?= 9px
$vPricePickerElementOffsetHalf ?= floor($vPricePickerElementOffset / 2)

$vPricePickerControlsSidebarOffset ?= 0

/**
 * Classes
 * ======================================================================== */

.v-price-picker
    // 


// PricePicker controls
$vPricePickerControlsSidebarWidth ?= 350px

.v-price-picker-controls
    borderRadiusTop($borderRadiusLarge)
    withSidebar($vPricePickerControlsSidebarWidth, 'left')

    padding $vPricePickerElementOffset * 2 0

    &__sidebar
        padding $vPricePickerControlsSidebarOffset $vPricePickerControlsSidebarOffset\
            $vPricePickerControlsSidebarOffset 0


// PricePicker contents
$vPricePickerContentsColorBorder ?= $colorThemeReliefBorder

.v-price-picker-contents
    width 100%
    margin  0 0 $lineHeight 0
    padding floor($lineHeight / 2)

    list-style none
    border-radius $borderRadiusLarge
    border $borderWidthFat solid $colorThemeReliefBorder

    background-color $colorThemeReliefBorder

    // &__item
    //     @extends .row_table

    //     border-bottom 1px solid $colorThemeReliefBorder
    //     border-top 1px solid transparent

    //     background-color #fff
    //     z-index 1

    //     &:first-child
    //         borderRadiusTop($borderRadiusLarge - $borderWidthFat)

    //     &:last-child
    //         borderRadiusBottom($borderRadiusLarge - $borderWidthFat)

    //     &{selector()}_title
    //         & > .row__item
    //             padding $vPricePickerElementOffset + $vPricePickerElementOffsetHalf $vPricePickerElementOffset

    //             font-weight $fontWeightBold

    //     &._highlightable
    //         transition background $transitionDuration linear

    //         &._checked
    //         &._hover
    //         &:hover
    //             // outline $borderWidthFat solid $colorThemeHighlight
    //             // border-color transparent
    //             background-color $colorThemeReliefBottom
    //             z-index 2

    //     & > .row__item
    //         padding $vPricePickerElementOffset $vPricePickerElementOffset

    //         &:last-child
    //             text-align right


.v-price-picker-pagination
    @extends $pCF

    &__text,
    &__link
        padding $vPricePickerElementOffset

    &__link
        cursor pointer
        
        &_prev,
        &_next
            font-size floor($fontSize * $lineHeightRatio)

            & > .icon
                margin 0 floor($lineHeight / 2)

    &__text
        &_current
            font-size floor($fontSize * $lineHeightRatio)

