/* ========================================================================
 * Single view
 * ======================================================================== */

$vSingleElementOffset ?= 9px
$vSingleElementOffsetHalf ?= floor($vSingleElementOffset / 2)

$vSingleControlsSidebarOffset ?= 0

/**
 * Classes
 * ======================================================================== */

.v-single
    display block
    max-width 840px
    margin 0 auto


// Single controls
$vSingleControlsSidebarWidth ?= 350px

.v-single-controls
    borderRadiusTop($borderRadiusLarge)
    withSidebar($vSingleControlsSidebarWidth, 'left')

    padding $vSingleElementOffset * 2 0

    &__sidebar
        padding $vSingleControlsSidebarOffset $vSingleControlsSidebarOffset\
            $vSingleControlsSidebarOffset 0


// Single contents

.v-single-contents
    margin  0 0 $lineHeight 0
