//-
//- Elements mixins
//-

include ./form


mixin images-single()
  .align-center(ng-if="single.view_file")
    .thumbnail
      .thumbnail__image
        img(ng-src="<[single.related_data.view_file.urls.big]>")

  .form-line
    +upload("Загрузить новую", "single.view_file", "single.related_data.view_file")



mixin images-list()
  .block-list.background-dark(form-files-list="")
    .block-list__item(ng-repeat="file in single.related_data.files")
      .thumbnail
        .thumbnail__image
          img(ng-src="<[file.urls.small]>")
        .thumbnail__controls
          .button.button_red.button_small(ng-click="remove($index)")
            .icon.icon_fa-times

  .form-line
    +upload("Добавить файлы", "single.files", "single.related_data.files")(multiple="")


mixin price-picker()
  .price-picker(price-picker="")
    //- pre
      | {{pricePicker|toJson:true}}
    ul.price-picker-calendar(
      price-picker-calendar="",
      class="{{ (pricePicker.offset > 0 ?\
        'price-picker-calendar_offset' + pricePicker.offset : '') }}"
      )
      li.price-picker-calendar__item(
        ng-repeat="day in pricePicker.days"
        )
        .price-picker-calendar-day(
          ng-mousedown="pricePicker.dragStart($index)",
          ng-mouseenter="pricePicker.dragOver($index)",
          ng-mouseup="pricePicker.dragEnd($index)",
          ng-class="{_active: (day.active)}",
          )
          .price-picker-calendar-day__number
            | {{day.date|date:'dd'}}
          .price-picker-calendar-day__price
            | {{day.data.price}}
          .price-picker-calendar-day__quota
            | {{day.data.available_rooms}}

    .price-picker-overlay
      .price-picker-overlay__back
      .price-picker-overlay__front

        .price-picker-form