//- 
//- Form mixins
//- 

- var form_element_id_prefix = 'form-element-' + (new Date()).getTime()
- var form_element_id = 1
- var form_element_id_current = form_element_id_prefix + form_element_id

- var form_context_stack = []
- var form_context_top = {}


//- Form element id generator
mixin uid()
  - form_element_id_current = form_element_id_prefix + (form_element_id++)

mixin currentId(id)
  +uid()

  if id
    - form_element_id_current = id


include ../../../mixins/form


mixin form()
  +currentId(attributes.name)

  //- if !form_context_stack
  //-   - form_context_stack = []

  - attributes.name = form_element_id_current
  - form_context_stack.push(attributes)
  - var top = form_context_stack.length - 1

  form.form(autocomplete="off")&attributes(attributes)
    if block
      block

  - form_context_stack.pop()


mixin fieldset(label)
  fieldset.form-fieldset
    legend.form-legend
      = label

    if block
      block


mixin validityLabel(valid)
  - var top = form_context_stack.length - 1

  if !valid
    if top >= 0
      if attributes.name
        - valid = form_context_stack[top].name + "['" + attributes.name + "'].$valid"

  .label.label_prefix&attributes(attributes)(for=form_element_id_current,
    class!="<[ (" + valid + ") ? 'label_prefix_green' : 'label_prefix_red' ]>")
    .icon.icon_fa-asterisk(ng-if!="!(" + valid + ")")
    .icon.icon_fa-check(ng-if!="(" + valid + ")")


mixin button()
  button.button&attributes(attributes)(type!=(!attributes.type ? "button" : attributes.type))

    if block
      block


mixin input()
    input.input&attributes(attributes)


mixin inputBlock()
  +currentId(attributes.id)

  - var top = form_context_stack.length - 1

  - var required = typeof attributes.required != "undefined"
  - var valid = attributes.valid

  if !valid
    if top >= 0
      - valid = form_context_stack[top].name + "['" + attributes.name + "'].$valid"
  - delete attributes.valid

  .row_table
    if block
      .row__item
        .label.label_prefix.group__element_first(for=form_element_id_current)
          block
    .row__item._w12
      +input&attributes(attributes).input_block(class!=(!block ? (required ?
        'group__element_first' : '') : 'group__element'))
    if required
      .row__item
        +validityLabel(valid).group__element_last


//- Form switch mixin
mixin switch()
  +currentId(attributes.id)

  label.switch(class!=attributes.class,
    ng-class!=attributes['ng-class'],
    form-element='',
    form-input=''
    )
    +tagInput(attributes).switch__field(
      id=form_element_id_current,
      type="checkbox",
      ng-model!=attributes['ng-model'],
      ng-checked!=attributes['ng-checked'],
      form-element-field='',
      form-input-field=''
      )
    +tagLabel.switch__label(
      for=form_element_id_current,
      ng-model!=attributes['ng-model'],
      ng-checked!=attributes['ng-checked'],
      value=attributes.value,
      form-checkbox=''
      )


//- Form checkbox mixin
mixin checkbox()
  +currentId(attributes.id)

  .checkbox(class!=attributes.class,
    ng-class!=attributes['ng-class'],
    form-element='',
    form-input=''
    )
    +tagInput(attributes).checkbox__field(
      id=form_element_id_current,
      type="checkbox",
      ng-model!=attributes['ng-model'],
      ng-checked!=attributes['ng-checked'],
      form-element-field='',
      form-input-field=''
      )
    +tagLabel.checkbox__label(
      for=form_element_id_current,
      ng-model!=attributes['ng-model'],
      ng-checked!=attributes['ng-checked'],
      value=attributes.value,
      form-checkbox=''
      )


//- Form radiobutton mixin
mixin radio()
  +currentId(attributes.id)

  .radio(class!=attributes.class,
    ng-class!=attributes['ng-class'],
    form-element='',
    form-input=''
    )
    +tagInput(attributes).radio__field(
      id=form_element_id_current,
      type="radio",
      ng-model!=attributes['ng-model'],
      form-element-field='',
      form-input-field=''
      )
    +tagLabel.radio__label(
      for=form_element_id_current,
      ng-model!=attributes['ng-model'],
      value=attributes.value,
      form-radio=''
      )


//- Form select mixin
mixin select(model, source, template)
  +currentId(attributes.id)
  - var labeled = ''
  - var mt = !!attributes.multiple

  if !template
    - template = 'item.name'

  .input-wrapper
    +tagLabel(attributes).input.input_select(
      class!=attributes.class,
      style!=attributes.style,
      ng-class!=attributes['ng-class'],
      for=form_element_id_current,
      form-element=''
      )
      +tagSelect(attributes).input__field(
        id=form_element_id_current,
        ng-model!=model,
        ng-options=(!!template && !!source ? "item.id as " + template + " for item in "+ source : shit)
        form-element-field=''
        )
        if block
          block

    if !mt
      .input__label.icon.icon_fa-chevron-down


mixin range()
  input&attributes(attributes).input_block(type="range")


//- Form textarea mixin
mixin textarea(label)
  textarea.input.input_block&attributes(attributes)


mixin tags(model, source, label)
  if !label
    - label="title"
  - var placeholder = label
  - if(label.indexOf('{item}') >= 0)
    - while(label.indexOf('{item}') >= 0)
      - placeholder = placeholder.replace("{item}", "formSelect.selected[0]")
      - label = label.replace("{item}", "item")
  - else
    - placeholder = "formSelect.selected[0]." + label
    - label = "item." + label

  - placeholder = "<[ (formSelect.selected.length > 0 ? " + placeholder + " : '') ]>"
  - multiple = (typeof attributes.multiple != 'undefined')
  - if(multiple)
    - var placeholder = undefined

  - var top = form_context_stack.length - 1
  - var required = typeof attributes.required != "undefined"
  - var valid = attributes.valid

  if !valid
    if top >= 0
      - valid = form_context_stack[top].name + "['" + attributes.name + "'].$valid"
  - delete attributes.valid

  .tags(
    form-select="",
    ng-model=model,
    form-select-data=source,
    multiple=multiple,
    class=(!multiple ? 'tags_single' : 'tags_multiple'),
    style!=attributes.style)
    .dropdown.tags__dropdown(ng-class!="{_active: formSelect.active}")
      .row_table
        .row__item._w12
          .input-wrapper
            +input.input_labeled.input_masked.input_block(ng-model="formSelect.filter",
              form-select-toggle="", id=attributes.id, size=10,
              name=attributes.name, placeholder!=placeholder,
              ng-required!=(required ? "!(" + model + "|isFilled)" : false),
              class!=(!block ? (required ?
                'group__element_first' : '') : 'group__element'))
            - if(multiple)
              .input__label.icon.icon_fa-chevron-down
            - else
              .input__label.icon.icon_fa-chevron-down(ng-show="!formSelect.selected.length")
              .input__label.icon.icon_fa-times(ng-show="formSelect.selected.length",
                ng-click="formSelect.remove(0)")
        if required
          .row__item
            +validityLabel(valid).group__element_last
      .dropdown-list
        .dropdown-list__inner
          .dropdown-list__body.tags__dropdown-list(ng-mousedown="formSelect.prevent($event)")
            .dropdown-list__item(ng-repeat="item in formSelect.dataFiltered",
              ng-class="{_active: formSelect.current == $index}",
              ng-click="formSelect.select($index)",
              ng-mouseover="formSelect.current = $index")
              != "<[ " + label + " ]>"

    - if(multiple)
      .tags__list
        .tags__item.button(ng-repeat="item in formSelect.selected")
          != "<[ " + label + " ]>"
          .tags__item-remove(ng-click="formSelect.remove($index)")


mixin editor(model)
  textarea&attributes(attributes)(ng-model=model, ckeditor="editorOptions",
    form-editor-options="{\
      height: " + (attributes.height ? attributes.height : "'400px'") + ",\
      width: " + (attributes.width ? attributes.width : "'100%'") + ",\
      language: 'ru'\
    }")
  //- div&attributes(attributes)(ui-codemirror="{\
  //-       lineWrapping : true,\
  //-       lineNumbers: false,\
  //-       readOnly: false,\
  //-       indentWithTabs: true,\
  //-       mode: 'markdown',\
  //-       theme: 'markdown',\
  //-       showCursorWhenSelecting: true,\
  //-       extraKeys: {'Enter': 'newlineAndIndentContinueMarkdownList'}\
  //-   }", ng-model=model)


mixin datepicker(model)
  +currentId(attributes.id)

  - var i, classes = []
  if attributes.class
    - for(i=0; i < attributes.class.length; i++)
      - if(attributes.class[i].indexOf('dropdown') >= 0)
        - classes.push(attributes.class[i])
        - delete attributes.class[i]

  .dropdown(class=classes)
    +inputBlock&attributes(attributes)(
      id=form_element_id_current,
      form-datepicker="",
      ng-model=model)
      span.icon.icon_fa-calendar

      //- button&attributes(attributes).button(
        type="button",
        id=form_element_id_current,
        datepicker-popup="yyyy-MM-dd",
        datepicker-options="{\
          'dateFormat': 'yyyy-MM-dd',\
          'starting-day': 1,\
          'show-weeks': false,\
        }",
        show-weeks="false",
        ng-model=model)
        span.icon.icon_fa-calendar

      //- datepicker(
        ng-model="dt",
        date-format="yyyy-MM-dd",
        starting-day="1",
        show-weeks="false"
        )



//- Form upload mixin
mixin upload(label, model, files)
  +currentId(attributes.id)

  .upload(class!=attributes.class, form-upload=model, form-upload-files=files,
    ng-file-drop, ng-file-drop-over="upload_over")
    +tagInput(multiple=attributes.multiple, type="file",
      ng-file-select="", id=form_element_id_current).upload__field
    +tagLabel(for=form_element_id_current).button.button_block.upload__select
      = label

    .upload__list
      .upload__item(ng-repeat="upload_list__item in formUploader.uploader.queue")
        .upload__controls
          .button.button_small.button_red(
            ng-click="upload_list__item.cancel()",
            ng-show="upload_list__item.isUploading") Cancel
          .button.button_small.button_red(ng-click="upload_list__item.remove()") Remove

        .progress.upload__progress(
          ng-class="{_error: (upload_list__item.isError)}")
          .progress__bar(role="progressbar",
            ng-style="{ 'width': upload_list__item.progress + '%' }")
            | <[ upload_list__item.file.name ]> <[ upload_list__item.file.size/1024/1024|number:2 ]> MB



