/* ========================================================================
 * Elements
 * ======================================================================== */

$formLineOffset = 20px

$baseFormElementOffset = $fontSize

$buttonFontSize = 14px

/**
 * Current imports
 */
@import '../../js/vendor/pickadate/lib/compressed/themes/classic.css'
@import '../../js/vendor/pickadate/lib/compressed/themes/classic.date.css'
// @import '../../js/lib/pickadate/lib/themes/classic.time.css'
@import '../../js/vendor/lightbox/css/lightbox.css'

@import '../admin/elements/base'

@import './elements/datepicker'
@import './elements/dropdown'
@import './elements/marks'
@import './elements/slider'

/**
 * Mixins
 * ======================================================================== */


/**
 * Placeholders
 * ======================================================================== */


/**
 * Classes
 * ======================================================================== */

/**
 * Form
 */
.form
    &-title
        font-size 18px
        text-transform uppercase

        color $colorThemeRed

        & > small
            color #999

    &-title,
    &-line
        margin-bottom 8px


.button_medium,
.input_medium,
.label_input-medium
    padding 6px 9px

/**
 * Inputs
 */
.input-wrapper
    &__block
        display inline-block

        &_hard
            display block

.input
    padding-right 0


.radio__field,
.checkbox__field
    top 3px
    left @top


/**
 * Buttons
 */
$buttonHOffset ?= $fontSize

.button
    padding-left $buttonHOffset
    padding-right $buttonHOffset

    font-weight bold
    text-transform uppercase

    &_orange
        background-color $colorThemeOrange
        color #fff

        &:hover
            background-color $colorThemeOrangeDark



/**
 * Labels
 */
.label
    &_block
        margin-bottom floor($lineHeight / 2)

    &_block
    &_input
        font-weight bold

    &_hint
        font-size 12px
        font-weight normal
        color rgba($colorThemeFont, .5)


/**
 * Datepicker 
 */

.datepicker
    & > tbody
        & > tr
            & > td
                & > .button
                    padding-left 12px
                    padding-right @padding-left


/**
 * Notifications
 */

.notifications
    position fixed


/**
 * Loading
 */

.v-loading
    position fixed
    top 0
    left 0