/* ========================================================================
 * Elements
 * ======================================================================== */

/**
 * Core imports
 */

@import '../core/layout/base'
@import '../core/layout/sidebar'
@import '../core/layout/grid'
@import '../core/layout/wrapper'

// @import '../admin/layout/base'
@import '../admin/layout/views/loading'
@import '../admin/layout/views/price-picker'
@import '../admin/layout/notifications'



/**
 * Placeholders
 * ======================================================================== */


$pScrollable
    @extends $pFullFilled

    width auto
    overflow auto


$pWrapped
    @extend $pCF

    display block
    position relative

    text-align center

    &__body
        position relative
        width $widthMax
        margin 0 auto

        text-align left

    &__inner
        position relative
        margin 0 floor($gridGutterWidth / 2)


/**
 * Tags
 * ======================================================================== */

html,
body
    position relative


body
    min-width $widthMin

/**
 * Classes
 * ======================================================================== */

.full-height
    height 100%
    margin 0
    padding 0


.v-price-picker-contents
    border-color $colorThemeReliefBottom
    background-color @border-color


a.blue
    color #3c89b5
    text-decoration none

    &:hover
        text-decoration underline


/**
 * Current imports
 */

@import './layout/root'
@import './layout/header'
@import './layout/footer'
@import './layout/content'
@import './layout/pages/home'
@import './layout/pages/list'
@import './layout/pages/hotelier'
@import './layout/pages/hotel'
@import './layout/pages/page'
// @import './layout/pages/login'
@import './layout/pages/login'
@import './layout/pages/register'
