/* ========================================================================
 * Elements
 * ======================================================================== */

// @import '../../core/elements/table'
/**
 * Current imports
 */

@import '../admin/typography/base'

/**
 * Mixins
 * ======================================================================== */



/**
 * Placeholders
 * ======================================================================== */


/**
 * Classes
 * ======================================================================== */


.highlight
    &_blue
        color $colorThemeBlue

    &_orange
        color $colorThemeOrange


.font
    &_fat
        font-weight bold
        
    &_medium
        font-size 15px
        line-height floor(@font-size * $lineHeightRatio)

    &_big
        font-size 21px
        line-height floor(@font-size * $lineHeightRatio)


.pre-line
    white-space pre-line
