/* ========================================================================
 * Elements
 * ======================================================================== */

// @import '../../core/elements/table'

/**
 * Mixins
 * ======================================================================== */



/**
 * Placeholders
 * ======================================================================== */


/**
 * Current imports
 */

@import '../admin/utils/base'


.color
    &-red
        color $colorThemeRed

    &-green
        color $colorThemeGreen

    &-blue
        color $colorThemeBlue

    &-orange
        color $colorThemeOrange


.pull
    &-right
        float right

        &_absolute
            position absolute
            float none
            right 0

    &-left
        float left

        &_absolute
            position absolute
            float none
            left 0


