include ../../mixins/form
include ../../mixins/elements
include ../templates-form


extends ../view-single


block single_heading_title
  | Метаданные

block single_heading_navigation
  //- 

block single_content
  include ../templates-form

  +form(name="singleForm",
    novalidate="",
    form-submit="Form.create()")

    tabset
      tab(heading="Основные")
        +fieldset("Информация о сайте")
          +form_template_sided-input("Название сайта", "metadata.site_name")
          +form_template_block-textarea("Описание сайта", "metadata.site_description")(rows="5")
          +form_template_block-textarea("Ключевые слова на сайте", "metadata.site_keywords")(rows="5")

        +fieldset("Ссылки на соц. сети и сервисы")
          +form_template_sided-input("Facebook", "metadata.service_facebook")
          +form_template_sided-input("Twitter", "metadata.service_twitter")
          +form_template_sided-input("LinkedIn", "metadata.service_linkedin")
          +form_template_sided-input("Youtube", "metadata.service_youtube")
          +form_template_sided-input("Вконтакте", "metadata.service_vk")
          +form_template_sided-input("Одноклассники", "metadata.service_odnoklassniki")

      tab(heading="Текстовка на сате")
        +form_template_block-textarea("Текст в футере", "metadata.text_footer")(rows="5")

        .form-title
          | Главная:
        +fieldset("Преимущества Азовхотелс")
          +form_template_parts("double")
            +form_template_part
              +form_template_block("Колонка 1:")
                +form_template_block-input("Заголовок", "metadata.text_home_advantages_1_title")
                +form_template_block-textarea("Текст", "metadata.text_home_advantages_1_content")(rows="8")
              +form_template_block("Колонка 2:")
                +form_template_block-input("Заголовок", "metadata.text_home_advantages_2_title")
                +form_template_block-textarea("Текст", "metadata.text_home_advantages_2_content")(rows="8")
            +form_template_part
              +form_template_block("Колонка 3:")
                +form_template_block-input("Заголовок", "metadata.text_home_advantages_3_title")
                +form_template_block-textarea("Текст", "metadata.text_home_advantages_3_content")(rows="8")
              +form_template_block("Колонка 4:")
                +form_template_block-input("Заголовок", "metadata.text_home_advantages_4_title")
                +form_template_block-textarea("Текст", "metadata.text_home_advantages_4_content")(rows="8")


    +form_template_submit

