include ../../mixins/form
include ../../mixins/elements
include ../templates-form


extends ../view-single


block single_heading_title
  | Настройки

block single_heading_navigation
  //- 

block single_content
  include ../templates-form

  +form(name="singleForm",
    novalidate="",
    form-submit="Form.create()")

    tabset
      tab(heading="Основные")
        +fieldset("Настройки доступа")
          +form_template_sided-switch("Режим обслуживания", "config.maintenance")

        +fieldset("Настройки сервиса")
          +form_template_sided-input("Телефон службы поддержки", "config.service_phone")
          +form_template_sided-input("Email службы поддержки", "config.service_email")

      tab(heading="Служебные ярлыки")
        +fieldset("Ярлыки служебных меток")
          +form_template_sided-input("Ярлык статей", "config.slug_articles")
          
        +fieldset("Ярлыки служебных страниц")
          +form_template_sided-input("Об Азовхотелс", "config.slug_azovhotels")
          +form_template_sided-input("Договор о конфиденциальности", "config.slug_confidential")
          +form_template_sided-input("Публичная оферта", "config.slug_public_offer")
          +form_template_sided-input("ЧАВО", "config.slug_fuq")
          +form_template_sided-input("Карьера", "config.slug_carrier")
          +form_template_sided-input("Правила и условия", "config.slug_conditions")
          +form_template_sided-input("Служба поддержки клиентов", "config.slug_help")
          +form_template_sided-input("Отельерам", "config.slug_hoteliers")
          +form_template_sided-input("Турфирмам", "config.slug_tourists")
          +form_template_sided-input("Реклама на сайте", "config.slug_advertisement")
          

    +form_template_submit

