/* ========================================================================
 * Form buttons
 * ======================================================================== */

$buttonFontSize ?= floor($baseFormElementFontSize * $lineHeightRatio)

$buttonBorderWidth ?= 1px
$buttonBorderRadius ?= $baseFormElementBorderRadius

$buttonColorFontPlaceholder ?= rgba($colorThemeFont, .5)
$buttonColorBackgroud ?= #e8e8e8
$buttonColorBackgroudHover ?= #dcdcdc
$buttonColorFont ?= $colorThemeFont
$buttonColors ?= $baseFormElementColors

$buttonPrimaryColorBackgroud ?= $colorThemePrimary
$buttonPrimaryColorBackgroudHover ?= $colorThemePrimaryDark
$buttonPrimaryColorFont ?= #fff

/**
 * Placeholders
 * ======================================================================== */


/**
 * Classes
 * ======================================================================== */

.button
    @extends $pBaseFormElement
    @extends $pBaseFormElementMods

    position relative
    display inline-block

    border 0 solid transparent
    font-size $buttonFontSize
    // font-weight bold
    line-height $lineHeight
    cursor pointer
    white-space nowrap

    background-color $buttonColorBackgroud
    color $buttonColorFont

    &_block
        text-align center
        white-space normal

    &_clean
        background-color transparent
        color inherit

    formElementColored($buttonColors)
    // formElementScale($baseFormElementOffset, $buttonFontSize)

    &_small
        padding 3px 6px
        font-size $fontSize

    &_pull-right
        float right

    &_pull-left
        float left

    &._hover,
    &:hover
        background-color $buttonColorBackgroudHover

    &._focus,
    &:focus
        outline none
        box-shadow 0 0 0 $borderWidth $colorThemeHighlight
        z-index 4

    &._active
        background-color 

    > .icon
        font-size 1.1em
        line-height $lineHeight