/* ========================================================================
 * Form checkboxs
 * ======================================================================== */


$checkboxLineHeight ?= floor($lineHeight / 1.5)
$checkboxOffset ?= 0 // floor($lineHeight / 3)
$checkboxHeight ?= $checkboxLineHeight + floor($lineHeight / 3)
$checkboxWidth ?= $checkboxHeight
$checkboxBorderRadius ?= $baseFormElementBorderRadius
$checkboxBorderWidth ?= 3px
$checkboxColorBackgroud ?= #fff

$checkboxFieldSize ?= 13px // minimum size that firefox can display

$checkboxColorFont ?= #fff
$checkboxColorBorder ?= $inputColorBorder
$checkboxColorBorderFocus ?= $inputColorBorderFocus


/**
 * Placeholders
 * ======================================================================== */

$pCheckboxMetrics
    @extends $pBaseFormElement

    height $checkboxHeight
    width $checkboxWidth
    margin $checkboxOffset
    padding 0


/**
 * Classes
 * ======================================================================== */

.checkbox
    @extends $pCheckboxMetrics

    position relative

    cursor pointer
    user-select none

    background-color $checkboxColorBackgroud

    &__field
        position absolute
        top floor(($checkboxLineHeight - $checkboxFieldSize) / 2)
        left @top
        width $checkboxFieldSize
        height @width
        z-index -1

    &__label
        zIndex(2)
        display block
        position absolute
        top 0
        left @top
        height $checkboxHeight
        width $checkboxWidth

        border $checkboxBorderWidth solid $checkboxColorBorder
        border-radius $checkboxBorderRadius
        cursor pointer
        user-select none

        background-color $checkboxColorBackgroud
        transition background-color $transitionDuration linear

        &:before
            @extends .icon:before
            @extends .icon_fa-check:before

            zIndex(3)

            display block
            position absolute
            top 0
            left @top
            width $checkboxHeight - (@top * 2) - ($checkboxBorderWidth * 2)
            height @width

            border-radius $checkboxBorderRadius
            font-size floor($fontSize * $lineHeightRatio)
            line-height @height
            text-align center
            cursor pointer

            color transparent
            transition color $transitionDuration linear

        .checkbox._focus > &,
        .checkbox:focus > &
            border-color $checkboxColorBorderFocus

        .checkbox._checked > &,
        .checkbox:checked > &,
        &:checked,
        &._checked
            &:before
                color $colorThemePrimary
