/* ========================================================================
 * Datepicker
 * ======================================================================== */

$datepickeDropdownListOffset ?= floor($lineHeight / 2)

/**
 * Classes
 * ======================================================================== */

// .datepicker
//     font-size inherit

//     background-color transparent

//     .button
//         @extends .button_small
//         @extend .button_block

//         min-width 30px

//         &:hover,
//         &._hover,
//         &._active
//             @extends .button.button_primary
//             @extends .button.button_primary:hover

//         // font-size

//     & > tbody
//         & > tr
//             & > td
//                 padding 2px 1px

//                 & > .button
//                     // border-radius 0

//     // tr
//     //     &:nth-child(2n)
//     //         background-color rgba(#000, .05)

// .datepicker-controls
//     padding-top $datepickeDropdownListOffset

//     text-align right


// .datepicker-popup
//     padding $datepickeDropdownListOffset

@import '../../../../js/vendor/pickadate/lib/compressed/themes/classic.css'
@import '../../../../js/vendor/pickadate/lib/compressed/themes/classic.date.css'


.picker
    position absolute
    top 100%
    // right 50%
    // height 0

    width auto

    .dropdown_left &
        left 0
        right auto

    .dropdown_right &
        left auto
        right 0

    &__holder
        display block
        position relative
        height 0
        width auto
        overflow visible

        border-width 0 !important

    &__frame
        @extends $pOverTheContent
        
        display block
        // position relative
        // left 50%
        padding-bottom 1px
        min-width 250px
        max-width 400px
        visibility hidden

        background-color #fff

        .picker--opened &
            visibility visible

    &__table
        margin-bottom 0

    &__button--clear
        display none