/* ========================================================================
 * Form Ace editor.
 * ======================================================================== */

$editorOffset ?= $lineHeight
$editorFomtSize ?= 16px

$editorColorFont ?= $colorThemeFont
$editorColorComment ?= lighten($colorThemeFont, 20%)
$editorColorCommentBackground ?= rgba($colorThemeGray, .5)
$editorColorHr ?= $colorThemeGray
$editorColorLink ?= $colorThemeSecondary
$editorColorString ?= #4687d0 // From my sublime theme
$editorColorTag ?= #da5649 // From my sublime theme
$editorColorAttribute ?= #606aa1 // From my sublime theme
$editorColorAtom ?= $editorColorAttribute

/**
 * Classes
 * ======================================================================== */

@import '../../../../../azovhotels/static/js/lib/codemirror/lib/codemirror.css'

.editor
    padding $baseFormElementOffset - $inputBorderWidth
    min-height 300px
    height auto

    border $inputBorderWidth solid $inputColorBorder

    background-color $inputColorBackgroud


.CodeMirror
    &-wrap
        pre
            padding 0
            margin 0

    &-scroll
        overflow-x auto
        overflow-y hidden

    &-selected
        zIndex(2)


.CodeMirror-wrap.cm-s-markdown
    @extends .editor

    color $editorColorFont
    font-size $editorFomtSize
    font-family $fontFamily
    line-height $lineHeightRatio

    pre
        font-family $fontFamily

    .cm-header
        &,
        &.cm-header-1,
        &.cm-header-2,
        &.cm-header-3,
        &.cm-header-4,
        &.cm-header-5,
        &.cm-header-6
            display inline-block
            margin-top floor($editorOffset / 2)
            margin-bottom floor($editorOffset / 2)

            font-weight normal

        &.cm-header-1 
            font-size floor($editorFomtSize * (1.2 ** 4))

        &.cm-header-2 
            font-size floor($editorFomtSize * (1.2 ** 3))

        &.cm-header-3 
            font-size floor($editorFomtSize * (1.2 ** 2))

        &.cm-header-4
            font-size floor($editorFomtSize * 1.2)

        &.cm-header-5
            font-size $editorFomtSize

        &.cm-header-6 
            font-size floor($editorFomtSize * (1.2 ** -.5))

    .cm-quote
        margin-left $editorOffset
        font-size floor($editorFomtSize * 1.2)
        
        & + .cm-quote
            margin-left 0

        &.cm-quote-1 // And so on and so forth, but i wont write that
            // 

    .cm-strong // Bold
        font-weight $fontBold

    .cm-em // Italic
        font-style italic

    .cm-variable-2 // List item

    .cm-comment // Code
        background-color $editorColorCommentBackground
        color $editorColorComment

    .cm-link // Link href
        color $editorColorLink

    .cm-string // Link text, or string
        color $editorColorString

    .cm-tag // Tag name, or image alt string
        color $editorColorTag

    .cm-attribute // Tag attribute
        color $editorColorAttribute

    .cm-bracket // Tag bracket

    .cm-atom // In markdown appents to &htmlspecialchars;
        color $editorColorAtom

    .cm-hr // Line
        text-align center

        &:before
            display block
            position absolute
            top 50%
            left 0
            width 100%
            height 3px
            margin-top -1px
            z-index -1

            content ''

            background-color $editorColorHr