/* ========================================================================
 * Form elements
 * ======================================================================== */

$baseFormElementOffset ?= floor($lineHeight / 2)
$baseFormElementBorderRadius ?= $borderRadius
$baseFormElementLineHeight ?= $lineHeight
$baseFormElementFontFamily ?= $fontFamily
$baseFormElementFontSize ?= $fontSize

$baseFormElementColors ?= {
    primary: ($colorThemePrimary #fff $colorThemePrimaryDark),
    secondary: ($colorThemeSecondary #fff $colorThemeSecondaryDark),
    red: ($colorThemeRed #fff $colorThemeRedDark),
    green: ($colorThemeGreen #fff $colorThemeGreenDark),
    blue: ($colorThemeBlue #fff $colorThemeBlueDark)
}

$baseFormElementScales ?= (\
    ('small'    $lineHeightRatio * 0.6)\
    ('medium'   $lineHeightRatio * 0.8)\
    ('big'      $lineHeightRatio * 1.1)\
    ('large'    $lineHeightRatio * 1.4)\
)

$formLineOffset ?= floor($lineHeight / 2)
$formLineSpacing ?= $gridGutterWidth
$formLineSpacingHalf ?= floor($formLineSpacing / 2)
$formLineSpacingThird ?= floor($formLineSpacing / 3)

$formLineSideWidth ?= 240px

/**
 * Mixins
 * ======================================================================== */

inputPlaceholder()
    &::-webkit-input-placeholder
        {block}
    &:-moz-placeholder
        {block}
    &::-moz-placeholder
        {block}
    &:-ms-input-placeholder
        {block}


formElementOffsetScale($scale, $elementOffset=$baseFormElementOffset)
    return floor(floor($baseFormElementOffset * $scale) -\
        ($baseFormElementOffset - $elementOffset))


formElementScale($elementOffset, $elementFontSize)
    for $scale in $baseFormElementScales
        {selector()}&_{$scale[0]}
            padding formElementOffsetScale($scale[1], $elementOffset) \
                formElementOffsetScale($scale[1], floor($elementOffset * 1.3))

            font-size floor($elementFontSize * $scale[1])
            line-height $lineHeight


formElementColored($colors, $withHover=true)
    for $key, $val in $colors
        {selector()}&_{$key}
            background-color $val[0]
            color $val[1]

            if $withHover
                &:hover
                    background-color $val[2]


formElementColoredGhost($colors, $bW=$borderWidth)
    for $key, $val in $colors
        {selector()}&_{$key}
            border-color $val[0]


/**
 * Placeholders
 * ======================================================================== */

$pBaseFormElement
    @extends $pCF
    @extends $pElementClean

    padding $baseFormElementOffset floor($baseFormElementOffset * 1.3)
    border-radius $baseFormElementBorderRadius

    font-family $baseFormElementFontFamily
    font-size $baseFormElementFontSize
    line-height $baseFormElementLineHeight
    outline none


$pBaseFormElementMods
    &_block
        width 100%


/* 
 * Classes
 * ======================================================================== */

.form
    position relative


.form-title,
.form-line,
.form-legend,
.form-fieldset,
.form-delimiter
    @extends $pCF

    display block
    margin-bottom $formLineOffset


.form-title
    @extends h2


.form-fieldset
    padding $formLineOffset 0 0 0
    margin-top 2 * $formLineOffset

    border 0px solid transparent


.form-legend
    @extends h3

    padding-right 7px

    legend&
        // float left
        // margin-top -1 * floor(lineHeight * 1.5)
        margin-bottom 0


.form-line
    &_sided
        withSidebar($formLineSideWidth)

        &__sidebar
            padding-right $gridGutterWidth

    &_double
        &__part
            float left
            width 50%

            &:first-of-type
                padding-right $formLineSpacingHalf

            &:last-of-type
                padding-left $formLineSpacingHalf

    &_triple
        &__part
            float left
            width 33.3%
            padding-left $formLineSpacingThird
            padding-right $formLineSpacingThird

            &:first-child
                padding-left 0
                padding-right $formLineSpacingThird * 2

            &:last-child
                padding-right 0
                padding-left $formLineSpacingThird * 2


.form-delimiter
    display block
    padding-top $formLineOffset


/**
 * Imports
 * ======================================================================== */

@import './form/group'

@import './form/input'
@import './form/button'
@import './form/label'
@import './form/switch'
@import './form/radio'
@import './form/checkbox'
@import './form/progress'
// @import './form/editor'
@import './form/tags'
@import './form/datepicker'
@import './form/upload'

/**
 * Shared classes
 * ======================================================================== 