/* ========================================================================
 * Group
 * ======================================================================== */

/**
 * Classes
 * ======================================================================== */

.group
    @extends $pCF

    display inline-block

    vertical-align middle
    white-space nowrap

    &__element
        float left

        vertical-align middle

        &_first
            borderRadiusRight(0)

            margin-right 0

        &_last
            borderRadiusLeft(0)

            margin-left 0

        &:not(&_first):not(&_last)
            margin-left 0
            margin-right 0

            border-radius 0