/* ========================================================================
 * Form inputs
 * ======================================================================== */

$inputBorderWidth ?= 1px
$inputBorderRadius ?= $baseFormElementBorderRadius

$inputColorFontPlaceholder ?= rgba($colorThemeFont, .5)
$inputColorBackgroud ?= $colorThemeBackground
$inputColorBorder ?= $colorThemeReliefBorder
$inputColorBorderFocus ?= $colorThemeHighlight


/**
 * Placeholders
 * ======================================================================== */


/**
 * Classes
 * ======================================================================== */

.input-wrapper
    display inline
    position relative

.input
    @extends $pBaseFormElement
    @extends $pBaseFormElementMods

    position relative
    padding-top $baseFormElementOffset - $inputBorderWidth
    padding-bottom $baseFormElementOffset - $inputBorderWidth

    border $inputBorderWidth solid $inputColorBorder
    cursor text

    background-color $inputColorBackgroud

    &._focus,
    &:focus
        border-color $inputColorBorderFocus

    &._invalid
        border-color $colorThemeRed

    &_masked
        +inputPlaceholder()
            color inherit

    &_small
        padding 2px 5px
        font-size $fontSize

    &_select
        cursor pointer

        > .input__field
            cursor pointer

        > .input__label
            pointer-events none

    &_labeled
        padding-right $baseFormElementOffset + $fontSize

    &__field
        @extends $pFullFilled
        @extends $pElementClean

        float left
        height auto

        line-height $baseFormElementLineHeight
        outline none

        +inputPlaceholder()
            color $inputColorFontPlaceholder

    &__label
        position absolute
        top 0 // @padding-top
        right $baseFormElementOffset
        
        user-select none

        background-color $inputColorBackgroud