/* ========================================================================
 * Label field
 * ======================================================================== */


/**
 * Placeholders
 * ======================================================================== */


/**
 * Classes
 * ======================================================================== */

.label
    @extends $pElementClean

    &_block
        display block
        width 100%
        margin-bottom $lineHeight - $fontSize

        line-height $fontSize

    &_button
    &_input
        @extends $pBaseFormElement
    
        padding-left 0

        &-as
            @extends $pBaseFormElement

    &_button
        font-size $buttonFontSize

    &_prefix
        @extends $pBaseFormElement

        white-space nowrap

        background-color $buttonColorBackgroud
        color $buttonColorFont
        transition background $transitionDuration linear

        formElementColored($baseFormElementColors, false)
