/* ========================================================================
 * $Progress widget
 * ======================================================================== */

$progressBorderWidth ?= 3px

$progressOffset ?= floor($baseFormElementOffset / 2) - $progressBorderWidth
$progressHeight ?= $baseFormElementLineHeight + ($progressOffset * 2)\
    + ($progressBorderWidth * 2)
$progressBorderRadius ?= $baseFormElementBorderRadius

$progressColorBackground ?= $colorThemeReliefBorder
$progressColorBorder ?= $progressColorBackground

$progressBarColorBackground ?= $colorThemeBlue
$progressBarColorFont ?= #fff

$progressErrorBarColorBackground ?= $colorThemeRed

/**
 * Animations
 * ======================================================================== */

$pProgressMetrics
    @extends $pBaseFormElement

    height $progressHeight
    padding 0
    margin $progressOffset

/**
 * Classes
 * ======================================================================== */

.progress
    @extends $pProgressMetrics

    position relative
    display block

    border $progressBorderWidth solid $progressColorBorder
    border-radius $progressBorderRadius
    cursor text
    user-select none
    
    background-color $progressColorBackground

    &__bar
        zIndex(2)

        display block
        position absolute
        top 0
        left @top
        height $progressHeight - ($progressBorderWidth * 2)
        padding-left floor($progressHeight / 2)
        overflow hidden

        border-radius $progressBorderRadius
        font-size .75em
        line-height @height
        cursor default
        user-select none

        background-color $progressBarColorBackground
        color $progressBarColorFont
        transition width $transitionDuration linear

        &:before
            display block

            content ''

    &._error
        & > .progress__bar
            background-color $progressErrorBarColorBackground

            &:before
                content 'Error!'