/* ========================================================================
 * Form radios
 * ======================================================================== */


$radioLineHeight ?= floor($lineHeight / 1.5)
$radioOffset ?= 0 // floor($lineHeight / 3)
$radioHeight ?= $radioLineHeight + floor($lineHeight / 3)
$radioWidth ?= $radioHeight
$radioBorderRadius ?= $radioHeight
$radioBorderWidth ?= 3px

$radioFieldSize ?= 13px // minimum size that firefox can display

$radioColorBackgroud ?= #fff
$radioColorChecked ?= $colorNephritis
$radioColorUnChecked ?= $colorPomegranate
$radioColorBorder ?= $inputColorBorder
$radioColorBorderFocus ?= $inputColorBorderFocus


/**
 * Placeholders
 * ======================================================================== */

$pRadioMetrics
    @extends $pBaseFormElement

    height $radioHeight
    width $radioWidth
    margin $radioOffset
    padding 0


/**
 * Classes
 * ======================================================================== */

.radio
    @extends $pRadioMetrics

    position relative

    cursor pointer
    user-select none

    background-color transparent

    &._focus,
    &:focus
        border-color $radioColorBorderFocus

    &__field
        position absolute
        top floor(($radioLineHeight - $radioFieldSize) / 2)
        left @top
        width $radioFieldSize
        height @width
        z-index -1

    &__label
        zIndex(2)
        display block
        position absolute
        top 0
        left @top
        height $radioHeight
        width $radioWidth

        border $radioBorderWidth solid $radioColorBorder
        border-radius $radioBorderRadius
        cursor pointer
        user-select none

        background-color $radioColorBackgroud
        transition background-color $transitionDuration linear

        &:before
            zIndex(3)

            display block
            position absolute
            top floor($radioHeight / 5)
            left @top
            width $radioHeight - (@top * 2) - ($radioBorderWidth * 2)
            height @width

            border-radius $radioBorderRadius
            cursor pointer
            content ''

            background-color $radioColorBackgroud
            transition background-color $transitionDuration linear

        .radio._focus > &,
        .radio:focus > &
            border-color $radioColorBorderFocus

        .radio._checked > &,
        &._checked
            &:before
                background-color $colorThemePrimary
