/* ========================================================================
 * Form switches
 * ======================================================================== */


$switchLineHeight ?= floor($lineHeight / 1.5)
$switchOffset ?= 0 // floor($lineHeight / 3)
$switchHeight ?= $switchLineHeight + floor($lineHeight / 3)
$switchWidth ?= floor($switchHeight * 1.6)
$switchBorderRadius ?= $baseFormElementBorderRadius

$switchFieldSize ?= 13px // minimum size that firefox can display

$switchColorBackgroud ?= #fff
$switchColorChecked ?= $colorThemeGreen
$switchColorUnChecked ?= $colorThemeRed


/**
 * Placeholders
 * ======================================================================== */

$pSwitchMetrics
    @extends $pBaseFormElement

    height $switchHeight
    width $switchWidth
    margin $switchOffset
    padding 0


/**
 * Classes
 * ======================================================================== */

.switch
    @extends $pSwitchMetrics

    position relative

    cursor pointer
    user-select none

    background-color transparent

    &__field
        position absolute
        top floor(($switchLineHeight - $switchFieldSize) / 2)
        left @top
        width $switchFieldSize
        height @width
        z-index -1

    &__label
        zIndex(2)

        display block
        position absolute
        top 0
        left @top
        height $switchHeight
        width $switchWidth

        border-radius $switchBorderRadius
        cursor pointer
        user-select none

        background-color $switchColorUnChecked
        transition background-color $transitionDuration linear

        &:before
            zIndex(3)

            display block
            position absolute
            top 1px
            left @top
            width $switchHeight - (@top * 2)
            height @width
            cursor pointer

            content ''

            border-radius $switchBorderRadius - @top

            background-color $switchColorBackgroud
            transition left $transitionDuration linear

        .switch._checked > &,
        &._checked
            background-color $switchColorChecked

            &:before
                left $switchWidth - $switchHeight + 1px

        .switch._focus > &,
        .switch:focus > &,
        &._focus,
        &:focus
            outline none
            box-shadow 0 0 0 $borderWidthFat $colorThemeHighlight
            z-index 4