/* ========================================================================
 * Tags form widget
 * ======================================================================== */

$tagsItemRemoveColorBackground ?= $colorThemeRed
$tagsItemRemoveColorFont ?= #fff


/**
 * Classes
 * ======================================================================== */

.tags
    @extends $pCF

    display block

    // &_single
    & > .tags__dropdown
        display block
        margin-right 0

        $lst = '.dropdown-list'
        & > {$lst}
            min-width 100%
            & > {$lst}__inner
                min-width 100%
                & > {$lst}__body
                    min-width 100%

    &__list
        display inline

    &__item,
    &__dropdown
        margin 0 4px 4px 0        

    &__dropdown
        &-list
            max-height 150px
            overflow auto

    &__input
        +inputPlaceholder()
            color $colorThemeFont

    &__item
        position relative
        margin-right 7px

        &._hover,
        &:hover
            overflow hidden

        &-remove
            position absolute
            top 50%
            left 0
            height 100px
            width 100%
            margin-top -1 * floor(@height / 2)
            visibility hidden
            opacity 0

            line-height @height
            text-align center

            background-color $tagsItemRemoveColorBackground
            color $tagsItemRemoveColorFont
            transition opacity $transitionDuration linear

            &:before
                @extends .icon:before
                @extends .icon_fa-times:before

            .tags__item._hover > &,
            .tags__item:hover > &,
            &._hover
            &:hover
                visibility visible
                opacity 1