/* ========================================================================
 * Form upload module
 * ======================================================================== */

$uploadItemOffset ?= $formLineOffset

$uploadControlsWidth ?= 190px


/**
 * Classes
 * ======================================================================== */

.upload
    position relative
    display block

    &__select
        margin 0 0 floor($uploadItemOffset / 2) 0

    &__field
        display none

    &__list
        display block

    &__item
        @extends $pCF

        position relative
        display block
        // margin 0 0 uploadItemOffset 0

    &__progress.progress
        margin-right $uploadControlsWidth

    &__controls
        float right
        padding-top 2px
        width $uploadControlsWidth
        text-align right