include ../../mixins/form
include ../../mixins/elements
include ../templates-form
include form

extends ../view-single

      
block single_heading_title
  | Создание контакта

block single_heading_navigation

block single_content
  include ../templates-form
  
  +form(name="singleForm",
    novalidate="",
    form-submit="Form.create()")

    +form_contacts_names
    +form_contacts_position
    +form_contacts_sex
    +form_contacts_phone
    +form_contacts_email

    +form_template_submit
