include ../../mixins/form
include ../../mixins/elements
include ../templates-form
include form


extends ../view-single

block single_heading_back
  +button.button_clean(ui-sref="contacts({hotel: $stateParams.hotel})")
    .icon.icon_fa-chevron-left

block single_heading_title
  | Редактирование контакта

block single_heading_navigation
  +button.button_red(ng-click="delete()")
    | Удалить 
    span.icon.icon_fa-trash-o
  +button.button_primary(ui-sref="contacts.create")
    .icon.icon_fa-plus

block single_content
  include ../templates-form

  +form(name="singleForm",
    novalidate="",
    form-submit="Form.update()")

    +form_contacts_names
    +form_contacts_position
    +form_contacts_sex
    +form_contacts_phone
    +form_contacts_email

    +form_template_submit

