include ../../mixins/form
include ../../mixins/elements
include ../templates-form



mixin form_contacts_names
  +form_template_parts("triple")
    +form_template_part-input("Фамилия", "last_name", "")
    +form_template_part-input("Имя", "first_name", "")
    +form_template_part-input("Отчество", "middle_name")


mixin form_contacts_position
  +form_template_sided-input("Должность", "position", "")


mixin form_contacts_sex
  +form_template_sided("Пол")
    +form_template_parts("double")
      +form_template_part
        +form_template_radio-inline("Мужской", "sex", "1")
      +form_template_part
        +form_template_radio-inline("Женский", "sex", "0")


mixin form_contacts_phone
  +form_template_sided-input("Телефон", "phone")


mixin form_contacts_email
  +form_template_sided-input("Email", "email")