include ../../mixins/form
include ../../mixins/elements

extends ../view-list

block list_heading_back
  +button.button_clean(ui-sref="hotels.detail({id: $stateParams.hotel})")
    .icon.icon_fa-chevron-left

block list_heading_title
  | Контакты

block list_heading_navigation
  .group
  +button.button_primary(ui-sref="contacts.create")
    | Создать
    .icon.icon_fa-plus

block list_contents_title
  .row__item._wd3
    +list_field_order('position')
      | Должность
  .row__item._w3
    | Email
  .row__item
    +list_field_order('last_name')
      | ФИО

block list_contents_items
  .row__item._wd2
    | <[ item.position]>
  .row__item._w3
    | <[ item.email]>
  .row__item
    | <[ item.last_name ]> <[ item.first_name ]> <[ item.middle_name]>

block list_contents_items_controls
  +button.button_small.button_green(
    ui-sref="contacts.detail({id: item.id})"
    )
    .icon.icon_fa-pencil