/* ========================================================================
 * Alert
 * ======================================================================== */

$alertOffset ?= 10px

$alertTitleFontSize ?= $fontSize * $lineHeightRatio

$alertColors ?= {
    error: $baseFormElementColors.red,
    success: $baseFormElementColors.green,
    info: $baseFormElementColors.blue
}

/**
 * Classes
 * ======================================================================== */

.alert
    @extends $pOverTheContent

    display block
    position relative

    padding $alertOffset
    margin-bottom $alertOffset

    border-radius $borderRadius

    background-color $buttonColorBackgroud
    color $buttonColorFont

    formElementColored($alertColors, false)

    &_ghost
        formElementColoredGhost($alertColors)
        
        border $borderWidth solid transparent
        background-color transparent
        box-shadow none

    &__title
        padding-bottom $alertOffset

        font-size $alertTitleFontSize

        &:empty
            display none

    &__content
        font-weight bold

        font-size $fontSize - 1px

    &__close
        @extends $pIcon
        @extends $pElementClean

        position absolute
        top 0
        right 0
        width 25px
        height @width

        border-radius $borderRadius
        line-height @height
        text-align center
        cursor pointer

        background-color rgba(#000, .05)

        &:focus
            @extends .button:focus

        &:hover
            background-color rgba(#000, .1)

        &:before
            @extends .icon_fa-times:before