/* ========================================================================
 * Badge
 * ======================================================================== */

$badgeOffset ?= $baseFormElementOffset
$badgeFontSize ?= $baseFormElementFontSize

$badgeColorBackground ?= #999
$badgeColorFont ?= #fff

$badgeColors ?= {
    primary: ($colorThemePrimary #fff $colorThemePrimaryDark),
    secondary: ($colorThemeSecondary #fff $colorThemeSecondaryDark),
    red: ($colorThemeRed #fff $colorThemeRedDark),
    green: ($colorThemeGreen #fff $colorThemeGreenDark),
    blue: ($colorThemeBlue #fff $colorThemeBlueDark)
}

/**
 * Classes
 * ======================================================================== */

.badge
    @extends $pNotALink
    @extends $pBaseFormElement

    display: inline
    min-width 10px
    padding floor(($lineHeight - $fontSize) / 2) $badgeOffset

    font-size $badgeFontSize
    font-weight $fontWeightBold
    line-height $fontSize
    border 0
    cursor pointer
    vertical-align middle
    text-align center

    background-color $badgeColorBackground
    color $badgeColorFont

    formElementColored($badgeColors)
    formElementScale($badgeOffset, $badgeFontSize)

    &:before,
    &:after
        display none

    & > .icon
        font-size floor($fontSize * $lineHeightRatio)