/* ========================================================================
 * Elements
 * ======================================================================== */

// @import '../../core/elements/table'

/**
 * Mixins
 * ======================================================================== */



/**
 * Placeholders
 * ======================================================================== */

$pOverTheContent
    zIndex(100)

    box-shadow 0 10px 35px rgba(#0000, .2)


/**
 * Current imports
 */

@import './link'

@import './form/form'

@import './tabs'
@import './badge'
@import './alert'
@import './dropdown'
@import './loading'
@import './block-list'
@import './thumbnail'
@import './price-picker'


.badge
    &_status
        $statuses = (\
                ('FF' $colorThemeRed)\
                ('FE' $colorThemeRed)\
                ('FD' $colorThemeGreen)\
                ('FC' $colorThemeOrange)\
                ('FB' $colorThemeOrange)\
                ('FA' $colorThemeRed)\
                ('F9' $colorThemeGreen)\
            )

        for $status in $statuses
            &-{$status[0]}
                background-color $status[1]