/* ========================================================================
 * Blocklist
 * ======================================================================== */

$blockListOffset ?= floor($lineHeight / 2)


/**
 * classes
 * ======================================================================== */

.block-list
    @extends $pCF

    display block
    padding $blockListOffset 0 0 0
    margin-bottom $blockListOffset

    border-radius $borderRadius

    &__row
        display table
        margin-bottom $blockListOffset

        > .block-list__item
            margin-bottom 0

    &__item
        display block
        float left
        padding 0 $blockListOffset
        margin-bottom $blockListOffset
        width (100% / 7) - .009%

        text-align center
        vertical-align middle