/* ========================================================================
 * Dropdown widget
 * ======================================================================== */

$dropdownListMinWidth ?= 100px
$dropdownListMaxWidth ?= 400px
$dropdownListBorderWidth ?= 1px
$dropdownListBorderRadius ?= $borderRadius
$dropdownListColorBorder ?= $colorThemeReliefBorder

$dropdownListItemColorBackground ?= rgba(#000, 0)
$dropdownListItemColorBackgroundHover ?= $colorThemePrimary
$dropdownListItemColorFont ?= $colorThemeFont
$dropdownListItemColorFontHover ?= #fff
$dropdownListItemPadding ?= floor($lineHeight / 3)


/**
 * CLasses
 * ======================================================================== */

.dropdown
    display inline-block
    position relative

    &-list
        zIndex(90)

        position absolute
        height 0
        visibility hidden
        opacity 0

        transition opacity $transitionDuration linear

        .dropdown._active > &,
        &._active
            visibility visible
            opacity 1

        // Positioning
        &
        .dropdown_right &
            left 0

            & > .dropdown-list__inner
                & > .dropdown-list__body
                    position absolute
                    left 0

        .dropdown_left &
            left auto
            right 0

            & > .dropdown-list__inner
                & > .dropdown-list__body
                    position absolute
                    left auto
                    right 0
        
        &
        .dropdown_bottom &
            top 100%

            & > .dropdown-list__inner
                & > .dropdown-list__body
                    position absolute
                    top 0

        .dropdown_top &
            top auto
            bottom 100%

            & > .dropdown-list__inner
                & > .dropdown-list__body
                    position absolute
                    top auto
                    bottom 0

        // &_top // Doesent work
        //     top auto
        //     bottom 100%

        //     & > .dropdown-list__inner
        //         & > .dropdown-list__body
        //             position absolute
        //             bottom 100%

        // &_left,
        // &_right
        //     width 0
        //     top 0
        //     right auto

        // &_right
        //     left 100%

        // &_left
        //     right 100%

        //     & > .dropdown-list__inner
        //         & > .dropdown-list__body
        //             position absolute
        //             right 100%
        //             left auto

        // Nested elements
        &__inner
            display block
            position relative
            height 0

        &__body
            @extends $pCF
            @extends $pOverTheContent

            display block
            position relative
            min-width $dropdownListMinWidth
            max-width $dropdownListMaxWidth

            // border $dropdownListBorderWidth solid $dropdownListColorBorder
            border-radius $dropdownListBorderRadius
            white-space nowrap

            background-color #fff
            color inherit

            &-wrapper
                padding 22px

        &__item
            display block
            position relative
            padding $dropdownListItemPadding $dropdownListItemPadding * 3\
                $dropdownListItemPadding $dropdownListItemPadding * 2

            cursor pointer

            background-color $dropdownListItemColorBackground
            color $dropdownListItemColorFont

            &:first-child
                borderRadiusTop($dropdownListBorderRadius)

            &:last-child
                borderRadiusBottom($dropdownListBorderRadius)

            &,
            &:nth-child(2n)
                &._hover,
                &:hover,
                &._active,
                &:active
                    background-color $dropdownListItemColorBackgroundHover
                    color $dropdownListItemColorFontHover

            &:nth-child(2n)
                background-color darken($dropdownListItemColorBackground, $vColorDarker)