/* ========================================================================
 * Links
 * ======================================================================== */

$linkColorFont ?= $colorThemeLink

/**
 * Tags
 * ======================================================================== */

a
    color $linkColorFont
    text-decoration underline

    &:hover
        text-decoration none

    &:focus
        outline $borderWidthFat solid $colorThemeHighlight
        z-index 2