/* ========================================================================
 * Loading widget
 * ======================================================================== */

$loadingSpinnerRadius ?= 20px
$loadingSpinnerOffset ?= 10px
$loadingSpinnerBorderWidth ?= 2px
$loadingSpinnerColorBorder ?= $colorThemeReliefBorder
$loadingSpinnerMainSize ?= 20px
$loadingSpinnerMainColorBackground ?= #666
$loadingSpinnerMainSpiningTime ?= 1.4s
$loadingSpinnerSecondarySize ?= 15px
$loadingSpinnerSecondaryColorBackground ?= $colorThemeBlue
$loadingSpinnerSecondarySpiningTime ?= ($loadingSpinnerMainSpiningTime / 2) + .2s

$circularMotionSections ?= 50
$circularMotionCoords = circlePoints(0, 0, $loadingSpinnerRadius, $circularMotionSections)

/**
 * Animations
 * ======================================================================== */

/**
 * Rotation animation
 */
@keyframes circular-motion
    for $i in 0..$circularMotionSections
        $c = $circularMotionCoords[$i+2]
        {$i * 100% / $circularMotionSections}
            transform translate($c[0], $c[1])


/**
 * Classes
 * ======================================================================== */

.loading
    display inline-block

    &__text
        @extends h2

        display inline-block


    &__spinner
        display inline-block
        position relative
        width $loadingSpinnerRadius * 2
        height $loadingSpinnerRadius * 2
        padding $loadingSpinnerOffset
        margin 0 $loadingSpinnerOffset

        vertical-align text-bottom
        border $loadingSpinnerColorBorder solid $loadingSpinnerBorderWidth
        border-radius 100%

        background-color $loadingSpinnerColorBorder
        background-clip content-box

        &:before
        &:after
            $c = $circularMotionCoords[0]

            display block
            position absolute
            top 50%
            left 50%

            border-radius 100%
            content ''

            transform translate($c[0], $c[1])
            transform-origin 50% 50%

        &:before
            zIndex(1)

            width $loadingSpinnerMainSize
            height @width
            margin (-1 * floor(@height / 2)) 0 0 (-1 * floor(@height / 2))

            background-color $loadingSpinnerMainColorBackground
            animation circular-motion $loadingSpinnerMainSpiningTime infinite linear

        &:after
            zIndex(2)

            width $loadingSpinnerSecondarySize
            height @width
            margin (-1 * floor(@height / 2)) 0 0 (-1 * floor(@height / 2))

            background-color $loadingSpinnerSecondaryColorBackground
            animation circular-motion $loadingSpinnerSecondarySpiningTime infinite linear