/* ========================================================================
 * PricePicker
 * ======================================================================== */


$itemW ?= 100% / 7 - .009%

$pricePickerOffset ?= floor($lineHeight / 2)


/**
 * Classes
 * ======================================================================== */

.price-picker
  display block
  position relative

  user-select none


.price-picker-pagination
    padding 10px 0

    text-align center

    &__current
        font-size 20px


.price-picker-calendar
    // @extends $pCF

    display block
    position relative
    padding 0
    margin 0

    list-style none
    user-select none

    for $i in 1..6
        &_offset{$i} > &__item:first-child
            margin-left $itemW * $i

    &:before,
    &:after
        display table
        overflow hidden

        content ''

    &:after
        clear both

    &__item
        display block
        float left
        padding 1px
        min-height 1px
        width $itemW

        user-select none

.price-picker-calendar-day
    display block
    padding 7px 7px 7px 37px
    height 58px

    border 1px solid $colorThemeReliefBorder
    border-radius $borderRadius
    cursor pointer
    user-select none

    background-color #fff

    &:hover,
    &._hover,
    &._active
        border-color #f90

    &._filled
        background-color lighten($colorThemeHighlight, 80%)

    &__number
        float left
        margin-left -30px

        font-size 25px

        color rgba(#000, .15)

    &__price
    &__quota
        display block

        text-align right

    &__price
        font-size 25px
        line-height .85 // floor(@font-size * $lineHeightRatio)
        // font-weight bold

        & > sub
            border-top-right-radius 0
            border-bottom-left-radius 0
            position relative
            bottom -.6em
            padding 1px
            margin 0 -7px 0 -10px
            // opacity .8

            font-size 8px
            font-weight bold

    &__quota
        margin-bottom 5px
        margin-left -30px



.price-picker-overlay
    display none
    position absolute
    top 0
    left 0
    min-width 100%
    min-height 100%

    &._active
        display block

    &__back
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        z-index 1
        opacity .75

        cursor pointer

        background-color #fff
        transition opacity $transitionDuration linear

        &:hover
            opacity .25

    &__front
        position relative
        width 100%
        height 100%
        display block
        width 350px
        margin auto
        margin-top 8%
        overflow visible
        z-index 2


.price-picker-form
    @extends $pCF
    @extends $pOverTheContent

    position relative
    padding $pricePickerOffset

    background-color #fff

    & .form-line
        &_sided
            $sW = 135px

            &__sidebar
                width $sW
                margin-left -1 * $sW

            &__inner
                margin-left $sW