/* ========================================================================
 * $Progress widget
 * ======================================================================== */

$progressBorderWidth ?= $formElementBorderWidth

$progressOffset ?= floor($formElementOffset / 2) - $progressBorderWidth
$progressHeight ?= $lineHeight + ($progressOffset * 2) +\
    ($progressBorderWidth * 2)
$progressBorderRadius ?= $formElementBorderRadius
$progressFontSize ?= $formElementFontSize

$progressColorBackground ?= $colorThemeReliefBorder
$progressColorBorder ?= $progressColorBackground

$progressBarColorBackground ?= $colorThemeBlue
$progressBarColorFont ?= #fff

$progressErrorBarColorBackground ?= $colorThemeRed

/**
 * Placeholders
 * ======================================================================== */

$pProgressMetrics
    @extends $pFormElement

    height $progressHeight
    padding 0
    margin $progressOffset

/**
 * Classes
 * ======================================================================== */

.progress
    @extends $pProgressMetrics
    @extends $pFormElementInset

    position relative
    display block
    padding 0 $formElementBorderWidth 0 $formElementBorderWidth

    border-radius $progressBorderRadius
    cursor text
    user-select none
    
    background-color $progressColorBackground

    &__bar
        @extends $pFormElementOutset

        zIndex(2)

        display block
        position absolute
        top -1 * $progressBorderWidth
        left 0
        height $progressHeight
        padding 0 $formElementBorderWidth 0 $formElementBorderWidth
        padding-left floor($progressHeight / 2)
        // width 0px

        border-radius $progressBorderRadius
        font-size $progressFontSize
        font-weight $fontWeightBold
        line-height @height
        cursor default
        user-select none

        background-color $progressBarColorBackground
        color $progressBarColorFont
        transition width $transitionDuration linear

        &:before
            display block

            content ''

    &._error
        & > .progress__bar
            background-color $progressErrorBarColorBackground

            &:before
                content 'Error!'