/* ========================================================================
 * Tabs
 * ======================================================================== */

$tabsOffset ?= 10px

$tabsTogglerOffset ?= 6px
$tabsTogglerFontSize ?= $fontSize

/**
 * Classes
 * ======================================================================== */

.tabs
    margin $tabsOffset 0

    &__togglers
        @extends $pCF

        padding 0
        margin 0
        z-index 2

        border-bottom 1px solid $colorThemeReliefBorder
        list-style none

        & > li
            float left
            margin-left 0

            border 0px solid transparent
            border-bottom-width 0

            &._active
                margin-bottom -1px

                border-color $colorThemeReliefBorder
                border-bottom-color transparent
                border-bottom-width 1px

    &__contents
        padding $tabsOffset * 3 0 $tabsOffset 0
        z-index 1

    &__item
        &-toggler
            @extend $pBaseFormElement

            borderRadiusBottom(0)

            padding $tabsTogglerOffset $tabsTogglerOffset * 2

            font-size $tabsTogglerFontSize
            font-weight bold
            border 1px solid transparent
            cursor pointer

            // background-color #fff

            formElementScale($tabsTogglerOffset, $tabsTogglerFontSize)

            &._active
                @extends .button.button_primary

            &:focus
                outline none

        &-content
            display none

            &._active
                display block