/* ========================================================================
 * thumbnail
 * ======================================================================== */

$thumbnailOffset ?= floor($lineHeight / 4)


/**
 * classes
 * ======================================================================== */

.thumbnail
    @extends $pCF

    display inline-block
    position relative
    padding $thumbnailOffset
    max-width 100%

    border-radius $borderRadius

    background-color $colorThemeBackground
    color $colorThemeFont


    &__image
        @extends $pCF

        max-width 100%
        overflow hidden

        border-radius $borderRadius

        & > img
            float left
            min-width 25px
            min-height @min-width
            max-width 100%

            border 0

    &__controls
        zIndex(1)
        
        position absolute
        top $thumbnailOffset
        right @top

