
<div class="p-hotelier-menu"><a ui-sref-active="_active" ui-sref="hotels.detail({id: $stateParams.hotel || $stateParams.id})" class="p-hotelier-menu__link">Общие сведения</a><a ui-sref-active="_active" ui-sref="roomtypes({hotel: $stateParams.hotel || $stateParams.id})" class="p-hotelier-menu__link">Типы номеров</a><a class="p-hotelier-menu__link _disabled">Контактная информация</a><a class="p-hotelier-menu__link _disabled">Отзывы</a><a class="p-hotelier-menu__link _disabled">Акции</a><a class="p-hotelier-menu__link _disabled">Бронирования</a></div>
<div class="p-hotelier-view__inner">
  <div class="p-hotelier-view__sidebar">
    <div class="p-hotelier-sidebar">
      <div class="p-hotelier-sidebar__block"><a ui-sref="hotels.create" class="button button_green button_block"><span class="icon icon_fa-plus"> </span>  Добавить гостиницу</a></div>
      <div class="p-hotelier-sidebar__block p-hotelier-sidebar__block_panel">
        <p class="highlight_blue font_medium">
          Если у Вас возникли<br>
          проблемы обратитесь<br>
          в отдел маркетинга <br>
          по телефонам:<br>
          
        </p>
        <p class="highlight_orange font_big">+38 050 3223270
        </p>
      </div>
    </div>
  </div>
  <div class="p-hotelier-view__content">
    <div class="form-title">Создание типа номера</div>
        <form autocomplete="off" class="form form" name="singleForm" novalidate="" form-submit="Form.create()">
          <input type="hidden" ng-model="single.hotel" class="_hidden"/>
                      <div class="form-line form-line_sided">
                        <div class="form-line_sided__inner">
                          <div class="form-line_sided__sidebar">
                            <label for="form-element-14054644444402" class="label label_input">Название
                            </label>
                          </div>
                          <div class="form-line_sided__content">
                                <div class="row_table">
                                  <div class="row__item _w12">
                                        <input class="input input input_block group__element_first input_block group__element_first" type="text" id="form-element-14054644444402" required="required" name="title" ng-model="single.title" form-slugify="single.slug"/>
                                  </div>
                                  <div class="row__item">
                                        <div for="form-element-14054644444402" class="label label_prefix <[ (singleForm['title'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['title'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                          <div ng-if="!(singleForm['title'].$valid)" class="icon icon_fa-asterisk"></div>
                                          <div ng-if="(singleForm['title'].$valid)" class="icon icon_fa-check"></div>
                                        </div>
                                  </div>
                                </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-line form-line_sided">
                        <div class="form-line_sided__inner">
                          <div class="form-line_sided__sidebar">
                            <label for="form-element-14054644444404" class="label label_input">Ярлык
                            </label>
                          </div>
                          <div class="form-line_sided__content">
                                <div class="row_table">
                                  <div class="row__item _w12">
                                        <input class="input input input_block group__element_first input_block group__element_first" type="text" id="form-element-14054644444404" required="required" name="slug" ng-model="single.slug"/>
                                  </div>
                                  <div class="row__item">
                                        <div for="form-element-14054644444404" class="label label_prefix <[ (singleForm['slug'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['slug'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                          <div ng-if="!(singleForm['slug'].$valid)" class="icon icon_fa-asterisk"></div>
                                          <div ng-if="(singleForm['slug'].$valid)" class="icon icon_fa-check"></div>
                                        </div>
                                  </div>
                                </div>
                          </div>
                        </div>
                      </div>
                  <div class="form-line form-line_sided">
                    <div class="form-line_sided__inner">
                      <div class="form-line_sided__sidebar">
                        <label for="form-element-14054644444406" class="label label_input">Цена за номер
                        </label>
                      </div>
                      <div class="form-line_sided__content">
                            <div class="row_table">
                              <div class="row__item _w12">
                                    <input class="input input input_block group__element_first input_block group__element_first" type="text" id="form-element-14054644444406" required="" name="price" ng-model="single.price"/>
                              </div>
                              <div class="row__item">
                                    <div for="form-element-14054644444406" class="label label_prefix <[ (singleForm['price'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['price'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                      <div ng-if="!(singleForm['price'].$valid)" class="icon icon_fa-asterisk"></div>
                                      <div ng-if="(singleForm['price'].$valid)" class="icon icon_fa-check"></div>
                                    </div>
                              </div>
                            </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-line form-line_sided">
                    <div class="form-line_sided__inner">
                      <div class="form-line_sided__sidebar">
                        <label for="form-element-14054644444408" class="label label_input">Мест в номере
                        </label>
                      </div>
                      <div class="form-line_sided__content">
                            <div class="row_table">
                              <div class="row__item _w12">
                                    <input class="input input input_block group__element_first input_block group__element_first" type="text" id="form-element-14054644444408" required="" name="beds" ng-model="single.beds"/>
                              </div>
                              <div class="row__item">
                                    <div for="form-element-14054644444408" class="label label_prefix <[ (singleForm['beds'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['beds'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                      <div ng-if="!(singleForm['beds'].$valid)" class="icon icon_fa-asterisk"></div>
                                      <div ng-if="(singleForm['beds'].$valid)" class="icon icon_fa-check"></div>
                                    </div>
                              </div>
                            </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-line form-line_sided">
                    <div class="form-line_sided__inner">
                      <div class="form-line_sided__sidebar">
                        <label for="form-element-140546444444010" class="label label_input">Количество номеров
                        </label>
                      </div>
                      <div class="form-line_sided__content">
                            <div class="row_table">
                              <div class="row__item _w12">
                                    <input class="input input input_block group__element_first input_block group__element_first" type="number" id="form-element-140546444444010" required="" name="rooms_total" ng-model="single.rooms_total"/>
                              </div>
                              <div class="row__item">
                                    <div for="form-element-140546444444010" class="label label_prefix <[ (singleForm['rooms_total'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['rooms_total'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                      <div ng-if="!(singleForm['rooms_total'].$valid)" class="icon icon_fa-asterisk"></div>
                                      <div ng-if="(singleForm['rooms_total'].$valid)" class="icon icon_fa-check"></div>
                                    </div>
                              </div>
                            </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-line form-line_sided">
                    <div class="form-line_sided__inner">
                      <div class="form-line_sided__sidebar">
                        <label for="form-element-140546444444012" class="label label_input">Количество номеров для бронирования
                        </label>
                      </div>
                      <div class="form-line_sided__content">
                            <div class="row_table">
                              <div class="row__item _w12">
                                    <input class="input input input_block group__element_first input_block group__element_first" type="number" id="form-element-140546444444012" required="" name="rooms_available" ng-model="single.rooms_available" max="<[ single.rooms_total ]>"/>
                              </div>
                              <div class="row__item">
                                    <div for="form-element-140546444444012" class="label label_prefix <[ (singleForm['rooms_available'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['rooms_available'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                      <div ng-if="!(singleForm['rooms_available'].$valid)" class="icon icon_fa-asterisk"></div>
                                      <div ng-if="(singleForm['rooms_available'].$valid)" class="icon icon_fa-check"></div>
                                    </div>
                              </div>
                            </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-line form-line_sided">
                    <div class="form-line_sided__inner">
                      <div class="form-line_sided__sidebar">
                        <label for="form-element-140546444444014" class="label label_input">Категория номера
                        </label>
                      </div>
                      <div class="form-line_sided__content">
                            <div form-select="" ng-model="single.labels" form-select-data="single.related_data_all.categories" class="tags tags_single">
                              <div ng-class="{_active: formSelect.active}" class="dropdown tags__dropdown">
                                <div class="row_table">
                                  <div class="row__item _w12">
                                    <div class="input-wrapper">
                                          <input class="input input input_labeled input_masked input_block" ng-model="formSelect.filter" form-select-toggle="" id="form-element-140546444444014" size="10" placeholder="<[ (formSelect.selected.length > 0 ? formSelect.selected[0].title : '') ]>"/>
                                      <div ng-show="!formSelect.selected.length" class="input__label icon icon_fa-chevron-down"></div>
                                      <div ng-show="formSelect.selected.length" ng-click="formSelect.remove(0)" class="input__label icon icon_fa-times"></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="dropdown-list">
                                  <div class="dropdown-list__inner">
                                    <div ng-mousedown="formSelect.prevent($event)" class="dropdown-list__body tags__dropdown-list">
                                      <div ng-repeat="item in formSelect.dataFiltered" ng-class="{_active: formSelect.current == $index}" ng-click="formSelect.select($index)" ng-mouseover="formSelect.current = $index" class="dropdown-list__item"><[ item.title ]>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-line">
                    <div class="label label_block">Входит в стоимость номера
                    </div>
                        <textarea class="input input_block input input_block" id="form-element-140546444444014" name="included" ng-model="single.included" rows="4"></textarea>
                  </div>
                  <div class="form-line">
                    <div class="label label_block">Не входит в стоимость номера
                    </div>
                        <textarea class="input input_block input input_block" id="form-element-140546444444014" name="excluded" ng-model="single.excluded" rows="4"></textarea>
                  </div>
                  <div class="form-line">
                    <div class="label label_block">Описание
                    </div>
                        <textarea ng-model="single.about" ckeditor="editorOptions" form-editor-options="{      height: '400px',      width: '100%',      language: 'ru'    }"></textarea>
                  </div>
              <div class="form-line">
                    <button type="submit" class="button button button_primary">Сохранить
                    </button>
                    <button type="button" class="button button button_clean" ng-click="Form.revertChanges()">Отменить изменения
                    </button>
              </div>
        </form>
  </div>
</div>