include ../../mixins/form
include ../../mixins/elements
include ../templates-form
include form

extends ../view-single

      
block single_heading_title
  | Создание группы

block single_heading_navigation

block single_content
  +form(name="singleForm",
    novalidate="",
    form-submit="Form.create()")

    +form_group_name
    +form_group_permissions

    +form_template_submit
