include ../../mixins/form
include ../../mixins/elements
include ../templates-form
include form

extends ../view-single

block single_heading_title
  | Редактирование группы

block single_heading_navigation
  +button.button_red(ng-click="delete()")
    | Удалить 
    span.icon.icon_fa-trash-o
  +button.button_primary(ui-sref="groups.create")
    .icon.icon_fa-plus

block single_content
  +form(name="singleForm",
    novalidate="",
    form-submit="Form.update()")

    +form_group_name
    +form_group_permissions

    +form_template_submit

