include ../../mixins/form
include ../../mixins/elements
include ../templates-form


mixin form_group_name
  +form_template_sided-input("Название", "name", "")


mixin form_group_permissions
  +form_template_sided-select("Разрешения", "single.permissions",
    "single.related_data_all.permissions",
    "name", "")