include ../../mixins/form
include ../../mixins/elements

extends ../view-list

block list_heading_title
  | Группы

block list_heading_navigation
  .group
  +button.button_primary(ui-sref="groups.create")
    | Создать
    .icon.icon_fa-plus

block list_contents_title
  .row__item
    +list_field_order('name')
      | Название

block list_contents_items
  .row__item
    | <[ item.name ]>

block list_contents_items_controls
  +button.button_small.button_green(
    ui-sref="groups.detail({id: item.id})"
    )
    .icon.icon_fa-pencil