
<div class="v-single">
  <div class="v-single__inner">
    <div class="b-heading v-single-heading">
      <div class="b-heading__menu">
      </div>
      <div class="b-heading__navigation">
      </div>
      <div class="b-heading__title">
        <button type="button" class="button button_clean" ng-click="history.back()">
          <div class="icon icon_fa-chevron-left"></div>
        </button>Настройки
      </div>
    </div>
    <div class="v-single-contents">
            <form autocomplete="off" class="form form" name="singleForm" novalidate="" form-submit="Form.create()">
              <tabset>
                <tab heading="Основные">
                        <fieldset class="form-fieldset">
                          <legend class="form-legend">Настройки доступа
                          </legend>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-14054644031742" class="label label_input">Режим обслуживания
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                            <div class="label label_input">
                                                    <label form-element="" form-input="" class="switch">
                                                            <input name="config.maintenance" type="checkbox" ng-model="single.config.maintenance" class="switch__field" id="form-element-14054644031742" form-element-field="" form-input-field=""/>
                                                            <label for="form-element-14054644031742" class="switch__label" ng-model="single.config.maintenance" form-checkbox="">
                                                            </label>
                                                    </label>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                        </fieldset>
                </tab>
                <tab heading="Служебные ярлыки">
                        <fieldset class="form-fieldset">
                          <legend class="form-legend">Ярлыки служебных меток
                          </legend>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-14054644031744" class="label label_input">Ярлык статей
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block group__element_first input_block group__element_first" type="text" id="form-element-14054644031744" required="" name="config.slug_articles" ng-model="single.config.slug_articles"/>
                                                    </div>
                                                    <div class="row__item">
                                                            <div for="form-element-14054644031744" class="label label_prefix <[ (singleForm['config.slug_articles'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['config.slug_articles'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                                              <div ng-if="!(singleForm['config.slug_articles'].$valid)" class="icon icon_fa-asterisk"></div>
                                                              <div ng-if="(singleForm['config.slug_articles'].$valid)" class="icon icon_fa-check"></div>
                                                            </div>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                        </fieldset>
                        <fieldset class="form-fieldset">
                          <legend class="form-legend">Ярлыки служебных страниц
                          </legend>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-14054644031746" class="label label_input">Об Азовхотелс
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-14054644031746" name="config.slug_azovhotels" ng-model="single.config.slug_azovhotels"/>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-14054644031748" class="label label_input">Договор о конфиденциальности
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-14054644031748" name="config.slug_confidential" ng-model="single.config.slug_confidential"/>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-140546440317410" class="label label_input">Публичная оферта
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-140546440317410" name="config.slug_public_offer" ng-model="single.config.slug_public_offer"/>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-140546440317412" class="label label_input">ЧАВО
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-140546440317412" name="config.slug_fuq" ng-model="single.config.slug_fuq"/>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-140546440317414" class="label label_input">Карьера
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-140546440317414" name="config.slug_carrier" ng-model="single.config.slug_carrier"/>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-140546440317416" class="label label_input">Правила и условия
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-140546440317416" name="config.slug_conditions" ng-model="single.config.slug_conditions"/>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-line form-line_sided">
                                        <div class="form-line_sided__inner">
                                          <div class="form-line_sided__sidebar">
                                            <label for="form-element-140546440317418" class="label label_input">Служба поддержки клиентов
                                            </label>
                                          </div>
                                          <div class="form-line_sided__content">
                                                  <div class="row_table">
                                                    <div class="row__item _w12">
                                                            <input class="input input input_block input_block" type="text" id="form-element-140546440317418" name="config.slug_help" ng-model="single.config.slug_help"/>
                                                    </div>
                                                  </div>
                                          </div>
                                        </div>
                                      </div>
                        </fieldset>
                </tab>
              </tabset>
                    <div class="form-line">
                            <button type="submit" class="button button button_primary">Сохранить
                            </button>
                            <button type="button" class="button button button_clean" ng-click="Form.revertChanges()">Отменить изменения
                            </button>
                    </div>
            </form>
    </div>
  </div>
</div>