include ../../mixins/django
include ../../static/admin/mixins/form
include ../../static/admin/mixins/elements


html(id="html")
  head
    title
      +djBlock('title')

    link(rel="stylesheet", href="/static/css/site/style.css")
      
    meta(charset="utf-8")

    +djBlock('head')

  body.root(id="body", ng-app="app")
    +djBlock('body')


    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53382761-1', 'auto');
      ga('send', 'pageview');

    +djBlock('scripts')
      include ./scripts

      +djBlock('scripts_append')