include ../../mixins/django
include ../../static/admin/mixins/form
include ../../static/admin/mixins/elements
include ../../static/admin/views/templates-form

+djExtends('"site/base.html"')

+djBlock('title')

+djBlock('head')

+djBlock('body')
  +djBlock('body-header')
    .header
      .header__body
        a.header__logo(href="{% url 'site' %}")
        .header__controls
          +djBlock('body-header-controls')
            +djIf('request.user.is_anonymous')
              span.dropdown.header__cabinet__dropdown.dropdown_left
                span.header__controls__button.dropdown-toggle.header__cabinet__dropdown-toggle
                  //- .icon.icon_fa-lock
                  |   ВОЙТИ
                .dropdown-list
                  .dropdown-list__inner
                    .dropdown-list__body
                      .dropdown-list__body-wrapper
                        form(action="{% url 'auth.login' %}", method="post", style="width: 270px;")
                          .footer__login__title 
                            | Войдите в свой аккаунт  
                            //- |   |  
                            //- a.link_red(href="") регистрация
                          .form-line.form-line_small
                            .row.row_clean-sides
                              .row__item._w4
                                .label.label_input.label_input-medium Email
                              .row__item._w8
                                +input.input_block.input_medium(name="email", type="email")
                          .form-line.form-line_small
                            .row.row_clean-sides
                              .row__item._w4
                                .label.label_input.label_input-medium Пароль
                              .row__item._w8
                                +input.input_block.input_medium(name="password", type="password")
                          //- .form-line
                          button.button.button_block.button_medium.button_primary Вход

            +djIf('request.user.is_hotelier')
              span.dropdown.header__cabinet__dropdown.dropdown_left
                .header__controls__button.dropdown-toggle.header__cabinet__dropdown-toggle 
                  //- .icon.icon_fa-user
                  |   ЛИЧНЫЙ КАБИНЕТ
                .dropdown-list
                  .dropdown-list__inner
                    .dropdown-list__body
                      a.dropdown-list__item.header__cabinet__dropdown-link(href="{% url 'site' %}")
                        | На сайт
                        .icon.icon_fa-home
                      a.dropdown-list__item.header__cabinet__dropdown-link(href="{% url 'hotelier' %}")
                        | Мои гостиницы
                        .icon.icon_fa-h-square
                      a.dropdown-list__item.header__cabinet__dropdown-link(href="{% url 'auth.logout' %}")
                        | Выйти
                        .icon.icon_fa-sign-out
        .header__content
          +djBlock('body-header-content')
            .header__content__phone
              //- .icon.icon_fa-phone
              | {{request.azovhotels_config.service_phone|default:''}}
            .header__content__info
            a.header__link заказать обратный звонок

  //- .header
  //-   .header__body
  //-     .header__logo
  //-     //- .header__controls
  //-       span.dropdown.header__cabinet__dropdown
  //-         a(href="#").dropdown-toggle.header__cabinet__dropdown-toggle ЛИЧНЫЙ КАБИНЕТ
  //-     .header__content
  //-       | +380 50 322 32 70
  //-       //- a.header__link заказать обратный звонок


  +djBlock('body-content')


  .footer
    .footer__body
      +djBlock('body-footer')
        +djBlock('body-footer-first')
          .footer__links
            +djIf('menus.slug_azovhotels')
              a(href="{% url 'site.pages-detail' menus.slug_azovhotels.id menus.slug_azovhotels.slug %}").footer__links__item Об Азовхотелс
            +djIf('not request.user.is_hotelier')
              a(href="#").footer__links__item Партнерская программа для отелей
            +djIf('menus.slug_help')
              a(href="{% url 'site.pages-detail' menus.slug_help.id menus.slug_help.slug %}").footer__links__item Служба поддержки клиентов
            +djIf('menus.slug_fuq')
              a(href="{% url 'site.pages-detail' menus.slug_fuq.id menus.slug_fuq.slug %}").footer__links__item ЧАВО
            +djIf('menus.slug_conditions')
              a(href="{% url 'site.pages-detail' menus.slug_conditions.id menus.slug_conditions.slug %}").footer__links__item Правила и условия
            +djIf('menus.slug_confidential')
              a(href="{% url 'site.pages-detail' menus.slug_confidential.id menus.slug_confidential.slug %}").footer__links__item Конфиденциальность и Кукис
            +djIf('menus.slug_carrier')
              a(href="{% url 'site.pages-detail' menus.slug_carrier.id menus.slug_carrier.slug %}").footer__links__item Карьера

          .content__delimiter

        +djBlock('body-footer-second')

          .footer__second.row.row_clean-sides
            .row__item._w4
              form.footer__login(action="{% url 'auth.login' %}", method="post")
                .footer__login__title 
                  | Вход для отельеров  
                  |   |  
                  a.link_red(href="{% url 'hotelier-register' %}") регистрация

                .form-line.form-line_small
                  .row.row_clean-sides
                    .row__item._w3
                      .label.label_input.label_input-medium Email
                    .row__item._w9
                      +input.input_block.input_medium(name="email", type="email")
                .form-line.form-line_small
                  .row.row_clean-sides
                    .row__item._w3
                      .label.label_input.label_input-medium Пароль
                    .row__item._w9
                      +input.input_block.input_medium(name="password", type="password")
                .form-line
                  button.button.button_block.button_medium.button_primary Вход

            .row__item._w4
              .footer__copyright
                .footer__copyright__links
                  +djIf('menus.slug_hoteliers')
                    a(href="{% url 'site.pages-detail' menus.slug_hoteliers.id menus.slug_hoteliers.slug %}").footer__links__item Отельерам
                  +djIf('menus.slug_tourists')
                    a(href="{% url 'site.pages-detail' menus.slug_tourists.id menus.slug_tourists.slug %}").footer__links__item Турфирмам
                  +djIf('menus.slug_advertisement')
                    a(href="{% url 'site.pages-detail' menus.slug_advertisement.id menus.slug_advertisement.slug %}").footer__links__item Реклама на сайте
                  +djIf('menus.slug_azovhotels')
                    a(href="{% url 'site.pages-detail' menus.slug_azovhotels.id menus.slug_azovhotels.slug %}").footer__links__item О нас

                p Использование любых материалов, размещённых на сайте, разрешается при условии индексируемой ссылки на сайт azovhotels.ua

                p &copy; 2013 - {% now "Y" %} AzovHotels, все права защищены

            .row__item._w4
              .footer__social
                +djIf('request.azovhotels_metadata.service_facebook')
                  a.footer__social__icon.footer__social__icon_facebook(href="{{request.azovhotels_metadata.service_facebook}}", target="new")
                +djIf('request.azovhotels_metadata.service_twitter')
                  a.footer__social__icon.footer__social__icon_twitter(href="{{request.azovhotels_metadata.service_twitter}}", target="new")
                +djIf('request.azovhotels_metadata.service_linkedin')
                  a.footer__social__icon.footer__social__icon_linkedin(href="{{request.azovhotels_metadata.service_linkedin}}", target="new")
                +djIf('request.azovhotels_metadata.service_vk')
                  a.footer__social__icon.footer__social__icon_vk(href="{{request.azovhotels_metadata.service_vk}}", target="new")
                +djIf('request.azovhotels_metadata.service_odnoklassniki')
                  a.footer__social__icon.footer__social__icon_odnoklassniki(href="{{request.azovhotels_metadata.service_odnoklassniki}}", target="new")
                +djIf('request.azovhotels_metadata.service_youtube')
                  a.footer__social__icon.footer__social__icon_youtube(href="{{request.azovhotels_metadata.service_youtube}}", target="new")

              .footer__contract.footer_font
                +djIf('menus.slug_confidential')
                  a(href="{% url 'site.pages-detail' menus.slug_confidential.id menus.slug_confidential.slug %}") Договор о конфиденциальности
                +djIf('menus.slug_public_offer')
                  a(href="{% url 'site.pages-detail' menus.slug_public_offer.id menus.slug_public_offer.slug %}") Публичная оферта
