include ../../mixins/django
include ../../static/admin/mixins/form
include ../../static/admin/mixins/elements
include ../../static/admin/views/templates-form

+djExtends('"site/base-front.html"')


+djBlock('body-footer-first')
  +djIf('request.azovhotels_metadata.text_footer')
    p.footer_font
      | {{request.azovhotels_metadata.text_footer|default:''}}
    .content__delimiter

  