include ../../mixins/django
include ../../static/admin/mixins/form
include ../../static/admin/mixins/elements
include ../../static/admin/views/templates-form

+djExtends('"site/base-front-footer-text.html"')


+djBlock('title')

+djBlock('head')

+djBlock('body-content')

  .p-hotelier(ng-controller="ViewRootCtrl")
    .p-hotelier__body
      #notifications.notifications
        .notifications__inner(notifications-list="")
          .alert(ng-repeat="item in notifications.list.slice().reverse()", class!="<[ item.type ? 'alert_' + item.type : '' ]>")
            button.alert__close(type="button", ng-click="item.remove()")
            .alert__title
              | <[ item.title ]>
            .alert__content
              | <[ item.content ]>

      .v-loading(http-request-tracker="", ng-class="{_active: httpRequestTracker.hasPendingRequests()}")
        .v-loading__inner
          .loading
            .loading__text
              | Загрузка
            .loading__spinner

      .p-hotelier-view(ui-view="view")


+djBlock('scripts')
  script(src='/static/js/admin/vendor.js')

  script(src="/static/js/core/modules.js")

  script(src='/static/js/admin/common/templates.js')

  script(src="/static/js/site/hotelier/services/Api.js")

  script(src='/static/js/site/hotelier/conf.js')
  script(src='/static/js/site/hotelier/app.js')

  //- Views
  script(src='/static/js/site/hotelier/views.js')
  script(src='/static/js/site/hotelier/views/conf.js')
  script(src='/static/js/site/hotelier/views/pagination.js')

  script(src='/static/js/site/hotelier/views/hotels.js')
  script(src='/static/js/site/hotelier/views/roomtypes.js')
  script(src='/static/js/site/hotelier/views/roomtypes_prices.js')

  script(src="/static/js/core/common/ckeditor/ckeditor.js")
  script(src="https://code.angularjs.org/1.0.8/i18n/angular-locale_ru-ru.js")