include ../../mixins/django
include ../../static/admin/mixins/form
include ../../static/admin/mixins/elements
include ../../static/admin/views/templates-form

+djExtends('"site/base-front-footer-text.html"')

| {% load main %}

+djBlock('title')

+djBlock('head')

+djBlock('body-content')

  mixin form-input(label, field, required)
    +currentId(attributes.id)
    .form-line
      label.label.label_block.p-register__label(for=form_element_id_current)
        = label
        if typeof required != 'undefined'
          span.color-red    *

      +input.input_block&attributes(attributes)(
        type="text",
        id=form_element_id_current,
        required=required,
        name=field
        )

  mixin form-select(label, field, required)
    +currentId(attributes.id)
    .form-line
      label.label.label_block.p-register__label(for=form_element_id_current)
        = label
        if typeof required != 'undefined'
          span.color-red    *

      +select.input_block&attributes(attributes)(
        id=form_element_id_current,
        required=required,
        name=field
        )
        block

  .content
    .content__body

      .p-register
        .row.row_padded
          .row__item._w6
            h2 Регистрация объекта
              div.color-red
                small.p-register__small.
                  * поля обязательные к заполнению

            form(method="post", action="{% url 'azovhotels.views.site.register.hotelier_register' %}")
              | {% csrf_token %}
              +form-input("Название обьекта", "title", "")
              +form-select("Тип обьекта", "type", "")
                option
                +djFor('label in hotel_types')
                  option(value="{{label.id}}") {{label.title}}
              +form-select("Город", "city", "")
                option
                +djFor('city in hotel_cities')
                  option(value="{{city.id}}") {{city.name}}
              +form-input("Фамилия", "last_name", "")
              +form-input("Имя", "first_name", "")
              +form-input("Отчество", "middle_name", "")
              +form-input("Должность", "position", "")
              +form-input("Адрес электронной почты", "email", "")(type="email")
              +form-input("Пароль", "password", "")(type="password")
              +form-input("Подтвердите пароль", "password_confirm", "")(type="password")
              +form-input("Телефон", "phone", "")
              +form-input("Адрес сайта", "site")

              .checkbox-outfill.form-line
                input.checkbox-outfill__checkbox(type="checkbox", name="terms", required="")
                small.p-register__small.checkbox-outfill__text.
                  Я прочитал(а) и принимаю Положения и условия<br>
                  и Политику конфиденциальности этого веб-сайта

              +button.button_block.button_red(type="submit")
                | Зарегистрировать

          .row__item._w6
            h2 Как это работает?

            h3.p-register__heading-red.
              Azovhotels.ua - <br>
              это Ваша гарантированная прибыль!

            p.
              Azovhotels.ua лидер в области online бронирования отелей Азовского побережья. Бронировать номера на нашем сайте могут все: и туристы, и деловие люди.
            p.
              Собственникам отеля мы гарантируем загрузку номерного фонда (повышение продаж отеля) благодаря эффективной системе продвижения отеля. Она дает возможность любому гостиничному объекту: малому или крупному, увеличить свою прибыль и повысить узнаваемость на рынке.
            p.
              Модель работы Azovhotels.ua основана на комиссионном вознаграждении и принесла прибыль более 670 отелям.

            h3.p-register__heading-red.
              Эффективная система продвижения отелей:

            ul
              li система online бронирования отелей
              li продвижение отеля в сети
              li управление отелем online (автоматизация)
              li комплексное снабжение отеля

            h3.p-register__heading-red.
              Гарнтированный результат:

            ul
              li Ваш отель в ТОПе поисковых систем
              li Увеличение количества проданных номеров
              li Повышение рейтинга и узнаваемости
              li Круглосуточная поддержка


  