include ../../mixins/django
include ../../static/admin/mixins/form
include ../../static/admin/mixins/elements
include ../../static/admin/views/templates-form

+djExtends('"site/base-front-footer-text.html"')

| {% load main %}

+djBlock('title')

+djBlock('head')

+djBlock('body-content')

  .content
    .content__body
      //- .p-list-breadcrumbs
        a(href="#") Главная
        |  /  
        a(href="#") Бердянск
        |  / 
        a(href="#") Отели
        |  / 
        span Отель

      .p-hotel
        .p-hotel-header
          .p-hotel-header__inner
            .p-hotel-header__sidebar
              .p-hotel-reserve
                button.button.button_primary.button_block._disabled(type="button", disabled="") Забронировать

                .p-hotel-reserve__price
                  | от <span>{{hotel.min_price|default:0|floatformat}}</span>грн в сутки

              .p-hotel-marks
                .p-hotel-marks__stars
                  | Оценка:
                  .marks
                    +djFor('i in hotel.stars_category|get_range')
                      .marks__item.marks__item_marked
                    +djFor('i in 5|subtract:hotel.stars_category|get_range')
                      .marks__item
                //- .p-hotel-marks__comments
                  | Оценка по <span class="color-red font_fat">367</span> по  
                  a(href="#") отзывам:
                  |  Хорошо <span class="color-red font_fat">7.6</span>

              .p-hotel-phone-reserve
                .p-hotel-phone-reserve__title
                  | Забронируйте <br> номер по телефону
                .p-hotel-phone-reserve__phone
                  | {{request.azovhotels_config.service_phone|default:''}}
                a.p-hotel-phone-reserve__explain(href="#") заказать обратный звонок

            .p-hotel-header__content
              .p-hotel-title
                | {{hotel.title}}
                .p-hotel-title__address
                  | {{hotel.address|default:''}}

              .p-hotel-galery(widget-tabs="")
                .p-hotel-galery__full
                  +djFor('i in hotel.related_data.files|length|get_range')
                    a.p-hotel-galery__full__image(
                      href="{{hotel.related_data.files|access:i|access:'url'}}",
                      data-lightbox="hotel-galery",
                      ng-class="{_active: (currentTab == {{i}})}")
                      img(src="{{hotel.related_data.files|access:i|access:'urls'|access:'big'}}",
                        width="700", height="410")
                    
                .p-hotel-galery__images
                  +djFor('i in hotel.related_data.files|length|get_range')
                    .p-hotel-galery__thumbnail(ng-click="changeTab({{i}})", ng-class="{_active: (currentTab == {{i}})}")
                      img(src="{{hotel.related_data.files|access:i|access:'urls'|access:'small'}}")

        .p-hotel-content
          .p-hotel-tabs(widget-tabs="")
            .p-hotel-tabs__handlers
              .p-hotel-tabs__handler(ng-click="changeTab(0)", ng-class="{_active: (currentTab == 0)}")
                | Номера и цены
              //- .p-hotel-tabs__handler(ng-click="changeTab(1)", ng-class="{_active: (currentTab == 1)}")
                | Отзывы (<span class="color_orange">15</span>)
              .p-hotel-tabs__handler(ng-click="changeTab(2)", ng-class="{_active: (currentTab == 2)}")
                | Контакты
            .p-hotel-tabs__contents
              .p-hotel-tabs__item._active(ng-class="{_active: (currentTab == 0)}")
                form.p-hotel-search(action="{% url 'site.hotels-detail' hotel.id hotel.slug %}", method="post")
                  | {% csrf_token %}
                  .row.row_padded
                    .row__item._w5
                      .label.label_block Даты заезда и выезда
                      .form-line_double
                        .form-line_double__part
                          .input-wrapper.input-wrapper__block_hard
                            .input_labeled_icon-icon.input_labeled_icon-icon_calendar
                            +input(placeholder="прибытие", name="date_arrival", type="text", value="{{request.COOKIES.date_arrival}}")#datepicker_search_start.input_labeled_icon.input_block

                        .form-line_double__part
                          .input-wrapper.input-wrapper__block_hard
                            .input_labeled_icon-icon.input_labeled_icon-icon_calendar
                            +input(placeholder="выезд", name="date_leave", type="text", value="{{request.COOKIES.date_leave}}")#datepicker_search_end.input_labeled_icon.input_block
                    .row__item._w3
                      .label.label_block Количество гостей
                      .input-wrapper.input-wrapper__block_hard
                        .input_labeled_icon-icon.input_labeled_icon-icon_user
                        +input(placeholder="гости", name="guests", type="number", min="1", value="{{request.COOKIES.guests}}").input_labeled_icon.input_block
                    .row__item._w4
                      .label.label_block &nbsp;
                      +button.button_orange.button_block(type="submit") Найти номера
                .p-hotel-room-types
                  +djFor('room_type in room_types')
                    .p-hotel-room-types__item
                      .p-hotel-room.row.row_clean-sides
                        .row__item._w3
                          .p-hotel-room__image
                            img(src="{{room_type.related_data.view_file.urls.medium}}")
                            //- .p-hotel-room__image__label
                              | все фото
                        .p-hotel-room__content.row__item._w9
                          .p-hotel-room__confs.row.row_clean-sides
                            .p-hotel-room__confs__in-salary.row__item._w5
                              .p-hotel-room__title
                                | {{room_type.title}}
                            .p-hotel-room__confs__price.row__item._w4
                              .p-hotel-reserve__price
                                | <span>{{room_type.min_price|default:room_type.price|floatformat}}</span>грн в сутки
                            .p-hotel-room__confs__reserve.row__item._w3
                              button.button.button_block.button_primary.button_medium._disabled(type="button", disabled="") Забронировать
                          .p-hotel-room__about
                            div: b Описание:
                            div {{room_type.about|default:'Описание отсутствует.'|safe}}
                            .row.row_padded
                              +djIf('room_type.included')
                                .row__item._w6
                                  b Входит в стоимость:  
                                  |   {{room_type.included|default:''}}
                              +djIf('room_type.excluded')
                                .row__item._w6
                                  b Не входит в стоимость:  
                                  |   {{room_type.excluded|default:''}}
                          .p-hotel-room__galery
                            .p-hotel-galery__images
                              +djFor('file in room_type.related_data.files')
                                a.p-hotel-galery__thumbnail(href="{{file.url}}", data-lightbox="roomtype-{{room_type.id}}")
                                  img(src="{{file.urls.small}}")
                    | {% empty %}
                    span Подходящие номера не найдены.

              //- .p-hotel-tabs__item(ng-class="{_active: (currentTab == 1)}")
                .p-hotel-comments.row.row_clean-sides
                  - var hotel_comments_marks = ['Чистота', 'Комфорт', 'Месторасположение']
                  .p-hotel-comments__marks.row__item._w4
                    .p-hotel-comments__marks__graph
                      - for(var i = 0; i < hotel_comments_marks.length; i++)
                        .p-hotel-comments__marks__graph-line
                          .p-hotel-comments__marks__graph-line__number 7,5
                          .p-hotel-comments__marks__graph-line__background
                            .p-hotel-comments__marks__graph-line__foreground(style="width: 75%;")
                            .p-hotel-comments__marks__graph-line__name
                              = hotel_comments_marks[i]
                    .p-hotel-comments__marks__stats.row.row_clean-sides
                      .row__item._w3
                        .p-hotel-comments__marks__stats-number 7,5
                        .p-hotel-comments__marks__stats-number-title хорошо
                      .row__item._w9
                        .p-hotel-comments__marks__stats-text На основании 15 отзывов
                        .p-hotel-comments__marks__stats-text.font_fat Все отзывы написаны посетителями нашего сайта после проживания в отеле

                  .row__item._w8
                    .p-hotel-comments__content
                      h4 Отзывы пользователей Azovhotels.com

                      .p-hoel-comments__list
                        .p-hoel-comments__list-item(ng-repeat="i in [1,2,3,4]")
                          .p-hotel-comment
                            .p-hotel-comment__mark 7,5
                            .p-hotel-comment__title
                              .p-hotel-comment__user-name Александр
                              .p-hotel-comment__date 6 декабря 2014 г.
                            .p-hotel-comment__room
                            .p-hotel-comment__marks
                              - for(var i = 0; i < hotel_comments_marks.length; i++)
                                .p-hotel-comment__marks__item
                                  = hotel_comments_marks[i] + ': '
                                  .font_orange 8
                            .p-hotel-comment__content
                              p Дружелюбный персонал, чистый номер, есть вариант выбрать номер для курящих. Отличное сочетание цена-качество. Вообщем очень доволен. Во время следующих поездок планирую останавливаться там же.
                            .p-hotel-comment__answer
                              .p-hotel-comment__answer__title Ответ:
                              .p-hotel-comment__answer__content
                                p Дружелюбный персонал, чистый номер, есть вариант выбрать номер для курящих. Отличное сочетание цена-качество. Вообщем очень доволен. Во время следующих поездок планирую останавливаться там же.



              .p-hotel-tabs__item(ng-class="{_active: (currentTab == 2)}")
                .p-hotel-contacts
                  span.p-hotel-contacts__phone
                    | {{request.azovhotels_config.service_phone|default:''}}
                  //- a(href="#") заказать обратный звонок

            
            .p-hotel-about
              .row.row_padded
                .row__item._wd9
                  h4 Описание отеля
                  | {{hotel.about|default:''|safe}}

                  +djIf('hotel.conditions_location')
                    h5 Расположение отеля
                    p {{hotel.conditions_location|linebreaksbr}}

                  +djIf('hotel.conditions_driveway')
                    h5 Информация о проезде
                    p {{hotel.conditions_driveway|linebreaksbr}}

                .row__item._wd6
                  h4 Порядок проживания

                  h5 РЕГИСТРАЦИЯ
                  p.
                    Регистрация заезда: - с {{hotel.arrival_from|default:'14:00'}} часов.<br>
                    Регистрация отъезда: - до {{hotel.arrival_till|default:'12:00'}} часов

                  +djIf('hotel.reservation_cancellation_about')
                    h5 Аннуляция бронирования
                    p {{hotel.reservation_cancellation_about|linebreaksbr}}

                  +djIf('hotel.conditions_guest_accommodation')
                    h5 Размещение детей и предоставление дополнительных мест
                    p {{hotel.conditions_guest_accommodation|linebreaksbr}}

                  +djIf('hotel.conditions_tourist_tax')
                    h5 НДС, Туристический сбор
                    p {{hotel.conditions_tourist_tax|linebreaksbr}}

                  +djIf('hotel.conditions_pets')
                    h5 Домашние животные
                    p {{hotel.conditions_pets|linebreaksbr}}

                .row__item._wd5
                  h4 Услуги и удобства

                  +djIf('hotel.conditions_feeding')
                    h5 Питание
                    p {{hotel.conditions_feeding|linebreaksbr}}

                  +djIf('hotel.conditions_internet')
                    h5 Интернет
                    p {{hotel.conditions_internet|linebreaksbr}}

                  +djIf('hotel.conditions_parking')
                    h5 Услуги по парковке
                    p {{hotel.conditions_parking|linebreaksbr}}

                  +djIf('hotel.conditions_medicine')
                    h5 Лечение
                    p {{hotel.conditions_medicine|linebreaksbr}}

                  //- h5 УСЛУГИ
                  //- p Круглосуточная стойка регистрации, обслуживание номеров, организация встреч и банкетов, прачечная, трансфер от/до аэропорта, услуги консьержа, услуги няни и уход за детьми, массаж

                  //- h5 ОБЩЕЕ
                  //- p Wi-Fi, врач, интернет, кондиционер, лифт, обмен валюты, отель для некурящих, парковка, сейф, смежные номера, бар, ресторан, упакованные завтраки/обеды

                  //- h5 СПОРТ И ОТДЫХ
                  //- p Открытый бассейн


//- +djBlock('scripts_append')
  script.
    $(document).ready(function() {
      $(".fancybox-main").fancybox({
        maxWidth  : 800,
        helpers : {
          thumbs  : {
            width : 50,
            height  : 50
          }
        }
      });
    });
