include ../../mixins/django
include ../../static/admin/mixins/form
include ../../static/admin/mixins/elements
include ../../static/admin/views/templates-form

+djExtends('"site/base-front.html"')

| {% load main %}

+djBlock('title')

+djBlock('head')

+djBlock('body-content')

  .p-home-header
    .p-home-header__image

    .p-home-header__body
      .p-home-header__inner

        form.p-home-search(action="{% url 'site.hotels-list' %}", method="post")
          | {% csrf_token %}
          .input-wrapper
            +input(placeholder="Найти город или отель", name="destination", type="text").p-home-search__input_dest
          .input-wrapper
            .input_labeled_icon-icon.input_labeled_icon-icon_calendar
            +input(placeholder="прибытие", name="date_arrival", type="text")#datepicker_search_start.input_labeled_icon.p-home-search__input_arriv
          .input-wrapper
            .input_labeled_icon-icon.input_labeled_icon-icon_calendar
            +input(placeholder="выезд", name="date_leave", type="text")#datepicker_search_end.input_labeled_icon.p-home-search__input_leave
          .input-wrapper
            .input_labeled_icon-icon.input_labeled_icon-icon_user
            +input(placeholder="гости", name="guests", type="number", min="1").input_labeled_icon.p-home-search__input_guests
          .input-wrapper
            +button.button_primary.p-home-search__input_button(type="submit") Найти отель

        .p-home-header__icons
          .p-home-header__icons-item.p-home-header__icons-item_marker.
            Все отели Азовского<br>
            побережья
          .p-home-header__icons-item.p-home-header__icons-item_check.
            Бронируйте онлайн,<br>
            платите во время проживания!
          .p-home-header__icons-item.p-home-header__icons-item_reverse.
            Бесплатная отмена бронирования<br>
            для большинства вариантов
          .p-home-header__icons-item.p-home-header__icons-item_safe.
            Гарантия лучшей<br>
            цены


  .content
    .content__body
      .p-home-cities
        .row.row_padded
          .row__item._w6
            +djWith('cities.0 as city')
              form(action="{% url 'site.hotels-list' %}", method="POST")
                input(type="hidden", name="destination", value="{{city.name}}")
                | {% csrf_token %}
                a.p-home-cities__main(href="#", onclick="$(this).closest('form').submit()")
                  .p-home-cities__main-title {{city.name}}
                  .p-home-cities__main-counter {{city.hotels_count}} вариант(ов) размещения
          .row__item._w6
            a.p-home-cities__all(href="#")  
              | Все города({{cities|length}})
            +djFor('city in cities|slice:"1:5"')
              form.p-home-cities__item(action="{% url 'site.hotels-list' %}", method="POST")
                input(type="hidden", name="destination", value="{{city.name}}")
                | {% csrf_token %}
                a.p-home-cities__item-link(href="#", onclick="$(this).closest('form').submit()")
                  .p-home-cities__item-title {{city.name}}
                  .p-home-cities__item-counter {{city.hotels_count}} вариант(ов) размещения

      .content__delimiter

      .p-home-recommended
        h4 Рекомендуемые отели Бердянска
        .slider.p-home-recommended__slider.jcarousel
          ul.slider__body
            +djFor('hotels_slice in hotels_promoted|length|upto:4|divide:4|get_range')
              li.slider__item
                .row.row_padded
                  +djWith('hotels_slice_text1=hotels_slice|multiple:4')
                    +djWith('hotels_slice_text2=hotels_slice|add:1|multiple:4')
                      +djWith('hotels_slice_text=hotels_slice_text1|concatenate:":"|concatenate:hotels_slice_text2')
                        +djFor('hotel in hotels_promoted|slice:hotels_slice_text')
                          .p-home-recommended__item.row__item
                            a.p-home-recommended__item-image(href="{% url 'site.hotels-detail' hotel.id hotel.slug %}")
                              img(src="{{hotel.related_data.view_file.urls.medium}}")
                            .p-home-recommended__item-title: a.blue(href="{% url 'site.hotels-detail' hotel.id hotel.slug %}") {{hotel.title}}

            //- li.slider__item
              .row.row_clean-sides
                a.p-home-recommended__item.row__item._w3(ng-repeat="i in [1,2,3,4]", href="#")
                  .p-home-recommended__item-image
                    img(src="/static/uploads/slider-sample.png")
                  .p-home-recommended__item-title Название гостиницы

          .p-home-recommended__slider-controls
            .p-home-recommended__slider-prev
            .p-home-recommended__slider-next


      .content__delimiter


      .p-home-top
        +djFor('hotel in hotels_rate')
          .p-home-top__item
            a(href="{% url 'site.hotels-detail' hotel.id hotel.slug %}")
              img.p-home-top__item__image(src="{{hotel.related_data.view_file.urls.small}}")
            .p-home-top__item__content
              a.blue.p-home-top__item__title(href="{% url 'site.hotels-detail' hotel.id hotel.slug %}") {{hotel.title}}
              .p-home-top__item__marks
                | Оценка:
                .marks
                  +djFor('i in hotel.stars_category|get_range')
                    .marks__item.marks__item_marked
                  +djFor('i in 5|subtract:hotel.stars_category|get_range')
                    .marks__item
              .p-home-top__item__price
                | {{hotel.min_price|floatformat|default:0}} UAH


      .p-home-advantages
        h4 В чем преимущества azovhotels.ua

        .p-home-advantages__list.row
          .p-home-advantages__item.row__item
            h5
              | {{request.azovhotels_metadata.text_home_advantages_1_title|default:''}}
            | {{request.azovhotels_metadata.text_home_advantages_1_content|default:''}}
          .p-home-advantages__item.row__item
            h5
              | {{request.azovhotels_metadata.text_home_advantages_2_title|default:''}}
            | {{request.azovhotels_metadata.text_home_advantages_2_content|default:''}}
          .p-home-advantages__item.row__item
            h5
              | {{request.azovhotels_metadata.text_home_advantages_3_title|default:''}}
            | {{request.azovhotels_metadata.text_home_advantages_3_content|default:''}}
          .p-home-advantages__item.row__item
            h5
              | {{request.azovhotels_metadata.text_home_advantages_4_title|default:''}}
            | {{request.azovhotels_metadata.text_home_advantages_4_content|default:''}}


      .p-home-banners
        .row.row_padded
          .row__item._w6
            .p-home-banners__item
              img(src="/static/img/front/temp/alice_banner1.jpg")
              a(href="/hotels/338-alice-hotel/")
          .row__item._w6
            .p-home-banners__item
              img(src="/static/img/front/temp/alice_banner2.jpg")
              a(href="/hotels/386-buhta/")


      .content__delimiter


      .p-home-articles
        a.pull-right_absolute.link_red(href="{% url 'site.articles-list' %}") Все статьи
        .row.row_padded
          +djIf('menus.slug_azovhotels')
            .p-home-articles__item.row__item._w6
              h4.p-home-articles__item__title
                a.blue(href="{% url 'site.pages-detail' id=menus.slug_azovhotels.id slug=menus.slug_azovhotels.slug %}") {{menus.slug_azovhotels.title}}
              .p-home-articles__item__content
                | {{menus.slug_azovhotels.content|default:''|truncatewords_html:80|safe}}

                <br>
                a(href="{% url 'site.pages-detail' id=menus.slug_azovhotels.id slug=menus.slug_azovhotels.slug %}") Подробнее

          .p-home-articles__item.row__item._w6
            +djIf('article')
              h4.p-home-articles__item__title
                a.blue(href="{% url 'site.pages-detail' id=menus.slug_azovhotels.id slug=menus.slug_azovhotels.slug %}") {{article.title}}
              .p-home-articles__item__content
                | {{article.content|default:''|truncatewords_html:80|safe}}

                <br>
                a(href="{% url 'site.pages-detail' id=article.id slug=article.slug %}") Подробнее


+djBlock('scripts_append')
  script.
    jQuery(function() {
      var carousel = jQuery('.p-home-recommended__slider').jcarousel({
        // Configuration goes here
        wrap: 'circular',
        transitions: Modernizr.csstransitions ? {
          transforms:   Modernizr.csstransforms,
          transforms3d: Modernizr.csstransforms3d,
          easing:       'ease'
        } : false
      }).jcarouselAutoscroll({
          target: '+=1',
          interval: 6000,
      });

      $('.p-home-recommended__slider-prev').jcarouselControl({
          target: '-=1',
          carousel: carousel
      });

      $('.p-home-recommended__slider-next').jcarouselControl({
          target: '+=1',
          carousel: carousel
      });
    });