include ../../mixins/django
include ../../static/admin/mixins/form
include ../../static/admin/mixins/elements
include ../../static/admin/views/templates-form

+djExtends('"site/base-front-footer-text.html"')

| {% load main %}

+djBlock('title')

+djBlock('head')

+djBlock('body-content')

  .content
    .content__body
      //- .p-list-breadcrumbs
        a(href="#") Главная
        |  /  
        a(href="#") Бердянск
        |  / 
        a(href="#") Отели
        |  / 
        span Отель

      .p-article
        h2 Статьи

        .p-article-list
          +djFor('article in objects')
            .p-article-list__item
              a.p-article-list__item__title(href="{% url 'site.pages-detail' article.id article.slug %}") {{article.title}}
              .p-article-list__item__content {{article.content|default:''|truncatewords_html:80|safe}}
              .p-article-list__item__more
                a(href="{% url 'site.pages-detail' article.id article.slug %}") Подробнее

        .p-list-catalog__pagination
          +djIf('pagination.positions.prev')
            a(href="{% url 'site.articles-list' %}?page=pagination.positions.prev")
              .icon.icon_fa-angle-left
              |   Предыдущая страница
          span Страница {{pagination.page}} из {{pagination.pages}}
          +djIf('pagination.positions.next')
            a(href="{% url 'site.articles-list' %}?page=pagination.positions.next")
              | Следующая страница    
              .icon.icon_fa-angle-right

  