include ../../mixins/django
include ../../static/admin/mixins/form
include ../../static/admin/mixins/elements
include ../../static/admin/views/templates-form

+djExtends('"site/base-front-footer-text.html"')

| {% load main %}

+djBlock('title')

+djBlock('head')

+djBlock('body-content')

  .content
    .content__body
      //- .p-list-breadcrumbs
        a(href="#") Главная
        |  /  
        a(href="#") Бердянск
        |  / 
        a(href="#") Отели
        |  / 
        span Отель

      .p-page
        .p-page__title {{page.title}}
        .p-page__content {{page.content|safe}}

  