doctype html

html(ng-app="app")
  head
    title Azovhotels

    meta(charset="utf-8")

    style.
      html {
        box-sizing: border-box;
        display: block;
        font-family: Arial, 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        height: 100%;
        line-height: 18px;
        overflow-y: scroll;
        position: relative;
        width: 100%;
      }

      body {
        background-color: rgb(255, 255, 255);
        box-sizing: border-box;
        color: rgb(102, 102, 102);
        display: block;
        font-family: Arial, 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        height: 100%;
        line-height: 18px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        min-height: 100%;
        min-width: 940px;
        position: relative;
        width: 100%;
      }

      .p-login {
        background-color: rgb(202, 0, 0);
        box-sizing: border-box;
        color: rgb(102, 102, 102);
        display: table;
        font-family: Arial, 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        height: 100%;
        line-height: 18px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        width: 100%;
      }

      .p-login__inner {
        box-sizing: border-box;
        color: rgb(102, 102, 102);
        display: table-cell;
        font-family: Arial, 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        height: 100%;
        line-height: 18px;
        text-align: center;
        vertical-align: middle;
        width: 100%;
      }

      .p-login__body {
        background-color: rgba(0, 0, 0, 0);
        box-sizing: border-box;
        color: rgb(102, 102, 102);
        display: inline-block;
        font-family: Arial, 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        height: 166px;
        line-height: 18px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        text-align: left;
        width: 395px;
      }

      .header__logo {
        background-image: url('/static/img/front/logo.png');
        background-repeat: no-repeat;
        box-sizing: border-box;
        color: rgb(102, 102, 102);
        display: block;
        float: left;
        font-family: Arial, 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14.285714149475098px;
        height: 30.993303298950195px;
        line-height: 12.85714340209961px;
        margin-top: 27px;
        text-align: left;
        width: 253px;
        zoom: 1.4;
      }

      .p-login__body > h4 {
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        display: block;
        font-family: Arial, 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 19px;
        font-weight: normal;
        height: 108px;
        line-height: 18px;
        margin-bottom: 18px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        opacity: 0.7;
        padding-top: 90px;
        text-align: center;
        text-rendering: optimizelegibility;
        vertical-align: baseline;
        width: 355px;
      }

  body
    .p-login
      .p-login__inner
        .p-login__body
          span.header__logo
          h4 Осталось совсем немного