script(src='/static/js/site/vendor.js')

script(src="/static/js/site/app.js")

//- Widgets
script(src="/static/js/site/widgets/modernizr.js")
script(src="/static/js/site/widgets/datepicker.js")
script(src="/static/js/site/widgets/jquery.jcarousel.min.js")
script(src="/static/js/site/widgets/tabs.js")
script(src="/static/js/site/widgets.js")

//- Form Elements
//- script(src="/static/js/core/common/utils.js")
//- script(src="/static/js/core/common/form/form.js")
//- script(src="/static/js/core/common/form/element.js")
//- script(src="/static/js/core/common/form/input.js")
//- script(src="/static/js/core/common/form/select.js")
//- script(src="/static/js/core/common/form/checker.js")
//- script(src="/static/js/core/common/form/upload.js")
//- script(src="/static/js/core/common/form/slugify.js")
//- script(src="/static/js/core/common/form/submit.js")
//- //- script(src="/static/js/core/common/form/templates.js")
//- //- script(src="/static/js/core/common/form/files-list.js")
//- script(src="/static/js/core/common/form/range.js")
  
script(src="/static/js/core/common/utils.js")
script(src="/static/js/core/common/form/form.js")
script(src="/static/js/core/common/form/element.js")
script(src="/static/js/core/common/form/input.js")
script(src="/static/js/core/common/form/select.js")
script(src="/static/js/core/common/form/checker.js")
script(src="/static/js/core/common/form/upload.js")
script(src="/static/js/core/common/form/slugify.js")
script(src="/static/js/core/common/form/submit.js")
script(src="/static/js/core/common/form/editor.js")
script(src="/static/js/core/common/form/files-list.js")
script(src="/static/js/core/common/form/validators.js")
script(src="/static/js/core/common/form/datafill.js")
script(src="/static/js/core/common/form/price-picker.js")
script(src="/static/js/core/common/form/value.js")

//- script(src='/static/js/site/widgets/modernizr.js')
//- script(src='/static/js/site/widgets/jquery.jcarousel.min.js')
//- script(src='/static/js/site/widgets/datepicker.js')

//- script(src="/static/js/core/common/utils.js")

//- script(src="/static/js/admin/services/Api.js")
//- script(src="/static/js/admin/services/FormFactory.js")
//- script(src='/static/js/admin/common/templates.js')

//- //- Views
//- script(src='/static/js/admin/views/labels/labels.js')
//- script(src='/static/js/admin/views/pages/pages.js')
//- script(src='/static/js/admin/views/cities/cities.js')
//- script(src='/static/js/admin/views/states/states.js')
//- script(src='/static/js/admin/views/users/users.js')
//- script(src='/static/js/admin/views/groups/groups.js')
//- script(src='/static/js/admin/views/hotels/hotels.js')
//- script(src='/static/js/admin/views/roomtypes/roomtypes.js')
//- script(src='/static/js/admin/views/roomtypes_rates/roomtypes_rates.js')
//- script(src='/static/js/admin/views/roomtypes_prices/roomtypes_prices.js')
//- script(src='/static/js/admin/views/contacts/contacts.js')
//- script(src='/static/js/admin/views/comments/comments.js')
//- script(src='/static/js/admin/views/reservations/reservations.js')
//- script(src='/static/js/admin/views/config/config.js')
//- script(src='/static/js/admin/views/mail_templates/mail_templates.js')

//- script(src="/static/js/core/services/History.js")
//- script(src="/static/js/core/services/Notifications.js")
//- script(src="/static/js/core/services/HTTPRequestTracker.js")
//- script(src="/static/js/core/services/HTTPErrorHandler.js")
//- script(src="/static/js/core/services/StateErrorHandler.js")
//- script(src="/static/js/core/services/ExceptionHandler.js")
//- script(src="/static/js/core/services/CrudRouteProvider.js")

//- script(src="/static/js/core/filters.js")
//- script(src="/static/js/core/common/form/form.js")
//- script(src="/static/js/core/common/form/element.js")
//- script(src="/static/js/core/common/form/input.js")
//- script(src="/static/js/core/common/form/select.js")
//- script(src="/static/js/core/common/form/checker.js")
//- script(src="/static/js/core/common/form/upload.js")
//- script(src="/static/js/core/common/form/slugify.js")
//- script(src="/static/js/core/common/form/submit.js")
//- script(src="/static/js/core/common/form/editor.js")
//- script(src="/static/js/core/common/form/files-list.js")
//- script(src="/static/js/core/common/form/validators.js")
//- script(src="/static/js/core/common/form/datafill.js")
//- script(src="/static/js/core/common/form/price-picker.js")
//- script(src="/static/js/core/common/form/value.js")
//- //- script(src="/static/js/core/common/form/files-list.js")
//- script(src="/static/js/core/common/ckeditor/ckeditor.js")

//- script(src='/static/js/admin/vendor.js')
//- script(src='/static/js/admin/conf.js')
//- script(src='/static/js/admin/app.js')

//- script(src="/static/js/core/common/utils.js")

//- script(src="/static/js/admin/services/Api.js")
//- script(src="/static/js/admin/services/FormFactory.js")
//- script(src='/static/js/admin/common/templates.js')

//- //- Views
//- script(src='/static/js/admin/views/conf.js')
//- script(src='/static/js/admin/views/views.js')
//- script(src='/static/js/admin/views/controllers.js')
//- script(src='/static/js/admin/views/pagination.js')
//- script(src='/static/js/admin/views/labels/labels.js')
//- script(src='/static/js/admin/views/pages/pages.js')
//- script(src='/static/js/admin/views/cities/cities.js')
//- script(src='/static/js/admin/views/states/states.js')
//- script(src='/static/js/admin/views/users/users.js')
//- script(src='/static/js/admin/views/groups/groups.js')
//- script(src='/static/js/admin/views/hotels/hotels.js')
//- script(src='/static/js/admin/views/roomtypes/roomtypes.js')
//- script(src='/static/js/admin/views/roomtypes_rates/roomtypes_rates.js')
//- script(src='/static/js/admin/views/roomtypes_prices/roomtypes_prices.js')
//- script(src='/static/js/admin/views/contacts/contacts.js')
//- script(src='/static/js/admin/views/comments/comments.js')
//- script(src='/static/js/admin/views/reservations/reservations.js')
//- script(src='/static/js/admin/views/config/config.js')
//- script(src='/static/js/admin/views/mail_templates/mail_templates.js')

//- script(src="/static/js/core/services/History.js")
//- script(src="/static/js/core/services/Notifications.js")
//- script(src="/static/js/core/services/HTTPRequestTracker.js")
//- script(src="/static/js/core/services/HTTPErrorHandler.js")
//- script(src="/static/js/core/services/StateErrorHandler.js")
//- script(src="/static/js/core/services/ExceptionHandler.js")
//- script(src="/static/js/core/services/CrudRouteProvider.js")

//- script(src="/static/js/core/filters.js")
//- script(src="/static/js/core/common/form/form.js")
//- script(src="/static/js/core/common/form/element.js")
//- script(src="/static/js/core/common/form/input.js")
//- script(src="/static/js/core/common/form/select.js")
//- script(src="/static/js/core/common/form/checker.js")
//- script(src="/static/js/core/common/form/upload.js")
//- script(src="/static/js/core/common/form/slugify.js")
//- script(src="/static/js/core/common/form/submit.js")
//- script(src="/static/js/core/common/form/editor.js")
//- script(src="/static/js/core/common/form/files-list.js")
//- script(src="/static/js/core/common/form/validators.js")
//- script(src="/static/js/core/common/form/datafill.js")
//- script(src="/static/js/core/common/form/price-picker.js")
//- script(src="/static/js/core/common/form/value.js")
//- //- script(src="/static/js/core/common/form/files-list.js")
//- script(src="/static/js/core/common/ckeditor/ckeditor.js")