table.datepicker
  thead
    tr.align-center
      th
        button.button.button_pull-right(type="button", ng-click="move(-1)")
          span.icon.icon_fa-chevron-left

        | <[ uniqueId ]>
      th(colspan!="<[ rows[0].length - 2 + showWeekNumbers ]>")
        button.button.button_block(type="button", ng-click="toggleMode()")
          strong
            | <[ title ]>
      th
        button.button.button_pull-left(type="button", ng-click="move(1)")
          span.icon.icon_fa-chevron-right

    tr.align-center(ng-show!="labels.length > 0")
      th(ng-show="showWeekNumbers")
        | #
      th(ng-repeat="label in labels")
        | <[ label ]>
    
  tbody
    tr(ng-repeat="row in rows")
      td.align-center(ng-show="showWeekNumbers")
        em
          | <[ getWeekNumber(row) ]>
      td.align-center(ng-repeat="dt in row")
        button.button(type="button", style="width:100%;",
          ng-class="{_active: dt.selected, _disabled: dt.disabled,\
            button_clean: dt.secondary, _focus: isActive(td)}",
          ng-click="select(dt.date)",
          ng-disabled="dt.disabled")
          span(ng-class="{muted: dt.secondary}")
            | <[ dt.label ]>