.dropdown-list(ng-class="{_active: isOpen}")
  .dropdown-list__inner
    .dropdown-list__body(datepicker-dropdown="").datepicker-popup
      div(ng-transclude)
      .datepicker-controls
        .group
          button.button.button_primary.button_small.group__element.group__element_first(ng-click="today()")
            | Сегодня
          button.button.button_red.button_small.group__element.group__element_last(ng-click="clear()")
            | Очистить
        button.button.button_clean.button_small(ng-click="isOpen = false")
          | Закрыть