include ../../../../mixins/django
include ../../../admin/mixins/form
include ../../../admin/mixins/elements
include ../../../admin/views/templates-form

      
block sided
  .p-hotelier-view__inner
    .p-hotelier-view__sidebar
      .p-hotelier-sidebar
        block sided_sidebar
          include ../partials/sidebar

    .p-hotelier-view__content
      block sided_content