include ../../../../mixins/django
include ../../../admin/mixins/form
include ../../../admin/mixins/elements
include ../../../admin/views/templates-form

      
block single
  include ../partials/menu
  
  .p-hotelier-view__inner
    .p-hotelier-view__sidebar
      .p-hotelier-sidebar
        block single_sidebar
          include ../partials/sidebar

    .p-hotelier-view__content
      block single_content