include ../../mixins/form
include ../../mixins/elements

extends ../view-list

block list_heading_title
  | Области

block list_heading_navigation
  .group
  +button.button_primary(ui-sref="states.create")
    | Создать
    .icon.icon_fa-plus

block list_contents_title
  .row__item._wd5
    +list_field_order('name')
      | Название
  .row__item
    +list_field_order('slug')
      | Ярлык

block list_contents_items
  .row__item._wd5
    | <[ item.name ]>
  .row__item
    | <[ item.slug ]>

block list_contents_items_controls
  +button.button_small.button_green(
    ui-sref="states.detail({id: item.id})"
    )
    .icon.icon_fa-pencil