//- 
//- Django template engine mixins
//- 

//- Base django single mixin
mixin djS(name, args)
  if args
    !='\n{% ' + name + ' ' + args + ' %}'
  else
    !='\n{% ' + name + ' %}'


//- Base django block mixin
mixin djB(name, args)
  if args
    !='\n{% ' + name + ' ' + args + ' %}'
  else
    !='\n{% ' + name + ' %}'

  if block
    block
  
  !='\n{% end' + name + ' %}\n'



mixin djBlock(args)
  +djB('block', args)
    if block
      block



mixin djExtends(args)
  +djS('extends', args)


mixin djFor(args)
  +djB('for', args)
    if block
      block


mixin djIf(args)
  +djB('if', args)
    if block
      block


mixin djWith(args)
  +djB('with', args)
    if block
      block


