//-
//- Form mixins
//-


//- Form tags

mixin tagForm(attrs)
  if !attrs
    - attrs = []

  form&attributes(attributes)(
    accept-charset=attrs['accept-charset'],
    action=attrs['action'],
    autocomplete=attrs['autocomplete'],
    enctype=attrs['enctype'],
    method=attrs['method'],
    name=attrs['name'],
    novalidate=attrs['novalidate'],
    target=attrs['target']
    )

    if block
      block



mixin tagButton(attrs)
  if !attrs
    - attrs = []

  if !(attrs['type'] || attributes['type'])
    - attrs['type'] = 'button'
    
  button&attributes(attributes)(
    accesskey=attrs['accesskey'],
    autofocus=attrs['autofocus'],
    disabled=attrs['disabled'],
    form=attrs['form'],
    formaction=attrs['formaction'],
    formenctype=attrs['formenctype'],
    formmethod=attrs['formmethod'],
    formnovalidate=attrs['formnovalidate'],
    formtarget=attrs['formtarget'],
    name=attrs['name'],
    type=attrs['type'],
    value=attrs['value']
    )

    if block
      block


mixin tagInput(attrs)
  if !attrs
    - attrs = []
    
  input&attributes(attributes)(
    accept=attrs['accept'],
    accesskey=attrs['accesskey'],
    align=attrs['align'],
    alt=attrs['alt'],
    autocomplete=attrs['autocomplete'],
    autofocus=attrs['autofocus'],
    checked=attrs['checked'],
    disabled=attrs['disabled'],
    form=attrs['form'],
    formaction=attrs['formaction'],
    formenctype=attrs['formenctype'],
    formmethod=attrs['formmethod'],
    formnovalidate=attrs['formnovalidate'],
    formtarget=attrs['formtarget'],
    list=attrs['list'],
    max=attrs['max'],
    maxlength=attrs['maxlength'],
    min=attrs['min'],
    multiple=attrs['multiple'],
    name=attrs['name'],
    pattern=attrs['pattern'],
    placeholder=attrs['placeholder'],
    readonly=attrs['readonly'],
    required=attrs['required'],
    size=attrs['size'],
    src=attrs['src'],
    step=attrs['step'],
    tabindex=attrs['tabindex'],
    type=attrs['type'],
    value=attrs['value'],
    ng-trim=attrs['ng-trim'],
    ng-value=attrs['ng-value'],
    ng-model=attrs['ng-model'],
    ng-required=attrs['ng-required'],
    ng-minlength=attrs['ng-minlength'],
    ng-maxlength=attrs['ng-maxlength'],
    ng-pattern=attrs['ng-pattern'],
    ng-change=attrs['ng-change']
    )

mixin tagLabel(attrs)
  if !attrs
    - attrs = []

  label&attributes(attributes)(
    accesskey=attrs['accesskey'],
    for=attrs['for']
    )

    if block
      block


mixin tagSelect(attrs)
  if !attrs
    - attrs = []

  select&attributes(attributes)(
    accesskey=attrs['accesskey'],
    autofocus=attrs['autofocus'],
    disabled=attrs['disabled'],
    form=attrs['form'],
    height=attrs['height'],
    multiple=attrs['multiple'],
    name=attrs['name'],
    required=attrs['required'],
    size=attrs['size'],
    tabindex=attrs['tabindex'],
    width=attrs['width'],
    ng-options=attrs['ng-options'],
    ng-required=attrs['ng-required']
    )

    if block
      block


mixin tagTextarea(attrs)
  if !attrs
    - attrs = []

  textarea&attributes(attributes)(
    accesskey=attrs['accesskey'],
    autofocus=attrs['autofocus'],
    cols=attrs['cols'],
    disabled=attrs['disabled'],
    form=attrs['form'],
    height=attrs['height'],
    maxlength=attrs['maxlength'],
    name=attrs['name'],
    placeholder=attrs['placeholder'],
    readonly=attrs['readonly'],
    required=attrs['required'],
    rows=attrs['rows'],
    tabindex=attrs['tabindex'],
    width=attrs['width'],
    wrap=attrs['wrap'],
    ng-model=attrs['ng-model'],
    ng-required=attrs['ng-required'],
    ng-minlength=attrs['ng-minlength'],
    ng-maxlength=attrs['ng-maxlength'],
    ng-pattern=attrs['ng-pattern'],
    ng-change=attrs['ng-change']
    )

    if block
      block