
<div class="p-hotelier-view__inner">
  <div class="p-hotelier-view__sidebar">
    <div class="p-hotelier-sidebar">
      <div class="p-hotelier-sidebar__block"><a ui-sref="hotels.create" class="button button_green button_block"><span class="icon icon_fa-plus"> </span>  Добавить гостиницу</a></div>
      <div class="p-hotelier-sidebar__block p-hotelier-sidebar__block_panel">
        <p class="highlight_blue font_medium">
          Если у Вас возникли<br>
          проблемы обратитесь<br>
          в отдел маркетинга <br>
          по телефонам:<br>
          
        </p>
        <p class="highlight_orange font_big">+38 050 3223270
        </p>
      </div>
    </div>
  </div>
  <div class="p-hotelier-view__content">
    <div class="form-title">Создание гостиницы</div>
        <form autocomplete="off" class="form form" name="singleForm" novalidate="" form-submit="Form.create()">
                      <div class="form-line form-line_sided">
                        <div class="form-line_sided__inner">
                          <div class="form-line_sided__sidebar">
                            <label for="form-element-14054644369672" class="label label_input">Название
                            </label>
                          </div>
                          <div class="form-line_sided__content">
                                <div class="row_table">
                                  <div class="row__item _w12">
                                        <input class="input input input_block group__element_first input_block group__element_first" type="text" id="form-element-14054644369672" required="required" name="title" ng-model="single.title" form-slugify="single.slug"/>
                                  </div>
                                  <div class="row__item">
                                        <div for="form-element-14054644369672" class="label label_prefix <[ (singleForm['title'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['title'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                          <div ng-if="!(singleForm['title'].$valid)" class="icon icon_fa-asterisk"></div>
                                          <div ng-if="(singleForm['title'].$valid)" class="icon icon_fa-check"></div>
                                        </div>
                                  </div>
                                </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-line form-line_sided">
                        <div class="form-line_sided__inner">
                          <div class="form-line_sided__sidebar">
                            <label for="form-element-14054644369674" class="label label_input">Ярлык
                            </label>
                          </div>
                          <div class="form-line_sided__content">
                                <div class="row_table">
                                  <div class="row__item _w12">
                                        <input class="input input input_block group__element_first input_block group__element_first" type="text" id="form-element-14054644369674" required="required" name="slug" ng-model="single.slug"/>
                                  </div>
                                  <div class="row__item">
                                        <div for="form-element-14054644369674" class="label label_prefix <[ (singleForm['slug'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['slug'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                          <div ng-if="!(singleForm['slug'].$valid)" class="icon icon_fa-asterisk"></div>
                                          <div ng-if="(singleForm['slug'].$valid)" class="icon icon_fa-check"></div>
                                        </div>
                                  </div>
                                </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-line form-line_sided">
                        <div class="form-line_sided__inner">
                          <div class="form-line_sided__sidebar">
                            <label for="form-element-14054644369676" class="label label_input">Город
                            </label>
                          </div>
                          <div class="form-line_sided__content">
                                <div form-select="" ng-model="single.city" form-select-data="single.related_data_all.cities" class="tags tags_single">
                                  <div ng-class="{_active: formSelect.active}" class="dropdown tags__dropdown">
                                    <div class="row_table">
                                      <div class="row__item _w12">
                                        <div class="input-wrapper">
                                              <input class="input input input_labeled input_masked input_block group__element_first" ng-model="formSelect.filter" form-select-toggle="" id="form-element-14054644369676" size="10" name="city" placeholder="<[ (formSelect.selected.length > 0 ? formSelect.selected[0].state.name + ' обл. г.' + formSelect.selected[0].name  : '') ]>" ng-required="!(single.city|isFilled)"/>
                                          <div ng-show="!formSelect.selected.length" class="input__label icon icon_fa-chevron-down"></div>
                                          <div ng-show="formSelect.selected.length" ng-click="formSelect.remove(0)" class="input__label icon icon_fa-times"></div>
                                        </div>
                                      </div>
                                      <div class="row__item">
                                            <div for="form-element-14054644369676" class="label label_prefix <[ (singleForm['city'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['city'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                              <div ng-if="!(singleForm['city'].$valid)" class="icon icon_fa-asterisk"></div>
                                              <div ng-if="(singleForm['city'].$valid)" class="icon icon_fa-check"></div>
                                            </div>
                                      </div>
                                    </div>
                                    <div class="dropdown-list">
                                      <div class="dropdown-list__inner">
                                        <div ng-mousedown="formSelect.prevent($event)" class="dropdown-list__body tags__dropdown-list">
                                          <div ng-repeat="item in formSelect.dataFiltered" ng-class="{_active: formSelect.current == $index}" ng-click="formSelect.select($index)" ng-mouseover="formSelect.current = $index" class="dropdown-list__item"><[ item.state.name + ' обл. г.' + item.name  ]>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                          </div>
                        </div>
                      </div>
              <div class="form-line form-line_double form-line form-line_double">
                        <div class="form-line_double__part">
                          <label for="form-element-14054644369677" class="label label_block">Адрес
                          </label>
                              <div class="row_table">
                                <div class="row__item _w12">
                                      <input class="input input input_block input_block" type="text" id="form-element-14054644369677" name="address" ng-model="single.address"/>
                                </div>
                              </div>
                        </div>
                        <div class="form-line_double__part">
                          <label for="form-element-14054644369679" class="label label_block">Почтовый код
                          </label>
                              <div class="row_table">
                                <div class="row__item _w12">
                                      <input class="input input input_block input_block" type="text" id="form-element-14054644369679" name="postal_code" ng-model="single.postal_code"/>
                                </div>
                              </div>
                        </div>
              </div>
                  <div class="form-line form-line_sided">
                    <div class="form-line_sided__inner">
                      <div class="form-line_sided__sidebar">
                        <label for="form-element-140546443696711" class="label label_input">Тип гостиницы
                        </label>
                      </div>
                      <div class="form-line_sided__content">
                            <div form-select="" ng-model="single.labels" form-select-data="single.related_data_all.types" multiple="multiple" class="tags tags_multiple">
                              <div ng-class="{_active: formSelect.active}" class="dropdown tags__dropdown">
                                <div class="row_table">
                                  <div class="row__item _w12">
                                    <div class="input-wrapper">
                                          <input class="input input input_labeled input_masked input_block" ng-model="formSelect.filter" form-select-toggle="" id="form-element-140546443696711" size="10"/>
                                      <div class="input__label icon icon_fa-chevron-down"></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="dropdown-list">
                                  <div class="dropdown-list__inner">
                                    <div ng-mousedown="formSelect.prevent($event)" class="dropdown-list__body tags__dropdown-list">
                                      <div ng-repeat="item in formSelect.dataFiltered" ng-class="{_active: formSelect.current == $index}" ng-click="formSelect.select($index)" ng-mouseover="formSelect.current = $index" class="dropdown-list__item"><[ item.title ]>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="tags__list">
                                <div ng-repeat="item in formSelect.selected" class="tags__item button"><[ item.title ]>
                                  <div ng-click="formSelect.remove($index)" class="tags__item-remove"></div>
                                </div>
                              </div>
                            </div>
                      </div>
                    </div>
                  </div>
              <div class="form-line">
                    <button type="submit" class="button button button_primary">Сохранить
                    </button>
                    <button type="button" class="button button button_clean" ng-click="Form.revertChanges()">Отменить изменения
                    </button>
              </div>
        </form>
  </div>
</div>