
<div class="p-hotelier-view__inner">
  <div class="p-hotelier-view__sidebar">
    <div class="p-hotelier-sidebar">
      <div class="p-hotelier-sidebar__block"><a ui-sref="hotels.create" class="button button_green button_block"><span class="icon icon_fa-plus"> </span>  Добавить гостиницу</a></div>
      <div class="p-hotelier-sidebar__block p-hotelier-sidebar__block_panel">
        <p class="highlight_blue font_medium">
          Если у Вас возникли<br>
          проблемы обратитесь<br>
          в отдел маркетинга <br>
          по телефонам:<br>
          
        </p>
        <p class="highlight_orange font_big">+38 050 3223270
        </p>
      </div>
    </div>
  </div>
  <div class="p-hotelier-view__content">
    <div class="form-title">Мои гостиницы</div>
    <div class="p-hotelier-hotels-list">
      <div ng-repeat="item in list.objects" class="p-hotelier-hotels-list__item">
        <div class="p-hotelier-hotel">
          <div class="p-hotelier-hotel__inner">
            <div class="p-hotelier-hotel__sidebar">
              <div class="p-hotelier-hotel__image"><img ng-src="&lt;[item.related_data.view_file.urls.medium]&gt;"/></div>
            </div>
            <div class="p-hotelier-hotel__content"><a ui-sref="hotels.detail({id: item.id})" class="p-hotelier-hotel__heading"><[ item.title ]></a>
              <div ng-if="item.address" class="p-hotelier-hotel__address"><b>Адрес:</b> <[ item.address ]></div>
              <div ng-bind-html="item.about_short" class="p-hotelier-hotel__about"></div>
              <p class="align-right"><a ui-sref="hotels.detail({id: item.id})" class="button button_small button_orange">Редактировать гостиницу   <span class="icon icon_fa-angle-right"></span></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>