/* normalize.css v2.1.3 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html {
  font-family: sans-serif;
/* 1 */
  -ms-text-size-adjust: 100%;
/* 2 */
  -webkit-text-size-adjust: 100%;
/* 2 */
}
body {
  margin: 0;
}
a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
/* 1 */
  padding: 0;
/* 2 */
}
button,
input,
select,
textarea {
  font-family: inherit;
/* 1 */
  font-size: 100%;
/* 2 */
  margin: 0;
/* 3 */
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
* 1 */,
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
/* 2 */
  cursor: pointer;
/* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
/* 1 */
  padding: 0;
/* 2 */
}
input[type="search"] {
  -webkit-appearance: textfield;
/* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
/* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
/* 1 */
  vertical-align: top;
/* 2 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.row,
.root__inner,
.v-list-controls__inner,
.v-list-pagination,
.v-single-controls__inner,
.v-price-picker-controls__inner,
.v-price-picker-pagination,
.b-heading,
.form-title,
.form-line,
.form-legend,
.form-fieldset,
.form-delimiter,
.form-line_sided__inner,
.group,
.input,
.button,
.label_button,
.label_input,
.label_button-as,
.label_input-as,
.label_prefix,
.switch,
.radio,
.checkbox,
.progress,
.tags,
.upload__item,
.tabs__togglers,
.tabs__item-toggler,
.badge,
.dropdown-list__body,
.block-list,
.thumbnail,
.thumbnail__image,
.price-picker-form {
  zoom: 1;
}
.row:before,
.root__inner:before,
.v-list-controls__inner:before,
.v-list-pagination:before,
.v-single-controls__inner:before,
.v-price-picker-controls__inner:before,
.v-price-picker-pagination:before,
.b-heading:before,
.form-title:before,
.form-line:before,
.form-legend:before,
.form-fieldset:before,
.form-delimiter:before,
.form-line_sided__inner:before,
.group:before,
.input:before,
.button:before,
.label_button:before,
.label_input:before,
.label_button-as:before,
.label_input-as:before,
.label_prefix:before,
.switch:before,
.radio:before,
.checkbox:before,
.progress:before,
.tags:before,
.upload__item:before,
.tabs__togglers:before,
.tabs__item-toggler:before,
.badge:before,
.dropdown-list__body:before,
.block-list:before,
.thumbnail:before,
.thumbnail__image:before,
.price-picker-form:before,
.row:after,
.root__inner:after,
.v-list-controls__inner:after,
.v-list-pagination:after,
.v-single-controls__inner:after,
.v-price-picker-controls__inner:after,
.v-price-picker-pagination:after,
.b-heading:after,
.form-title:after,
.form-line:after,
.form-legend:after,
.form-fieldset:after,
.form-delimiter:after,
.form-line_sided__inner:after,
.group:after,
.input:after,
.button:after,
.label_button:after,
.label_input:after,
.label_button-as:after,
.label_input-as:after,
.label_prefix:after,
.switch:after,
.radio:after,
.checkbox:after,
.progress:after,
.tags:after,
.upload__item:after,
.tabs__togglers:after,
.tabs__item-toggler:after,
.badge:after,
.dropdown-list__body:after,
.block-list:after,
.thumbnail:after,
.thumbnail__image:after,
.price-picker-form:after {
  display: block;
  display: table;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  content: "";
}
.row:after,
.root__inner:after,
.v-list-controls__inner:after,
.v-list-pagination:after,
.v-single-controls__inner:after,
.v-price-picker-controls__inner:after,
.v-price-picker-pagination:after,
.b-heading:after,
.form-title:after,
.form-line:after,
.form-legend:after,
.form-fieldset:after,
.form-delimiter:after,
.form-line_sided__inner:after,
.group:after,
.input:after,
.button:after,
.label_button:after,
.label_input:after,
.label_button-as:after,
.label_input-as:after,
.label_prefix:after,
.switch:after,
.radio:after,
.checkbox:after,
.progress:after,
.tags:after,
.upload__item:after,
.tabs__togglers:after,
.tabs__item-toggler:after,
.badge:after,
.dropdown-list__body:after,
.block-list:after,
.thumbnail:after,
.thumbnail__image:after,
.price-picker-form:after {
  clear: both;
}
.input,
.input__field,
.button,
.label,
.label_button,
.label_input,
.label_button-as,
.label_input-as,
.label_prefix,
.switch,
.radio,
.checkbox,
.progress,
.tabs__item-toggler,
.badge,
.alert__close {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-style: inherit;
  font-stretch: inherit;
  font-variant: inherit;
  text-align: left;
  text-decoration: inherit;
  text-transform: inherit;
  vertical-align: middle;
  color: inherit;
  border: 0 solid transparent;
  border-radius: inherit;
  background: transparent;
}
.input:-webkit-autofill,
.input__field:-webkit-autofill,
.button:-webkit-autofill,
.label:-webkit-autofill,
.label_button:-webkit-autofill,
.label_input:-webkit-autofill,
.label_button-as:-webkit-autofill,
.label_input-as:-webkit-autofill,
.label_prefix:-webkit-autofill,
.switch:-webkit-autofill,
.radio:-webkit-autofill,
.checkbox:-webkit-autofill,
.progress:-webkit-autofill,
.tabs__item-toggler:-webkit-autofill,
.badge:-webkit-autofill,
.alert__close:-webkit-autofill {
  background-color: transparent;
}
.badge {
  font-size: inherit;
  font-style: inherit;
  font-stretch: inherit;
  font-variant: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
[hidden],
._hidden {
  display: none;
}
[disabled],
._disabled {
  cursor: default;
  opacity: 0.5;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.icon,
.icon:before,
.checkbox__label:before,
.tags__item-remove:before,
.alert__close {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: inherit;
  vertical-align: bottom;
  content: "";
}
.icon_large:before {
  font-size: 18px;
}
.icon_fa-glass:before {
  font-family: 'FontAwesome';
  content: '\f000';
}
.icon_fa-music:before {
  font-family: 'FontAwesome';
  content: '\f001';
}
.icon_fa-search:before {
  font-family: 'FontAwesome';
  content: '\f002';
}
.icon_fa-envelope-o:before {
  font-family: 'FontAwesome';
  content: '\f003';
}
.icon_fa-heart:before {
  font-family: 'FontAwesome';
  content: '\f004';
}
.icon_fa-star:before {
  font-family: 'FontAwesome';
  content: '\f005';
}
.icon_fa-star-o:before {
  font-family: 'FontAwesome';
  content: '\f006';
}
.icon_fa-user:before {
  font-family: 'FontAwesome';
  content: '\f007';
}
.icon_fa-film:before {
  font-family: 'FontAwesome';
  content: '\f008';
}
.icon_fa-th-large:before {
  font-family: 'FontAwesome';
  content: '\f009';
}
.icon_fa-th:before {
  font-family: 'FontAwesome';
  content: '\f00a';
}
.icon_fa-th-list:before {
  font-family: 'FontAwesome';
  content: '\f00b';
}
.icon_fa-check:before,
.checkbox__label:before {
  font-family: 'FontAwesome';
  content: '\f00c';
}
.icon_fa-times:before,
.tags__item-remove:before,
.alert__close:before {
  font-family: 'FontAwesome';
  content: '\f00d';
}
.icon_fa-search-plus:before {
  font-family: 'FontAwesome';
  content: '\f00e';
}
.icon_fa-search-minus:before {
  font-family: 'FontAwesome';
  content: '\f010';
}
.icon_fa-power-off:before {
  font-family: 'FontAwesome';
  content: '\f011';
}
.icon_fa-signal:before {
  font-family: 'FontAwesome';
  content: '\f012';
}
.icon_fa-cog:before {
  font-family: 'FontAwesome';
  content: '\f013';
}
.icon_fa-trash-o:before {
  font-family: 'FontAwesome';
  content: '\f014';
}
.icon_fa-home:before {
  font-family: 'FontAwesome';
  content: '\f015';
}
.icon_fa-file-o:before {
  font-family: 'FontAwesome';
  content: '\f016';
}
.icon_fa-clock-o:before {
  font-family: 'FontAwesome';
  content: '\f017';
}
.icon_fa-road:before {
  font-family: 'FontAwesome';
  content: '\f018';
}
.icon_fa-download:before {
  font-family: 'FontAwesome';
  content: '\f019';
}
.icon_fa-arrow-circle-o-down:before {
  font-family: 'FontAwesome';
  content: '\f01a';
}
.icon_fa-arrow-circle-o-up:before {
  font-family: 'FontAwesome';
  content: '\f01b';
}
.icon_fa-inbox:before {
  font-family: 'FontAwesome';
  content: '\f01c';
}
.icon_fa-play-circle-o:before {
  font-family: 'FontAwesome';
  content: '\f01d';
}
.icon_fa-repeat:before {
  font-family: 'FontAwesome';
  content: '\f01e';
}
.icon_fa-refresh:before {
  font-family: 'FontAwesome';
  content: '\f021';
}
.icon_fa-list-alt:before {
  font-family: 'FontAwesome';
  content: '\f022';
}
.icon_fa-lock:before {
  font-family: 'FontAwesome';
  content: '\f023';
}
.icon_fa-flag:before {
  font-family: 'FontAwesome';
  content: '\f024';
}
.icon_fa-headphones:before {
  font-family: 'FontAwesome';
  content: '\f025';
}
.icon_fa-volume-off:before {
  font-family: 'FontAwesome';
  content: '\f026';
}
.icon_fa-volume-down:before {
  font-family: 'FontAwesome';
  content: '\f027';
}
.icon_fa-volume-up:before {
  font-family: 'FontAwesome';
  content: '\f028';
}
.icon_fa-qrcode:before {
  font-family: 'FontAwesome';
  content: '\f029';
}
.icon_fa-barcode:before {
  font-family: 'FontAwesome';
  content: '\f02a';
}
.icon_fa-tag:before {
  font-family: 'FontAwesome';
  content: '\f02b';
}
.icon_fa-tags:before {
  font-family: 'FontAwesome';
  content: '\f02c';
}
.icon_fa-book:before {
  font-family: 'FontAwesome';
  content: '\f02d';
}
.icon_fa-bookmark:before {
  font-family: 'FontAwesome';
  content: '\f02e';
}
.icon_fa-print:before {
  font-family: 'FontAwesome';
  content: '\f02f';
}
.icon_fa-camera:before {
  font-family: 'FontAwesome';
  content: '\f030';
}
.icon_fa-font:before {
  font-family: 'FontAwesome';
  content: '\f031';
}
.icon_fa-bold:before {
  font-family: 'FontAwesome';
  content: '\f032';
}
.icon_fa-italic:before {
  font-family: 'FontAwesome';
  content: '\f033';
}
.icon_fa-text-height:before {
  font-family: 'FontAwesome';
  content: '\f034';
}
.icon_fa-text-width:before {
  font-family: 'FontAwesome';
  content: '\f035';
}
.icon_fa-align-left:before {
  font-family: 'FontAwesome';
  content: '\f036';
}
.icon_fa-align-center:before {
  font-family: 'FontAwesome';
  content: '\f037';
}
.icon_fa-align-right:before {
  font-family: 'FontAwesome';
  content: '\f038';
}
.icon_fa-align-justify:before {
  font-family: 'FontAwesome';
  content: '\f039';
}
.icon_fa-list:before {
  font-family: 'FontAwesome';
  content: '\f03a';
}
.icon_fa-outdent:before {
  font-family: 'FontAwesome';
  content: '\f03b';
}
.icon_fa-indent:before {
  font-family: 'FontAwesome';
  content: '\f03c';
}
.icon_fa-video-camera:before {
  font-family: 'FontAwesome';
  content: '\f03d';
}
.icon_fa-picture-o:before {
  font-family: 'FontAwesome';
  content: '\f03e';
}
.icon_fa-pencil:before {
  font-family: 'FontAwesome';
  content: '\f040';
}
.icon_fa-map-marker:before {
  font-family: 'FontAwesome';
  content: '\f041';
}
.icon_fa-adjust:before {
  font-family: 'FontAwesome';
  content: '\f042';
}
.icon_fa-tint:before {
  font-family: 'FontAwesome';
  content: '\f043';
}
.icon_fa-pencil-square-o:before {
  font-family: 'FontAwesome';
  content: '\f044';
}
.icon_fa-share-square-o:before {
  font-family: 'FontAwesome';
  content: '\f045';
}
.icon_fa-check-square-o:before {
  font-family: 'FontAwesome';
  content: '\f046';
}
.icon_fa-arrows:before {
  font-family: 'FontAwesome';
  content: '\f047';
}
.icon_fa-step-backward:before {
  font-family: 'FontAwesome';
  content: '\f048';
}
.icon_fa-fast-backward:before {
  font-family: 'FontAwesome';
  content: '\f049';
}
.icon_fa-backward:before {
  font-family: 'FontAwesome';
  content: '\f04a';
}
.icon_fa-play:before {
  font-family: 'FontAwesome';
  content: '\f04b';
}
.icon_fa-pause:before {
  font-family: 'FontAwesome';
  content: '\f04c';
}
.icon_fa-stop:before {
  font-family: 'FontAwesome';
  content: '\f04d';
}
.icon_fa-forward:before {
  font-family: 'FontAwesome';
  content: '\f04e';
}
.icon_fa-fast-forward:before {
  font-family: 'FontAwesome';
  content: '\f050';
}
.icon_fa-step-forward:before {
  font-family: 'FontAwesome';
  content: '\f051';
}
.icon_fa-eject:before {
  font-family: 'FontAwesome';
  content: '\f052';
}
.icon_fa-chevron-left:before {
  font-family: 'FontAwesome';
  content: '\f053';
}
.icon_fa-chevron-right:before {
  font-family: 'FontAwesome';
  content: '\f054';
}
.icon_fa-plus-circle:before {
  font-family: 'FontAwesome';
  content: '\f055';
}
.icon_fa-minus-circle:before {
  font-family: 'FontAwesome';
  content: '\f056';
}
.icon_fa-times-circle:before {
  font-family: 'FontAwesome';
  content: '\f057';
}
.icon_fa-check-circle:before {
  font-family: 'FontAwesome';
  content: '\f058';
}
.icon_fa-question-circle:before {
  font-family: 'FontAwesome';
  content: '\f059';
}
.icon_fa-info-circle:before {
  font-family: 'FontAwesome';
  content: '\f05a';
}
.icon_fa-crosshairs:before {
  font-family: 'FontAwesome';
  content: '\f05b';
}
.icon_fa-times-circle-o:before {
  font-family: 'FontAwesome';
  content: '\f05c';
}
.icon_fa-check-circle-o:before {
  font-family: 'FontAwesome';
  content: '\f05d';
}
.icon_fa-ban:before {
  font-family: 'FontAwesome';
  content: '\f05e';
}
.icon_fa-arrow-left:before {
  font-family: 'FontAwesome';
  content: '\f060';
}
.icon_fa-arrow-right:before {
  font-family: 'FontAwesome';
  content: '\f061';
}
.icon_fa-arrow-up:before {
  font-family: 'FontAwesome';
  content: '\f062';
}
.icon_fa-arrow-down:before {
  font-family: 'FontAwesome';
  content: '\f063';
}
.icon_fa-share:before {
  font-family: 'FontAwesome';
  content: '\f064';
}
.icon_fa-expand:before {
  font-family: 'FontAwesome';
  content: '\f065';
}
.icon_fa-compress:before {
  font-family: 'FontAwesome';
  content: '\f066';
}
.icon_fa-plus:before {
  font-family: 'FontAwesome';
  content: '\f067';
}
.icon_fa-minus:before {
  font-family: 'FontAwesome';
  content: '\f068';
}
.icon_fa-asterisk:before {
  font-family: 'FontAwesome';
  content: '\f069';
}
.icon_fa-exclamation-circle:before {
  font-family: 'FontAwesome';
  content: '\f06a';
}
.icon_fa-gift:before {
  font-family: 'FontAwesome';
  content: '\f06b';
}
.icon_fa-leaf:before {
  font-family: 'FontAwesome';
  content: '\f06c';
}
.icon_fa-fire:before {
  font-family: 'FontAwesome';
  content: '\f06d';
}
.icon_fa-eye:before {
  font-family: 'FontAwesome';
  content: '\f06e';
}
.icon_fa-eye-slash:before {
  font-family: 'FontAwesome';
  content: '\f070';
}
.icon_fa-exclamation-triangle:before {
  font-family: 'FontAwesome';
  content: '\f071';
}
.icon_fa-plane:before {
  font-family: 'FontAwesome';
  content: '\f072';
}
.icon_fa-calendar:before {
  font-family: 'FontAwesome';
  content: '\f073';
}
.icon_fa-random:before {
  font-family: 'FontAwesome';
  content: '\f074';
}
.icon_fa-comment:before {
  font-family: 'FontAwesome';
  content: '\f075';
}
.icon_fa-magnet:before {
  font-family: 'FontAwesome';
  content: '\f076';
}
.icon_fa-chevron-up:before {
  font-family: 'FontAwesome';
  content: '\f077';
}
.icon_fa-chevron-down:before {
  font-family: 'FontAwesome';
  content: '\f078';
}
.icon_fa-retweet:before {
  font-family: 'FontAwesome';
  content: '\f079';
}
.icon_fa-shopping-cart:before {
  font-family: 'FontAwesome';
  content: '\f07a';
}
.icon_fa-folder:before {
  font-family: 'FontAwesome';
  content: '\f07b';
}
.icon_fa-folder-open:before {
  font-family: 'FontAwesome';
  content: '\f07c';
}
.icon_fa-arrows-v:before {
  font-family: 'FontAwesome';
  content: '\f07d';
}
.icon_fa-arrows-h:before {
  font-family: 'FontAwesome';
  content: '\f07e';
}
.icon_fa-bar-chart-o:before {
  font-family: 'FontAwesome';
  content: '\f080';
}
.icon_fa-twitter-square:before {
  font-family: 'FontAwesome';
  content: '\f081';
}
.icon_fa-facebook-square:before {
  font-family: 'FontAwesome';
  content: '\f082';
}
.icon_fa-camera-retro:before {
  font-family: 'FontAwesome';
  content: '\f083';
}
.icon_fa-key:before {
  font-family: 'FontAwesome';
  content: '\f084';
}
.icon_fa-cogs:before {
  font-family: 'FontAwesome';
  content: '\f085';
}
.icon_fa-comments:before {
  font-family: 'FontAwesome';
  content: '\f086';
}
.icon_fa-thumbs-o-up:before {
  font-family: 'FontAwesome';
  content: '\f087';
}
.icon_fa-thumbs-o-down:before {
  font-family: 'FontAwesome';
  content: '\f088';
}
.icon_fa-star-half:before {
  font-family: 'FontAwesome';
  content: '\f089';
}
.icon_fa-heart-o:before {
  font-family: 'FontAwesome';
  content: '\f08a';
}
.icon_fa-sign-out:before {
  font-family: 'FontAwesome';
  content: '\f08b';
}
.icon_fa-linkedin-square:before {
  font-family: 'FontAwesome';
  content: '\f08c';
}
.icon_fa-thumb-tack:before {
  font-family: 'FontAwesome';
  content: '\f08d';
}
.icon_fa-external-link:before {
  font-family: 'FontAwesome';
  content: '\f08e';
}
.icon_fa-sign-in:before {
  font-family: 'FontAwesome';
  content: '\f090';
}
.icon_fa-trophy:before {
  font-family: 'FontAwesome';
  content: '\f091';
}
.icon_fa-github-square:before {
  font-family: 'FontAwesome';
  content: '\f092';
}
.icon_fa-upload:before {
  font-family: 'FontAwesome';
  content: '\f093';
}
.icon_fa-lemon-o:before {
  font-family: 'FontAwesome';
  content: '\f094';
}
.icon_fa-phone:before {
  font-family: 'FontAwesome';
  content: '\f095';
}
.icon_fa-square-o:before {
  font-family: 'FontAwesome';
  content: '\f096';
}
.icon_fa-bookmark-o:before {
  font-family: 'FontAwesome';
  content: '\f097';
}
.icon_fa-phone-square:before {
  font-family: 'FontAwesome';
  content: '\f098';
}
.icon_fa-twitter:before {
  font-family: 'FontAwesome';
  content: '\f099';
}
.icon_fa-facebook:before {
  font-family: 'FontAwesome';
  content: '\f09a';
}
.icon_fa-github:before {
  font-family: 'FontAwesome';
  content: '\f09b';
}
.icon_fa-unlock:before {
  font-family: 'FontAwesome';
  content: '\f09c';
}
.icon_fa-credit-card:before {
  font-family: 'FontAwesome';
  content: '\f09d';
}
.icon_fa-rss:before {
  font-family: 'FontAwesome';
  content: '\f09e';
}
.icon_fa-hdd-o:before {
  font-family: 'FontAwesome';
  content: '\f0a0';
}
.icon_fa-bullhorn:before {
  font-family: 'FontAwesome';
  content: '\f0a1';
}
.icon_fa-bell:before {
  font-family: 'FontAwesome';
  content: '\f0f3';
}
.icon_fa-certificate:before {
  font-family: 'FontAwesome';
  content: '\f0a3';
}
.icon_fa-hand-o-right:before {
  font-family: 'FontAwesome';
  content: '\f0a4';
}
.icon_fa-hand-o-left:before {
  font-family: 'FontAwesome';
  content: '\f0a5';
}
.icon_fa-hand-o-up:before {
  font-family: 'FontAwesome';
  content: '\f0a6';
}
.icon_fa-hand-o-down:before {
  font-family: 'FontAwesome';
  content: '\f0a7';
}
.icon_fa-arrow-circle-left:before {
  font-family: 'FontAwesome';
  content: '\f0a8';
}
.icon_fa-arrow-circle-right:before {
  font-family: 'FontAwesome';
  content: '\f0a9';
}
.icon_fa-arrow-circle-up:before {
  font-family: 'FontAwesome';
  content: '\f0aa';
}
.icon_fa-arrow-circle-down:before {
  font-family: 'FontAwesome';
  content: '\f0ab';
}
.icon_fa-globe:before {
  font-family: 'FontAwesome';
  content: '\f0ac';
}
.icon_fa-wrench:before {
  font-family: 'FontAwesome';
  content: '\f0ad';
}
.icon_fa-tasks:before {
  font-family: 'FontAwesome';
  content: '\f0ae';
}
.icon_fa-filter:before {
  font-family: 'FontAwesome';
  content: '\f0b0';
}
.icon_fa-briefcase:before {
  font-family: 'FontAwesome';
  content: '\f0b1';
}
.icon_fa-arrows-alt:before {
  font-family: 'FontAwesome';
  content: '\f0b2';
}
.icon_fa-users:before {
  font-family: 'FontAwesome';
  content: '\f0c0';
}
.icon_fa-link:before {
  font-family: 'FontAwesome';
  content: '\f0c1';
}
.icon_fa-cloud:before {
  font-family: 'FontAwesome';
  content: '\f0c2';
}
.icon_fa-flask:before {
  font-family: 'FontAwesome';
  content: '\f0c3';
}
.icon_fa-scissors:before {
  font-family: 'FontAwesome';
  content: '\f0c4';
}
.icon_fa-files-o:before {
  font-family: 'FontAwesome';
  content: '\f0c5';
}
.icon_fa-paperclip:before {
  font-family: 'FontAwesome';
  content: '\f0c6';
}
.icon_fa-floppy-o:before {
  font-family: 'FontAwesome';
  content: '\f0c7';
}
.icon_fa-square:before {
  font-family: 'FontAwesome';
  content: '\f0c8';
}
.icon_fa-bars:before {
  font-family: 'FontAwesome';
  content: '\f0c9';
}
.icon_fa-list-ul:before {
  font-family: 'FontAwesome';
  content: '\f0ca';
}
.icon_fa-list-ol:before {
  font-family: 'FontAwesome';
  content: '\f0cb';
}
.icon_fa-strikethrough:before {
  font-family: 'FontAwesome';
  content: '\f0cc';
}
.icon_fa-underline:before {
  font-family: 'FontAwesome';
  content: '\f0cd';
}
.icon_fa-table:before {
  font-family: 'FontAwesome';
  content: '\f0ce';
}
.icon_fa-magic:before {
  font-family: 'FontAwesome';
  content: '\f0d0';
}
.icon_fa-truck:before {
  font-family: 'FontAwesome';
  content: '\f0d1';
}
.icon_fa-pinterest:before {
  font-family: 'FontAwesome';
  content: '\f0d2';
}
.icon_fa-pinterest-square:before {
  font-family: 'FontAwesome';
  content: '\f0d3';
}
.icon_fa-google-plus-square:before {
  font-family: 'FontAwesome';
  content: '\f0d4';
}
.icon_fa-google-plus:before {
  font-family: 'FontAwesome';
  content: '\f0d5';
}
.icon_fa-money:before {
  font-family: 'FontAwesome';
  content: '\f0d6';
}
.icon_fa-caret-down:before {
  font-family: 'FontAwesome';
  content: '\f0d7';
}
.icon_fa-caret-up:before {
  font-family: 'FontAwesome';
  content: '\f0d8';
}
.icon_fa-caret-left:before {
  font-family: 'FontAwesome';
  content: '\f0d9';
}
.icon_fa-caret-right:before {
  font-family: 'FontAwesome';
  content: '\f0da';
}
.icon_fa-columns:before {
  font-family: 'FontAwesome';
  content: '\f0db';
}
.icon_fa-sort:before {
  font-family: 'FontAwesome';
  content: '\f0dc';
}
.icon_fa-sort-asc:before {
  font-family: 'FontAwesome';
  content: '\f0dd';
}
.icon_fa-sort-desc:before {
  font-family: 'FontAwesome';
  content: '\f0de';
}
.icon_fa-envelope:before {
  font-family: 'FontAwesome';
  content: '\f0e0';
}
.icon_fa-linkedin:before {
  font-family: 'FontAwesome';
  content: '\f0e1';
}
.icon_fa-undo:before {
  font-family: 'FontAwesome';
  content: '\f0e2';
}
.icon_fa-gavel:before {
  font-family: 'FontAwesome';
  content: '\f0e3';
}
.icon_fa-tachometer:before {
  font-family: 'FontAwesome';
  content: '\f0e4';
}
.icon_fa-comment-o:before {
  font-family: 'FontAwesome';
  content: '\f0e5';
}
.icon_fa-comments-o:before {
  font-family: 'FontAwesome';
  content: '\f0e6';
}
.icon_fa-bolt:before {
  font-family: 'FontAwesome';
  content: '\f0e7';
}
.icon_fa-sitemap:before {
  font-family: 'FontAwesome';
  content: '\f0e8';
}
.icon_fa-umbrella:before {
  font-family: 'FontAwesome';
  content: '\f0e9';
}
.icon_fa-clipboard:before {
  font-family: 'FontAwesome';
  content: '\f0ea';
}
.icon_fa-lightbulb-o:before {
  font-family: 'FontAwesome';
  content: '\f0eb';
}
.icon_fa-exchange:before {
  font-family: 'FontAwesome';
  content: '\f0ec';
}
.icon_fa-cloud-download:before {
  font-family: 'FontAwesome';
  content: '\f0ed';
}
.icon_fa-cloud-upload:before {
  font-family: 'FontAwesome';
  content: '\f0ee';
}
.icon_fa-user-md:before {
  font-family: 'FontAwesome';
  content: '\f0f0';
}
.icon_fa-stethoscope:before {
  font-family: 'FontAwesome';
  content: '\f0f1';
}
.icon_fa-suitcase:before {
  font-family: 'FontAwesome';
  content: '\f0f2';
}
.icon_fa-bell-o:before {
  font-family: 'FontAwesome';
  content: '\f0a2';
}
.icon_fa-coffee:before {
  font-family: 'FontAwesome';
  content: '\f0f4';
}
.icon_fa-cutlery:before {
  font-family: 'FontAwesome';
  content: '\f0f5';
}
.icon_fa-file-text-o:before {
  font-family: 'FontAwesome';
  content: '\f0f6';
}
.icon_fa-building-o:before {
  font-family: 'FontAwesome';
  content: '\f0f7';
}
.icon_fa-hospital-o:before {
  font-family: 'FontAwesome';
  content: '\f0f8';
}
.icon_fa-ambulance:before {
  font-family: 'FontAwesome';
  content: '\f0f9';
}
.icon_fa-medkit:before {
  font-family: 'FontAwesome';
  content: '\f0fa';
}
.icon_fa-fighter-jet:before {
  font-family: 'FontAwesome';
  content: '\f0fb';
}
.icon_fa-beer:before {
  font-family: 'FontAwesome';
  content: '\f0fc';
}
.icon_fa-h-square:before {
  font-family: 'FontAwesome';
  content: '\f0fd';
}
.icon_fa-plus-square:before {
  font-family: 'FontAwesome';
  content: '\f0fe';
}
.icon_fa-angle-double-left:before {
  font-family: 'FontAwesome';
  content: '\f100';
}
.icon_fa-angle-double-right:before {
  font-family: 'FontAwesome';
  content: '\f101';
}
.icon_fa-angle-double-up:before {
  font-family: 'FontAwesome';
  content: '\f102';
}
.icon_fa-angle-double-down:before {
  font-family: 'FontAwesome';
  content: '\f103';
}
.icon_fa-angle-left:before {
  font-family: 'FontAwesome';
  content: '\f104';
}
.icon_fa-angle-right:before {
  font-family: 'FontAwesome';
  content: '\f105';
}
.icon_fa-angle-up:before {
  font-family: 'FontAwesome';
  content: '\f106';
}
.icon_fa-angle-down:before {
  font-family: 'FontAwesome';
  content: '\f107';
}
.icon_fa-desktop:before {
  font-family: 'FontAwesome';
  content: '\f108';
}
.icon_fa-laptop:before {
  font-family: 'FontAwesome';
  content: '\f109';
}
.icon_fa-tablet:before {
  font-family: 'FontAwesome';
  content: '\f10a';
}
.icon_fa-mobile:before {
  font-family: 'FontAwesome';
  content: '\f10b';
}
.icon_fa-circle-o:before {
  font-family: 'FontAwesome';
  content: '\f10c';
}
.icon_fa-quote-left:before {
  font-family: 'FontAwesome';
  content: '\f10d';
}
.icon_fa-quote-right:before {
  font-family: 'FontAwesome';
  content: '\f10e';
}
.icon_fa-spinner:before {
  font-family: 'FontAwesome';
  content: '\f110';
}
.icon_fa-circle:before {
  font-family: 'FontAwesome';
  content: '\f111';
}
.icon_fa-reply:before {
  font-family: 'FontAwesome';
  content: '\f112';
}
.icon_fa-github-alt:before {
  font-family: 'FontAwesome';
  content: '\f113';
}
.icon_fa-folder-o:before {
  font-family: 'FontAwesome';
  content: '\f114';
}
.icon_fa-folder-open-o:before {
  font-family: 'FontAwesome';
  content: '\f115';
}
.icon_fa-smile-o:before {
  font-family: 'FontAwesome';
  content: '\f118';
}
.icon_fa-frown-o:before {
  font-family: 'FontAwesome';
  content: '\f119';
}
.icon_fa-meh-o:before {
  font-family: 'FontAwesome';
  content: '\f11a';
}
.icon_fa-gamepad:before {
  font-family: 'FontAwesome';
  content: '\f11b';
}
.icon_fa-keyboard-o:before {
  font-family: 'FontAwesome';
  content: '\f11c';
}
.icon_fa-flag-o:before {
  font-family: 'FontAwesome';
  content: '\f11d';
}
.icon_fa-flag-checkered:before {
  font-family: 'FontAwesome';
  content: '\f11e';
}
.icon_fa-terminal:before {
  font-family: 'FontAwesome';
  content: '\f120';
}
.icon_fa-code:before {
  font-family: 'FontAwesome';
  content: '\f121';
}
.icon_fa-reply-all:before {
  font-family: 'FontAwesome';
  content: '\f122';
}
.icon_fa-mail-reply-all:before {
  font-family: 'FontAwesome';
  content: '\f122';
}
.icon_fa-star-half-o:before {
  font-family: 'FontAwesome';
  content: '\f123';
}
.icon_fa-location-arrow:before {
  font-family: 'FontAwesome';
  content: '\f124';
}
.icon_fa-crop:before {
  font-family: 'FontAwesome';
  content: '\f125';
}
.icon_fa-code-fork:before {
  font-family: 'FontAwesome';
  content: '\f126';
}
.icon_fa-chain-broken:before {
  font-family: 'FontAwesome';
  content: '\f127';
}
.icon_fa-question:before {
  font-family: 'FontAwesome';
  content: '\f128';
}
.icon_fa-info:before {
  font-family: 'FontAwesome';
  content: '\f129';
}
.icon_fa-exclamation:before {
  font-family: 'FontAwesome';
  content: '\f12a';
}
.icon_fa-superscript:before {
  font-family: 'FontAwesome';
  content: '\f12b';
}
.icon_fa-subscript:before {
  font-family: 'FontAwesome';
  content: '\f12c';
}
.icon_fa-eraser:before {
  font-family: 'FontAwesome';
  content: '\f12d';
}
.icon_fa-puzzle-piece:before {
  font-family: 'FontAwesome';
  content: '\f12e';
}
.icon_fa-microphone:before {
  font-family: 'FontAwesome';
  content: '\f130';
}
.icon_fa-microphone-slash:before {
  font-family: 'FontAwesome';
  content: '\f131';
}
.icon_fa-shield:before {
  font-family: 'FontAwesome';
  content: '\f132';
}
.icon_fa-calendar-o:before {
  font-family: 'FontAwesome';
  content: '\f133';
}
.icon_fa-fire-extinguisher:before {
  font-family: 'FontAwesome';
  content: '\f134';
}
.icon_fa-rocket:before {
  font-family: 'FontAwesome';
  content: '\f135';
}
.icon_fa-maxcdn:before {
  font-family: 'FontAwesome';
  content: '\f136';
}
.icon_fa-chevron-circle-left:before {
  font-family: 'FontAwesome';
  content: '\f137';
}
.icon_fa-chevron-circle-right:before {
  font-family: 'FontAwesome';
  content: '\f138';
}
.icon_fa-chevron-circle-up:before {
  font-family: 'FontAwesome';
  content: '\f139';
}
.icon_fa-chevron-circle-down:before {
  font-family: 'FontAwesome';
  content: '\f13a';
}
.icon_fa-html5:before {
  font-family: 'FontAwesome';
  content: '\f13b';
}
.icon_fa-css3:before {
  font-family: 'FontAwesome';
  content: '\f13c';
}
.icon_fa-anchor:before {
  font-family: 'FontAwesome';
  content: '\f13d';
}
.icon_fa-unlock-alt:before {
  font-family: 'FontAwesome';
  content: '\f13e';
}
.icon_fa-bullseye:before {
  font-family: 'FontAwesome';
  content: '\f140';
}
.icon_fa-ellipsis-h:before {
  font-family: 'FontAwesome';
  content: '\f141';
}
.icon_fa-ellipsis-v:before {
  font-family: 'FontAwesome';
  content: '\f142';
}
.icon_fa-rss-square:before {
  font-family: 'FontAwesome';
  content: '\f143';
}
.icon_fa-play-circle:before {
  font-family: 'FontAwesome';
  content: '\f144';
}
.icon_fa-ticket:before {
  font-family: 'FontAwesome';
  content: '\f145';
}
.icon_fa-minus-square:before {
  font-family: 'FontAwesome';
  content: '\f146';
}
.icon_fa-minus-square-o:before {
  font-family: 'FontAwesome';
  content: '\f147';
}
.icon_fa-level-up:before {
  font-family: 'FontAwesome';
  content: '\f148';
}
.icon_fa-level-down:before {
  font-family: 'FontAwesome';
  content: '\f149';
}
.icon_fa-check-square:before {
  font-family: 'FontAwesome';
  content: '\f14a';
}
.icon_fa-pencil-square:before {
  font-family: 'FontAwesome';
  content: '\f14b';
}
.icon_fa-external-link-square:before {
  font-family: 'FontAwesome';
  content: '\f14c';
}
.icon_fa-share-square:before {
  font-family: 'FontAwesome';
  content: '\f14d';
}
.icon_fa-compass:before {
  font-family: 'FontAwesome';
  content: '\f14e';
}
.icon_fa-caret-square-o-down:before {
  font-family: 'FontAwesome';
  content: '\f150';
}
.icon_fa-caret-square-o-up:before {
  font-family: 'FontAwesome';
  content: '\f151';
}
.icon_fa-caret-square-o-right:before {
  font-family: 'FontAwesome';
  content: '\f152';
}
.icon_fa-eur:before {
  font-family: 'FontAwesome';
  content: '\f153';
}
.icon_fa-gbp:before {
  font-family: 'FontAwesome';
  content: '\f154';
}
.icon_fa-usd:before {
  font-family: 'FontAwesome';
  content: '\f155';
}
.icon_fa-inr:before {
  font-family: 'FontAwesome';
  content: '\f156';
}
.icon_fa-jpy:before {
  font-family: 'FontAwesome';
  content: '\f157';
}
.icon_fa-rub:before {
  font-family: 'FontAwesome';
  content: '\f158';
}
.icon_fa-krw:before {
  font-family: 'FontAwesome';
  content: '\f159';
}
.icon_fa-btc:before {
  font-family: 'FontAwesome';
  content: '\f15a';
}
.icon_fa-file:before {
  font-family: 'FontAwesome';
  content: '\f15b';
}
.icon_fa-file-text:before {
  font-family: 'FontAwesome';
  content: '\f15c';
}
.icon_fa-sort-alpha-asc:before {
  font-family: 'FontAwesome';
  content: '\f15d';
}
.icon_fa-sort-alpha-desc:before {
  font-family: 'FontAwesome';
  content: '\f15e';
}
.icon_fa-sort-amount-asc:before {
  font-family: 'FontAwesome';
  content: '\f160';
}
.icon_fa-sort-amount-desc:before {
  font-family: 'FontAwesome';
  content: '\f161';
}
.icon_fa-sort-numeric-asc:before {
  font-family: 'FontAwesome';
  content: '\f162';
}
.icon_fa-sort-numeric-desc:before {
  font-family: 'FontAwesome';
  content: '\f163';
}
.icon_fa-thumbs-up:before {
  font-family: 'FontAwesome';
  content: '\f164';
}
.icon_fa-thumbs-down:before {
  font-family: 'FontAwesome';
  content: '\f165';
}
.icon_fa-youtube-square:before {
  font-family: 'FontAwesome';
  content: '\f166';
}
.icon_fa-youtube:before {
  font-family: 'FontAwesome';
  content: '\f167';
}
.icon_fa-xing:before {
  font-family: 'FontAwesome';
  content: '\f168';
}
.icon_fa-xing-square:before {
  font-family: 'FontAwesome';
  content: '\f169';
}
.icon_fa-youtube-play:before {
  font-family: 'FontAwesome';
  content: '\f16a';
}
.icon_fa-dropbox:before {
  font-family: 'FontAwesome';
  content: '\f16b';
}
.icon_fa-stack-overflow:before {
  font-family: 'FontAwesome';
  content: '\f16c';
}
.icon_fa-instagram:before {
  font-family: 'FontAwesome';
  content: '\f16d';
}
.icon_fa-flickr:before {
  font-family: 'FontAwesome';
  content: '\f16e';
}
.icon_fa-adn:before {
  font-family: 'FontAwesome';
  content: '\f170';
}
.icon_fa-bitbucket:before {
  font-family: 'FontAwesome';
  content: '\f171';
}
.icon_fa-bitbucket-square:before {
  font-family: 'FontAwesome';
  content: '\f172';
}
.icon_fa-tumblr:before {
  font-family: 'FontAwesome';
  content: '\f173';
}
.icon_fa-tumblr-square:before {
  font-family: 'FontAwesome';
  content: '\f174';
}
.icon_fa-long-arrow-down:before {
  font-family: 'FontAwesome';
  content: '\f175';
}
.icon_fa-long-arrow-up:before {
  font-family: 'FontAwesome';
  content: '\f176';
}
.icon_fa-long-arrow-left:before {
  font-family: 'FontAwesome';
  content: '\f177';
}
.icon_fa-long-arrow-right:before {
  font-family: 'FontAwesome';
  content: '\f178';
}
.icon_fa-apple:before {
  font-family: 'FontAwesome';
  content: '\f179';
}
.icon_fa-windows:before {
  font-family: 'FontAwesome';
  content: '\f17a';
}
.icon_fa-android:before {
  font-family: 'FontAwesome';
  content: '\f17b';
}
.icon_fa-linux:before {
  font-family: 'FontAwesome';
  content: '\f17c';
}
.icon_fa-dribbble:before {
  font-family: 'FontAwesome';
  content: '\f17d';
}
.icon_fa-skype:before {
  font-family: 'FontAwesome';
  content: '\f17e';
}
.icon_fa-foursquare:before {
  font-family: 'FontAwesome';
  content: '\f180';
}
.icon_fa-trello:before {
  font-family: 'FontAwesome';
  content: '\f181';
}
.icon_fa-female:before {
  font-family: 'FontAwesome';
  content: '\f182';
}
.icon_fa-male:before {
  font-family: 'FontAwesome';
  content: '\f183';
}
.icon_fa-gittip:before {
  font-family: 'FontAwesome';
  content: '\f184';
}
.icon_fa-sun-o:before {
  font-family: 'FontAwesome';
  content: '\f185';
}
.icon_fa-moon-o:before {
  font-family: 'FontAwesome';
  content: '\f186';
}
.icon_fa-archive:before {
  font-family: 'FontAwesome';
  content: '\f187';
}
.icon_fa-bug:before {
  font-family: 'FontAwesome';
  content: '\f188';
}
.icon_fa-vk:before {
  font-family: 'FontAwesome';
  content: '\f189';
}
.icon_fa-weibo:before {
  font-family: 'FontAwesome';
  content: '\f18a';
}
.icon_fa-renren:before {
  font-family: 'FontAwesome';
  content: '\f18b';
}
.icon_fa-pagelines:before {
  font-family: 'FontAwesome';
  content: '\f18c';
}
.icon_fa-stack-exchange:before {
  font-family: 'FontAwesome';
  content: '\f18d';
}
.icon_fa-arrow-circle-o-right:before {
  font-family: 'FontAwesome';
  content: '\f18e';
}
.icon_fa-arrow-circle-o-left:before {
  font-family: 'FontAwesome';
  content: '\f190';
}
.icon_fa-caret-square-o-left:before {
  font-family: 'FontAwesome';
  content: '\f191';
}
.icon_fa-dot-circle-o:before {
  font-family: 'FontAwesome';
  content: '\f192';
}
.icon_fa-wheelchair:before {
  font-family: 'FontAwesome';
  content: '\f193';
}
.icon_fa-vimeo-square:before {
  font-family: 'FontAwesome';
  content: '\f194';
}
.icon_fa-try:before {
  font-family: 'FontAwesome';
  content: '\f195';
}
.icon_fa-plus-square-o:before {
  font-family: 'FontAwesome';
  content: '\f196';
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: rgba(0,0,0,0.4);
}
::-webkit-scrollbar-thumbwindow-inactive {
  background-color: rgba(0,0,0,0.2);
}
::-webkit-resizer {
  width: 6px;
  height: 6px;
}
.background-dark {
  background-color: #2c3e50;
  color: #fff;
}
p {
  display: block;
  margin: 18px 0;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
code,
pre {
  font-family: Consolas, 'Courier New', monospace;
}
h1,
h2,
h3,
h4,
h5,
h6,
.form-title,
.form-legend,
.loading__text {
  display: block;
  margin: 0;
  margin-bottom: 18px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 18px;
  text-rendering: optimizeLegibility;
  vertical-align: baseline;
}
h4,
h5,
h6 {
  font-weight: 700;
}
h1 {
  padding-top: 15px;
  font-size: 33px;
  line-height: 33px;
}
h2,
.form-title,
.loading__text {
  padding-top: 8px;
  font-size: 26px;
  line-height: 26px;
}
h3,
.form-legend {
  padding-top: 3px;
  font-size: 21px;
  line-height: 21px;
}
h4 {
  font-size: 17px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
.wrapper_center,
html,
body,
.input__field {
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
*,
*:before,
*:active {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}
table,
tr,
td,
th {
  font-size: inherit;
}
._wf1 {
  width: 25px;
}
._wf2 {
  width: 50px;
}
._wf3 {
  width: 75px;
}
._wf4 {
  width: 100px;
}
._wf5 {
  width: 125px;
}
._wf6 {
  width: 150px;
}
._wf7 {
  width: 175px;
}
._wf8 {
  width: 200px;
}
._wf9 {
  width: 225px;
}
._wf10 {
  width: 250px;
}
._wf11 {
  width: 275px;
}
._wf12 {
  width: 300px;
}
._wf13 {
  width: 325px;
}
._wf14 {
  width: 350px;
}
._wf15 {
  width: 375px;
}
._wf16 {
  width: 400px;
}
._wf17 {
  width: 425px;
}
._wf18 {
  width: 450px;
}
._wf19 {
  width: 475px;
}
._wf20 {
  width: 500px;
}
._wd1 {
  width: 5%;
}
._wd2 {
  width: 10%;
}
._wd3 {
  width: 15%;
}
._wd4 {
  width: 20%;
}
._wd5 {
  width: 25%;
}
._wd6 {
  width: 30%;
}
._wd7 {
  width: 35%;
}
._wd8 {
  width: 40%;
}
._wd9 {
  width: 45%;
}
._wd10 {
  width: 50%;
}
._wd11 {
  width: 55%;
}
._wd12 {
  width: 60%;
}
._wd13 {
  width: 65%;
}
._wd14 {
  width: 70%;
}
._wd15 {
  width: 75%;
}
._wd16 {
  width: 80%;
}
._wd17 {
  width: 85%;
}
._wd18 {
  width: 90%;
}
._wd19 {
  width: 95%;
}
._wd20 {
  width: 100%;
}
._w1 {
  width: 8.332500000000001%;
}
._w2 {
  width: 16.665000000000003%;
}
._w3 {
  width: 24.997500000000002%;
}
._w4 {
  width: 33.330000000000005%;
}
._w5 {
  width: 41.66250000000001%;
}
._w6 {
  width: 49.995000000000005%;
}
._w7 {
  width: 58.32750000000001%;
}
._w8 {
  width: 66.66000000000001%;
}
._w9 {
  width: 74.9925%;
}
._w10 {
  width: 83.32500000000002%;
}
._w11 {
  width: 91.65750000000001%;
}
._w12 {
  width: 99.99000000000001%;
}
._od1 {
  margin-left: 5%;
}
._od2 {
  margin-left: 10%;
}
._od3 {
  margin-left: 15%;
}
._od4 {
  margin-left: 20%;
}
._od5 {
  margin-left: 25%;
}
._od6 {
  margin-left: 30%;
}
._od7 {
  margin-left: 35%;
}
._od8 {
  margin-left: 40%;
}
._od9 {
  margin-left: 45%;
}
._od10 {
  margin-left: 50%;
}
._od11 {
  margin-left: 55%;
}
._od12 {
  margin-left: 60%;
}
._od13 {
  margin-left: 65%;
}
._od14 {
  margin-left: 70%;
}
._od15 {
  margin-left: 75%;
}
._od16 {
  margin-left: 80%;
}
._od17 {
  margin-left: 85%;
}
._od18 {
  margin-left: 90%;
}
._od19 {
  margin-left: 95%;
}
._od20 {
  margin-left: 100%;
}
._o1 {
  margin-left: 8.332500000000001%;
}
._o2 {
  margin-left: 16.665000000000003%;
}
._o3 {
  margin-left: 24.997500000000002%;
}
._o4 {
  margin-left: 33.330000000000005%;
}
._o5 {
  margin-left: 41.66250000000001%;
}
._o6 {
  margin-left: 49.995000000000005%;
}
._o7 {
  margin-left: 58.32750000000001%;
}
._o8 {
  margin-left: 66.66000000000001%;
}
._o9 {
  margin-left: 74.9925%;
}
._o10 {
  margin-left: 83.32500000000002%;
}
._o11 {
  margin-left: 91.65750000000001%;
}
._o12 {
  margin-left: 99.99000000000001%;
}
.row {
  clear: both;
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.row__item {
  float: left;
  display: block;
  position: relative;
  min-height: 1px;
}
.row_padded {
  margin-left: 10px;
  margin-right: 10px;
  *margin-left: 0;
  *margin-right: 0;
}
.row_padded > .row__item {
  padding: 0 10px;
}
.row_table,
.v-list-contents__item {
  display: table;
  width: 100%;
}
.row_table > .row__item,
.v-list-contents__item > .row__item {
  display: table-cell;
  float: none;
  vertical-align: top;
}
.row_even-alignment > .row__item {
  text-align: center;
}
.row_even-alignment > .row__item:first-child {
  text-align: left;
}
.row_even-alignment > .row__item:last-child {
  text-align: right;
}
.wrapper {
  display: block;
  position: relative;
  text-align: center;
}
.wrapper_center {
  display: table;
  width: 100%;
  height: 100%;
}
.wrapper_center > .wrapper__inner {
  display: table-cell;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
.wrapper_center > .wrapper__inner > * {
  display: inline-block;
  text-align: left;
}
.wrapper__inner {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: widthMin;
  text-align: left;
}
html,
body {
  overflow: hidden;
}
.root__inner,
.root__sidebar,
.root__content {
  position: relative;
}
.root__inner {
  margin-left: 50px;
}
.root__sidebar {
  float: left;
  width: 50px;
  margin-left: -50px;
}
.root__content {
  display: inline-block;
  padding-left: 0;
  width: 100%;
}
.root,
.root__inner,
.root__sidebar,
.root__content {
  height: 100%;
}
.root__content {
  overflow: hidden;
}
.sidebar {
  z-index: 551;
  display: block;
  height: 100%;
  padding-top: 54px;
  background-color: #2c3e50;
  color: #fff;
}
.sidebar__body {
  overflow: visible;
}
.sidebar-menu {
  padding: 18px 0;
}
.sidebar-menu__item {
  display: block;
}
.sidebar-menu__delimiter {
  margin: 9px;
  height: 1px;
  background-color: #fff;
}
.sidebar-links-group {
  z-index: 551;
  display: block;
  position: relative;
  padding: 4px;
}
.sidebar-links-group._active {
  background-color: #f5f5f5;
  color: #222;
}
.sidebar-links-group__icon {
  display: block;
  font-size: 22px;
  line-height: 42px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
.sidebar-links-group._hover > .sidebar-links-group__icon,
.sidebar-links-group:hover > .sidebar-links-group__icon,
.sidebar-links-group__icon._hover,
.sidebar-links-group__icon:hover {
  background-color: #56afe8;
  color: #fff;
}
.sidebar-links-group__list {
  z-index: 51;
  display: none;
  position: absolute;
  top: 4px;
  left: 100%;
  width: 0;
  height: 0;
  opacity: 0.95;
}
.sidebar-links-group._hover > .sidebar-links-group__list,
.sidebar-links-group:hover > .sidebar-links-group__list,
.sidebar-links-group__list._hover,
.sidebar-links-group__list:hover {
  display: inline;
}
.sidebar-link {
  display: inline-block;
  padding: 0 9px;
  font-size: 18.2px;
  line-height: 42px;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  background-color: #56afe8;
  color: #fff;
}
.sidebar-link:nth-child(2n) {
  background-color: #3aa2e4;
}
.sidebar-link._hover,
.sidebar-link:hover {
  background-color: $colorThemePrimaryHover;
}
.view {
  display: block;
  position: relative;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  overflow: auto;
  text-align: center;
  background-color: #f5f5f5;
}
.view__inner {
  position: relative;
  max-width: 1126px;
  min-width: 680px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: left;
}
.v-list-controls {
  padding: 18px 0;
}
.v-list-controls,
.v-single-controls,
.v-price-picker-controls {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.v-list-controls__inner,
.v-list-controls__sidebar,
.v-list-controls__content {
  position: relative;
}
.v-list-controls__inner {
  margin-left: 350px;
}
.v-list-controls__sidebar {
  float: left;
  width: 350px;
  margin-left: -350px;
}
.v-list-controls__content {
  display: inline-block;
  padding-left: 0;
  width: 100%;
}
.v-list-controls__sidebar {
  padding: 0 0 0 0;
}
.v-list-contents {
  width: 100%;
  margin: 0 0 18px 0;
  padding: 0;
  border-radius: 7px;
  border: 3px solid #e7e7e7;
  list-style: none;
}
.v-list-contents__sortable-field {
  cursor: pointer;
}
.v-list-contents__sortable-field > .icon + .icon {
  margin-left: -4px;
}
.v-list-contents__item {
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid transparent;
  background-color: #fff;
  z-index: 1;
}
.v-list-contents__item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.v-list-contents__item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.v-list-contents__item.v-list-contents__item_title > .row__item {
  padding: 13px 9px;
  font-weight: 700;
}
.v-list-contents__item._highlightable {
  -webkit-transition: background 0.15s linear;
  transition: background 0.15s linear;
}
.v-list-contents__item._highlightable._checked,
.v-list-contents__item._highlightable._hover,
.v-list-contents__item._highlightable:hover {
  background-color: #f5f5f5;
  z-index: 2;
}
.v-list-contents__item > .row__item {
  padding: 9px 9px;
}
.v-list-contents__item > .row__item:last-child {
  text-align: right;
}
.v-list-pagination__text,
.v-list-pagination__link {
  padding: 9px;
}
.v-list-pagination__link {
  cursor: pointer;
}
.v-list-pagination__link_prev,
.v-list-pagination__link_next {
  font-size: 18px;
}
.v-list-pagination__link_prev > .icon,
.v-list-pagination__link_next > .icon {
  margin: 0 9px;
}
.v-list-pagination__text_current {
  font-size: 18px;
}
.v-single {
  display: block;
  max-width: 840px;
  margin: 0 auto;
}
.v-single-controls {
  padding: 18px 0;
}
.v-single-controls__inner,
.v-single-controls__sidebar,
.v-single-controls__content {
  position: relative;
}
.v-single-controls__inner {
  margin-left: 350px;
}
.v-single-controls__sidebar {
  float: left;
  width: 350px;
  margin-left: -350px;
}
.v-single-controls__content {
  display: inline-block;
  padding-left: 0;
  width: 100%;
}
.v-single-controls__sidebar {
  padding: 0 0 0 0;
}
.v-single-contents {
  margin: 0 0 18px 0;
}
.v-price-picker-controls {
  padding: 18px 0;
}
.v-price-picker-controls__inner,
.v-price-picker-controls__sidebar,
.v-price-picker-controls__content {
  position: relative;
}
.v-price-picker-controls__inner {
  margin-left: 350px;
}
.v-price-picker-controls__sidebar {
  float: left;
  width: 350px;
  margin-left: -350px;
}
.v-price-picker-controls__content {
  display: inline-block;
  padding-left: 0;
  width: 100%;
}
.v-price-picker-controls__sidebar {
  padding: 0 0 0 0;
}
.v-price-picker-contents {
  width: 100%;
  margin: 0 0 18px 0;
  padding: 9px;
  list-style: none;
  border-radius: 7px;
  border: 3px solid #e7e7e7;
  background-color: #e7e7e7;
}
.v-price-picker-pagination__text,
.v-price-picker-pagination__link {
  padding: 9px;
}
.v-price-picker-pagination__link {
  cursor: pointer;
}
.v-price-picker-pagination__link_prev,
.v-price-picker-pagination__link_next {
  font-size: 18px;
}
.v-price-picker-pagination__link_prev > .icon,
.v-price-picker-pagination__link_next > .icon {
  margin: 0 9px;
}
.v-price-picker-pagination__text_current {
  font-size: 18px;
}
.v-loading {
  z-index: 501;
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  background-color: #fff;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.v-loading._active {
  visibility: visible;
  opacity: 0.9;
}
.v-loading__inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.v-login {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}
.v-login__inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.v-login-form {
  display: inline-block;
  padding: 9px 18px;
  max-width: 400px;
  border-radius: 4px;
  text-align: left;
  background-color: #fff;
  z-index: 501;
  -webkit-box-shadow: 0 10px 35px rgba(0,0,0,0.2);
  box-shadow: 0 10px 35px rgba(0,0,0,0.2);
}
.v-login-form .form-line_sided__sidebar {
  width: 135px;
  margin-left: -135px;
}
.v-login-form .form-line_sided__inner {
  margin-left: 135px;
}
.b-heading {
  display: block;
  padding: 11px 0;
}
.b-heading__menu {
  display: block;
  padding-bottom: 11px;
  clear: both;
}
.b-heading__title {
  display: inline;
  font-size: 42px;
  line-height: 50px;
}
.b-heading__navigation {
  float: right;
  display: inline-block;
  height: 50px;
  line-height: 50px;
}
.notifications {
  z-index: 551;
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 1px;
  overflow: visible;
  opacity: 0.95;
}
.notifications__inner {
  position: relative;
  width: 680px;
  margin: 0 auto;
  -webkit-perspective: 600;
  perspective: 600;
  -webkit-perspective-origin: 50% 0%;
  perspective-origin: 50% 0%;
}
.notifications__inner > .alert {
  -webkit-animation: notificationsAlertShowUp 0.2s ease-out;
  animation: notificationsAlertShowUp 0.2s ease-out;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
@-webkit-keyframes notificationsAlertShowUp {
  0% {
    max-height: 0;
    opacity: 0;
    -webkit-transform: translateY(-20px) rotateX(50deg);
    transform: translateY(-20px) rotateX(50deg);
  }
  100% {
    max-height: 240px;
    opacity: 1;
    -webkit-transform: translateY(0) rotateX(0);
    transform: translateY(0) rotateX(0);
  }
}
@keyframes notificationsAlertShowUp {
  0% {
    max-height: 0;
    opacity: 0;
    -webkit-transform: translateY(-20px) rotateX(50deg);
    transform: translateY(-20px) rotateX(50deg);
  }
  100% {
    max-height: 240px;
    opacity: 1;
    -webkit-transform: translateY(0) rotateX(0);
    transform: translateY(0) rotateX(0);
  }
}
.alert,
.dropdown-list__body,
.price-picker-form {
  z-index: 501;
  -webkit-box-shadow: 0 10px 35px rgba(0,0,0,0.2);
  box-shadow: 0 10px 35px rgba(0,0,0,0.2);
}
a {
  color: #428bca;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: 3px solid #f6de2f;
  z-index: 2;
}
.input,
.button,
.label_button,
.label_input,
.label_button-as,
.label_input-as,
.label_prefix,
.switch,
.radio,
.checkbox,
.progress,
.tabs__item-toggler,
.badge {
  padding: 9px 11px;
  border-radius: 4px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  outline: none;
}
.input_block,
.button_block {
  width: 100%;
}
.form {
  position: relative;
}
.form-title,
.form-line,
.form-legend,
.form-fieldset,
.form-delimiter {
  display: block;
  margin-bottom: 9px;
}
.form-fieldset {
  padding: 9px 0 0 0;
  margin-top: 18px;
  border: 0px solid transparent;
}
.form-legend {
  padding-right: 7px;
}
legend.form-legend {
  margin-bottom: 0;
}
.form-line_sided__inner,
.form-line_sided__sidebar,
.form-line_sided__content {
  position: relative;
}
.form-line_sided__inner {
  margin-left: 240px;
}
.form-line_sided__sidebar {
  float: left;
  width: 240px;
  margin-left: -240px;
}
.form-line_sided__content {
  display: inline-block;
  padding-left: 0;
  width: 100%;
}
.form-line_sided__sidebar {
  padding-right: 20px;
}
.form-line_double__part {
  float: left;
  width: 50%;
}
.form-line_double__part:first-of-type {
  padding-right: 10px;
}
.form-line_double__part:last-of-type {
  padding-left: 10px;
}
.form-line_triple__part {
  float: left;
  width: 33.3%;
  padding-left: 6px;
  padding-right: 6px;
}
.form-line_triple__part:first-child {
  padding-left: 0;
  padding-right: 12px;
}
.form-line_triple__part:last-child {
  padding-right: 0;
  padding-left: 12px;
}
.form-delimiter {
  display: block;
  padding-top: 9px;
}
.group {
  display: inline-block;
  vertical-align: middle;
}
.group__element {
  float: left;
  vertical-align: middle;
}
.group__element_first {
  margin-right: 0;
}
.group__element_first {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.group__element_last {
  margin-left: 0;
}
.group__element_last {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.group__element:not(.group__element_first):not(.group__element_last) {
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
}
.input-wrapper {
  display: inline;
  position: relative;
}
.input {
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid #e7e7e7;
  cursor: text;
  background-color: #fff;
}
.input._focus,
.input:focus {
  border-color: #f6de2f;
}
.input._invalid {
  border-color: #f43f20;
}
.input_masked::-webkit-input-placeholder {
  color: inherit;
}
.input_masked:-moz-placeholder {
  color: inherit;
}
.input_masked::-moz-placeholder {
  color: inherit;
}
.input_masked:-ms-input-placeholder {
  color: inherit;
}
.input_small {
  padding: 2px 5px;
  font-size: 14px;
}
.input_select {
  cursor: pointer;
}
.input_select > .input__field {
  cursor: pointer;
}
.input_select > .input__label {
  pointer-events: none;
}
.input_labeled {
  padding-right: 23px;
}
.input__field {
  float: left;
  line-height: 18px;
  outline: none;
}
.input__field::-webkit-input-placeholder {
  color: rgba(34,34,34,0.5);
}
.input__field:-moz-placeholder {
  color: rgba(34,34,34,0.5);
}
.input__field::-moz-placeholder {
  color: rgba(34,34,34,0.5);
}
.input__field:-ms-input-placeholder {
  color: rgba(34,34,34,0.5);
}
.input__label {
  position: absolute;
  top: 0;
  right: 9px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
}
.button {
  position: relative;
  display: inline-block;
  border: 0 solid transparent;
  font-size: 18px;
  line-height: 18px;
  cursor: pointer;
  white-space: nowrap;
  background-color: #e8e8e8;
  color: #222;
}
.button_block,
.datepicker .button {
  text-align: center;
  white-space: normal;
}
.button_clean {
  background-color: transparent;
  color: inherit;
}
.button.button_primary,
.datepicker .button:hover,
.datepicker .button._hover,
.datepicker .button._active,
.tabs__item-toggler._active {
  background-color: #56afe8;
  color: #fff;
}
.button.button_primary:hover,
.datepicker .button:hover:hover,
.datepicker .button._hover:hover,
.datepicker .button._active:hover,
.tabs__item-toggler._active:hover,
.datepicker .button:hover,
.datepicker .button._hover,
.datepicker .button._active {
  background-color: #3aa2e4;
}
.button.button_secondary {
  background-color: #f43f20;
  color: #fff;
}
.button.button_secondary:hover {
  background-color: #ed2d0c;
}
.button.button_red {
  background-color: #f43f20;
  color: #fff;
}
.button.button_red:hover {
  background-color: #ed2d0c;
}
.button.button_green {
  background-color: #9c0;
  color: #fff;
}
.button.button_green:hover {
  background-color: #8ab800;
}
.button.button_blue {
  background-color: #56afe8;
  color: #fff;
}
.button.button_blue:hover {
  background-color: #3aa2e4;
}
.button_small,
.datepicker .button {
  padding: 3px 6px;
  font-size: 14px;
}
.button_pull-right {
  float: right;
}
.button_pull-left {
  float: left;
}
.button._hover,
.button:hover {
  background-color: #dcdcdc;
}
.button._focus,
.button:focus,
.alert__close:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 1px #f6de2f;
  box-shadow: 0 0 0 1px #f6de2f;
  z-index: 4;
}
.button > .icon {
  font-size: 1.1em;
  line-height: 18px;
}
.label_block {
  display: block;
  width: 100%;
  margin-bottom: 4px;
  line-height: 14px;
}
.label_button,
.label_input {
  padding-left: 0;
}
.label_button {
  font-size: 18px;
}
.label_prefix {
  white-space: nowrap;
  background-color: #e8e8e8;
  color: #222;
  -webkit-transition: background 0.15s linear;
  transition: background 0.15s linear;
}
.label_prefix.label_prefix_primary {
  background-color: #56afe8;
  color: #fff;
}
.label_prefix.label_prefix_secondary {
  background-color: #f43f20;
  color: #fff;
}
.label_prefix.label_prefix_red {
  background-color: #f43f20;
  color: #fff;
}
.label_prefix.label_prefix_green {
  background-color: #9c0;
  color: #fff;
}
.label_prefix.label_prefix_blue {
  background-color: #56afe8;
  color: #fff;
}
.switch {
  height: 18px;
  width: 28px;
  margin: 0;
  padding: 0;
}
.switch {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
}
.switch__field {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 13px;
  height: 13px;
  z-index: -1;
}
.switch__label {
  z-index: 11;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 28px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #f43f20;
  -webkit-transition: background-color 0.15s linear;
  transition: background-color 0.15s linear;
}
.switch__label:before {
  z-index: 16;
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  content: '';
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: left 0.15s linear;
  transition: left 0.15s linear;
}
.switch._checked > .switch__label,
.switch__label._checked {
  background-color: #9c0;
}
.switch._checked > .switch__label:before,
.switch__label._checked:before {
  left: 11px;
}
.switch._focus > .switch__label,
.switch:focus > .switch__label,
.switch__label._focus,
.switch__label:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px #f6de2f;
  box-shadow: 0 0 0 3px #f6de2f;
  z-index: 4;
}
.radio {
  height: 18px;
  width: 18px;
  margin: 0;
  padding: 0;
}
.radio {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
}
.radio._focus,
.radio:focus {
  border-color: #f6de2f;
}
.radio__field {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 13px;
  height: 13px;
  z-index: -1;
}
.radio__label {
  z-index: 11;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: 3px solid #e7e7e7;
  border-radius: 18px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  -webkit-transition: background-color 0.15s linear;
  transition: background-color 0.15s linear;
}
.radio__label:before {
  z-index: 16;
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 6px;
  height: 6px;
  border-radius: 18px;
  cursor: pointer;
  content: '';
  background-color: #fff;
  -webkit-transition: background-color 0.15s linear;
  transition: background-color 0.15s linear;
}
.radio._focus > .radio__label,
.radio:focus > .radio__label {
  border-color: #f6de2f;
}
.radio._checked > .radio__label:before,
.radio__label._checked:before {
  background-color: #56afe8;
}
.checkbox {
  height: 18px;
  width: 18px;
  margin: 0;
  padding: 0;
}
.checkbox {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
}
.checkbox__field {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 13px;
  height: 13px;
  z-index: -1;
}
.checkbox__label {
  z-index: 11;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: 3px solid #e7e7e7;
  border-radius: 4px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  -webkit-transition: background-color 0.15s linear;
  transition: background-color 0.15s linear;
}
.checkbox__label:before {
  z-index: 16;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 12px;
  text-align: center;
  cursor: pointer;
  color: transparent;
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
}
.checkbox._focus > .checkbox__label,
.checkbox:focus > .checkbox__label {
  border-color: #f6de2f;
}
.checkbox._checked > .checkbox__label:before,
.checkbox:checked > .checkbox__label:before,
.checkbox__label:checked:before,
.checkbox__label._checked:before {
  color: #56afe8;
}
.progress {
  height: 26px;
  padding: 0;
  margin: 1px;
}
.progress {
  position: relative;
  display: block;
  border: 3px solid #e7e7e7;
  border-radius: 4px;
  cursor: text;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e7e7e7;
}
.progress__bar {
  z-index: 11;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  padding-left: 13px;
  overflow: hidden;
  border-radius: 4px;
  font-size: 0.75em;
  line-height: 20px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #56afe8;
  color: #fff;
  -webkit-transition: width 0.15s linear;
  transition: width 0.15s linear;
}
.progress__bar:before {
  display: block;
  content: '';
}
.progress._error > .progress__bar {
  background-color: #f43f20;
}
.progress._error > .progress__bar:before {
  content: 'Error!';
}
.tags {
  display: block;
}
.tags > .tags__dropdown {
  display: block;
  margin-right: 0;
}
.tags > .tags__dropdown > .dropdown-list {
  width: 100%;
}
.tags > .tags__dropdown > .dropdown-list > .dropdown-list__inner {
  width: 100%;
}
.tags > .tags__dropdown > .dropdown-list > .dropdown-list__inner > .dropdown-list__body {
  width: 100%;
  max-width: 100%;
}
.tags__list {
  display: inline;
}
.tags__item,
.tags__dropdown {
  margin: 0 4px 4px 0;
}
.tags__dropdown-list {
  max-height: 150px;
  overflow: auto;
}
.tags__input::-webkit-input-placeholder {
  color: #222;
}
.tags__input:-moz-placeholder {
  color: #222;
}
.tags__input::-moz-placeholder {
  color: #222;
}
.tags__input:-ms-input-placeholder {
  color: #222;
}
.tags__item {
  position: relative;
  margin-right: 7px;
}
.tags__item._hover,
.tags__item:hover {
  overflow: hidden;
}
.tags__item-remove {
  position: absolute;
  top: 50%;
  left: 0;
  height: 100px;
  width: 100%;
  margin-top: -50px;
  visibility: hidden;
  opacity: 0;
  line-height: 100px;
  text-align: center;
  background-color: #f43f20;
  color: #fff;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.tags__item._hover > .tags__item-remove,
.tags__item:hover > .tags__item-remove,
.tags__item-remove._hover,
.tags__item-remove:hover {
  visibility: visible;
  opacity: 1;
}
.datepicker {
  font-size: inherit;
  background-color: transparent;
}
.datepicker .button {
  min-width: 30px;
}
.datepicker > tbody > tr > td {
  padding: 2px 1px;
}
.datepicker-controls {
  padding-top: 9px;
  text-align: right;
}
.datepicker-popup {
  padding: 9px;
}
.upload {
  position: relative;
  display: block;
}
.upload__select {
  margin: 0 0 4px 0;
}
.upload__field {
  display: none;
}
.upload__list {
  display: block;
}
.upload__item {
  position: relative;
  display: block;
}
.upload__progress.progress {
  margin-right: 190px;
}
.upload__controls {
  float: right;
  padding-top: 2px;
  width: 190px;
  text-align: right;
}
.tabs {
  margin: 10px 0;
}
.tabs__togglers {
  padding: 0;
  margin: 0;
  z-index: 2;
  border-bottom: 1px solid #e7e7e7;
  list-style: none;
}
.tabs__togglers > li {
  float: left;
  margin-left: 0;
  border: 0px solid transparent;
  border-bottom-width: 0;
}
.tabs__togglers > li._active {
  margin-bottom: -1px;
  border-color: #e7e7e7;
  border-bottom-color: transparent;
  border-bottom-width: 1px;
}
.tabs__contents {
  padding: 30px 0 10px 0;
  z-index: 1;
}
.tabs__item-toggler {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid transparent;
  cursor: pointer;
}
.tabs__item-toggler {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.tabs__item-toggler.tabs__item-toggler_small {
  padding: 4px 5px;
  font-size: 10px;
  line-height: 18px;
}
.tabs__item-toggler.tabs__item-toggler_medium {
  padding: 6px 7px;
  font-size: 14px;
  line-height: 18px;
}
.tabs__item-toggler.tabs__item-toggler_big {
  padding: 9px 10px;
  font-size: 20px;
  line-height: 18px;
}
.tabs__item-toggler.tabs__item-toggler_large {
  padding: 13px 14px;
  font-size: 25px;
  line-height: 18px;
}
.tabs__item-toggler:focus {
  outline: none;
}
.tabs__item-content {
  display: none;
}
.tabs__item-content._active {
  display: block;
}
.badge {
  display: inline;
  min-width: 10px;
  padding: 2px 9px;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  border: 0;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  background-color: #999;
  color: #fff;
}
.badge.badge_primary {
  background-color: #56afe8;
  color: #fff;
}
.badge.badge_primary:hover {
  background-color: #3aa2e4;
}
.badge.badge_secondary {
  background-color: #f43f20;
  color: #fff;
}
.badge.badge_secondary:hover {
  background-color: #ed2d0c;
}
.badge.badge_red {
  background-color: #f43f20;
  color: #fff;
}
.badge.badge_red:hover {
  background-color: #ed2d0c;
}
.badge.badge_green {
  background-color: #9c0;
  color: #fff;
}
.badge.badge_green:hover {
  background-color: #8ab800;
}
.badge.badge_blue {
  background-color: #56afe8;
  color: #fff;
}
.badge.badge_blue:hover {
  background-color: #3aa2e4;
}
.badge.badge_small {
  padding: 7px 9px;
  font-size: 10px;
  line-height: 18px;
}
.badge.badge_medium {
  padding: 9px 11px;
  font-size: 14px;
  line-height: 18px;
}
.badge.badge_big {
  padding: 12px 14px;
  font-size: 20px;
  line-height: 18px;
}
.badge.badge_large {
  padding: 16px 18px;
  font-size: 25px;
  line-height: 18px;
}
.badge:before,
.badge:after {
  display: inline;
}
.badge > .icon {
  font-size: 18px;
}
.badge_status-FF {
  background-color: #f43f20;
}
.badge_status-FE {
  background-color: #9c0;
}
.badge_status-FD {
  background-color: #f39c12;
}
.badge_status-FC {
  background-color: #e7e7e7;
}
.badge_status-FB {
  background-color: #f43f20;
}
.badge_status-FA {
  background-color: #9c0;
}
.alert {
  display: block;
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #e8e8e8;
  color: #222;
}
.alert.alert_error {
  background-color: #f43f20;
  color: #fff;
}
.alert.alert_success {
  background-color: #9c0;
  color: #fff;
}
.alert.alert_info {
  background-color: #56afe8;
  color: #fff;
}
.alert__title {
  padding-bottom: 10px;
  font-size: 18.2px;
}
.alert__title:empty {
  display: none;
}
.alert__content {
  font-weight: bold;
  font-size: 13px;
}
.alert__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
  background-color: rgba(0,0,0,0.05);
}
.alert__close:hover {
  background-color: rgba(0,0,0,0.1);
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-list {
  z-index: 451;
  position: absolute;
  height: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.dropdown._active > .dropdown-list,
.dropdown-list._active {
  visibility: visible;
  opacity: 1;
}
.dropdown-list,
.dropdown_right .dropdown-list {
  left: 0;
}
.dropdown-list > .dropdown-list__inner > .dropdown-list__body,
.dropdown_right .dropdown-list > .dropdown-list__inner > .dropdown-list__body {
  position: absolute;
  left: 0;
}
.dropdown_left .dropdown-list {
  left: auto;
  right: 0;
}
.dropdown_left .dropdown-list > .dropdown-list__inner > .dropdown-list__body {
  position: absolute;
  left: auto;
  right: 0;
}
.dropdown-list,
.dropdown_bottom .dropdown-list {
  top: 100%;
}
.dropdown-list > .dropdown-list__inner > .dropdown-list__body,
.dropdown_bottom .dropdown-list > .dropdown-list__inner > .dropdown-list__body {
  position: absolute;
  top: 0;
}
.dropdown_top .dropdown-list {
  top: auto;
  bottom: 100%;
}
.dropdown_top .dropdown-list > .dropdown-list__inner > .dropdown-list__body {
  position: absolute;
  top: auto;
  bottom: 0;
}
.dropdown-list__inner {
  display: block;
  position: relative;
  height: 0;
}
.dropdown-list__body {
  display: block;
  position: relative;
  min-width: 100px;
  max-width: 400px;
  border-radius: 4px;
  white-space: nowrap;
  background-color: #fff;
  color: inherit;
}
.dropdown-list__body-wrapper {
  padding: 22px;
}
.dropdown-list__item {
  display: block;
  position: relative;
  padding: 6px 18px 6px 12px;
  cursor: pointer;
  background-color: rgba(0,0,0,0);
  color: #222;
}
.dropdown-list__item._hover,
.dropdown-list__item:nth-child(2n)._hover,
.dropdown-list__item:hover,
.dropdown-list__item:nth-child(2n):hover,
.dropdown-list__item._active,
.dropdown-list__item:nth-child(2n)._active,
.dropdown-list__item:active,
.dropdown-list__item:nth-child(2n):active {
  background-color: #56afe8;
  color: #fff;
}
.dropdown-list__item:nth-child(2n) {
  background-color: rgba(0,0,0,0);
}
.loading {
  display: inline-block;
}
.loading__text {
  display: inline-block;
}
.loading__spinner {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  padding: 10px;
  margin: 0 10px;
  vertical-align: text-bottom;
  border: #e7e7e7 solid 2px;
  border-radius: 100%;
  background-color: #e7e7e7;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}
.loading__spinner:before,
.loading__spinner:after {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  content: '';
  -webkit-transform: translate(0, );
  -ms-transform: translate(0, );
  transform: translate(0, );
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.loading__spinner:before {
  z-index: 6;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  background-color: #666;
  -webkit-animation: circular-motion 1.4s infinite linear;
  animation: circular-motion 1.4s infinite linear;
}
.loading__spinner:after {
  z-index: 11;
  width: 15px;
  height: 15px;
  margin: -7px 0 0 -7px;
  background-color: #56afe8;
  -webkit-animation: circular-motion 0.9s infinite linear;
  animation: circular-motion 0.9s infinite linear;
}
@-webkit-keyframes circular-motion {
  0% {
    -webkit-transform: translate(20px, 0px);
    transform: translate(20px, 0px);
  }
  2% {
    -webkit-transform: translate(19.84229402px, 2.50666468px);
    transform: translate(19.84229402px, 2.50666468px);
  }
  4% {
    -webkit-transform: translate(19.37166322px, 4.97379774px);
    transform: translate(19.37166322px, 4.97379774px);
  }
  6% {
    -webkit-transform: translate(18.59552972px, 7.36249106px);
    transform: translate(18.59552972px, 7.36249106px);
  }
  8% {
    -webkit-transform: translate(17.5261336px, 9.63507348px);
    transform: translate(17.5261336px, 9.63507348px);
  }
  10% {
    -webkit-transform: translate(16.180339880000002px, 11.755705039999999px);
    transform: translate(16.180339880000002px, 11.755705039999999px);
  }
  12% {
    -webkit-transform: translate(14.57937254px, 13.69094212px);
    transform: translate(14.57937254px, 13.69094212px);
  }
  14% {
    -webkit-transform: translate(12.748479800000002px, 15.41026486px);
    transform: translate(12.748479800000002px, 15.41026486px);
  }
  16% {
    -webkit-transform: translate(10.7165359px, 16.886558519999998px);
    transform: translate(10.7165359px, 16.886558519999998px);
  }
  18% {
    -webkit-transform: translate(8.51558584px, 18.09654104px);
    transform: translate(8.51558584px, 18.09654104px);
  }
  20% {
    -webkit-transform: translate(6.18033988px, 19.021130319999997px);
    transform: translate(6.18033988px, 19.021130319999997px);
  }
  22% {
    -webkit-transform: translate(3.7476263px, 19.64574502px);
    transform: translate(3.7476263px, 19.64574502px);
  }
  24% {
    -webkit-transform: translate(1.2558104px, 19.96053456px);
    transform: translate(1.2558104px, 19.96053456px);
  }
  26% {
    -webkit-transform: translate(-1.2558104px, 19.96053456px);
    transform: translate(-1.2558104px, 19.96053456px);
  }
  28% {
    -webkit-transform: translate(-3.7476263px, 19.64574502px);
    transform: translate(-3.7476263px, 19.64574502px);
  }
  30% {
    -webkit-transform: translate(-6.18033988px, 19.021130319999997px);
    transform: translate(-6.18033988px, 19.021130319999997px);
  }
  32% {
    -webkit-transform: translate(-8.51558584px, 18.09654104px);
    transform: translate(-8.51558584px, 18.09654104px);
  }
  34% {
    -webkit-transform: translate(-10.7165359px, 16.886558519999998px);
    transform: translate(-10.7165359px, 16.886558519999998px);
  }
  36% {
    -webkit-transform: translate(-12.748479800000002px, 15.41026486px);
    transform: translate(-12.748479800000002px, 15.41026486px);
  }
  38% {
    -webkit-transform: translate(-14.57937254px, 13.69094212px);
    transform: translate(-14.57937254px, 13.69094212px);
  }
  40% {
    -webkit-transform: translate(-16.180339880000002px, 11.755705039999999px);
    transform: translate(-16.180339880000002px, 11.755705039999999px);
  }
  42% {
    -webkit-transform: translate(-17.5261336px, 9.63507348px);
    transform: translate(-17.5261336px, 9.63507348px);
  }
  44% {
    -webkit-transform: translate(-18.59552972px, 7.36249106px);
    transform: translate(-18.59552972px, 7.36249106px);
  }
  46% {
    -webkit-transform: translate(-19.37166322px, 4.97379774px);
    transform: translate(-19.37166322px, 4.97379774px);
  }
  48% {
    -webkit-transform: translate(-19.84229402px, 2.50666468px);
    transform: translate(-19.84229402px, 2.50666468px);
  }
  50% {
    -webkit-transform: translate(-20px, 0px);
    transform: translate(-20px, 0px);
  }
  52% {
    -webkit-transform: translate(-19.84229402px, -2.50666468px);
    transform: translate(-19.84229402px, -2.50666468px);
  }
  54% {
    -webkit-transform: translate(-19.37166322px, -4.97379774px);
    transform: translate(-19.37166322px, -4.97379774px);
  }
  56% {
    -webkit-transform: translate(-18.59552972px, -7.36249106px);
    transform: translate(-18.59552972px, -7.36249106px);
  }
  58% {
    -webkit-transform: translate(-17.5261336px, -9.63507348px);
    transform: translate(-17.5261336px, -9.63507348px);
  }
  60% {
    -webkit-transform: translate(-16.180339880000002px, -11.755705039999999px);
    transform: translate(-16.180339880000002px, -11.755705039999999px);
  }
  62% {
    -webkit-transform: translate(-14.57937254px, -13.69094212px);
    transform: translate(-14.57937254px, -13.69094212px);
  }
  64% {
    -webkit-transform: translate(-12.748479800000002px, -15.41026486px);
    transform: translate(-12.748479800000002px, -15.41026486px);
  }
  66% {
    -webkit-transform: translate(-10.7165359px, -16.886558519999998px);
    transform: translate(-10.7165359px, -16.886558519999998px);
  }
  68% {
    -webkit-transform: translate(-8.51558584px, -18.09654104px);
    transform: translate(-8.51558584px, -18.09654104px);
  }
  70% {
    -webkit-transform: translate(-6.18033988px, -19.021130319999997px);
    transform: translate(-6.18033988px, -19.021130319999997px);
  }
  72% {
    -webkit-transform: translate(-3.7476263px, -19.64574502px);
    transform: translate(-3.7476263px, -19.64574502px);
  }
  74% {
    -webkit-transform: translate(-1.2558104px, -19.96053456px);
    transform: translate(-1.2558104px, -19.96053456px);
  }
  76% {
    -webkit-transform: translate(1.2558104px, -19.96053456px);
    transform: translate(1.2558104px, -19.96053456px);
  }
  78% {
    -webkit-transform: translate(3.7476263px, -19.64574502px);
    transform: translate(3.7476263px, -19.64574502px);
  }
  80% {
    -webkit-transform: translate(6.18033988px, -19.021130319999997px);
    transform: translate(6.18033988px, -19.021130319999997px);
  }
  82% {
    -webkit-transform: translate(8.51558584px, -18.09654104px);
    transform: translate(8.51558584px, -18.09654104px);
  }
  84% {
    -webkit-transform: translate(10.7165359px, -16.886558519999998px);
    transform: translate(10.7165359px, -16.886558519999998px);
  }
  86% {
    -webkit-transform: translate(12.748479800000002px, -15.41026486px);
    transform: translate(12.748479800000002px, -15.41026486px);
  }
  88% {
    -webkit-transform: translate(14.57937254px, -13.69094212px);
    transform: translate(14.57937254px, -13.69094212px);
  }
  90% {
    -webkit-transform: translate(16.180339880000002px, -11.755705039999999px);
    transform: translate(16.180339880000002px, -11.755705039999999px);
  }
  92% {
    -webkit-transform: translate(17.5261336px, -9.63507348px);
    transform: translate(17.5261336px, -9.63507348px);
  }
  94% {
    -webkit-transform: translate(18.59552972px, -7.36249106px);
    transform: translate(18.59552972px, -7.36249106px);
  }
  96% {
    -webkit-transform: translate(19.37166322px, -4.97379774px);
    transform: translate(19.37166322px, -4.97379774px);
  }
  98% {
    -webkit-transform: translate(19.84229402px, -2.50666468px);
    transform: translate(19.84229402px, -2.50666468px);
  }
  100% {
    -webkit-transform: translate(20px, 0px);
    transform: translate(20px, 0px);
  }
}
@keyframes circular-motion {
  0% {
    -webkit-transform: translate(20px, 0px);
    transform: translate(20px, 0px);
  }
  2% {
    -webkit-transform: translate(19.84229402px, 2.50666468px);
    transform: translate(19.84229402px, 2.50666468px);
  }
  4% {
    -webkit-transform: translate(19.37166322px, 4.97379774px);
    transform: translate(19.37166322px, 4.97379774px);
  }
  6% {
    -webkit-transform: translate(18.59552972px, 7.36249106px);
    transform: translate(18.59552972px, 7.36249106px);
  }
  8% {
    -webkit-transform: translate(17.5261336px, 9.63507348px);
    transform: translate(17.5261336px, 9.63507348px);
  }
  10% {
    -webkit-transform: translate(16.180339880000002px, 11.755705039999999px);
    transform: translate(16.180339880000002px, 11.755705039999999px);
  }
  12% {
    -webkit-transform: translate(14.57937254px, 13.69094212px);
    transform: translate(14.57937254px, 13.69094212px);
  }
  14% {
    -webkit-transform: translate(12.748479800000002px, 15.41026486px);
    transform: translate(12.748479800000002px, 15.41026486px);
  }
  16% {
    -webkit-transform: translate(10.7165359px, 16.886558519999998px);
    transform: translate(10.7165359px, 16.886558519999998px);
  }
  18% {
    -webkit-transform: translate(8.51558584px, 18.09654104px);
    transform: translate(8.51558584px, 18.09654104px);
  }
  20% {
    -webkit-transform: translate(6.18033988px, 19.021130319999997px);
    transform: translate(6.18033988px, 19.021130319999997px);
  }
  22% {
    -webkit-transform: translate(3.7476263px, 19.64574502px);
    transform: translate(3.7476263px, 19.64574502px);
  }
  24% {
    -webkit-transform: translate(1.2558104px, 19.96053456px);
    transform: translate(1.2558104px, 19.96053456px);
  }
  26% {
    -webkit-transform: translate(-1.2558104px, 19.96053456px);
    transform: translate(-1.2558104px, 19.96053456px);
  }
  28% {
    -webkit-transform: translate(-3.7476263px, 19.64574502px);
    transform: translate(-3.7476263px, 19.64574502px);
  }
  30% {
    -webkit-transform: translate(-6.18033988px, 19.021130319999997px);
    transform: translate(-6.18033988px, 19.021130319999997px);
  }
  32% {
    -webkit-transform: translate(-8.51558584px, 18.09654104px);
    transform: translate(-8.51558584px, 18.09654104px);
  }
  34% {
    -webkit-transform: translate(-10.7165359px, 16.886558519999998px);
    transform: translate(-10.7165359px, 16.886558519999998px);
  }
  36% {
    -webkit-transform: translate(-12.748479800000002px, 15.41026486px);
    transform: translate(-12.748479800000002px, 15.41026486px);
  }
  38% {
    -webkit-transform: translate(-14.57937254px, 13.69094212px);
    transform: translate(-14.57937254px, 13.69094212px);
  }
  40% {
    -webkit-transform: translate(-16.180339880000002px, 11.755705039999999px);
    transform: translate(-16.180339880000002px, 11.755705039999999px);
  }
  42% {
    -webkit-transform: translate(-17.5261336px, 9.63507348px);
    transform: translate(-17.5261336px, 9.63507348px);
  }
  44% {
    -webkit-transform: translate(-18.59552972px, 7.36249106px);
    transform: translate(-18.59552972px, 7.36249106px);
  }
  46% {
    -webkit-transform: translate(-19.37166322px, 4.97379774px);
    transform: translate(-19.37166322px, 4.97379774px);
  }
  48% {
    -webkit-transform: translate(-19.84229402px, 2.50666468px);
    transform: translate(-19.84229402px, 2.50666468px);
  }
  50% {
    -webkit-transform: translate(-20px, 0px);
    transform: translate(-20px, 0px);
  }
  52% {
    -webkit-transform: translate(-19.84229402px, -2.50666468px);
    transform: translate(-19.84229402px, -2.50666468px);
  }
  54% {
    -webkit-transform: translate(-19.37166322px, -4.97379774px);
    transform: translate(-19.37166322px, -4.97379774px);
  }
  56% {
    -webkit-transform: translate(-18.59552972px, -7.36249106px);
    transform: translate(-18.59552972px, -7.36249106px);
  }
  58% {
    -webkit-transform: translate(-17.5261336px, -9.63507348px);
    transform: translate(-17.5261336px, -9.63507348px);
  }
  60% {
    -webkit-transform: translate(-16.180339880000002px, -11.755705039999999px);
    transform: translate(-16.180339880000002px, -11.755705039999999px);
  }
  62% {
    -webkit-transform: translate(-14.57937254px, -13.69094212px);
    transform: translate(-14.57937254px, -13.69094212px);
  }
  64% {
    -webkit-transform: translate(-12.748479800000002px, -15.41026486px);
    transform: translate(-12.748479800000002px, -15.41026486px);
  }
  66% {
    -webkit-transform: translate(-10.7165359px, -16.886558519999998px);
    transform: translate(-10.7165359px, -16.886558519999998px);
  }
  68% {
    -webkit-transform: translate(-8.51558584px, -18.09654104px);
    transform: translate(-8.51558584px, -18.09654104px);
  }
  70% {
    -webkit-transform: translate(-6.18033988px, -19.021130319999997px);
    transform: translate(-6.18033988px, -19.021130319999997px);
  }
  72% {
    -webkit-transform: translate(-3.7476263px, -19.64574502px);
    transform: translate(-3.7476263px, -19.64574502px);
  }
  74% {
    -webkit-transform: translate(-1.2558104px, -19.96053456px);
    transform: translate(-1.2558104px, -19.96053456px);
  }
  76% {
    -webkit-transform: translate(1.2558104px, -19.96053456px);
    transform: translate(1.2558104px, -19.96053456px);
  }
  78% {
    -webkit-transform: translate(3.7476263px, -19.64574502px);
    transform: translate(3.7476263px, -19.64574502px);
  }
  80% {
    -webkit-transform: translate(6.18033988px, -19.021130319999997px);
    transform: translate(6.18033988px, -19.021130319999997px);
  }
  82% {
    -webkit-transform: translate(8.51558584px, -18.09654104px);
    transform: translate(8.51558584px, -18.09654104px);
  }
  84% {
    -webkit-transform: translate(10.7165359px, -16.886558519999998px);
    transform: translate(10.7165359px, -16.886558519999998px);
  }
  86% {
    -webkit-transform: translate(12.748479800000002px, -15.41026486px);
    transform: translate(12.748479800000002px, -15.41026486px);
  }
  88% {
    -webkit-transform: translate(14.57937254px, -13.69094212px);
    transform: translate(14.57937254px, -13.69094212px);
  }
  90% {
    -webkit-transform: translate(16.180339880000002px, -11.755705039999999px);
    transform: translate(16.180339880000002px, -11.755705039999999px);
  }
  92% {
    -webkit-transform: translate(17.5261336px, -9.63507348px);
    transform: translate(17.5261336px, -9.63507348px);
  }
  94% {
    -webkit-transform: translate(18.59552972px, -7.36249106px);
    transform: translate(18.59552972px, -7.36249106px);
  }
  96% {
    -webkit-transform: translate(19.37166322px, -4.97379774px);
    transform: translate(19.37166322px, -4.97379774px);
  }
  98% {
    -webkit-transform: translate(19.84229402px, -2.50666468px);
    transform: translate(19.84229402px, -2.50666468px);
  }
  100% {
    -webkit-transform: translate(20px, 0px);
    transform: translate(20px, 0px);
  }
}
.block-list {
  display: block;
  padding: 9px 0 0 0;
  margin-bottom: 9px;
  border-radius: 4px;
}
.block-list__row {
  display: table;
  margin-bottom: 9px;
}
.block-list__row > .block-list__item {
  margin-bottom: 0;
}
.block-list__item {
  display: block;
  float: left;
  padding: 0 9px;
  margin-bottom: 9px;
  width: 14.284428571428572%;
  text-align: center;
  vertical-align: middle;
}
.thumbnail {
  display: inline-block;
  position: relative;
  padding: 4px;
  max-width: 100%;
  border-radius: 4px;
  background-color: #fff;
  color: #222;
}
.thumbnail__image {
  max-width: 100%;
  overflow: hidden;
  border-radius: 4px;
}
.thumbnail__image > img {
  float: left;
  min-width: 25px;
  min-height: 25px;
  max-width: 100%;
  border: 0;
}
.thumbnail__controls {
  z-index: 6;
  position: absolute;
  top: 4px;
  right: 4px;
}
.price-picker {
  display: block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.price-picker-pagination {
  padding: 10px 0;
  text-align: center;
}
.price-picker-pagination__current {
  font-size: 20px;
}
.price-picker-calendar {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.price-picker-calendar_offset1 > .price-picker-calendar__item:first-child {
  margin-left: 14.284428571428572%;
}
.price-picker-calendar_offset2 > .price-picker-calendar__item:first-child {
  margin-left: 28.568857142857144%;
}
.price-picker-calendar_offset3 > .price-picker-calendar__item:first-child {
  margin-left: 42.85328571428572%;
}
.price-picker-calendar_offset4 > .price-picker-calendar__item:first-child {
  margin-left: 57.13771428571429%;
}
.price-picker-calendar_offset5 > .price-picker-calendar__item:first-child {
  margin-left: 71.42214285714286%;
}
.price-picker-calendar_offset6 > .price-picker-calendar__item:first-child {
  margin-left: 85.70657142857144%;
}
.price-picker-calendar:before,
.price-picker-calendar:after {
  display: table;
  overflow: hidden;
  content: '';
}
.price-picker-calendar:after {
  clear: both;
}
.price-picker-calendar__item {
  display: block;
  float: left;
  padding: 1px;
  min-height: 1px;
  width: 14.284428571428572%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.price-picker-calendar-day {
  display: block;
  padding: 7px 7px 7px 37px;
  height: 58px;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
}
.price-picker-calendar-day:hover,
.price-picker-calendar-day._hover,
.price-picker-calendar-day._active {
  border-color: #f90;
}
.price-picker-calendar-day._filled {
  background-color: #fdf8d5;
}
.price-picker-calendar-day__number {
  float: left;
  margin-left: -30px;
  font-size: 25px;
  color: rgba(0,0,0,0.15);
}
.price-picker-calendar-day__price,
.price-picker-calendar-day__quota {
  display: block;
  text-align: right;
}
.price-picker-calendar-day__price {
  font-size: 25px;
  line-height: 0.85;
}
.price-picker-calendar-day__price > sub {
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
  bottom: -0.6em;
  padding: 1px;
  margin: 0 -7px 0 -10px;
  font-size: 8px;
  font-weight: bold;
}
.price-picker-calendar-day__quota {
  margin-bottom: 5px;
  margin-left: -30px;
}
.price-picker-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
.price-picker-overlay._active {
  display: block;
}
.price-picker-overlay__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.75;
  cursor: pointer;
  background-color: #fff;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.price-picker-overlay__back:hover {
  opacity: 0.25;
}
.price-picker-overlay__front {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  width: 350px;
  margin: auto;
  margin-top: 8%;
  overflow: visible;
  z-index: 2;
}
.price-picker-form {
  position: relative;
  padding: 9px;
  background-color: #fff;
}
.price-picker-form .form-line_sided__sidebar {
  width: 135px;
  margin-left: -135px;
}
.price-picker-form .form-line_sided__inner {
  margin-left: 135px;
}
@font-face {
  font-family: 'FontAwesome';
  src: url("../../font/fontawesome/regular.eot");
  src: local('FontAwesome'), url('../../font/fontawesome/regular.ttf') format('truetype'),url('../../font/fontawesome/regular.eot?#iefix') format('embedded-opentype'),url('../../font/fontawesome/regular.svg') format('svg'),url('../../font/fontawesome/regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
