/* ========================================================================
 * Blocklist
 * ======================================================================== */

$blockListOffset ?= floor($lineHeight / 2)


/**
 * classes
 * ======================================================================== */

.block-list
    @extends .cf

    display block
    padding $blockListOffset 0 0 0

    background-color $sidebarColorBackground
    color $sidebarColorFont

    &__row
        display table
        margin-bottom $blockListOffset

        > .block-list__item
            margin-bottom 0

    &__item
        display block
        float left
        padding 0 $blockListOffset
        margin-bottom $blockListOffset
        width 20%

        text-align center
        vertical-align middle

