/* ========================================================================
 * Heading
 * ======================================================================== */

$bHeadingHeight ?= $lineHeight * 4

$bHeadingFontSize ?= floor($heading1FontSize * $lineHeightRatio)
$bHeadingLineHeight ?= floor($bHeadingFontSize * 1.2)
$bHeadingOffset ?= floor(($bHeadingHeight - $bHeadingLineHeight) / 2)

/**
 * Classes
 * ======================================================================== */

.b-heading
    @extends $pCF

    display block
    padding $bHeadingOffset 0

    &__menu
        display block
        padding-bottom $bHeadingOffset
        clear both
    
    &__title
        display inline

        font-size $bHeadingFontSize
        line-height $bHeadingLineHeight

    &__navigation
        float right
        display inline-block
        height $bHeadingLineHeight

        line-height $bHeadingLineHeight
