/* ========================================================================
 * Notifications
 * ======================================================================== */

$notificationsOffset ?= $gridGutterWidth

$notificationsAlertOffset ?= $notificationsOffset
$notificationsAlertAnimaitionDuration ?= 0.2s

/**
 * Animations
 * ======================================================================== */

@keyframes notificationsAlertShowUp
    0%
        max-height 0
        opacity 0
        transform translateY(-1 * $notificationsAlertOffset) rotateX(50deg)

    100%
        max-height 240px
        opacity 1
        transform translateY(0) rotateX(0)

/**
 * Notifications
 * ======================================================================== */

.notifications
    zIndex(110)

    position absolute
    top $notificationsOffset
    left 0
    width 100%
    height 1px
    overflow visible
    opacity .95

    &__inner
        position relative
        width $widthMin
        margin 0 auto
    
        perspective 600
        perspective-origin 50% 0%

        & > .alert
            animation notificationsAlertShowUp\
                $notificationsAlertAnimaitionDuration ease-out
            // transform translateY(-1 * $notificationsAlertOffset) rotateX(50deg)
            transform-style preserve-3d
            transform-origin 50% 0%
