/* ========================================================================
 * Layout main sidebar
 * ======================================================================== */

$sidebarColorBackground ?= $colorThemeReliefDark
$sidebarColorFont ?= #fff
$sidebarWidth ?= $rootSidebarWidth

$sidebarMenuOffset ?= $lineHeight

$sidebarLinksGroupWidth ?= $rootSidebarWidth
$sidebarLinksGroupHeight ?= $sidebarLinksGroupWidth
$sidebarLinksGroupOffset ?= 4px

$sidebarLinksGroupIconSize ?= $sidebarLinksGroupHeight\
    - ($sidebarLinksGroupOffset * 2)

$sidebarLinkColorBackground ?= $colorThemePrimary
$sidebarLinkColorBackgroundHover ?= $colorThemePrimaryHover
$sidebarLinkColorFont ?= #fff

/**
 * Classes
 * ======================================================================== */

.sidebar
    zIndex(110)

    display block
    height 100%
    padding-top $lineHeight * 3

    background-color $sidebarColorBackground
    color $sidebarColorFont

    &__body
        overflow visible


/**
 * Menu
 */
.sidebar-menu
    padding $sidebarMenuOffset 0

    &__item
        display block

    &__delimiter
        margin floor($sidebarMenuOffset / 2)

        height 1px
        background-color $sidebarLinkColorFont


/**
 * links group
 */
.sidebar-links-group
    zIndex(110)
    
    display block
    position relative

    padding $sidebarLinksGroupOffset

    &._active
        background-color $colorThemeReliefBottom
        color $colorThemeFont

    &__icon
        display block

        font-size floor($fontSize * 1.618)
        line-height $sidebarLinksGroupIconSize
        text-align center
        text-decoration none
        cursor pointer

        color inherit

        .sidebar-links-group._hover > &,
        .sidebar-links-group:hover > &,
        &._hover,
        &:hover
            background-color $sidebarLinkColorBackground
            color $sidebarLinkColorFont

    &__list
        zIndex(10)

        display none
        position absolute
        top $sidebarLinksGroupOffset
        left 100%
        width 0
        height 0
        opacity .95

        .sidebar-links-group._hover > &,
        .sidebar-links-group:hover > &,
        &._hover,
        &:hover
            display inline



/**
 * Sidebar link
 */
.sidebar-link
    display inline-block
    padding 0 floor($lineHeight / 2)

    font-size $fontSize * $lineHeightRatio
    line-height $sidebarLinksGroupIconSize
    text-decoration none
    white-space nowrap
    cursor pointer
    
    background-color $sidebarLinkColorBackground
    color $sidebarLinkColorFont

    &:nth-child(2n)
        background-color darken($sidebarLinkColorBackground, $vColorDarker)

    &._hover,
    &:hover
        background-color $sidebarLinkColorBackgroundHover