/* ========================================================================
 * View
 * ======================================================================== */

$viewOffset ?= $gridGutterWidth

/**
 * Classes
 * ======================================================================== */

.view
    display block
    position relative
    height 100%
    padding-left $viewOffset
    padding-right $viewOffset
    overflow auto

    text-align center

    background-color $colorThemeReliefBottom

    &__inner
        position relative
        max-width $widthMax
        min-width $widthMin
        margin 0 auto
        padding $viewOffset 0

        text-align left
