include ../../mixins/form
include ../../mixins/elements
include ../templates-form
include form

extends ../view-single

      
block single_heading_title
  | Создание пользователя

block single_heading_navigation

block single_content
  include ../templates-form
  
  +form(name="singleForm",
    novalidate="",
    form-submit="Form.create()")

    +form_user_email
    +form_user_password
    
    .form-delimiter
      
    +form_user_phone
    +form_user_groups
    +form_user_state
    +form_user_passport
    +form_user_messages

    +form_template_submit
