include ../../mixins/form
include ../../mixins/elements
include ../templates-form
include form


extends ../view-single

block single_heading_title
  | Редактирование пользователя

block single_heading_navigation
  +button.button_red(ng-click="delete()")
    | Удалить 
    span.icon.icon_fa-trash-o
  +button.button_primary(ui-sref="users.create")
    .icon.icon_fa-plus

block single_content
  include ../templates-form

  +form(name="singleForm",
    novalidate="",
    form-submit="Form.update()")

    +form_template_sided('Email')
      .label.label_input <[ single.email ]>

    +form_user_phone
    +form_user_groups
    +form_user_state
    +form_user_passport
    +form_user_messages

    +form_template_submit

