include ../../mixins/form
include ../../mixins/elements
include ../templates-form



mixin form_user_phone
  +form_template_sided-input("Телефон", "phone")


mixin form_user_groups
  +form_template_sided-select("Группы доступа", "single.groups",
    "single.related_data_all.groups",
    "name", "")


mixin form_user_state
  +form_template_parts("double")
    +form_template_part
      +form_template_sided-switch("Активен", "is_active")
    +form_template_part
      +form_template_sided-switch("Суперпользователь", "is_superuser")


mixin form_user_passport
  +fieldset("Паспортные данные")
    +form_template_parts("triple")
      +form_template_part-input("Фамилия", "last_name")
      +form_template_part-input("Имя", "first_name")
      +form_template_part-input("Отчество", "middle_name")

    .form-line.form-line_sided
      .form-line_sided__inner
        .form-line_sided__sidebar
          +currentId()
          label.label.label_block(for=form_element_id_current) Серия
          +inputBlock(name="passport_series", type="text",
            ng-model="single.passport_series",
            id=form_element_id_current)
        .form-line_sided__content
          +currentId()
          label.label.label_block(for=form_element_id_current) Код паспорта
          +inputBlock(name="passport_code", type="text",
            ng-model="single.passport_code",
            id=form_element_id_current)

    .form-line.form-line
      +currentId()
      label.label.label_block(for=form_element_id_current)
        | Кем и кода паспорт выдан 
      +inputBlock(name="passport_issued",
        type="text",
        ng-model="single.passport_issued",
        id=form_element_id_current)


mixin form_user_messages
  +fieldset("Уведомления")
    +form_template_parts("double")
      +form_template_part
        +form_template_sided-switch("Отправлять смс уведомления", "send_sms")
      +form_template_part
        +form_template_sided-switch("Отправлять email уведомления", "send_email")


mixin form_user_email
  +form_template_sided-input("Email", "email", "")(type="email",
    autocomplete="off")


mixin form_user_password
  +form_template_sided-input("Пароль", "password", "")(type="password",
    ng-minlength="4", autocomplete="off")
  +form_template_sided-input("Введите пароль повторно",
    "password_check", "")(type="password",
    form-validate-equals="single.password")