include ../../mixins/form
include ../../mixins/elements

extends ../view-list

block list_heading_title
  | Пользователи

block list_heading_navigation
  .group
  +button.button_primary(ui-sref="users.create")
    | Создать
    .icon.icon_fa-plus


block list_heading_filter_controls
  .row.row_table
    .row__item(ng-init="user_search_statuses = [\
        {id: undefined, name: 'Статус'},\
        {id: 'false', name: 'Неактивен'},\
        {id: 'true', name: 'Активен'},\
      ];")
      +tags("search.params.is_active", "user_search_statuses", "name")(style="width: 110px;")


block list_contents_title
  .row__item._w3
    +list_field_order('email')
      | Email
  .row__item
    +list_field_order('last_name')
      | ФИО

block list_contents_items
  .row__item._w3
    | <[ item.email]>
  .row__item
    | <[ item.last_name ]> <[ item.first_name ]> <[ item.middle_name]>

block list_contents_items_controls
  +button.button_small.button_green(
    ui-sref="users.detail({id: item.id})"
    )
    .icon.icon_fa-pencil