
<div class="v-single">
  <div class="v-single__inner">
    <div class="b-heading v-single-heading">
      <div class="b-heading__menu">
      </div>
      <div class="b-heading__navigation">
      </div>
      <div class="b-heading__title">
        <button type="button" class="button button_clean" ng-click="history.back()">
          <div class="icon icon_fa-chevron-left"></div>
        </button>Создание гостиницы
      </div>
    </div>
    <div class="v-single-contents">
            <form autocomplete="off" class="form form" name="singleForm" novalidate="" form-submit="Form.create()">
                                <div class="form-line form-line_sided">
                                  <div class="form-line_sided__inner">
                                    <div class="form-line_sided__sidebar">
                                      <label for="form-element-14054644086162" class="label label_input">Название
                                      </label>
                                    </div>
                                    <div class="form-line_sided__content">
                                            <div class="row_table">
                                              <div class="row__item _w12">
                                                      <input class="input input input_block group__element_first input_block group__element_first" type="text" id="form-element-14054644086162" required="required" name="title" ng-model="single.title" form-slugify="single.slug"/>
                                              </div>
                                              <div class="row__item">
                                                      <div for="form-element-14054644086162" class="label label_prefix <[ (singleForm['title'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['title'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                                        <div ng-if="!(singleForm['title'].$valid)" class="icon icon_fa-asterisk"></div>
                                                        <div ng-if="(singleForm['title'].$valid)" class="icon icon_fa-check"></div>
                                                      </div>
                                              </div>
                                            </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-line form-line_sided">
                                  <div class="form-line_sided__inner">
                                    <div class="form-line_sided__sidebar">
                                      <label for="form-element-14054644086164" class="label label_input">Ярлык
                                      </label>
                                    </div>
                                    <div class="form-line_sided__content">
                                            <div class="row_table">
                                              <div class="row__item _w12">
                                                      <input class="input input input_block group__element_first input_block group__element_first" type="text" id="form-element-14054644086164" required="required" name="slug" ng-model="single.slug"/>
                                              </div>
                                              <div class="row__item">
                                                      <div for="form-element-14054644086164" class="label label_prefix <[ (singleForm['slug'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['slug'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                                        <div ng-if="!(singleForm['slug'].$valid)" class="icon icon_fa-asterisk"></div>
                                                        <div ng-if="(singleForm['slug'].$valid)" class="icon icon_fa-check"></div>
                                                      </div>
                                              </div>
                                            </div>
                                    </div>
                                  </div>
                                </div>
                          <div class="form-line form-line_sided">
                            <div class="form-line_sided__inner">
                              <div class="form-line_sided__sidebar">
                                <label for="form-element-14054644086166" class="label label_input">Владелец
                                </label>
                              </div>
                              <div class="form-line_sided__content">
                                      <div form-select="" ng-model="single.user" form-select-data="single.related_data_all.users" class="tags tags_single">
                                        <div ng-class="{_active: formSelect.active}" class="dropdown tags__dropdown">
                                          <div class="row_table">
                                            <div class="row__item _w12">
                                              <div class="input-wrapper">
                                                      <input class="input input input_labeled input_masked input_block group__element_first" ng-model="formSelect.filter" form-select-toggle="" id="form-element-14054644086166" size="10" name="user" placeholder="<[ (formSelect.selected.length > 0 ? formSelect.selected[0].email : '') ]>" ng-required="!(single.user|isFilled)"/>
                                                <div ng-show="!formSelect.selected.length" class="input__label icon icon_fa-chevron-down"></div>
                                                <div ng-show="formSelect.selected.length" ng-click="formSelect.remove(0)" class="input__label icon icon_fa-times"></div>
                                              </div>
                                            </div>
                                            <div class="row__item">
                                                    <div for="form-element-14054644086166" class="label label_prefix <[ (singleForm['user'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['user'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                                      <div ng-if="!(singleForm['user'].$valid)" class="icon icon_fa-asterisk"></div>
                                                      <div ng-if="(singleForm['user'].$valid)" class="icon icon_fa-check"></div>
                                                    </div>
                                            </div>
                                          </div>
                                          <div class="dropdown-list">
                                            <div class="dropdown-list__inner">
                                              <div ng-mousedown="formSelect.prevent($event)" class="dropdown-list__body tags__dropdown-list">
                                                <div ng-repeat="item in formSelect.dataFiltered" ng-class="{_active: formSelect.current == $index}" ng-click="formSelect.select($index)" ng-mouseover="formSelect.current = $index" class="dropdown-list__item"><[ item.email ]>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                              </div>
                            </div>
                          </div>
                                <div class="form-line form-line_sided">
                                  <div class="form-line_sided__inner">
                                    <div class="form-line_sided__sidebar">
                                      <label for="form-element-14054644086167" class="label label_input">Город
                                      </label>
                                    </div>
                                    <div class="form-line_sided__content">
                                            <div form-select="" ng-model="single.city" form-select-data="single.related_data_all.cities" class="tags tags_single">
                                              <div ng-class="{_active: formSelect.active}" class="dropdown tags__dropdown">
                                                <div class="row_table">
                                                  <div class="row__item _w12">
                                                    <div class="input-wrapper">
                                                            <input class="input input input_labeled input_masked input_block group__element_first" ng-model="formSelect.filter" form-select-toggle="" id="form-element-14054644086167" size="10" name="city" placeholder="<[ (formSelect.selected.length > 0 ? formSelect.selected[0].state.name + ' обл. г.' + formSelect.selected[0].name  : '') ]>" ng-required="!(single.city|isFilled)"/>
                                                      <div ng-show="!formSelect.selected.length" class="input__label icon icon_fa-chevron-down"></div>
                                                      <div ng-show="formSelect.selected.length" ng-click="formSelect.remove(0)" class="input__label icon icon_fa-times"></div>
                                                    </div>
                                                  </div>
                                                  <div class="row__item">
                                                          <div for="form-element-14054644086167" class="label label_prefix <[ (singleForm['city'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['city'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                                            <div ng-if="!(singleForm['city'].$valid)" class="icon icon_fa-asterisk"></div>
                                                            <div ng-if="(singleForm['city'].$valid)" class="icon icon_fa-check"></div>
                                                          </div>
                                                  </div>
                                                </div>
                                                <div class="dropdown-list">
                                                  <div class="dropdown-list__inner">
                                                    <div ng-mousedown="formSelect.prevent($event)" class="dropdown-list__body tags__dropdown-list">
                                                      <div ng-repeat="item in formSelect.dataFiltered" ng-class="{_active: formSelect.current == $index}" ng-click="formSelect.select($index)" ng-mouseover="formSelect.current = $index" class="dropdown-list__item"><[ item.state.name + ' обл. г.' + item.name  ]>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                    </div>
                                  </div>
                                </div>
                    <div class="form-line form-line_double form-line form-line_double">
                                  <div class="form-line_double__part">
                                    <label for="form-element-14054644086168" class="label label_block">Адрес
                                    </label>
                                          <div class="row_table">
                                            <div class="row__item _w12">
                                                    <input class="input input input_block input_block" type="text" id="form-element-14054644086168" name="address" ng-model="single.address"/>
                                            </div>
                                          </div>
                                  </div>
                                  <div class="form-line_double__part">
                                    <label for="form-element-140546440861610" class="label label_block">Почтовый код
                                    </label>
                                          <div class="row_table">
                                            <div class="row__item _w12">
                                                    <input class="input input input_block input_block" type="text" id="form-element-140546440861610" name="postal_code" ng-model="single.postal_code"/>
                                            </div>
                                          </div>
                                  </div>
                    </div>
                          <div class="form-line form-line_sided">
                            <div class="form-line_sided__inner">
                              <div class="form-line_sided__sidebar">
                                <label for="form-element-140546440861612" class="label label_input">Тип гостиницы
                                </label>
                              </div>
                              <div class="form-line_sided__content">
                                      <div form-select="" ng-model="single.labels" form-select-data="single.related_data_all.types" multiple="multiple" class="tags tags_multiple">
                                        <div ng-class="{_active: formSelect.active}" class="dropdown tags__dropdown">
                                          <div class="row_table">
                                            <div class="row__item _w12">
                                              <div class="input-wrapper">
                                                      <input class="input input input_labeled input_masked input_block" ng-model="formSelect.filter" form-select-toggle="" id="form-element-140546440861612" size="10"/>
                                                <div class="input__label icon icon_fa-chevron-down"></div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="dropdown-list">
                                            <div class="dropdown-list__inner">
                                              <div ng-mousedown="formSelect.prevent($event)" class="dropdown-list__body tags__dropdown-list">
                                                <div ng-repeat="item in formSelect.dataFiltered" ng-class="{_active: formSelect.current == $index}" ng-click="formSelect.select($index)" ng-mouseover="formSelect.current = $index" class="dropdown-list__item"><[ item.title ]>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="tags__list">
                                          <div ng-repeat="item in formSelect.selected" class="tags__item button"><[ item.title ]>
                                            <div ng-click="formSelect.remove($index)" class="tags__item-remove"></div>
                                          </div>
                                        </div>
                                      </div>
                              </div>
                            </div>
                          </div>
                    <div class="form-line">
                            <button type="submit" class="button button button_primary">Сохранить
                            </button>
                            <button type="button" class="button button button_clean" ng-click="Form.revertChanges()">Отменить изменения
                            </button>
                    </div>
            </form>
    </div>
  </div>
</div>