/* ========================================================================
 * Button
 * ======================================================================== */

$buttonOffset ?= $formElementOffset - floor($formElementBorderWidth / 2)
$buttonFontSize ?= $formElementFontSize

$buttonColorFont ?= lighten($colorThemeFont, 20%)
$buttonColorBackground ?= rgba(#000, .05)
$buttonColorBackgroundHover ?= rgba(#000, .1)

$buttonColors ?= {
    primary: ($colorThemePrimary #fff $colorThemePrimaryDark),
    secondary: ($colorThemeSecondary #fff $colorThemeSecondaryDark),
    red: ($colorThemeRed #fff $colorThemeRedDark),
    green: ($colorThemeGreen #fff $colorThemeGreenDark),
    blue: ($colorThemeBlue #fff $colorThemeBlueDark)
}

/**
 * Classes
 * ======================================================================== */

.button
    @extends $pNotALink
    @extends $pFormElement
    @extends $pFormElementOutset

    padding $buttonOffset $buttonOffset * 2

    font-size $buttonFontSize
    font-weight $fontWeightBold
    cursor pointer
    white-space nowrap

    background-color $buttonColorBackground
    color $buttonColorFont

    formElementColored($buttonColors)
    formElementScale($buttonOffset, $buttonFontSize)

    &._hover,
    &:hover
        background-color $buttonColorBackgroundHover

    &._focus,
    &:focus
        outline none
        // box-shadow 0 0 0 $borderWidthFat $colorThemeHightlight
        z-index 4

    &._active,
    &:active
        @extends $pFormElementInset

    & > .icon
        font-size floor($fontSize * $lineHeightRatio)