/* ========================================================================
 * Form checkbox
 * ======================================================================== */


$checkboxLineHeight ?= floor($lineHeight / 1.5)
$checkboxOffset ?= 0 // floor($lineHeight / 3)
$checkboxHeight ?= $checkboxLineHeight + floor($lineHeight / 3)
$checkboxWidth ?= $checkboxHeight
$checkboxBorderRadius ?= $formElementBorderRadius
$checkboxBorderWidth ?= $borderWidthFat
$checkboxColorBackgroud ?= #fff

$checkboxFieldSize ?= 13px // minimum size that firefox can display

$checkboxColorFont ?= #fff
$checkboxColorBorder ?= $colorThemeReliefBorder
$checkboxColorBorderFocus ?= $colorThemeHightlight


/**
 * Placeholders
 * ======================================================================== */


/**
 * Classes
 * ======================================================================== */

.checkbox
    @extends $pFormElement

    zIndex(2)

    display inline-block
    position relative
    top 0
    left @top
    height $checkboxHeight
    width $checkboxWidth
    margin $checkboxOffset

    border $checkboxBorderWidth solid $checkboxColorBorder
    border-radius $checkboxBorderRadius
    cursor pointer
    user-select none

    background-color $checkboxColorBackgroud
    transition background-color $transitionDuration linear

    &:before
        @extends .icon:before
        @extends .icon_fa-check:before

        zIndex(3)

        display block
        position absolute
        top 0
        left @top
        width $checkboxHeight - (@top * 2) - ($checkboxBorderWidth * 2)
        height @width

        border-radius $checkboxBorderRadius
        font-size floor($fontSize * $lineHeightRatio)
        line-height @height
        text-align center
        cursor pointer

        color transparent
        transition background-color $transitionDuration linear

    &._focus,
    &:focus
        border-color $checkboxColorBorderFocus

    &._checked
        &:before
            color $colorThemePrimary
