/* ========================================================================
 * Form
 * ======================================================================== */


/**
 * Form element
 * ======================================================================== */

// Variables
$formElementOffset ?= floor($lineHeight / 3)
$formElementBorderRadius ?= $borderRadius
$formElementBorderWidth ?= 2px
$formElementFontSize ?= $fontSize - 1px

$formElementScales ?= (\
    ('small'    $lineHeightRatio * 0.6)\
    ('medium'   $lineHeightRatio * 0.8)\
    ('big'      $lineHeightRatio * 1.1)\
    ('large'    $lineHeightRatio * 1.4)\
)

// Mixins
formElementOffsetScale($scale, $elementOffset=$formElementOffset)
    return floor(floor($formElementOffset * $scale) -\
        ($formElementBorderWidth - $elementOffset))

formElementScale($elementOffset, $elementFontSize)
    for $scale in $formElementScales
        {selector()}&_{$scale[0]}
            padding formElementOffsetScale($scale[1], $elementOffset) \
                formElementOffsetScale($scale[1], $elementOffset * 2)

            font-size floor($elementFontSize * $scale[1])
            line-height floor($lineHeight * $scale[1])

formElementColored($colors)
    for $key, $val in $colors
        {selector()}&_{$key}
            background-color $val[0]
            color $val[1]

            &:hover
                background-color $val[2]

// Placeholders
$pFormElementRelief
    border $formElementBorderWidth solid rgba(#000, .1)

$pFormElementOutset
    @extend $pFormElementRelief

    border-top-width 0
    border-left-width 0
    border-right-width 0

$pFormElementInset
    @extend $pFormElementRelief

    border-left-width 0
    border-right-width 0
    border-bottom-width 0

$pFormElement
    @extends $pElementClean

    border-radius $formElementBorderRadius
    line-height $lineHeight
    vertical-align middle

    &:focus
        outline none

    {selector()}&_block
        width 100%


/**
 * Imports
 * ======================================================================== */

@import './group'
@import './input'
@import './button'
@import './label'
@import './checkbox'
@import './radio'
@import './switch'

/**
 * Shared classes
 * ======================================================================== */

