/* ========================================================================
 * Input
 * ======================================================================== */

$inputBorderWidth ?= floor($formElementBorderWidth / 2)
$inputOffset ?= $formElementOffset - $inputBorderWidth
$inputFontSize ?= $formElementFontSize

$inputColorFont ?= lighten($colorThemeFont, 20%)
$inputColorBackground ?= #fff

$inputColors ?= {
    primary: ($colorThemePrimary #fff $colorThemePrimaryDark),
    secondary: ($colorThemeSecondary #fff $colorThemeSecondaryDark),
    red: ($colorThemeRed #fff $colorThemeRedDark),
    green: ($colorThemeGreen #fff $colorThemeGreenDark),
    blue: ($colorThemeBlue #fff $colorThemeBlueDark)
}

/**
 * Classes
 * ======================================================================== */

.input
    @extends $pNotALink
    @extends $pFormElement

    padding $inputOffset $inputOffset * 2

    font-size $inputFontSize
    font-weight $fontWeightBold
    border $inputBorderWidth solid $colorThemeReliefBorder
    cursor text

    background-color $inputColorBackground
    color $inputColorFont

    formElementScale($inputOffset, $inputFontSize)

    &._focus,
    &:focus
        outline none
        border-color $colorThemeHightlight
        box-shadow 0 0 0 $borderWidthFat - $inputBorderWidth $colorThemeHightlight
        z-index 4

    & > .icon
        font-size floor($fontSize * $lineHeightRatio)