/* ========================================================================
 * Label
 * ======================================================================== */

$labelOffset ?= $formElementOffset
$labelFontSize ?= $formElementFontSize

$labelColorFont ?= lighten($colorThemeFont, 20%)

/**
 * Classes
 * ======================================================================== */

.label
    @extends $pNotALink
    @extends $pFormElement

    padding $labelOffset

    font-size $labelFontSize
    font-weight $fontWeightBold
    border 0
    cursor pointer

    background-color transparent
    color $labelColorFont

    formElementScale($labelOffset, $labelFontSize)

    & > .icon
        font-size floor($fontSize * $lineHeightRatio)