/* ========================================================================
 * Form radios
 * ======================================================================== */


$radioLineHeight ?= floor($lineHeight / 1.5)
$radioOffset ?= 0 // floor($lineHeight / 4)
$radioHeight ?= $radioLineHeight + floor($lineHeight / 3)
$radioWidth ?= $radioHeight
$radioBorderRadius ?= $radioHeight
$radioBorderWidth ?= $borderWidthFat

$radioFieldSize ?= 13px // minimum size that firefox can display

$radioColorBackgroud ?= #fff
$radioColorBorder ?= $colorThemeReliefBorder
$radioColorBorderFocus ?= $colorThemeHightlight


/**
 * Placeholders
 * ======================================================================== */


/**
 * Classes
 * ======================================================================== */

.radio
    @extends $pFormElement

    zIndex(2)

    display inline-block
    position relative
    top 0
    left @top
    height $radioHeight
    width $radioWidth
    margin $radioOffset

    border $radioBorderWidth solid $radioColorBorder
    border-radius $radioBorderRadius
    cursor pointer
    user-select none

    background-color $radioColorBackgroud
    transition background-color $transitionDuration linear

    &:before
        zIndex(3)

        display block
        position absolute
        top floor($radioHeight / 5)
        left @top
        width $radioHeight - (@top * 2) - ($radioBorderWidth * 2)
        height @width

        border-radius $radioBorderRadius
        cursor pointer
        content ''

        background-color $radioColorBackgroud
        transition background-color $transitionDuration linear

    &._focus,
    &:focus
        border-color $radioColorBorderFocus

    &._checked
        &:before
            background-color $colorThemePrimary
