/* ========================================================================
 * Form switches
 * ======================================================================== */


$switchLineHeight ?= $lineHeight
$switchHeight ?= $switchLineHeight + floor($lineHeight / 3)
$switchWidth ?= floor($switchHeight * 1.6)
$switchOffset ?= 0 // floor($switchHeight - ($buttonOffset * 2 + $lineHeight) / 2)
$switchBorderRadius ?= $formElementBorderRadius

$switchFieldSize ?= 13px // minimum size that firefox can display

$switchColorBackgroud ?= #fff
$switchColorChecked ?= $colorThemeGreen
$switchColorUnChecked ?= $colorThemeRed


/**
 * Placeholders
 * ======================================================================== */



/**
 * Classes
 * ======================================================================== */

.switch
    @extends $pFormElement
    @extends $pFormElementInset

    zIndex(2)

    display inline-block
    position relative
    height $switchHeight
    width $switchWidth
    margin $switchOffset

    border-radius $switchBorderRadius
    cursor pointer
    user-select none

    background-color $switchColorUnChecked
    transition background-color $transitionDuration linear

    &:before
        @extends $pFormElementOutset

        zIndex(3)

        display block
        position absolute
        top -1 * $formElementBorderWidth + 1px
        left 1px
        width $switchHeight - 2px
        height @width
        cursor pointer

        content ''

        border-radius $switchBorderRadius - 1px

        background-color $switchColorBackgroud
        transition left $transitionDuration linear

    &._checked
        background-color $switchColorChecked

        &:before
            left $switchWidth - $switchHeight + 1px

    &._focus,
    &:focus
        outline none
        box-shadow 0 0 0 $borderWidthFat $colorThemeHightlight
        z-index 4