
<div ng-class="{_active: isOpen}" class="dropdown-list">
  <div class="dropdown-list__inner">
    <div datepicker-dropdown="" class="dropdown-list__body datepicker-popup">
      <div ng-transclude="ng-transclude"></div>
      <div class="datepicker-controls">
        <div class="group">
          <button ng-click="today()" class="button button_primary button_small group__element group__element_first">Сегодня</button>
          <button ng-click="clear()" class="button button_red button_small group__element group__element_last">Очистить</button>
        </div>
        <button ng-click="isOpen = false" class="button button_clean button_small">Закрыть</button>
      </div>
    </div>
  </div>
</div>