
<div class="v-single">
  <div class="v-single__inner">
    <div class="b-heading v-single-heading">
      <div class="b-heading__menu">
      </div>
      <div class="b-heading__navigation">
        <button type="button" class="button button_red" ng-click="delete()">Удалить <span class="icon icon_fa-trash-o"></span>
        </button>
        <button type="button" class="button button_primary" ui-sref="contacts.create">
          <div class="icon icon_fa-plus"></div>
        </button>
      </div>
      <div class="b-heading__title">
        <button type="button" class="button button_clean" ui-sref="contacts({hotel: $stateParams.hotel})">
          <div class="icon icon_fa-chevron-left"></div>
        </button>Редактирование контакта
      </div>
    </div>
    <div class="v-single-contents">
            <form autocomplete="off" class="form form" name="singleForm" novalidate="" form-submit="Form.update()">
                    <div class="form-line form-line_triple form-line form-line_triple">
                                  <div class="form-line_triple__part">
                                    <label for="form-element-14054644048552" class="label label_block">Фамилия
                                    </label>
                                          <div class="row_table">
                                            <div class="row__item _w12">
                                                    <input class="input input input_block group__element_first input_block group__element_first" type="text" id="form-element-14054644048552" required="" name="last_name" ng-model="single.last_name"/>
                                            </div>
                                            <div class="row__item">
                                                    <div for="form-element-14054644048552" class="label label_prefix <[ (singleForm['last_name'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['last_name'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                                      <div ng-if="!(singleForm['last_name'].$valid)" class="icon icon_fa-asterisk"></div>
                                                      <div ng-if="(singleForm['last_name'].$valid)" class="icon icon_fa-check"></div>
                                                    </div>
                                            </div>
                                          </div>
                                  </div>
                                  <div class="form-line_triple__part">
                                    <label for="form-element-14054644048554" class="label label_block">Имя
                                    </label>
                                          <div class="row_table">
                                            <div class="row__item _w12">
                                                    <input class="input input input_block group__element_first input_block group__element_first" type="text" id="form-element-14054644048554" required="" name="first_name" ng-model="single.first_name"/>
                                            </div>
                                            <div class="row__item">
                                                    <div for="form-element-14054644048554" class="label label_prefix <[ (singleForm['first_name'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['first_name'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                                      <div ng-if="!(singleForm['first_name'].$valid)" class="icon icon_fa-asterisk"></div>
                                                      <div ng-if="(singleForm['first_name'].$valid)" class="icon icon_fa-check"></div>
                                                    </div>
                                            </div>
                                          </div>
                                  </div>
                                  <div class="form-line_triple__part">
                                    <label for="form-element-14054644048556" class="label label_block">Отчество
                                    </label>
                                          <div class="row_table">
                                            <div class="row__item _w12">
                                                    <input class="input input input_block input_block" type="text" id="form-element-14054644048556" name="middle_name" ng-model="single.middle_name"/>
                                            </div>
                                          </div>
                                  </div>
                    </div>
                          <div class="form-line form-line_sided">
                            <div class="form-line_sided__inner">
                              <div class="form-line_sided__sidebar">
                                <label for="form-element-14054644048558" class="label label_input">Должность
                                </label>
                              </div>
                              <div class="form-line_sided__content">
                                      <div class="row_table">
                                        <div class="row__item _w12">
                                                <input class="input input input_block group__element_first input_block group__element_first" type="text" id="form-element-14054644048558" required="" name="position" ng-model="single.position"/>
                                        </div>
                                        <div class="row__item">
                                                <div for="form-element-14054644048558" class="label label_prefix <[ (singleForm['position'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['position'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                                  <div ng-if="!(singleForm['position'].$valid)" class="icon icon_fa-asterisk"></div>
                                                  <div ng-if="(singleForm['position'].$valid)" class="icon icon_fa-check"></div>
                                                </div>
                                        </div>
                                      </div>
                              </div>
                            </div>
                          </div>
                    <div class="form-line form-line_sided">
                      <div class="form-line_sided__inner">
                        <div class="form-line_sided__sidebar">
                          <label for="form-element-140546440485510" class="label label_input">Пол
                          </label>
                        </div>
                        <div class="form-line_sided__content">
                                <div class="form-line form-line_double form-line form-line_double">
                                        <div class="form-line_double__part">
                                                <label for="form-element-140546440485512" class="label label_input">Мужской
                                                </label>
                                                      <div form-element="" form-input="" class="radio">
                                                              <input name="sex" type="radio" value="1" ng-model="single.sex" class="radio__field" id="form-element-140546440485512" form-element-field="" form-input-field=""/>
                                                              <label for="form-element-140546440485512" class="radio__label" ng-model="single.sex" value="1" form-radio="">
                                                              </label>
                                                      </div>
                                        </div>
                                        <div class="form-line_double__part">
                                                <label for="form-element-140546440485515" class="label label_input">Женский
                                                </label>
                                                      <div form-element="" form-input="" class="radio">
                                                              <input name="sex" type="radio" value="0" ng-model="single.sex" class="radio__field" id="form-element-140546440485515" form-element-field="" form-input-field=""/>
                                                              <label for="form-element-140546440485515" class="radio__label" ng-model="single.sex" value="0" form-radio="">
                                                              </label>
                                                      </div>
                                        </div>
                                </div>
                        </div>
                      </div>
                    </div>
                          <div class="form-line form-line_sided">
                            <div class="form-line_sided__inner">
                              <div class="form-line_sided__sidebar">
                                <label for="form-element-140546440485517" class="label label_input">Телефон
                                </label>
                              </div>
                              <div class="form-line_sided__content">
                                      <div class="row_table">
                                        <div class="row__item _w12">
                                                <input class="input input input_block input_block" type="text" id="form-element-140546440485517" name="phone" ng-model="single.phone"/>
                                        </div>
                                      </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-line form-line_sided">
                            <div class="form-line_sided__inner">
                              <div class="form-line_sided__sidebar">
                                <label for="form-element-140546440485519" class="label label_input">Email
                                </label>
                              </div>
                              <div class="form-line_sided__content">
                                      <div class="row_table">
                                        <div class="row__item _w12">
                                                <input class="input input input_block input_block" type="text" id="form-element-140546440485519" name="email" ng-model="single.email"/>
                                        </div>
                                      </div>
                              </div>
                            </div>
                          </div>
                    <div class="form-line">
                            <button type="submit" class="button button button_primary">Сохранить
                            </button>
                            <button type="button" class="button button button_clean" ng-click="Form.revertChanges()">Отменить изменения
                            </button>
                    </div>
            </form>
    </div>
  </div>
</div>