include ../mixins/form
include ../mixins/elements


- var form_context_parts_stack = []


mixin form_template_parts(type)
  - form_context_parts_stack.push(type)
  - var top = form_context_parts_stack.length - 1

  .form-line(class!="form-line_"
    + form_context_parts_stack[top])&attributes(attributes)
    if block
      block

  - form_context_parts_stack.pop()


mixin form_template_part(label)
  - var top = form_context_parts_stack.length - 1

  div(class!="form-line_" + form_context_parts_stack[top] + "__part")
    +currentId()
    if label
      label.label.label_block(for=form_element_id_current)
        = label
    block


mixin form_template_part-input(label, field, required)
  +form_template_part(label)
    +inputBlock&attributes(attributes)(
      type="text",
      id=form_element_id_current,
      required=required,
      name=field,
      ng-model=(typeof field != "undefined" ? "single." + field : undefined)
      )


mixin form_template_part-textarea(label, field, required)
  +form_template_part(label)
    +textarea&attributes(attributes)(
      id=form_element_id_current,
      required=required,
      name=field,
      ng-model=(typeof field != "undefined" ? "single." + field : undefined)
      )


mixin form_template_part-switch(label, field, required)
  +form_template_part(label)
    label.label.label_input
      +switch&attributes(attributes)(
        type="text",
        id=form_element_id_current,
        required=required,
        name=field,
        ng-model=(typeof field != "undefined" ? "single." + field : undefined)
        )


mixin form_template_part-datepicker(label, field, format)
  +form_template_part(label)
    +form_template_datepicker(field, format)&attributes(attributes)


mixin form_template_part-select(label, field, data, template, multiple)
  +form_template_part(label) 
    +tags(field, data, template)(multiple=multiple,
      id=form_element_id_current)&attributes(attributes)


mixin form_template_sided(label)
  .form-line.form-line_sided
    +currentId()
    .form-line_sided__inner
      .form-line_sided__sidebar
        label.label.label_input(for=form_element_id_current)
          = label
      .form-line_sided__content
        block


mixin form_template_sided-input(label, field, required)
  +form_template_sided(label)
    +inputBlock&attributes(attributes)(
      type="text",
      id=form_element_id_current,
      required=required,
      name=field,
      ng-model=(typeof field != "undefined" ? "single." + field : undefined)
      )


mixin form_template_sided-switch(label, field, required)
  +form_template_sided(label)
    .label.label_input
      +switch&attributes(attributes)(
        id=form_element_id_current,
        required=required,
        name=field,
        ng-model=(typeof field != "undefined" ? "single." + field : undefined)
        )
    if block
      block


mixin form_template_sided-datepicker(label, field, format)
  +form_template_sided(label)
    +form_template_datepicker(field, format)&attributes(attributes)


mixin form_template_sided-select(label, field, data, template, multiple)
  +form_template_sided(label) 
    +tags(field, data, template)(multiple=multiple,
      id=form_element_id_current)&attributes(attributes)


mixin form_template_sided-range(label, field, required)
  +form_template_sided(label)
    +range&attributes(attributes)(
      id=form_element_id_current,
      required=required,
      name=field,
      ng-model=(typeof field != "undefined" ? "single." + field : undefined)
      )


mixin form_template_block(label)
  .form-line
    .label.label_block
      = label

    block


mixin form_template_block-input(label, field, required)
  +form_template_block(label)
    +inputBlock&attributes(attributes)(
      type="text",
      id=form_element_id_current,
      required=required,
      name=field,
      ng-model=(typeof field != "undefined" ? "single." + field : undefined)
      )



mixin form_template_block-textarea(label, field, required)
  +form_template_block(label)
    +textarea&attributes(attributes)(
      id=form_element_id_current,
      required=required,
      name=field,
      ng-model=(typeof field != "undefined" ? "single." + field : undefined)
      )


mixin form_template_editor(label, model)
  +form_template_block(label)
    +editor(model)&attributes(attributes)


mixin form_template_datepicker(field, format)
  - if(typeof format == "undefined")
    - format = "dd.MM.yyyy"

  +datepicker("single." + field)(name=field)&attributes(attributes)
  //- .label.label_input
  //-   | <[ single.#{field}|date:'#{format}' ]>


mixin form_template_title()
  +form_template_sided-input("Название", "title", true)(form-slugify="single.slug")


mixin form_template_name()
  +form_template_sided-input("Название", "name", true)(form-slugify="single.slug")


mixin form_template_slug()
  +form_template_sided-input("Ярлык", "slug", true)


mixin form_template_city
  +form_template_sided-select("Город", "single.city",
    "single.related_data_all.cities",
    "{item}.state.name + ' обл. г.' + {item}.name ")(required="",
    name="city")&attributes(attributes)


mixin form_template_submit()
  .form-line
    +button.button_primary(type="submit") Сохранить
    +button.button_clean(ng-click="Form.revertChanges()") Отменить изменения


mixin form_template_hidden(name, model, value)
  input._hidden(type="hidden", name=name, form-value!=value, ng-model=model)


mixin form_template_radio-inline(label, field, value)
  +currentId(attributes.id)
  - delete attributes.id

  label.label.label_input(for=form_element_id_current)
    = label

  +radio(id=form_element_id_current, name=field,
    ng-model=(!field ? undefined : "single." + field), value=value)



//- templates
  //- Sided
  .form-line.form-line_sided
    .form-line_sided__sidebar

    .form-line_sided__content

  //- Sided Label input
  .form-line.form-line_sided
    +currentId()
    .form-line_sided__sidebar
      label.label.label_input(for=form_element_id_current)
    .form-line_sided__content
      +input.input_block(name="", type="text", ng-model="",
        id=form_element_id_current)


  //- Double inputs
  .form-line.form-line_double
    .form-line_double__part
      +currentId()
      .label.label_block(for=form_element_id_current)
      +input.input_block(name="", type="text", ng-model="",
        id=form_element_id_current)

    .form-line_double__part
      +currentId()
      .label.label_block(for=form_element_id_current)
      +input.input_block(name="", type="text", ng-model="",
        id=form_element_id_current)


  //- Triple inputs
  .form-line.form-line_triple
    .form-line_triple__part
      +currentId()
      .label.label_block(for=form_element_id_current)
      +input.input_block(name="", type="text", ng-model="",
        id=form_element_id_current)
      
    .form-line_triple__part
      +currentId()
      .label.label_block(for=form_element_id_current)
      +input.input_block(name="", type="text", ng-model="",
        id=form_element_id_current)
      
    .form-line_triple__part
      +currentId()
      .label.label_block(for=form_element_id_current)
      +input.input_block(name="", type="text", ng-model="",
        id=form_element_id_current)