include ../../../mixins/django
include ../mixins/elements

mixin list_field_order(orderby)
  span.v-list-contents__sortable-field&attributes(attributes)(
    ng-click="search.params.ordering = (search.params.ordering == '" + orderby + "' ? '-" + orderby + "' : '" + orderby + "'); search.submit($event)"
    )
    block
    .icon.icon_fa-caret-down(ng-if!="!(search.params.ordering|startsWith:'-" + orderby + "')")
    .icon.icon_fa-caret-up(ng-if!="!(search.params.ordering|startsWith:'" + orderby + "')")


block list
  .v-list
    .v-list__inner
      .b-heading.v-list-heading
        block list_heading
          .b-heading__menu
            block list_heading_menu
          .b-heading__navigation
            block list_heading_navigation
          .b-heading__title
            block list_heading_back
              +button.button_clean(ng-click="history.back()")
                .icon.icon_fa-chevron-left
            block list_heading_title
            block list_heading_refresh
              +button.button_clean(ng-click="$state.go($state.current, {}, {reload: true});")
                .icon.icon_fa-refresh

      .v-list-controls
        .v-list-controls__inner
          block list_controls
            .v-list-controls__sidebar
              .dropdown.v-list-controls__sidebar__dropdown
                +button.button_green
                  | С выбранным:    
                  .icon.icon_fa-angle-down
                .dropdown-list
                  .dropdown-list__inner
                    .dropdown-list__body
                      block list_heading_with-selected
                        //- .dropdown-list__item
                        //-   | Удалить
                        //-   .pull-right.icon.icon_fa-trash-o

            .v-list-controls__content
              block list_heading_filter
                +form.row_table(ng-submit="search.submit($event)")
                  .row__item
                    block list_heading_filter_controls
                  .row__item._w12
                    block list_heading_filter_search
                    +input.input_block.group__element_first(placeholder="Поиск",
                      ng-model="search.params.search")
                  .row__item
                    +button.button_primary(type="submit",
                      ng-class="{group__element_last: !search.inProgress(),\
                      group__element: search.inProgress()}")
                      .icon.icon_fa-search
                  .row__item(ng-if="search.inProgress()")
                    +button.button_red(
                      ng-click="search.clean()",
                      ng-class="{group__element_last: search.inProgress()}")
                      .icon.icon_fa-times

      ul.v-list-contents()
        block list_contents
          li.v-list-contents__item.v-list-contents__item_title
            .row__item._wf2
              +checkbox(ng-model="actions.selectors.master")

            block list_contents_title

            .row__item._wf4
              | Управление

          li.v-list-contents__item._highlightable(
            ng-repeat="item in list.objects",
            ng-class="{_checked: actions.selectors.ids[item.id] == 1}")
            .row__item._wf2
              +checkbox(ng-model="actions.selectors.ids[item.id]",
                ng-checked="actions.selectors.master",
                id!="label-checkbox-<[item.id]>")

            block list_contents_items

            .row__item._wf4
              .group
                block list_contents_items_controls


      block footer
        include ../parts/pagination
    

//- .view.view_list

  .view_list__sidebar
    block list
      .list
        .list__header
          block list_header
            .list__header-line
              .list__filter
                block list_header_search
                  +input('Искать').input_labeled.input_block
                    .input__label.icon.icon_fa-search

            .list__header-line
              .list__controls.row.row_table.row_collapse
                block list_header_controls
                  .row__item._w1
                    block list_header_controls_checkbox
                      +checkbox(ng-model="item.checkall")
                  .row__item._w10
                    block list_header_controls_withSelected
                      button.button.button_clean: .icon.icon_fa-trash-o
                  .row__item._w1.align-right
                    block list_header_controls_add
                      button.button.button_primary: .icon.icon_fa-plus

        .list__footer
          block footer
            include ../parts/pagination

        .list__inner
          .list__body
            block items

  .view_list__content(ui-view="detail")