include ../../../mixins/django
include ../mixins/elements


block single
  .v-single
    .v-single__inner
      .b-heading.v-single-heading
        block single_heading
          .b-heading__menu
            block single_heading_menu
          .b-heading__navigation
            block single_heading_navigation
          .b-heading__title
            block single_heading_back
              +button.button_clean(ng-click="history.back()")
                .icon.icon_fa-chevron-left
            block single_heading_title

      .v-single-contents
        block single_content

//- .single
  .single__header
    block single_header
      .single__wrapper
        .single__controls.row.row_table.row_collapse
          block single_header_menu
            .row__item._w9
              .single__controls-menubar
                block single_header_menu_related

            .row__item._w3.align-right
              block single_header_menu_controls

      .single__wrapper
        block single_header_title
          .single__title <[ data.settings.displayName ]>


  .single__inner
    .single__body
      .single__wrapper
        block single_content