include ../../mixins/form
include ../../mixins/elements
include ../templates-form
include form

extends ../view-single

      
block single_heading_title
  | Новый комментарий

block single_heading_navigation

block single_content
  include ../templates-form
  
  +form(name="singleForm",
    novalidate="",
    form-submit="Form.create()")

    +form_comments_user
    +form_comments_vote
    +form_comments_comment

    +form_template_submit
