include ../../mixins/form
include ../../mixins/elements
include ../templates-form
include form


extends ../view-single

block single_heading_back
  +button.button_clean(ui-sref="comments({hotel: $stateParams.hotel})")
    .icon.icon_fa-chevron-left

block single_heading_title
  | Редактирование комментария

block single_heading_navigation
  +button.button_red(ng-click="delete()")
    | Удалить 
    span.icon.icon_fa-trash-o
  +button.button_primary(ui-sref="comments.create")
    .icon.icon_fa-plus

block single_content
  include ../templates-form

  +form(name="singleForm",
    novalidate="",
    form-submit="Form.update()")

    +form_comments_user
    +form_comments_vote
    +form_comments_comment

    +form_template_submit

