include ../../mixins/form
include ../../mixins/elements
include ../templates-form



mixin form_comments_vote
  +form_template_sided("Средняя оценка")
    .label.label_input
      | <[ single.vote_criteria|average ]>
  +form_template_sided("Критерии оценки:")
    +form_template_parts("double")
      +form_template_sided-range("Чистота",
        "vote_criteria[0]", "")(max="10", min="0", step="1", value="0")
      +form_template_sided-range("Комфорт",
        "vote_criteria[1]", "")(max="10", min="0", step="1", value="0")
      +form_template_sided-range("Меслорасположение",
        "vote_criteria[2]", "")(max="10", min="0", step="1", value="0")
      +form_template_sided-range("Удобства",
        "vote_criteria[3]", "")(max="10", min="0", step="1", value="0")
      +form_template_sided-range("Персонал",
        "vote_criteria[4]", "")(max="10", min="0", step="1", value="0")
      +form_template_sided-range("Соотношение Цена/Качество",
        "vote_criteria[5]", "")(max="10", min="0", step="1", value="0")


mixin form_comments_comment
  +form_template_block-textarea("Комментарий", "content")(rows="8")


mixin form_comments_user
  +form_template_sided-select("Пользователь", "single.user",
    "single.related_data_all.users",
    "email")(required="", name="user")