include ../../mixins/form
include ../../mixins/elements

extends ../view-list

block list_heading_back
  +button.button_clean(ui-sref="hotels.detail({id: $stateParams.hotel})")
    .icon.icon_fa-chevron-left

block list_heading_title
  | Комментарии

block list_heading_navigation
  .group
  +button.button_primary(ui-sref="comments.create")
    | Создать
    .icon.icon_fa-plus

block list_contents_title
  .row__item._w3
    +list_field_order('user')
      | Пользователь
  .row__item
    | Комментарий
  .row__item._wd2
    +list_field_order('vote_mark')
      | Оценка

block list_contents_items
  .row__item._w3
    | <[ item.user.email]>
  .row__item
    | <[ item.content]>
  .row__item._wd2
    | <[ item.vote_mark ]>

block list_contents_items_controls
  +button.button_small.button_green(
    ui-sref="comments.detail({id: item.id})"
    )
    .icon.icon_fa-pencil