<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>
{% block title %}
{% endblock %}

    </title>
    <link rel="stylesheet" href="/static/js/lib/pickadate/lib/themes/classic.css">
    <link rel="stylesheet" href="/static/js/lib/pickadate/lib/themes/classic.date.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <meta charset="utf-8">
{% block head %}
{% endblock %}

  </head>
  <body class="root">
{% block body %}
{% endblock %}

    <script src="/static/js/lib/es5-shim/es5-shim.js"></script>
    <script src="/static/js/lib/jquery/dist/jquery.min.js"></script>
    <script src="/static/js/lib/pickadate/lib/picker.js"></script>
    <script src="/static/js/lib/pickadate/lib/picker.date.js"></script>
    <script src="/static/js/lib/pickadate/lib/translations/ru_RU.js"></script>
    <script src="/static/js/lib/codemirror/lib/codemirror.js"></script>
    <script src="/static/js/lib/codemirror/addon/edit/continuelist.js"></script>
    <script src="/static/js/lib/codemirror/mode/markdown/markdown.js"></script>
    <script src="/static/js/lib/angular/angular.js"></script>
    <script src="/static/js/lib/angular-cookies/angular-cookies.js"></script>
    <script src="/static/js/lib/angular-route/angular-route.js"></script>
    <script src="/static/js/lib/angular-resource/angular-resource.js"></script>
    <script src="/static/js/lib/angular-file-upload/angular-file-upload.js"></script>
    <script src="/static/js/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/static/js/lib/angular-ui-bootstrap-bower/ui-bootstrap.min.js"></script>
    <script src="/static/js/lib/angular-ui-codemirror/ui-codemirror.js"></script>
    <script src="/static/js/front/app.js"></script>
    <script src="/static/js/front/widgets/modernizr.js"></script>
    <script src="/static/js/front/widgets/datepicker.js"></script>
    <script src="/static/js/front/widgets/jquery.jcarousel.min.js"></script>
    <script src="/static/js/front/widgets/tabs.js"></script>
    <script src="/static/js/front/widgets.js"></script>
    <script src="/static/js/admin/common/utils.js"></script>
    <script src="/static/js/admin/common/form/form.js"></script>
    <script src="/static/js/admin/common/form/element.js"></script>
    <script src="/static/js/admin/common/form/input.js"></script>
    <script src="/static/js/admin/common/form/select.js"></script>
    <script src="/static/js/admin/common/form/checker.js"></script>
    <script src="/static/js/admin/common/form/upload.js"></script>
    <script src="/static/js/admin/common/form/slugify.js"></script>
    <script src="/static/js/admin/common/form/submit.js"></script>
    <script src="/static/js/admin/common/form/range.js"></script>
    <script src="/static/js/lib/angular-ui-bootstrap-bower/ui-bootstrap.min.js"></script>
{% block scripts %}
{% endblock %}

  </body>
</html>