
<div class="v-single">
  <div class="v-single__inner">
    <div class="b-heading v-single-heading">
      <div class="b-heading__menu">
      </div>
      <div class="b-heading__navigation">
        <button type="button" class="button button_red" ng-click="delete()">Удалить <span class="icon icon_fa-trash-o"></span>
        </button>
        <button type="button" class="button button_primary" ui-sref="roomtypes_rates.create">
          <div class="icon icon_fa-plus"></div>
        </button>
      </div>
      <div class="b-heading__title">
        <button type="button" class="button button_clean" ui-sref="roomtypes_rates({hotel: $stateParams.hotel,    roomtype: $stateParams.roomtype})">
          <div class="icon icon_fa-chevron-left"></div>
        </button>Редактирование категории цены
      </div>
    </div>
    <div class="v-single-contents">
            <form autocomplete="off" class="form form" name="singleForm" novalidate="" form-submit="Form.update()">
              <input type="hidden" ng-model="single.room_type" class="_hidden"/>
                          <div class="form-line form-line_sided">
                            <div class="form-line_sided__inner">
                              <div class="form-line_sided__sidebar">
                                <label for="form-element-14062060914832" class="label label_input">Цена
                                </label>
                              </div>
                              <div class="form-line_sided__content">
                                      <div class="row_table">
                                        <div class="row__item _w12">
                                                <input class="input input input_block group__element_first input_block group__element_first" type="text" id="form-element-14062060914832" required="" name="price" ng-model="single.price"/>
                                        </div>
                                        <div class="row__item">
                                                <div for="form-element-14062060914832" class="label label_prefix <[ (singleForm['price'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> label label_prefix <[ (singleForm['price'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                                                  <div ng-if="!(singleForm['price'].$valid)" class="icon icon_fa-asterisk"></div>
                                                  <div ng-if="(singleForm['price'].$valid)" class="icon icon_fa-check"></div>
                                                </div>
                                        </div>
                                      </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-line">
                            <div class="label label_block">Описание
                            </div>
                                  <textarea class="input input_block input input_block" id="form-element-14062060914832" name="about" ng-model="single.about"></textarea>
                          </div>
                    <div class="form-line">
                            <button type="submit" class="button button button_primary">Сохранить
                            </button>
                            <button type="button" class="button button button_clean" ng-click="Form.revertChanges()">Отменить изменения
                            </button>
                    </div>
            </form>
    </div>
  </div>
</div>