
<div class="v-price-picker">
  <div class="v-price-picker__inner">
    <div class="b-heading v-price-picker-heading">
      <div class="b-heading__menu">
      </div>
      <div class="b-heading__navigation">
      </div>
      <div class="b-heading__title">
        <button type="button" class="button button_clean" ui-sref="roomtypes.detail({id: $stateParams.roomtype, hotel: $stateParams.hotel})">
          <div class="icon icon_fa-chevron-left"></div>
        </button>Календарь цен
        <button type="button" class="button button_clean" ng-click="$state.go($state.current, {}, {reload: true});">
          <div class="icon icon_fa-refresh"></div>
        </button>
      </div>
    </div>
    <div class="v-price-picker-contents">
      <div price-picker="list" price-picker-date="pricePickerDate" class="price-picker">
        <div class="price-picker-pagination">
          <button type="button" class="button button_primary price-picker-pagination__prev" ui-sref="roomtypes_prices({year: list.pagination.prev.year,              month: list.pagination.prev.month})">
            <div class="icon icon_fa-chevron-left"></div>
          </button><span class="label label_input-as price-picker-pagination__current"><[monthNames[list.pagination.month-1]]> <[list.pagination.year]></span>
          <button type="button" class="button button_primary price-picker-pagination__next" ui-sref="roomtypes_prices({year: list.pagination.next.year,              month: list.pagination.next.month})">
            <div class="icon icon_fa-chevron-right"></div>
          </button>
        </div>
        <ul price-picker-calendar="" class="price-picker-calendar &lt;[  (pricePicker.offset &gt; 0 ?              'price-picker-calendar_offset' + pricePicker.offset : '')  ]&gt;">
          <li ng-repeat="day in pricePicker.days" class="price-picker-calendar__item">
            <div ng-mousedown="pricePicker.dragStart($index)" ng-mouseenter="pricePicker.dragOver($index)" ng-mouseup="pricePicker.dragEnd($index)" ng-class="{_active: (day.active),                  _filled: (day.data.rate &gt; 0), _disabled: (day.date &lt; pricePicker.today)}" class="price-picker-calendar-day">
              <div class="price-picker-calendar-day__number"><[ day.date|date:'dd' ]></div>
              <div class="price-picker-calendar-day__quota"><small> Номеров: </small><b>  <[ day.data.available_rooms ]> </b></div>
              <div class="price-picker-calendar-day__price"><[ day.data.price ]><sub class="badge badge_blue">UAH</sub></div>
            </div>
          </li>
        </ul>
        <div ng-class="{_active: pricePicker.selected}" class="price-picker-overlay">
          <div ng-click="pricePicker.selected = false;" class="price-picker-overlay__back"></div>
          <div class="price-picker-overlay__front">
            <div class="price-picker-form">
              <form autocomplete="off" class="form" name="singleForm" novalidate="" form-submit="Form.create()">
                <div class="form-line form-line_sided">
                  <div class="form-line_sided__inner">
                    <div class="form-line_sided__sidebar">
                      <label for="form-element-14062060926972" class="label label_input">Дата начала
                      </label>
                    </div>
                    <div class="form-line_sided__content">
                      <input type="hidden" name="date_from" form-value="pricePicker.dayStart.date | date: 'yyyy-MM-dd'" ng-model="single.date_from" class="_hidden"/>
                      <div class="label label_input"><[pricePicker.dayStart.date | date: 'dd.MM.yyyy']></div>
                    </div>
                  </div>
                </div>
                <div class="form-line form-line_sided">
                  <div class="form-line_sided__inner">
                    <div class="form-line_sided__sidebar">
                      <label for="form-element-14062060926973" class="label label_input">Дата конца
                      </label>
                    </div>
                    <div class="form-line_sided__content">
                      <input type="hidden" name="date_to" form-value="pricePicker.dayEnd.date | date: 'yyyy-MM-dd'" ng-model="single.date_to" class="_hidden"/>
                      <div class="label label_input"><[pricePicker.dayEnd.date | date: 'dd.MM.yyyy']></div>
                    </div>
                  </div>
                </div>
                <input type="hidden" name="room_type" ng-model="single.room_type" class="_hidden"/>
                <div class="form-line form-line_double">
                  <div class="form-line_double__part">
                    <label for="form-element-14062060926974" class="label label_block">Цена
                    </label>
                    <div form-select="" ng-model="single.rate" form-select-data="list.rates" class="tags tags_single">
                      <div ng-class="{_active: formSelect.active}" class="dropdown tags__dropdown">
                        <div class="row_table">
                          <div class="row__item _w12">
                            <div class="input-wrapper">
                              <input class="input input_labeled input_masked input_block group__element_first" ng-model="formSelect.filter" form-select-toggle="" id="form-element-14062060926974" size="10" name="rate" placeholder="<[ (formSelect.selected.length > 0 ? formSelect.selected[0].price : '') ]>" ng-required="!(single.rate|isFilled)"/>
                              <div ng-show="!formSelect.selected.length" class="input__label icon icon_fa-chevron-down"></div>
                              <div ng-show="formSelect.selected.length" ng-click="formSelect.remove(0)" class="input__label icon icon_fa-times"></div>
                            </div>
                          </div>
                          <div class="row__item">
                            <div for="form-element-14062060926974" class="label label_prefix <[ (singleForm['rate'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                              <div ng-if="!(singleForm['rate'].$valid)" class="icon icon_fa-asterisk"></div>
                              <div ng-if="(singleForm['rate'].$valid)" class="icon icon_fa-check"></div>
                            </div>
                          </div>
                        </div>
                        <div class="dropdown-list">
                          <div class="dropdown-list__inner">
                            <div ng-mousedown="formSelect.prevent($event)" class="dropdown-list__body tags__dropdown-list">
                              <div ng-repeat="item in formSelect.dataFiltered" ng-class="{_active: formSelect.current == $index}" ng-click="formSelect.select($index)" ng-mouseover="formSelect.current = $index" class="dropdown-list__item"><[ item.price ]>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-line_double__part">
                    <label for="form-element-14062060926975" class="label label_block">Доступные номера
                    </label>
                    <div class="row_table">
                      <div class="row__item _w12">
                        <input class="input input_block group__element_first" type="number" id="form-element-14062060926975" required="" name="available_rooms" ng-model="single.available_rooms"/>
                      </div>
                      <div class="row__item">
                        <div for="form-element-14062060926975" class="label label_prefix <[ (singleForm['available_rooms'].$valid) ? 'label_prefix_green' : 'label_prefix_red' ]> group__element_last">
                          <div ng-if="!(singleForm['available_rooms'].$valid)" class="icon icon_fa-asterisk"></div>
                          <div ng-if="(singleForm['available_rooms'].$valid)" class="icon icon_fa-check"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="submit" class="button button_primary button_block">Сохранить
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>